<% title "Date Ranges" %>

<p><%= link_to "New Date Range", new_admin_date_range_path, :class => 'button positive' %></p>
<br clear="all" />

<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>    

  </tr>
  <% for date_range in @date_ranges %>
    <tr class="<%= cycle('odd','even') %>">
      <td><%=h date_range.name %></td>
      <td><%=h date_range.start_date %></td>
      <td><%=h date_range.end_date %></td>
      <td class="utility">
        <%= link_to "Show", [:admin, date_range] %>
        <%= link_to "Edit", edit_admin_date_range_path(date_range) %>
        <%= link_to "Destroy",admin_date_range_path(date_range), :method => :delete,:confirm => "Are you sure ?" %>
      </td> 
    </tr>
  <% end %>
</table>

