<% title "Date Range" %>

<p>
  <strong>Start Date:</strong>
  <%=h @date_range.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%=h @date_range.end_date %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @date_range.name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_date_range_path(@date_range) %> |
   <%=link_to "Destroy",admin_date_range_path(@date_range), :method => :delete, :class => "delete", :confirm => "Are you sure ?"%> |
  <%= link_to "View All", admin_date_ranges_path %>
</p>
