<% unless @no_results  %>
  <div class="search-results">
    <section id="questions-list">
      <% unless @trend_questions_found.empty? %>
        <div class="subtitle">
          <h1>Trend Questions</h1>
          <%= render :partial => 'trend_list', :locals => {:questions => @trend_questions_found} %>
        </div>
      <% end %>

      <% unless @qotds_found.empty? %>
        <div class="subtitle">
          <h1>Questions of the Day</h1>
          <%= render :partial => 'qotd_list', :locals => {:questions => @qotds_found} %>
        </div>
      <% end %>

      <% unless @trend_question_comments_found.empty? %>
        <div class="subtitle">
          <h1>Trend Questions Answers</h1>
          <%= render :partial => 'comment_list', :locals => {:comments => @trend_question_comments_found} %>
        </div>
      <% end %>

      <% unless @qotd_comments_found.empty? %>
        <div class="subtitle">
          <h1>Questions of the Day Answers</h1>
          <%= render :partial => 'comment_list', :locals => {:comments => @qotd_comments_found} %>
        </div>
      <% end %>


      <% unless @btl_questions_found.empty? %>
        <div class="subtitle">
          <h1>Behind The Line Questions</h1>
          <ul>
            <%= render :partial => 'btl_question', :collection => @btl_questions_found %>
          </ul>
        </div>
      <% end %>

      <% unless @btl_answers_found.empty? %>
        <div class="subtitle">
          <h1>Behind The Line Comments</h1>
          <ul>
            <%= render :partial => 'btl_answer', :collection => @btl_answers_found %>
          </ul>
        </div>
      <% end %>

      <% unless @users_found.empty? %>
        <div class="subtitle">
          <h1>Users</h1>
        </div>
        <div id="user-results">
          <% @users_found.each do |user| %>
            <%= render :partial => 'users/identity', :locals => { :user => user } %>
          <% end %>
        </div>
      <% end %>

      <%= will_paginate(@all_entries) %>
    </section>
  </div><!--.search-results-->
<% end %>


