<% title "Behind the Line" %>

<h2 id="topic_title"><%= @chapter.topic.title %></h2>
<div id="topic_nav" style="clearfix">
    <%= link_to "Next: #{truncate(@next.title, :length=>20, :omission=>'&hellip;')}", user_questions_path(:user_id => @user.id, :chapter_id => @next.id), :class => 'button rounded' if @next %>
    <%= link_to "All Chapters for #{@chapter.topic.title}", chapters_user_questions_path(:user_id => @user.id, :topic_id => @chapter.topic.id), :class => 'button rounded' %>
    <%= link_to "Prev: #{truncate(@previous.title, :length=>20, :omission=>'&hellip;')}", user_questions_path(:user_id => @user.id, :chapter_id => @previous.id), :class => 'button rounded' if @previous %>
</div>
<h3 class="clear"><%= @chapter.title %></h3>


<% for question in @questions %>
  <% div_for question do %>
      <h4>Q: <%= question.title %></h4>

      <% if @user == current_user %>
        <%= render :partial => "profile_answers/form", :locals => { :answer => question.find_or_build_answer_for(current_user) } %>
      <% else %>
        <% if answer = question.answer_for(@user) %>
          <p><%= answer.answer %></p>
          Last updated: <%= answer.try(:updated_at).try(:strftime, "%b %e %Y") %>
        <% else %>
          <p>Not answered yet.</p>
        <% end %>
      <% end %>
  <% end %>
<% end %>

<% if @user == current_user %>
  <p class="clear">Answers to your questions will be posted on your profile and can be used by Restaurant Intelligence Agency to increase traffic to the site.</p>
<% end %>