<% title "Behind the Line" %>

<h2 id="topic_title"><%= @chapter.topic.title %></h2>
<div id="topic_nav" class="clearfix">
    <%= link_to "Next: #{truncate(@next_topic.title, :length=>20, :omission=>'&hellip;')}", chapters_user_questions_path(:user_id => @user.id, :topic_id => @next_topic.id), :class => "button round" if @next_topic %>
    <%= link_to "All Topics", topics_user_questions_path(:user_id => @user.id), :class => "button round" %>
    <%= link_to "Prev: #{truncate(@previous_topic.title, :length=>20, :omission=>'&hellip;')}", chapters_user_questions_path(:user_id => @user.id, :topic_id => @previous_topic.id), :class => "button round" if @previous_topic %>
</div>

<div id="chapter_title" class="clear clearfix">
  <h3><%= @chapter.title %></h3>
  <div id="chapter_nav" style="clearfix">
      <%= link_to "Next: #{truncate(@next.title, :length => 20, :omission => '&hellip;')}", user_questions_path(:user_id => @user.id, :chapter_id => @next.id), :class => 'next_chapter' if @next %>
      <%= link_to "Prev: #{truncate(@previous.title, :length => 20, :omission => '&hellip;')}", user_questions_path(:user_id => @user.id, :chapter_id => @previous.id), :class => 'prev_chapter' if @previous %>
  </div>
</div>

<% if @user == current_user %><%# let's edit these answers %>

<% for question in @questions %>
  <% div_for question do %>
      <h4>Q: <%= question.title %></h4>

      <%= render :partial => "profile_answers/form", :locals => { :answer => question.find_or_build_answer_for(current_user) } %>
  <% end %>
<% end %>

<p class="clear">Answers to your questions will be posted on your profile and can be used by Restaurant Intelligence Agency to increase traffic to the site.</p>

<% else -%><%# no editing by other users %>

<% for question in @questions -%>
  <% div_for question do %>
      <h4>Q: <%= question.title %></h4>
      <% if answer = question.answer_for(@user) %>
        <p><%= answer.answer %></p>
        Last updated: <%= answer.try(:updated_at).try(:strftime, "%b %e %Y") %>
      <% else %>
        <p>Not answered yet.</p>
      <% end %>
  <% end -%>
<% end -%>

<% end -%>
