<% title "Behind the Line", false %>
<h1 id="btl-title" class="btl"><span class="btl-art">Behind the Line:</span> <span class="name"><%= btl_title_for(@subject) %></span></h1>
<h2 id="topic_title">Topic: <%= @chapter.topic.title %></h2>
<%= render :partial => 'questions/topic_nav', :locals => { :next_topic => @next_topic, :prev_topic => @previous_topic } %>

<div id="btl_answers" class="btl-my-answers">
  <div id="" class="clear clearfix">
    <h3><%= @chapter.title %></h3>
  </div>

<% if can_edit_profile_questions(@subject) && !params[:controller].match(/soapbox/) %><%# let's edit these answers %>

  <% form_tag send("#{@subject.class.name.underscore}_profile_answers_path") do %>
    <% @questions.each do |question| %>
      <% div_for question do %>
          <h4>Q: <%= question.title %></h4>
          <%= render :partial => "profile_answers/form", :locals => { :answer => question.find_or_build_answer_for(@subject) } %>
    <% end %>
  <% end %><%# end form %>

  <p class="clear">Answers to your questions will be posted on your profile and can be used by Restaurant Intelligence Agency to increase traffic to the site.</p>

<% else -%><%# no editing by other users %>

  <% for question in @questions -%>
    <% div_for question do %>
      <h4><span class="letter-q">Q:</span> <%= link_to question.title, link_for_question(question) %></h4>
      <% if answer = question.answer_for(@subject) %>
        <p><%= answer.answer %></p>
        <span class="timestamp">Last updated: <%= answer.try(:updated_at).try(:strftime, "%b %e %Y") %></span>
      <% else %>
        <p>Not answered yet.</p>
      <% end %>
    <% end -%>
  <% end -%>
</div>

<% end -%>
