<% title "Behind the Line" %>

<h2 id="topic_title"><%= @question.chapter.topic.title %></h2>

<h3><%= @question.chapter.title %></h3>

<h4>Q: <%= @question.title %></h4>

<% for answer in @answers %>
    <div class="comment">
        <%= render :partial => 'users/identity', :locals => { :user => answer.user } %>
        <div class="user_comment"><%= answer.answer %></div>
    </div>
<% end %>