<%= semantic_form_for [:admin, @page] do |f| %>
	<%= f.inputs do %>
		<%= f.input :title,
                :input_html => {:class => 'title span-8'} %>
		<%= f.input :slug unless @page.special? %>
    <li class="span-12">
      <label for="page_content_editor">Content</label>
      <%= f.cktext_area :content, :swf_params=> { :assetable_type=>'User', :assetable_id => current_user.id}, :height => '340px' %>
    </li>
	<% end %>

	<p>
		<%= button_tag (image_tag("tick.png")+"Save"), :class => 'positive' %>
	</p>
<% end %>
