<% title "Listing pages" %>

<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%= page.title %></td>
    <td class="utility">
      <%= link_to 'Show', [:admin, page] %>
      <%= link_to 'Edit', edit_admin_page_path(page) %>
      <%= link_to 'Destroy', [:admin, page], :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_admin_page_path, :class => 'button positive' %>