<% question_url = @question.new_record? ?
                  admin_profile_questions_path(:responder_type => params[:responder_type]) :
                  admin_profile_question_path(:responder_type => params[:responder_type],
                    :id => @question.id) %>

<% semantic_form_for [:admin, @question], :url => question_url do |f| %>
    <%= f.error_messages %>
    <% f.inputs do %>
        <%= f.input :title, :label => "Your question" %>

        <label for="topic">Topic</label>
        <%= select_tag "topic",
            options_from_collection_for_select(@topics, :id, :title, (@question.new_record? ? nil : @question.chapter.topic_id)),
            :onchange => remote_function(:url => select_admin_chapters_path, :with => "'id=' + $('#topic').val()") %>

        <%= f.input :chapter, :collection => (@question.new_record? ? @topics.first.chapters : @question.topic.chapters) %>

        <%= f.hidden_field :responder_type, :value => params[:responder_type] %>

        <%= render :partial => "#{params[:responder_type]}_roles", :locals => { :f => f } %>
    <% end %>
    <p><%= button_tag "Save Question" %></p>
<% end %>
