<% title "Profile Questions" %>

<table id="profile_chapters">
    <thead><tr>
        <th>&nbsp;</th>
        <th>Roles</th>
        <th>Topics</th>
        <th>Chapters</th>
        <th>Q&amp;As</th>
        <th>&nbsp;</th>
    </tr></thead>
    <% for chapter in @chapters %>
    <tr id="chapter_<%= chapter.id %>">
        <td class="small handle">[drag]</td>
        <td><%= chapter.topic.question_roles.map(&:name).to_sentence %></td>
        <td><%= link_to chapter.topic.title, topic_admin_profile_questions_path(:id => chapter.topic) %></td>
        <td><%= link_to chapter.title, chapter_admin_profile_questions_path(:id => chapter) %></td>
        <td><%= chapter.profile_questions.count %></td>
        <td><%= link_to "Manage", manage_admin_profile_questions_path(:chapter_id => chapter), :class => "button" %></td>
    </tr>
    <% end %>
</table>

<%= link_to "Add new question", new_admin_profile_question_path, :class => "button" %>
<%= link_to "Manage roles", new_admin_question_role_path, :class => "button" %>