<% title "Profile Questions" %>

<div class="clearfix"><%= link_to "Add new question", new_admin_profile_question_path, :class => "positive button" %></div>

<div class="clearfix">
    <%= link_to "Manage topics", admin_topics_path, :class => "button" %>
    <%= link_to "Manage chapters", admin_chapters_path, :class => "button" %>
    <%= link_to "Manage roles", admin_restaurant_roles_path, :class => "button" %>
</div>

<%- for chapter in @questions.keys -%>
<%- unless chapter.nil? -%>
<h2><%= chapter.title_with_topic %>:</h2>
<%- end -%>

<% table_for @questions[chapter] do |t| %>
	<% t.data :actions => [:edit, :destroy], :action_prefix => 'admin' do
      t.cell(:handle, :heading => '', :cell_html => {:class => 'small handle'}) { "[drag]" }
		t.cell(:title)
		t.cell(:roles) { |c| c.restaurant_roles.map(&:name).to_sentence }
  end %>
<% end %>

<%- end -%>
