<% title "Profile Questions" %>

<table>
    <thead><tr>
        <th>Topics</th>
        <th>Chapters</th>
        <th>Q&amp;As</th>
        <th>&nbsp;</th>
    </tr></thead>
    <% for topic in @topics %>
      <% for chapter in topic.chapters %>
        <tr>
          <td><%= topic.title %></td>
          <td><%= chapter.title %></td>
          <td><%= chapter.profile_questions.count %></td>
          <td><%= link_to "Manage", manage_admin_profile_questions_path(:chapter_id => chapter), :class => "button" %></td>
        </tr>
      <% end %>
    <% end %>
</table>

<%= link_to "Add new question", new_admin_profile_question_path, :class => "button" %>