<% title "Profile Questions" %>

<% if Topic.count > 0 && Chapter.count > 0 -%>
<div class="clearfix"><%= link_to "Add new question", new_admin_profile_question_path, :class => "positive button" %></div>
<% else -%>
<p>Add chapters and topics to get started</p>
<% end -%>

<div class="clearfix">
    <%= link_to "Manage topics", admin_topics_path, :class => "button" %>
    <%= link_to "Manage chapters", admin_chapters_path, :class => "button" %>
    <%= link_to "Manage roles", admin_restaurant_roles_path, :class => "button" %>
</div>

<%- for chapter in @questions.keys -%>
<%- unless chapter.nil? -%>
<h2><%= chapter.title_with_topic %>:</h2>
<%- end -%>

<%= table_for @questions[chapter] do |t| %>
  <% t.data do
        t.cell(:handle, :heading => '', :cell_html => {:class => 'small handle'}) { "[drag]" }
        t.cell(:title)
        t.cell(:roles, :heading => 'Role') { |c| c.roles_description }
        t.cell(:notify_link, :heading => '', :cell_html => { :class => 'actions edit_link' }) { |c|
            link_to('Send Notification', send_notifications_admin_profile_question_path(:id => c.id), :method => 'post')
        }
        t.cell(:edit_link, :heading => '', :cell_html => {:class => 'actions edit_link'}) { |c|
          link_to('Edit', edit_admin_profile_question_url(:id => c.id))
        }
        t.cell(:destroy_link, :heading => '', :cell_html => {:class => 'actions destroy_link'}) { |c|
          link_to('Destroy', admin_profile_question_url(:id => c.id), :method => :destroy)
        }
  end %>
<% end %>

<%- end -%>
