<% title "Profile Questions" %>

<% if Topic.count > 0 && Chapter.count > 0 -%>
<div class="clearfix"><%= link_to "Add new question", new_admin_profile_question_path, :class => "positive button" %></div>
<% else -%>
<p>Add chapters and topics to get started</p>
<% end -%>

<div class="clearfix">
    <%= link_to "Manage topics", admin_topics_path, :class => "button" %>
    <%= link_to "Manage chapters", admin_chapters_path, :class => "button" %>
    <%= link_to "Manage roles", admin_restaurant_roles_path, :class => "button" %>
</div>

<%- for chapter in @questions.keys -%>
<%- unless chapter.nil? -%>
<h2><%= chapter.title_with_topic %>:</h2>
<%- end -%>
<%= table_for(@questions[chapter], :html => {:id=>"profile_questions"}) do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('Title') %>
      <%= t.h('Role') %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  <% end %>
  <%= t.body(:html=>{:class=>"ui-sortable"}) do |chapt| %>
    <tr id="profile_question_<%=chapt.id%>" class="profile_question <%=cycle('odd','even', :name => 'featured_profiles')%>">
      <%= t.d(:class => 'small handle') do %>
        [drag]
      <% end %>
      <%= t.d(h(chapt.title)) %>
      <%= t.d(h(chapt.roles_description)) %>
      <%= t.d(h(link_to "Send Notification",send_notifications_admin_profile_question_path(:id => chapt.id), :method => 'post',:class=>'admin-actions')) %>
      <%= t.d(h(link_to "Edit",edit_admin_profile_question_url(:id => chapt.id),:class=>'admin-actions')) %>
      <td class="actions destroy_link">
        <%= link_to "Destroy",admin_profile_question_url(:id => chapt.id), :method => :delete %>
      </td> 
  <% end %>
<% end %>

<%- end -%>
