<% title "New Profile Question" %>
<div class="span-8">
    <%= render :partial => "form" %>
</div>

<div class="span-4">
    <p><%= link_to_function "Add new chapter", '$("#new-chapter-form").toggle()' %></p>
    <div style="display: none;" id="new-chapter-form">
        <%= render :partial => "chapter_form", :locals => { :chapter => Chapter.new } %>
    </div>
    
    <p><%= link_to_function "Add new topic", '$("#new-topic-form").toggle()' %></p>
    <div style="display: none;" id="new-topic-form">
        <% semantic_form_for [:admin, Topic.new] do |f| %>
            <% f.inputs do %>
                <%= f.input :title, :label => "Topic Title" %>
            <% end %>
            <p><%= button_tag "Save Topic" %></p>
        <% end %>
    </div>
</div>