<%=div_for feed_entry, :class => "entry#{ ' read' if feed_entry.read_by?(current_user) }", :rel => feed_entry.id do %>
	<div class="feed_entry_header">
		<span class="indicator"></span>
		<h4 class="title"><%= feed_entry.title %></h4>
		<p class="meta">
			<span class="author"><%= feed_entry.author %></span>
			<span class="published_at"><%= time_ago_in_words(feed_entry.published_at) if feed_entry.published_at %> ago</span>
		</p>
	</div>

	<div class="feed_entry_body">
		<p class="summary">
			<%= feed_entry.summary %>
			<%= link_to "more...", feed_entry.url %>
		</p>
	</div>
<% end %>
