<% title "Calendars" %>

<h3><%= @date.strftime("%B %Y") %></h3>

<% form_tag '', :method => :get do %>
    <%= hidden_field_tag "date", params[:date] if params[:date] %>
    <%= select_tag "category", 
        options_for_select(["all"] + Event::ADMIN_CATEGORIES, :selected => params[:category]), 
        :onchange => "this.form.submit();" %>
<% end %>

<div class="calendar">
    <% calendar_for(@events, :year => @date.year, :month => @date.month) do |t| %>
        <%= t.head('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun') %>
        <% t.day do |day, events| %>
            <%= day.day %>
            <% events.each do |event| %>
                <p><%= link_to event.title, "",
                       :class => event.status %></p>
            <% end %>
        <% end %>
    <% end %>
</div>

<p>
    <%= link_to "<< previous", admin_calendars_path(:date => (@date - 1.month).to_s) %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to "next >>", admin_calendars_path(:date => (@date + 1.month).to_s) %>
</p>