<% title "Newsletter Archive :: #{@restaurant.name}", false %>

<div id="restaurant_profile_view" class="edit clear clearfix">
    <%= render 'restaurants/restaurant_editing_header' %>

    <div id="editing_restaurant">
        <div id="restaurant_pages" class="clearfix">

            <%- if @restaurant.premium_account? -%>

              <nav id="restaurant_feature_nav">
                <%= link_to 'Settings', restaurant_newsletters_path(:restaurant_id => @restaurant) %>
                <%#= link_to 'Subscribers', newsletter_subscriptions_restaurant_path(@restaurant)  %>
                <%= active_link_to 'Reports', archives_restaurant_newsletters_path(:restaurant_id => @restaurant) %>
                <%= active_link_to 'Send', send_newsletter_restaurant_newsletters_path(:restaurant_id => @restaurant) %>      
              </nav>

              <div id="restaurant_features_content" style="width:700px;">

                <h1 class="pg_title">Newsletter Archive</h1>

                <!-- <div id="read_messages" style="width:670px;margin:0;"> -->
                  <div class="editing clearfix clear">                   
                    <% unless @restaurant.restaurant_newsletters.blank? %>
                      <table style="width: 100%" class="archives">
                          <thead>
                              <tr>
                                  <th style="width:30%;"> Send Date </th>
                                  <th style="width:15%;"> Opens </th>
                                  <th style="width:15%;"> Clicks </th>
                                  <th style="width:20%;"> Bounces </th>
                                  <th style="width:20%;"> Total Sent </th>
                                  <th style="width:20%;"> Archives </th> 
                              </tr>
                          </thead>
                          <tbody>
                            <% unless @status_data.blank? %>
                             <% @status_data.sort.each do |key,value| %>
                                <% if value[:data][:error].nil? %>
                                    <tr align="center">
                                      <td><%= value[:newsletter].created_at.strftime("%d %b %Y %I:%M %P") %></td>
                                      <% if value[:newsletter].campaign_id %>
                                        <td><%=link_to "#{value[:data]["opens"].to_i}",get_opened_campaign_path(@restaurant,value[:newsletter].campaign_id) ,:class => 'colorbox' %></td>
                                        <td><%=link_to "#{value[:data]["clicks"].to_i}",get_clicked_campaign_path(@restaurant,value[:newsletter].campaign_id) ,:class => 'colorbox' %></td>
                                        <td><%=link_to "#{value[:data]["soft_bounces"].to_i}",get_bounces_campaign_path(@restaurant,value[:newsletter].campaign_id) ,:class => 'colorbox' %></td>
                                      <% else %>
                                        <td><%=value[:data]["opens"].to_i %></td>
                                        <td><%=value[:data]["clicks"].to_i %></td>
                                        <td><%=value[:data]["soft_bounces"].to_i %></td>
                                      <% end %>
                                      <td><%=value[:data]["emails_sent"].to_i%></td>
                                      <td><%=link_to "view",restaurant_newsletter_path(@restaurant,value[:newsletter]),:target =>"_blank" %> </td>
                                    </tr>
                                 <% else %>
                                      <tr align="center">
                                        <td><%= value[:newsletter].restaurant.created_at.to_formatted_s(:short) %></td>
                                        <td colspan="3">Invalid Campaign ID</td>
                                        <td><%= link_to "view",restaurant_newsletter_path(@restaurant,value[:newsletter]),:target =>"_blank" %></td>
                                    </tr>
                                <% end %>
                            <% end %>
                            <% else %>
                                 <tr><td colspan="100%"> Sorry no newsletters!</td></tr>
                            <% end %>
                          </tbody>
                      </table>
                     <% else %>
                        <p> Sorry! No newsletter yet.</p>
                     <% end %>  
                  </div>
                <!-- </div> -->

              </div>

            <%- else -%>
              <p><%= link_to "Upgrade to a premium account", new_subscription_path(@restaurant) %> to access your newsletter!</p>
            <%- end -%>

        </div>
    </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->