<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>soapbox-2_email</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">.ExternalClass{width:100% !important;}</style>
	<style>
		a{
		color: #808080;
		text-decoration: none;
		}
	</style>
</head>
<body style="margin:0;padding:0; background-image:url(http://s10.postimage.org/nozwc9c21/bg_body.gif);" bgcolor="#ffffff" link="#666666">
<table width="100%" cellspacing="0" cellpadding="0" style="background:url(http://s10.postimage.org/nozwc9c21/bg_body.gif); background-image:url(http://s10.postimage.org/nozwc9c21/bg_body.gif);">
	<tr>
		<td valign="top">
			<table width="604" align="center" cellpadding="0" cellspacing="0">
			  <tr valign="middle" background="http://blog.restaurantintelligenceagency.com/images/newsletter/news-head-background.png" style="background-image:url(http://blog.restaurantintelligenceagency.com/images/newsletter/news-head-background.png)">
			    <td align="left" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;width:367px;text-align:left;padding-top:0px;padding-bottom:0px;padding-right:0;padding-left:0px;" ><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/menubar-short.jpg" width="586" height="31" border="0"  usemap="#TopMapMap" style="display: block;border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize; text-align:right" align="right" alt="RIA Menu" />
			      <map name="TopMapMap" id="TopMapMap">
			        <area shape="rect" coords="527,-2,549,40" href="https://twitter.com/#!/Soapbox_HQ" alt="twitter" />
			        <area shape="rect" coords="505,-2,528,40" href="https://www.facebook.com/RestaurantIntelligenceAgency" alt="facebook" />
			        <area shape="rect" coords="13,3,42,34" href="http://hq.restaurantintelligenceagency.com/" alt="ria" />
			        </area>
			        <area shape="rect" coords="50,2,108,33" href="http://soapbox.restaurantintelligenceagency.com/" alt="soap" />
			        </area>
			        <area shape="rect" coords="113,0,186,31" href="http://spoonfeed.restaurantintelligenceagency.com/" alt="spoon" />
			        </area>
			        <area shape="rect" coords="187,0,226,31" href="http://blog.restaurantintelligenceagency.com/" alt="blog" />
			        </area>
			        <area shape="rect" coords="228,1,287,32" href="http://spoonfeed.restaurantintelligenceagency.com/contact" alt="contact" />
			        </area>
			        <area shape="rect" coords="296,3,338,34" href="http://soapbox.restaurantintelligenceagency.com/soapbox/newsletter_subscribers/find_subscriber" alt="login" />
			        </area>
			        <area shape="rect" coords="341,3,407,34" href="http://soapbox.restaurantintelligenceagency.com/soapbox/newsletter_subscribers/find_subscriber" alt="join" />
			        </area>
			        <area shape="rect" coords="621,0,638,31" href="https://www.facebook.com/RestaurantIntelligenceAgency" alt="facebook" />
			        </area>
			        <area shape="rect" coords="642,0,659,31" href="https://twitter.com/#!/Soapbox_HQ" alt="twitter" />
			        </area>
			        <area shape="rect" coords="663,0,681,31" href="mailto:ellen@restaurantintelligenceagency.com" alt="email" />
			        </area>
		          </map></td>
		      </tr>
		
				<tr>
					<td>
					
					</td>
				</tr>
		
				<tr>
					<td>
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td style="font-size:0; line-height:0; background:#cac3b5;" width="1" background="#cac3b5"></td>
								<td style="font-size:0; line-height:0; background:#c2b9ab;" width="1" background="#b3aca1"></td>
								<td><table width="100%" cellspacing="0" cellpadding="0">
								  <tr>
								    <td align="center" valign="middle" bgcolor="#FFFFFF">	<table width="100%" cellspacing="0" cellpadding="0">
								<tr>
								<td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/top-left.png" width="205" height="37" alt="" /></td>
								<td style="font-size:0; line-height:0;width:194px;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/top-mid.png" width="194" height="37" alt="image description" /></td>
								<td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/top-right.png" width="205" height="37" alt="" /></td>
							</tr>
						</table></td>
							      </tr>
								  <tr>
								    <td align="center" valign="middle" bgcolor="#FFFFFF"><%= image_tag logo_for(@restaurant).attachment.url(:medium), :style => "border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;" %>
							        <p style="font:bold 16px Georgia, Times, serif;"><%= @restaurant.send(:tag_line)%></p></td>
							      </tr>
								  <tr>
								    <td bgcolor="#FFFFFF"><table width="100%" cellspacing="0" cellpadding="0">
                                    <tr><td>	<%unless @restaurant.newsletter_setting.blank? %>
								          <table width="100%" cellspacing="0" cellpadding="10">
                                         <tr>
								              <td style="padding-left:20px; padding-right:10px; font:normal  14px Georgia, Times, serif; line-height:19px; color:#000000" height="7"> <%= @newsletter.blank? ? @restaurant.newsletter_setting.introduction : @newsletter.introduction%> </td>
							                </tr>     
                           </table>
                           <% end %></td><td></td></tr>
								      <tr>
								        <td width="376" rowspan="2" valign="top" style="padding-left:21px; padding-right:21px; background:#fff;">
								        
                                            <% unless @menu_items.blank? %>
								          <table width="100%" cellspacing="0" cellpadding="0">
								            <tr>
								              <td style="font-size:0; line-height:0; background:#e0ddd9;" height="7"></td>
							                </tr>
								            <tr>
								              <td style="background:#e0ddd9; padding-left:12px; padding-right:12px; font:bold 20px Georgia, Times, serif; line-height:22px; color:#333c68">ON THE MENU</td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0; background:#e0ddd9;" height="6"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-4.gif" width="376" height="6" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="9"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="12"></td>
							                </tr>
								            <% for menu_item in @menu_items %>
								            <tr>
								              <td style="padding-left:7px; font:bold 17px Georgia, Times, serif; line-height:19px; color:#2f3861"><%= link_to "#{menu_item.name.capitalize}",soapbox_menu_item_url(menu_item), :style => "text-decoration: none;color:#2f3861" %></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="8"></td>
							                </tr>
								            <tr>
								              <td><table width="100%" cellspacing="0" cellpadding="0">
								                <tr>
								                  <% if menu_item.photo_file_name.present? -%>
								                  <td width="138"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td colspan="3" style="font-size:0; line-height:0;" height="4"></td>
							                        </tr>
								                    <tr>
								                      <td style="font-size:0; line-height:0;" colspan="3"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-5.gif" width="138" height="5" alt="image description" /></td>
							                        </tr>
								                    <tr>
								                      <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-6.gif" width="5" height="128" alt="image description" /></td>
								                      <td style="font-size:0; line-height:0;" valign="top"><img src="<%=menu_item.photo(:small)%>" width="129" height="128" alt="image description" /></td>
								                      <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-7.gif" width="4" height="128" alt="image description" /></td>
							                        </tr>
								                    <tr style="font-size:0; line-height:0;">
								                      <td colspan="3"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-8.gif" width="138" height="9" alt="image description" /></td>
							                        </tr>
								                    </table></td>
								                  <% end %>
								                  <td style="padding-left:17px; font:14px Georgia, Times, serif; line-height:18px; color:#4e4e4e" valign="top" width="238"><%= truncate(menu_item.description.gsub(/(<[^>]*>)|\r|\n|\t/s, "").to_s.strip.capitalize ,:length => 300).gsub("...","")  %> <%=("...  " + link_to("read more»", soapbox_menu_item_url(menu_item)) ).html_safe %></td>
							                    </tr>
								                </table></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="13"></td>
							                </tr>
								            <% unless menu_item.otm_keywords.blank? %>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator.gif" width="376" height="1" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="8"></td>
							                </tr>
								            <tr>
								              <td style="padding-left:7px; font:12px Georgia, Times, serif; line-height:15px; color:#4e4e4e"><%= menu_item.otm_keywords.map { |keyword|  link_to(keyword.name, soapbox_menu_items_url(:keyword => keyword.name),:style=>"text-decoration:underline; color:#bc2021;") }.to_sentence %></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="13"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator.gif" width="376" height="1" alt="image description" /></td>
							                </tr>
								            <% end %>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="8"></td>
							                </tr>
								            <tr>
								              <td><table width="100%" cellspacing="0" cellpadding="3">
								                <tr>
								                  <td style="font-size:0; line-height:0;" width="164"></td>
								                  <td width="59" style="font-size:0; line-height:0;">&nbsp;</td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://pinterest.com/pin/create/button/?url=<%=soapbox_menu_item_url(menu_item)%>&amp;media=" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/pincertone.gif" width="17" height="19" alt="Share on Pinterest" /></a></td>
								                  <td width="18" style="font-size:0; line-height:0;"><a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=<%=soapbox_menu_item_url(menu_item)%>" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/google.gif" width="17" height="18" alt="Share on Google+" /></a><a href="#"></a></td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://twitter.com/share?url=&amp;text=<%=  soapbox_menu_item_url(menu_item) %> blog!&amp;via=soapbox_hq&amp;related=yarrcat" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/twitter.gif" width="17" height="18" alt="Share on Twitter" /></a>
								                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></td>
								                  <td width="17" style="font-size:0; line-height:0;padding:3px"><a href="http://www.facebook.com/sharer/sharer.php?u=<%= soapbox_menu_item_url(menu_item) %>" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/facebook.gif" width="17" height="18" alt="Share on Facebook" /></a></td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://www.stumbleupon.com/submit?url=<%= soapbox_menu_item_url(menu_item)%>" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/stumbleupon.gif" width="17" height="17" alt="Share on Stumble Upon" /></a></td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="javascript:window.print()" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/print.jpg" width="17" height="17" alt="Share on Print" /></a></td>
							                    </tr>
								                </table></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="9"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-4.gif" width="376" height="6" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="9"></td>
							                </tr>
								            <% end %>
								            <tr>
								              <td colspan="100%"><%= link_to "Check out more from #{@restaurant.send(:name).capitalize}",soapbox_menu_items_url({:restaurant_id=>@restaurant.id}) %></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-4.gif" width="376" height="6" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="9"></td>
							                </tr>
							              </table>
								          <% end %>
								          <% unless @promotions.blank? %>
								          <table width="100%" cellspacing="0" cellpadding="0">
								            <tr>
								              <td style="font-size:0; line-height:0; background:#e0ddd9;" height="7"></td>
							                </tr>
								            <tr>
								              <td style="background:#e0ddd9; padding-left:12px; padding-right:12px; font:bold 20px Georgia, Times, serif; line-height:22px; color:#333c68">NEWSFEED</td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0; background:#e0ddd9;" height="6"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-4.gif" width="376" height="6" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="13"></td>
							                </tr>
								            <% for promotion in @promotions %>
								            <tr>
								              <td style="padding-left:7px; font:bold 17px Georgia, Times, serif; line-height:19px; color:#2f3861"><%= link_to promotion.headline.capitalize, soapbox_promotion_url(promotion), :style => "text-decoration: none;color:#2f3861"  %></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="8"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="8"></td>
							                </tr>
								            <tr>
								              <td><table width="100%" cellspacing="0" cellpadding="3">
								                <tr>
								                  <td style="font-size:0; line-height:0;" width="204"></td>
								                  <td width="18" style="font-size:0; line-height:0;">&nbsp;</td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://pinterest.com/pin/create/button/?url=<%=soapbox_promotion_url(promotion)%>&amp;media=" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/pincertone.gif" width="17" height="19" alt="Share on Pinterest" /></a></td>
								                  <td width="18" style="font-size:0; line-height:0;"><a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=<%=soapbox_promotion_url(promotion)%>" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/google.gif" width="17" height="18" alt="Share on Google+" /></a><a href="#"></a></td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://twitter.com/share?url=&amp;text=<%=  soapbox_promotion_url(promotion) %> blog!&amp;via=soapbox_hq&amp;related=yarrcat" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/twitter.gif" width="17" height="18" alt="Share on Twitter" /></a>
								                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://www.facebook.com/sharer/sharer.php?u=<%= soapbox_promotion_url(promotion) %>" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/facebook.gif" width="17" height="18" alt="Share on Facebook" /></a></td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://www.stumbleupon.com/submit?url=<%= soapbox_promotion_url(promotion) %>" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/stumbleupon.gif" width="17" height="18" alt="Share on Stumble Upon" /></a></td>
								                  <td width="18" style="font-size:0; line-height:0;"><a href="javascript:window.print()" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/print.jpg" width="17" height="17" alt="Share on Print" /></a><a href="http://www.stumbleupon.com/submit?url=<%= soapbox_promotion_url(promotion) %>" target="_blank"></a></td>
							                    </tr>
								                </table></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="9"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-4.gif" width="376" height="6" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="13"></td>
							                </tr>
								            <% end %>
								            <tr>
								              <td colspan="100%"><%= link_to "Check out more from #{@restaurant.send(:name).capitalize}",soapbox_promotions_url({:restaurant_id=>@restaurant.id}) %></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-4.gif" width="376" height="6" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="9"></td>
							                </tr>
							              </table>
								          <% end %>
								          <% unless @alaminute_answers.blank? %>
								          <table width="100%" cellspacing="0" cellpadding="0">
								            <tr>
								              <td style="font-size:0; line-height:0; background:#e0ddd9;" height="7"></td>
							                </tr>
								            <tr>
								              <td style="background:#e0ddd9; padding-left:12px; padding-right:12px; font:bold 20px Georgia, Times, serif; line-height:22px; color:#333c68">A LA MINUTE</td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0; background:#e0ddd9;" height="6"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-4.gif" width="376" height="6" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="13"></td>
							                </tr>
								            <% for alm_answer in @alaminute_answers %>
								            <tr>
								              <td style="padding-left:7px; font:bold 17px Georgia, Times, serif; line-height:19px; color:#2f3861"><%= link_to alm_answer.question.capitalize, soapbox_a_la_minute_question_url(alm_answer.a_la_minute_question), :style => "text-decoration: none;color:#2f3861" %>
								                <p style="pa2ding-left:7px; font:normal 12px Georgia, Times, serif; line-height:19px; color:#4e4e4e"> <%= truncate(alm_answer.answer.gsub(/(<[^>]*>)|\r|\n|\t/s, "").to_s.strip.capitalize ,
                                     :length => 300).gsub("...","") %><%=("...  " + link_to("read more»", soapbox_a_la_minute_answer_url(alm_answer)) ).html_safe%> </p></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="8"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="8"></td>
							                </tr>
								            <tr>
								              <td><table width="100%" cellspacing="0" cellpadding="3">
								                <tr>
								                  <td style="font-size:0; line-height:0;" width="204"></td>
								                  <td width="66" style="font-size:0; line-height:0;">&nbsp;</td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://pinterest.com/pin/create/button/?url=<%=soapbox_a_la_minute_answer_url(alm_answer)%>&amp;media=" target="_blank" ><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/pincertone.gif" width="17" height="18" alt="Share on Pinterest" /></a></td>
								                  <td width="18" style="font-size:0; line-height:0;"><a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=<%=soapbox_a_la_minute_answer_url(alm_answer)%>" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/google.gif" width="17" height="18" alt="Share on Google+" /></a><a href="#"></a></td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://twitter.com/share?url=&amp;text=<%=  soapbox_a_la_minute_answer_url(alm_answer) %> blog!&amp;via=soapbox_hq&amp;related=yarrcat" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/twitter.gif" width="17" height="18" alt="Share on Twitter" /></a>
								                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://www.facebook.com/sharer/sharer.php?u=<%= soapbox_a_la_minute_answer_url(alm_answer) %>" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/facebook.gif" width="17" height="18" alt="Share on Facebook" /></a></td>
								                  <td width="17" style="font-size:0; line-height:0;"><a href="http://www.stumbleupon.com/submit?url=<%= soapbox_a_la_minute_answer_url(alm_answer) %>" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/stumbleupon.gif" width="17" height="18" alt="Share on Stumble Upon" /></a></td>
								                  <td width="18" style="font-size:0; line-height:0;"><a href="javascript:window.print()" target="_blank"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/print.jpg" width="17" height="17" alt="Share on Print" /></a></td>
							                    </tr>
								                </table></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="9"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-4.gif" width="376" height="6" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="13"></td>
							                </tr>
								            <% end %>
								            <tr>
								              <td colspan="100%"><%= link_to "See what else is happening at #{@restaurant.send(:name).capitalize}",soapbox_restaurant_url(@restaurant) %></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-4.gif" width="376" height="6" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="9"></td>
							                </tr>
							              </table>
								          <% end %>
							   </td>
								        <td width="182" valign="top" bgcolor="#333c68">
								          <table width="100%" cellspacing="0" cellpadding="0">
								            <tr>
								              <td valign="top" style="padding-left:21px; padding-right:21px; padding-top:5px; padding-bottom: 5px; font:18px Georgia, Times, serif; line-height: 20px; color:#fff"><%= @restaurant.name %></td>
							                </tr>
								            <tr style="font-size:0; line-height:0;">
								              <td><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-2.gif" width="182" height="3" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="8"></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="13"></td>
							                </tr>
								            <tr>
								              <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                <tr>
								                  <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td style="font:bold 12px Georgia, Times, serif; line-height:18px; color:#fff"><%= @restaurant.address_parts.join("<br />").html_safe %></td>
							                        </tr>
								                    </table></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="9"></td>
							                    </tr>
								                <tr style="font-size:0; line-height:0;">
								                  <td><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-3.gif" width="151" height="1" alt="image description" /></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="8"></td>
							                    </tr>
								                <tr>
								                  <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td style="font:bold 12px Georgia, Times, serif; line-height:18px; color:#fff">Phone:<br />
								                        <%= @restaurant.phone_number %></td>
							                        </tr>
								                    </table></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="12"></td>
							                    </tr>
								                <tr style="font-size:0; line-height:0;">
								                  <td><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-3.gif" width="151" height="1" alt="image description" /></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="5"></td>
							                    </tr>
								                <tr>
								                  <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td style="font:bold 12px Georgia, Times, serif; line-height:18px; color:#fff">Website:<br />
								                        <%= link_to @restaurant.name, "http://" + @restaurant.website.gsub(/.*?:\/\//,""),:style=>"color:#FFFFFF; text-decoration: none;text-shadow: 0 1px 0 #000000;"  %></td>
							                        </tr>
								                    </table></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="8"></td>
							                    </tr>
								                <% unless @restaurant.twitter_username.blank? %>

								                <tr style="font-size:0; line-height:0;">
								                  <td><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-3.gif" width="151" height="1" alt="image description" /></td>
							                    </tr>
								                <tr>
								                	<tr>
								                  <td style="font-size:0; line-height:0;" height="8"></td>
							                  </tr>
								                <tr>
								                  <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td style="font:bold 12px Georgia, Times, serif; line-height:18px; color:#fff">Twitter:<br />
								                        <%= link_to "@#{@restaurant.twitter_username}", "http://twitter.com/#{@restaurant.twitter_username}", :style => "color: #fff;text-decoration: none;" %></td>
							                        </tr>
								                    </table></td>
							                    </tr>
							                    <tr>
								                  <td style="font-size:0; line-height:0;" height="8"></td>
							                  </tr>
								                <% end %>
								                <% if @restaurant.has_facebook_page? %>

								                <tr style="font-size:0; line-height:0;">
								                  <td><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-3.gif" width="151" height="1" alt="image description" /></td>
							                    </tr>								      
								                	<tr>
								                  <td style="font-size:0; line-height:0;" height="8"></td>
							                  </tr>
								                <tr>
								                  <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td style="font:bold 12px Georgia, Times, serif; line-height:18px; color:#fff">Facebook:<br />
								                        <%= link_to @restaurant.facebook_page_url.gsub("http://www.facebook.com/","").html_safe, "#{@restaurant.facebook_page_url}", :style => "color: #fff;text-decoration: none;",:target=>"_blank" %></td>
							                        </tr>
								                    </table></td>
							                    </tr>
								                <% end %>
								                </table></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="29"></td>
							                </tr>
								            <tr style="font-size:0; line-height:0;">
								              <td><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-2.gif" width="182" height="3" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="10"></td>
							                </tr>
								            <tr>
								              <td style="padding-left:21px; padding-right:21px; font:18px Georgia, Times, serif; line-height:21px; color:#fff">THE DETAILS</td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="8"></td>
							                </tr>
								            <tr style="font-size:0; line-height:0;">
								              <td><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-2.gif" width="182" height="3" alt="image description" /></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="13"></td>
							                </tr>
								            <%
                                staffs = @restaurant.public_employments.all(:include => [ :restaurant_role, :employee])                                 
                              %>
								            <% unless staffs.blank? %>
								            <tr>
								              <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                <tr>
								                  <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td style="font:bold 14px Georgia, Times, serif; line-height:18px; color:#fff">Restaurant Staff<br />
								                        <% staffs.each do |employment| %>
								                        <p style="font-size:12px"><%=h (employment.restaurant_role.nil? ? "No Role" : employment.restaurant_role.try(:name)) %>:<br /><%=h mail_to employment.employee.try(:email),employment.employee.try(:name) %></p>

								                        <% end %></td>
							                        </tr>
								                    </table></td>
							                    </tr>
								                <% end %>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="9"></td>
							                    </tr>
								                <tr style="font-size:0; line-height:0;">
								                  <td><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-3.gif" width="151" height="1" alt="image description" /></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="8"></td>
							                    </tr>
								                <tr>
								                  <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td style="font:bold 12px Georgia, Times, serif; line-height:18px; color:#fff">Cuisine:<br />
								                        <%= @restaurant.cuisine.try(:name)%></td>
							                        </tr>
								                    </table></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="12"></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-3.gif" width="151" height="1" alt="image description" /></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="5"></td>
							                    </tr>
								                <tr>
								                  <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td style="font:bold 12px Georgia, Times, serif; line-height:18px; color:#fff">Metropolitan area:<br />
								                        <%= @restaurant.metropolitan_area.try(:name)%></td>
							                        </tr>
								                    </table></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="7"></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-3.gif" width="151" height="1" alt="image description" /></td>
							                    </tr>
							                	<% if current_user.media? %>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="10"></td>
							                    </tr>
								                <tr>
								                  <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td style="font:bold 12px Georgia, Times, serif; line-height:18px; color:#fff">Region:<br />
								                        <%= @restaurant.james_beard_region.try(:name)%></td>
							                        </tr>
								                    </table></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="7"></td>
							                    </tr>
							                  <% end %>  
								                <tr style="font-size:0; line-height:0;">
								                  <td><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/separator-3.gif" width="151" height="1" alt="image description" /></td>
							                    </tr>
								                <tr>
								                  <td style="font-size:0; line-height:0;" height="10"></td>
							                    </tr>
								                <tr>
								                  <td style="padding-left:10px; padding-right:10px;"><table width="100%" cellspacing="0" cellpadding="0">
								                    <tr>
								                      <td style="font:bold 12px Georgia, Times, serif; line-height:18px; color:#fff">Opening Date:<br />
								                        <%=@restaurant.opening_date.to_s(:medium)%></td>
							                        </tr>
								                    </table></td>
							                    </tr>
								                </table></td>
							                </tr>
								            <tr>
								              <td style="font-size:0; line-height:0;" height="136"></td>
							                </tr>
								            <tr>
								              <td valign="bottom" style="font-size:0; line-height:0;">&nbsp;</td>
							                </tr>
							              </table></td>
							          </tr>
								      <tr>
								        <td valign="bottom" bgcolor="#333c68"><span style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-9.gif" width="182" height="145" alt="image description" /></span></td>
							          </tr>
								      </table>
								      <p><hr align="center" width="90%" noshade="noshade" color="#D7D7D7" /></p>
								      <table width="78%" align="center" cellpadding="5" cellspacing="0">
								        <tr>
								          <td colspan="8" align="center" valign="middle" style="padding-right:10px;color:#666666;font-size:16px; line-height:24px"><strong>Sent by <a href="http://soapbox.restaurantintelligenceagency.com/"><br />
							              <img src="http://blog.restaurantintelligenceagency.com/images/newsletter/logo.png" width="80" height="84" alt="RIA" /></a></strong><br /> 
								            <a href="http://soapbox.restaurantintelligenceagency.com/"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/join-soapbox.png" width="140" height="25" alt="Join Soapbox by RIA Today" />  </a><a href="*|FORWARD|*"> <img src="http://blog.restaurantintelligenceagency.com/images/newsletter/forward-to-friend.png" width="135" height="25" alt="Forward to a Friend"  style="padding-left:25px;"/></a></td>
								     
							            </tr>
								        <tr>
								          <td width="136" align="right" valign="middle" style="font-size:14px; line-height:0;padding-right:10px;color:#666666;"><strong>Follow Us:</strong></td>
								          <td width="25" style="font-size:0; line-height:0;"><a target="_blank" href="http://pinterest.com/pin/create/button/?url=<%=preview_restaurant_newsletters_url(@restaurant)%>&amp;media="><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/pincertone-2.gif" width="25" height="26" alt="image description" /></a></td>
								          <td width="28" style="font-size:0; line-height:0;"><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%=preview_restaurant_newsletters_url(@restaurant)%>&amp;title=On the menu &amp;summary=News letter" target="_blank" ><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/linkedin-2.gif" width="28" height="29" alt="image description" /></a></td>
								          <td width="28" style="font-size:0; line-height:0;"><a target="_blank" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=<%=preview_restaurant_newsletters_url(@restaurant)%>"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/google-2.gif" width="28" height="28" alt="image description" /></a></td>
								          <td width="29" style="font-size:0; line-height:0;"><a target="_blank" href="https://twitter.com/#!/Soapbox_H!"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/twitter-2.gif" width="29" height="31" alt="image description" /></a></td>
								          <td width="31" style="font-size:0; line-height:0;"><a target="_blank" href="https://www.facebook.com/RestaurantIntelligenceAgency"><img border="0" src="http://blog.restaurantintelligenceagency.com/images/newsletter/facebook-2.gif" width="28" height="30" alt="image description" /></a></td>
								          <td width="124" style="font-size:0; line-height:0;"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/img-plugin.gif" width="97" height="24" alt="image description" /></td>
								       
							            </tr>
							          </table></td>
							      </tr>
							    </table></td>
								<td style="font-size:0; line-height:0; background:#c2b9ab;" width="1" background="#b3aca1"></td>
								<td style="font-size:0; line-height:0; background:#cac3b5;" width="1" background="#cac3b5"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/shade-bottom.png" width="604" height="2" alt="image description" /></td>
				</tr>
		
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="font-size:0; line-height:0;" height="12"></td>
				</tr>
				<tr>
					<td style="padding-right:7px; font:11px Arial, Helvetica, sans-serif; line-height:18px; color:#7a7878" align="center">
						You are receiving this email because your e-mail is subscribed to <br />
					 <%= @restaurant.name %>  via <a href="http://soapbox.restaurantintelligenceagency.com" style="text-decoration:underline; color:#7a7878;">Soapbox</a><br />
						<a href="http://soapbox.restaurantintelligenceagency.com/soapbox/newsletter_subscribers/find_subscriber" style="text-decoration:underline; color:#7a7878;">Click here</a> to manage your preferences.<br />
						If you received this email from a friend and would like to subscribe to our email list, <a href="http://soapbox.restaurantintelligenceagency.com/soapbox/newsletter_subscribers/find_subscriber" style="text-decoration:underline; color:#7a7878;">Click here</a><br />						<span style="text-decoration:none; color:#7a7878;">

Our mailing address is: P.O. Box 259618, Chicago, IL 60625</span><br />
<br />
						Copyright &copy; 2012 Restaurant Intelligence Agency : All Rights Reserved<a href="http://www.restaurantintelligenceagency.com" style="text-decoration:underline; color:#7a7878;"><br /> 
						www.restaurantintelligenceagency.com</a>
					</td>
				</tr>
				<tr>
					<td style="font-size:0; line-height:0;" height="33"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
