<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Restaurant Intelligence Agency</title>
</head>
<body>
<center>
<table cellpadding="0" cellspacing="0" border="0" width="600" style="text-align:left; border:1px solid #ccc;">
<!--CLOUDS AND TAGLINE-->
<tr>
   <td width="586" align="right" background="http://blog.restaurantintelligenceagency.com/images/newsletter/news-head-background.png" style="background-image:url(http://blog.restaurantintelligenceagency.com/images/newsletter/news-head-background.png)"><img src="http://blog.restaurantintelligenceagency.com/images/newsletter/menubar-short.jpg" width="586" height="31" border="0"  usemap="#TopMap" style="display: block;border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize; text-align:right" align="right" alt="RIA Menu">
      <map name="TopMap" id="TopMap"><area shape="rect" coords="527,-2,549,40" href="https://twitter.com/#!/Soapbox_HQ" alt="twitter" /><area shape="rect" coords="505,-2,528,40" href="https://www.facebook.com/RestaurantIntelligenceAgency" alt="facebook" />
        <area shape="rect" coords="13,3,42,34" href="http://hq.restaurantintelligenceagency.com/" alt="ria"></area>
        
        <area shape="rect" coords="50,2,108,33" href="http://soapbox.restaurantintelligenceagency.com/" alt="soap"></area>
        
        <area shape="rect" coords="113,0,186,31" href="http://spoonfeed.restaurantintelligenceagency.com/" alt="spoon"></area>
        
        <area shape="rect" coords="187,0,226,31" href="http://ellenmalloy.com/" alt="blog"></area>
        
        <area shape="rect" coords="228,1,287,32" href="http://spoonfeed.restaurantintelligenceagency.com/contact" alt="contact"></area>
        
        <area shape="rect" coords="296,3,338,34" href="http://spoonfeed.restaurantintelligenceagency.com/" alt="login"></area>
        
        <area shape="rect" coords="341,3,407,34" href="http://spoonfeed.restaurantintelligenceagency.com/invitations/new" alt="join"></area>
        
        <area shape="rect" coords="621,0,638,31" href="https://www.facebook.com/RestaurantIntelligenceAgency" alt="facebook"></area>
        
        <area shape="rect" coords="642,0,659,31" href="https://twitter.com/#!/Soapbox_HQ" alt="twitter"></area>
        
        <area shape="rect" coords="663,0,681,31" href="mailto:ellen@restaurantintelligenceagency.com" alt="email"></area>
        
      </map></td>
</tr>



<!--TAN BOX CONTENT-->
<tr>
  <td bgcolor="#ffffff"valign="top" style="font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000; border-bottom:1px solid #FFFFFF; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; text-align:center;"><%= image_tag logo_for(@restaurant).attachment.url(:small), :style => "border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;" %></td>
</tr>
<tr>
    <td valign="top" style="font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000; border-bottom:1px solid #FFFFFF; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; text-align:center"><div style="font-family:'MuseoSlab300', 'Helvetica Neue', Helvetica, arial, sans-serif; font-size:16px; color:#333; padding-bottom:15px;">What's happening at <%= @restaurant.name %><br />
    </div></td>
</tr>

<!--TAN BOX BOTTOM SHADOW-->
<tr>
	<td background="http://spoonfeed.restaurantintelligenceagency.com/images/soapbox/bg-site.jpg" height="7" bgcolor="FFFFFF">
    <div style="line-height:0px; font-size:1px; position:absolute;">&nbsp;</div>
    </td>
</tr>

<tr>
	<td>
    <!--BODY-->
    <table cellpadding="0" cellspacing="0" width="600" border="0">
    <tr>
    <!--LEFT COLUMN-->
        <td width="345" style="padding:20px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;" valign="top">   <p><span style="font-size:20px; color:#333; font-family:'MuseoSlab300', 'Helvetica Neue', Helvetica, arial, sans-serif;">On the Menu</span><br /><br />
        <% for menu_item in @menu_items %>
          <%= link_to "<strong>#{menu_item.name}</strong>",soapbox_menu_item_url(menu_item), :style => "color: #000;text-decoration: underline;font-family: Georgia, Times New Roman, Times, serif;font-size: 14px;line-height: 28px;" %>
         <br />
        

          <p><span class="bottommenu" style="font-family: Georgia, Times New Roman, Times, serif;font-size: 10px;color: #9F9A98;line-height: 16px;font-weight: bold;text-transform: uppercase;text-decoration: none;text-align: left;">
            <%= menu_item.otm_keywords.map { |k|  k.name }.to_sentence %><br/>

          <% for keyword in menu_item.otm_keywords %>
              <%= link_to keyword.name, soapbox_menu_items_url(:keyword => keyword.name) %>
          <% end %>
          </span>

            <br />
        </p><br />
        <% end %>
          <p>
            <span style="font-size:20px; color:#333; font-family:'MuseoSlab300', 'Helvetica Neue', Helvetica, arial, sans-serif;">Newsfeed</span><br /> <br />
          <% for promotion in @promotions %>
               <%= link_to promotion.headline, soapbox_promotion_url(promotion), :style => "color:#000;text-decoration: underline;font-family: Georgia, Times New Roman, Times, serif;font-size: 14px;line-height: 28px; font-weight:bold;"  %>
            <br />
                  
          <% end %>

        </p><br />
         
          <p><span style="font-size:20px; color:#333; font-family:'MuseoSlab300', 'Helvetica Neue', Helvetica, arial, sans-serif;">A la Minute</span><br /><br />
            <% for alm_answer in @alaminute_answers %>
                <%= link_to alm_answer.question, soapbox_a_la_minute_question_url(alm_answer.a_la_minute_question), :style => "color: ##CB4827;text-decoration: none;font-family: Georgia, Times New Roman, Times, serif;font-size: 14px;line-height: 24px; font-weight:bold;" %><br />
            <% end %>
           <p><span style="font-size:20px; color:#333; font-family:'MuseoSlab300', 'Helvetica Neue', Helvetica, arial, sans-serif;">Behind the Line</span></p><br /><br />

            <% for answer in @restaurant_answers %> 
            <%= link_to answer.answer, soapbox_restaurant_url(@restaurant), :style => "color: #000;text-decoration: underline;font-family: Georgia, Times New Roman, Times, serif;font-size: 14px;line-height: 28px;" %><br /><br />
            <% end %>
          
          </p><p><span style="font-size:20px; color:#333; font-family:'MuseoSlab300', 'Helvetica Neue', Helvetica, arial, sans-serif;">Menus</span><br />

          <% for menu in @menus %>
                <p><%= link_to menu.name, restaurant_menu_url(@restaurant, menu), :style => "color: #000;text-decoration: underline;font-family: Georgia, Times New Roman, Times, serif;font-size: 14px;line-height: 28px;" %></p>
          <% end %>
          
          </p></td>
    <td width="215" valign="top" style="background: url(http://spoonfeed.restaurantintelligenceagency.com/images/soapbox/bg-sidebar-top-purple.png) no-repeat #333C68;">
    <table width="215" cellpadding="10" cellspacing="0">
    <tr>
    	<td>
<h2 style="text-transform:uppercase;font-weight: 500;font-size: 15px;line-height: 1.2;
color: white;padding: 25px 0 3px;border-bottom: 1px solid #ADB5D8;text-transform: uppercase;
text-shadow: 0px 1px 0px black;">   <%= @restaurant.name %></h2> 
                      <div style="border-bottom: 1px dotted #6C769E; padding:4px" > <%= @restaurant.address_parts.join("<br />") %></div> 
                                 <div style="border-bottom: 1px dotted #6C769E; padding:4px;font-size: 14px;
font-weight: normal;
color: white;" >   Phone Number:<br /><%= @restaurant.phone_number %></p></div> 
                
     <div style="border-bottom: 1px dotted #6C769E; padding:4px;font-size: 14px;
font-weight: normal;
color: white;" >   Website:
                    <br /><%= link_to @restaurant.name, "http://" + @restaurant.website.gsub(/.*?:\/\//,"") %></div> 
                    
             <div style="border-bottom: 1px dotted #6C769E; padding:4px;font-size: 14px;
font-weight: normal;
color: white;" >             Twitter:
                <br /><%= link_to "@#{@restaurant.twitter_username}", "http://twitter.com/#{@restaurant.twitter_username}" %></div>
                
    

  
    </td>
   	</tr>
    </table>
    </td>
</tr>


</table><!--FOOTER--></td></tr></table>

<center>

    <%= link_to "<strong>#{promotion.restaurant.name}</strong>", soapbox_restaurant_url(promotion.restaurant), :style => "color: #000;text-decoration: underline;font-family: Georgia, Times New Roman, Times, serif;line-height: 28px;" %><br />
    <br />
  <%= @restaurant.address_parts.join("<br />") %><br /><%= @restaurant.phone_number %><br /><%= link_to @restaurant.name, "http://" + @restaurant.website.gsub(/.*?:\/\//,"") %><br />
</center>


</body>
</html>
