<% div_for message, :class => classes(message) do %>
  <div class="icon">
  </div>
  <div class="message-details">
    <div class="message-header clearfix">
      <h4 class="message-title">
        <%= title_link_for_message(message) %>
        <%= "<span>for #{restaurant(message).name}</span>" if restaurant(message) %>
      </h4>
    </div>
    <div class="message-body">
      <%= auto_link(simple_format(message.message)) %>
    </div>
    <p class="message-date"><%= message.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %></p>
    <% unless message.read_by?(current_user) %>
      <% if message.respond_to?(:action_required?) && message.action_required?(current_user) %>
        <% link_to link_for_message(message), :class => 'replies' do %>
          <span class="unread_comments_count"><%= message.comments_count %></span> replies &raquo;
        <% end if message.comments_count > 0 %>
      <% else %>
      <div class="message-actions">
          <%= reply_link_for_message(message) %>
      </div>
      <% end %>

      <%= read_link_for_message(message) %>
    <% end %>
  </div>
<% end %>
