<% div_for message, :class => classes(message) do %>
  <div class="icon">
  </div>
  <div class="message-details">
    <div class="message-header clearfix">
      <h4 class="message-title">
        <%= title_link_for_message(message) %>
        <span class="message-date">
          <%= message.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %>
        </span>
      </h4>
    </div>
    <div class="message-body">
      <%= auto_link(simple_format(message.message)) %>
    </div>
    <% unless message.respond_to?(:broadcast?) and message.broadcast? %>
      <div class="message-actions">
        <%= render 'message_actions', :message => message %>
      </div>
    <% end %>
    <% unless message.read_by?(current_user) %>
      <%= read_link_for_message(message) %>
    <% end %>
  </div>
<% end %>
