<% unless message.read_by?(current_user) %>
  <div class="icon">
    <%= read_link_for_message(message) %>
  </div>
<% end -%>
<div class="message-details">
  <div class="message-header clearfix">
    <h4 class="message-title">
      <%= title_link_for_message(message) %>
      <span class="message-date">
        <%= message.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %>
      </span>
    </h4>
  </div>
  <div class="message-body">
    <%= auto_link(simple_format(message.message)) %>
  </div>
  <% if announcement?(message) && message.attachments %>
  <div class="message-attachment">
      <%= render message.attachments %>
  </div>
  <% end %>
</div>