<% restaurant = message.recipient.try(:restaurant) if message.respond_to?(:recipient) %>
<% archive ||= false %>
<% if message.respond_to?(:admin_message)
  reply_link = admin_conversation_path(message)
  original_message = message
  message = message.admin_message
end %>
<% div_for message, :class => "inbox_message clear clearfix#{ ' archived' if archive}" do %>

  <div class="icon">

  </div>
  <div class="message-details">
    <div class="message-header clearfix">
      <h4 class="message-title">
        <%= message.inbox_title %>
        <%= "<span>for #{restaurant.name}</span>" if restaurant %>
      </h4>
    </div>
    <div class="message-body">
      <%= message.message %>
    </div>
    <p class="message-date"><%= message.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %></p>
    <% unless archive %>
      <div class="message-actions">
        <%= reply_link_for_message(original_message) %>
        <span class="hide_link">
          <%= link_to 'Hide', '#', :class=>'readit' %>
        </span>
      </div>

      <a href="#" class="readit"><span>read</span></a>
    <% end %>
  </div>
<% end %>

