<% if unread_message?(message, current_user) %>
  <div class="icon">
    <%= read_link_for_message(message) %>
  </div>
<% end unless @profile.present? -%><%# skip marking as read for profile view %>
<div class="message-details">
  <header>
    <h1><%= title_link_for_message(message) %></h1>
	<p class="timestamp"><%= message.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %></p>
  </header>
  <div class="message-body">
    <%= auto_link(simple_format(message.message)) %>
  </div>
  <% if announcement?(message) && message.attachments %>
  <div class="message-attachment">
      <%= render message.attachments %>
  </div>
  <% end %>
</div>
