<div class="icon"></div>

<div class="message-details">
  <header>
    <h1><%= title_link_for_message(message) %></h1>
		<p class="timestamp"><%= message.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %></p>
  </header>
  <div class="message-body">
    <%= auto_link(simple_format(message.message)) %>
  </div>
  <% if announcement?(message) && message.attachments %>
  <div class="message-attachment">
      <%= render message.attachments %>
  </div>
  <% end %>
  <% unless message.read_by?(current_user) %>
    <%= read_link_for_message(message) %>
  <% end %>
</div><!--.message-details-->
