<%=div_for restaurant, :class => 'clearfix' do %>
  <h2>
    <%= restaurant_link(restaurant) %>
    (<%= restaurant.city %>)
  </h2>

  <ul class="employees">   
      <%=content_tag_for(:li, user) do %>
        <%= link_to image_tag(user.avatar.url(:thumb)), profile_path(user.username) %>
        <%= link_to "#{user.name}", profile_path(user.username) %>
       <b><%= link_to "Accept", new_restaurant_employee_path(restaurant,:params=>{:employment=>{:employee_email=>user.email}}) %></b>
      <% end %>
  </ul>
<% end %>
