<% title "Messages from RIA", false -%>

<%= render 'nav' %>

<%= render :partial => 'new_or_old_nav' %>

<div id="read_messages">
  <%= render :partial => 'message', :collection => @messages %>
  
  <% if @messages.blank? %>
  <div id="no-messages" class="clear">
      <p>You don't have any new messages at the moment.</p>
  </div>
  <% end %>

  <p><%= will_paginate @messages %></p>
</div><!-- /messages -->


<%= content_for :head do -%>
  <%= stylesheet_link_tag 'colorbox' %>
<% end -%>