<% title "Messages from RIA", false -%>

<%= render 'nav' %>

<div class="span-9 last">
  <%= render :partial => 'new_or_old_nav' %>

  <div id="read_messages">

      <%= render :partial => 'message', :collection =>  @messages %>

      <% current_user.restaurants.collect(&:admin_discussions).flatten.each do |discussion| %>
        <% employment = discussion.restaurant.employments.find_by_employee_id(current_user.id) %>
        <% next unless discussion.discussionable.viewable_by?(employment) %>
        <%= render :partial => 'message', :locals => {:message => discussion} %>
      <% end %>

    <% unless archived_view? %>
      <p id="past_messages"><%= link_to "Past Messages", ria_messages_path(:view_all => true) %></p>
    <% end %>
  </div><!-- /messages -->
</div>
