<% title "Staff Discussions", false -%>

<%= render 'nav' %>
<div class="span-9 last">
    <%= render :partial => 'new_or_old_nav' %>
    <div id="read_messages">
        <% if @messages.blank? && @messages_with_replies.blank? %>
          <p>You don't have any discussions right now. You can <%= link_to "start a discussion", new_discussion_path %> if you'd like.</p>
        <% else %>

          <% unless @messages_with_replies.blank? %>
            <div class="clearfix"><span class="discussion_replies">You have replies</span></div>
            <%= render @messages_with_replies %>
          <% end %>

          <% unless @messages.blank? %>
            <div class="clearfix"><span class="latest">Discussions</span></div>
            <%= render @messages %>
          <% end %>
        <% end %>
    </div><!-- /messages -->
</div>