<% title "Staff Discussions", false -%>

<%= render 'nav' %>
<div>
    <%= render :partial => 'new_or_old_nav' %>
    <div id="read_messages">
        <% if @messages.blank? && @messages_with_replies.blank? %>
          <p>You don't have any discussions right now. You can <%= link_to "start a discussion", new_discussion_path %> if you'd like.</p>
        <% else %>

          <% unless @messages_with_replies.blank? %>
            <div class="clearfix"><h1>You have replies</h1></div>
            <%= render @messages_with_replies %>
          <% end %>

          <% unless @messages.blank? %>
            <div class="clearfix"><h1>Discussions</h1></div>
            <%= render @messages %>
          <% end %>
        <% end %>

        <% unless archived_view? %>
          <p id="past_messages"><%= link_to "All Discussions", staff_discussions_messages_path(:view_all => true) %></p>
        <% end %>

    </div><!-- /messages -->
</div>