<% title "Welcome to Spoonfeed" %>

<%= content_for :head do -%>
  <%= stylesheet_link_tag 'colorbox' %>
<% end -%>

<section id="profile-tabs">
    <nav id="profile-options">
        <span class="display-none"><a href="#profile-summary" id="tab-summary">Summary</a></span>        
    </nav><!-- /profile_options -->

    <section id="profile-summary">
      <!-- Step one -->
      <% unless current_user.avatar? %>
          <div id="step1" class="display-none">
            <%= semantic_form_for @user,:url => upload_user_path(@user),  :html => {:method=>:post, :multipart => true,:id=>"form_upload_img"  } do |f| %>
                <fieldset class="headshot inputs">
                    <legend><span>Next steps for your profile: upload a photo!</span></legend>                      
                    <div>
                        <%= image_tag @user.avatar.url(:thumb), :class => 'thumbnail' %>

                        <div class="clearfix headshot_fields">
                            <%= f.input :avatar, :as => "file", :label => "Upload a headshot" %>
                            <strong><%#= f.errors_on :avatar_content_type %></strong>
                            <p class="clearfix">
                                <%= button_tag "Upload Headshot", :class => 'positive' %>
                                <span class="button-separator"></span> 
                                <%= link_to "Remove my headshot", remove_avatar_user_path(@user), :method => :put, :confirm => "Are you sure you want to remove your headshot? You'll have to upload another one later to get it back" %>
                            </p>
                        </div>
                    </div>
                </fieldset>
            <% end %>
          </div>  <!-- Step one  End-->
      <% end %><!-- End currnet_user.avtar -->
        
        <!-- Step two -->
      <% if @user.profile.specialties.blank? %>
            <div id="step2" class="display-none">   
              <%= semantic_form_for @profile, :url => user_profile_path(@user),:html => { :id=>"specialties_form"} do |f| %>
                      <%= f.inputs :name => "Next steps for your profile: select specialities to help media and diners find you" do %>
                          <div>
                            <%= f.input :specialties, 
                                        :as => :check_boxes, 
                                        :collection => Specialty.all, 
                                        :label => "What are your specialties?" %>
                            <%= button_tag :class => 'positive' do %>Save changes to specialties<% end %>
                          </div>

                      <% end %><!--   specialties -->
              <% end %> <%# form  %>
          </div><!-- Step two End-->
      <% end %><!-- End Specialties -->

      <!-- Step three -->
      <% if @profile.cuisines.blank? %>
          <div id="step3" class="display-none"> 
               <%= semantic_form_for @profile, :url => user_profile_path(@user),:html => { :id=>"cuisine_form"} do |f| %>
                      <%= f.inputs :name => "Next steps for your profile: select your cuisines to help media and diners find you" do %>
                        <div>
                            <ul id="cuisines">
                                <%= render @profile.cuisines %>
                            </ul>
                            <p><%= link_to "Add Cuisine", new_user_profile_profile_cuisine_path(:user_id => @user.id), :class => 'sf-button colorbox' %></p>                            
                        </div>
                    <% end %>
            <% end %><%# form  %>
          </div>
        <% end %>  <!-- Step three end-->

      <!-- Step four Restaurnat -->
     <% if current_user.restaurants.blank? %>
          <div id="step4" class="display-none"> 
            <form class="formtastic"> </form>
               <fieldset class="inputs">
                    <legend>
                        <span>
                            Next steps for your profile: Add new restaurant
                         </span>
                    </legend>
                    <ol>
                        <div>
                            <p>
                              <%= link_to "Add new restaurant", new_restaurant_path, :title => "add new restaurant",:class=>"sf-button" %>
                             </p>
                             <p> 
                             <%= link_to "Im currently not affiliated with a restaurant", root_path, :title => "Im currently not affiliated with a restaurant" %>
                              </p>                             
                         </div>
                    </ol>
                </fieldset>
          </div>
        <% end %>
<div class="display-none" id="loader-waiting">
   <%= image_tag "ajax-loader.gif" %>
</div>
  </section><!-- /profile-summary -->
</section><!-- /profile-tabs -->
<%= hidden_field_tag(:redirect_to_url_hidden ,edit_user_profile_path(@user)) %>
<%= content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function() {
  
  /* Showing first form */
  $('form.formtastic').first().parent().show()

  $('a[href$="school_fields"]').live('click',function(e){
        e.preventDefault();

    })

  var already_equalized = false;

  $('#profile-tabs').tabs({
    panelTemplate: '<section></section>',
    fx: { duration: 'fast', opacity: 'toggle' }
  });
});
</script>
<% end %>
