<% title "Edit Profile: #{@user.name}" %>

<%= content_for :head do -%>
  <%= stylesheet_link_tag 'colorbox' %>
<% end -%>

<section id="profile-tabs">
    <nav id="profile-options">
        <span><a href="#profile-summary" id="tab-summary">Summary</a></span>
        <span><a href="#profile-extended" id="tab-resume">Résumé</a></span>
        <% if @user.btl_enabled? -%>
        <span><%= link_to "Behind the Line", edit_btl_user_profile_path(@user), :id => "tab-btl", :title => "profile-btl" %></span>
        <% end -%>
        <span><%= link_to "Front Burner", edit_front_burner_user_profile_path(@user), :id => "tab-fb", :title => "profile-front-burner" %></span>
        <span><a href="#profile-account" id="tab-account">Account</a></span>
        <span><a href="#profile-notification" id="tab-notification">Notifications</a></span>

    </nav><!-- /profile_options -->

    <section id="profile-summary">
        <fieldset class="inputs">
          <legend><span>Account Status</span></legend>

          <div id="payment_blurb">
              Basic accounts allow you to participate in Spoonfeed. If you would like to be included in Soapbox, please upgrade to a Premium Account. A personal <%= link_to "premium account", "/account_types", :class => 'button' %> is $50/month. <%= link_to "More Information...", "/account_types", :class => 'button' %>
          </div>

          <div class="current">
              Your current account status is
              <%= @user.public_account_type %> <%= @user.account_payer_type %>.
              <% if @user.premium_account? %>
                <div id="start_date">
                  You have been a premium member since <%= @user.subscription.start_date %><%#= @user.subscription.start_date.to_s(:long) %>
                </div>
                <% if @user.subscription && @user.subscription.in_overtime? %>
                  <div id="end_date">
                      This account has been canceled and will end <%= @user.subscription.end_date %><%#= @user.subscription.end_date.to_s(:long) %>
                  </div>
                <% end %>
              <% end %>
          </div>

          <% if @user.staff_account? %>
          <div>
              Your account is managed by <%= h @user.subscription.payer.name %>.
          </div>
          <% else %>
            <%= render :partial => 'subscriptions/account_links', :locals => {:subscriber => @user, :subscriber_type => "user"} %>
          <% end %>
        </fieldset>

        <%= semantic_form_for @user, :html => { :multipart => true } do |f| %>
            <fieldset class="headshot inputs">
                <legend><span>Profile Photo</span></legend>

                <div>
                    <%= image_tag @user.avatar.url(:thumb), :class => 'thumbnail' %>

                    <div class="clearfix headshot_fields">
                        <%= f.input :avatar, :as => "file", :label => "Upload a headshot" %>
                        <strong><%#= f.errors_on :avatar_content_type %></strong>
                        <p class="clearfix">
                            <%= button_tag "Upload Headshot", :class => 'positive' %>
                            <span class="button-separator"></span> 
                            <%= link_to "Remove my headshot", remove_avatar_user_path(@user), :method => :put, :confirm => "Are you sure you want to remove your headshot? You'll have to upload another one later to get it back" %>
                        </p>
                    </div>
                </div>
            </fieldset>
        <% end %>

        <%= semantic_form_for @profile, :url => user_profile_path(@user) do |f| %>
            <%= f.inputs :name => "Metro and Region for search" do %>
              <%= f.input :metropolitan_area %>
              <%= f.input :james_beard_region, :label => "Region" %>
              <br />
              <%= button_tag :class => 'positive' do %>Save changes for search<% end %>
            <% end %>

            <%= f.inputs :name => "Cuisines and Specialties" do %>
            <div>
                <%= f.input :specialties, 
                            :as => :check_boxes, 
                            :collection => Specialty.all, 
                            :label => "What are your specialties?" %>
                <%= button_tag :class => 'positive' do %>Save changes to specialties<% end %>
            </div>



<!-- profile cusine -->
            <div class="cuisines ajaxdelete clear">
                <fieldset>
                    <legend class="label"><label>Cuisines you are most known for:</label></legend>
                    <ul id="cuisines">
                        <%= render @profile.cuisines %>
                    </ul>
                    <div id="complete_profile">
                      <%= semantic_form_for @profile_cuisine, :url => user_profile_path(@user) do |f| %>
                        <%= f.inputs :class => "plain profile_cuisines" do %>
                          <%= f.input :profile_id, :as => :hidden %>
                          <%#= f.errors_on(:cuisine_id) %>
                          <% if @cusines.empty? %>
                           <%= f.input :cuisine, :as => "select", :collection => Cuisine.all,:multiple=>true,:required => true ,:input_html => {:class => "chzn-select" }%>
                          <% else %>
                          <%= f.input :cuisine, :as => "select", :collection => Cuisine.all(:conditions => ["name NOT IN (?)", @cusines]) , :multiple=>true,:required => true ,:input_html => {:class => "chzn-select" }%>
                          <% end %>
                          <%= hidden_field_tag "profile_cusine", true %>
                        <% end %>
                        <%= button_tag "Save" %>
                        <% end %>
                      </div>
                </fieldset>
            </div>
<!-- profile cusine -->

    <!-- Basic info -->
      <%= semantic_form_for @profile, :url => user_profile_path(@user) do |f| %>
              <%= f.inputs :name => 'Basic Information' do %>
                <%= f.input :birthday, :end_year => 1930, :start_year => Date.today.year, :selected => nil %>
                <%= f.input :job_start, :end_year => 1930, :start_year => Date.today.year, :selected => nil %>
                <%= f.input :headline %>
                <%= f.input :summary, :hint => "Keep it under 1000 characters" %>
                <%= f.input :hometown %>
                <%= f.input :current_residence, :label => "In what city/state do you work?", :hint => "Or where you live, if currently unemployed" %>
                <%= button_tag :class => 'positive' do %> Save changes to basic information <% end %>
              <% end %>
    <!-- Basic info -->
      <% end %><!-- Cuisines and specialties -->
          <% if @user.premium_account? && !@incomplete_profile.nil? %> 
            <%= f.inputs :name => "Public Profile View", :for => :user do |user_form| %>
              <%= user_form.input :publish_profile, :as => :boolean, :label => 'Display my profile on Soapbox' %>
            <%= button_tag :class => 'positive' do %>Save changes to public profile view<% end %>
            <% end %>
          <% else %>
            <fieldset class="inputs">
              <legend><span>Public Profile View</span></legend>
              <p>To show your profile on Soapbox, upgrade to a Premium Account
              <%= link_to "here", new_user_subscription_path(current_user) %>.</p>
            </fieldset>
          <% end %>

          <%= f.inputs :name => 'Basic Information' do %>
            <%= f.input :birthday, :end_year => 1930, :start_year => Date.today.year, :selected => nil %>
            <%= f.input :job_start, :end_year => 1930, :start_year => Date.today.year, :selected => nil %>
            <%= f.input :headline,:input_html=> {:size => 63} %>
            <%= f.input :summary, :hint => "Keep it under 1000 characters",:input_html=> {:size => 63,:cols=>61}  %>
            <%= f.input :hometown,:input_html=> {:size => 63}  %>
            <%= f.input :current_residence, :label => "In what city/state do you work?", :hint => "Or where you live, if currently unemployed",:input_html=> {:size => 63}  %>
            <%= button_tag :class => 'positive' do %> Save changes to basic information <% end %>
          <% end %>

            <% if !@profile.new_record? && @user.employments.present? %>
            <%= f.inputs :name => "Current Employment" do %>
                <label>Select your primary job role:</label>
                <ul class="primary-employment">
                    <% for employment in @user.employments %>
                    <li><%= radio_button_tag "profile[primary_employment][]", employment.id, primary?(@user, employment) %> <%= employment.restaurant_role.try(:name) %> at <%= employment.restaurant.try(:name) %></li>
                    <% end %>
                </ul>

        <%= button_tag :class => 'positive' do %>Save changes to employment<% end %>
            <% end %>
            <% end %>
        <% end %>
      
        <% end %><%# non-basic details %>
    </section><!-- /profile-summary -->

  <section id="profile-extended">
      <% if @profile.new_record? %>
      <div>
          Please fill in your <%= link_to "profile summary information", edit_user_profile_path(@user, :anchor => "profile-summary"), :id => 'open-profile-summary' %> (including hometown and current city) before continuing with this section.
      </div>
      <% else %>
    <div id="extended_profile_fields">
      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "culinary_jobs",
          :caption => "Work Experience - Restaurants",
          :form_path => new_user_profile_culinary_job_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "nonculinary_jobs",
          :caption => "Work Experience - Nonculinary",
          :form_path => new_user_profile_nonculinary_job_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "awards",
          :caption => "Awards",
          :form_path => new_user_profile_award_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "accolades",
          :caption => "Accolades",
          :form_path => new_user_profile_accolade_path(:user_id => @user.id)} %>

      <% reset_cycle('default') -%>
      <div class="enrollments culinary_schools clear ajaxdelete">
          <h2>Education (Culinary)</h2>
          <ul id="enrollments">
              <%= render @profile.enrollments %>
          </ul>
          <%= link_to "add another", new_user_profile_enrollment_path(:user_id => @user.id), :class => 'add_extended colorbox'%>
      </div>

      <div class="nonculinary_enrollments nonculinary_schools clear ajaxdelete">
          <h2>Education (Other)</h2>
          <ul id="nonculinary_enrollments">
              <%= render @profile.nonculinary_enrollments %>
          </ul>
          <%= link_to "add another", new_user_profile_nonculinary_enrollment_path(:user_id => @user.id), :class => 'add_extended colorbox'%>
      </div>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "competitions",
          :caption => "Competitions",
          :form_path => new_user_profile_competition_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "internships",
          :caption => "Internships",
          :form_path => new_user_profile_internship_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "stages",
          :caption => "Stages",
          :form_path => new_user_profile_stage_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "apprenticeships",
          :caption => "Apprenticeships",
          :form_path => new_user_profile_apprenticeship_path(:user_id => @user.id)} %>
          
      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "cookbooks",
          :caption => "Cookbooks",
          :form_path => new_user_profile_cookbook_path(:user_id => @user.id)} %>
    
    </div><!-- #extended_profile_fields -->
    <% end %>
  </section><!-- /profile-extended -->

  <section id="profile-account">

    <div id="restaurant_profile_view" class="edit clear clearfix"> 
      <div id="editing_restaurant">
        <div id="restaurant_pages" class="clearfix">                         
          <%= semantic_form_for @user do |f| %>
              <%= f.inputs :name => "Editing" do %>
                <label for="user_editor">Allow another user to edit your account?</label>
                <li class="string optional span-3"><%= text_field_tag "user_editor", "", :name => "user[editor]" %></li>
                  <p class="inline-hints">Enter the name of the user to add</p>
                  <% if @user.editors.present? -%>
                    <h3>Current Editors:</h3>
                    <ul>
                      <% for editor in @user.editors %>
                        <li><%= editor.name %> <%= link_to "Remove", remove_editor_user_path(@user, :editor_id => editor.id), :confirm => "Are you sure you want to remove this editor?", :method => :put %>
                        </li>
                    <% end %>
                    </ul>
                  <% end -%>
                    <p><%= button_tag "Save Editing Preferences", :class => 'positive' %></p>
              <% end %>
          <% end %>          

      <fieldset id="twitter-fieldset" class="inputs">
          <legend><span>Twitter</span></legend>

          <% if @user.twitter_authorized? -%>
          <p>You currently have your Twitter account set up as <em><%= @user.twitter_username %></em>. To change which Twitter account you want your SpoonFeed account linked with, you can remove the Twitter credentials below, and then setup Twitter again.<br/>
              <%= link_to "Disconnect Twitter", remove_twitter_user_path(@user), :confirm => "Are you sure you want to unlink your Twitter account? This action cannot be undone.", :class => 'sf-button', :method => :put %>
              <%= link_to 'Read Twitter Timeline', twitter_timelines_path, :class=>'read_twitter' %>
          </p>
          <% elsif @user.twitter_allowed? -%>
          <%= link_to "Setup Twitter", new_twitter_authorization_url, :class=>'sf-button' %>
          <% end -%>
          <p><%= link_to "Need Help?  Read our Twitter 101 introduction in the Marketing Manual.", public_page_path('twitter_101_introduction') %></p>
      </fieldset>

      <fieldset id="facebook-fieldset" class="inputs">
          <legend><span>Facebook</span></legend>
          <%- if @fb_user -%>
            <p>
                You are currently linked to your Facebook account <em>"<%= @fb_user.name %>"</em>. You can connect to a different Facebook profile by disconnecting below, then setting up Facebook again.
                <%= fb_logout_link "Disconnect Facebook", fb_deauth_user_path(@user), :class => 'sf-button negative' %>
            </p>

            <% unless @fb_user.accounts.blank? %>
              <div class="clear">
                  <%= form_tag fb_page_auth_user_path(@user) do %>
                    <p>Configure a page to post status updates to:<br>
                      <%= select_tag "facebook_page", "<option>&nbsp;</option>" + options_from_collection_for_select(@fb_user.accounts, :id, :name, @user.facebook_page_id.to_s) %><br>
                      <%= button_tag "Save Facebook Page", :class => 'clear' %></p>
                  <% end %>
              </div>
            <% end %>

          <%- else -%>

            <%  if @profile.user.facebook_authorized? %>
                <% begin %>
                    <p>Current Facebook page for <%= current_user.name %>: <em>"<%= @profile.user.facebook_page.fetch.name %>"</em>
                     </p> 
                      <%= link_to "Disconnect Facebook", fb_deauth_user_path(@profile.user), :class => 'sf-button negative' %>
                  <% rescue Mogli::Client::OAuthException, Mogli::Client::HTTPException ,Exception =>e%>
                    <p>Access to your Facebook page has expired. Please select the page again.</p>
                  <% end %>
              <% else %>
              <%= link_to "Setup Facebook", fb_auth_user_path(@user), :class => 'sf-button' %>
              <% end %>
          <%- end -%>
          <p><%= link_to "Need Help?  Read everything you need to know about Facebook in the Marketing Manual.", public_page_path('facebook_101_introduction') %></p>
      </fieldset>
      <div class="clear"></div>
      <hr class="edit_block" />

      <%= render :partial => 'users/form' %>

      <%= semantic_form_for @profile, :url => user_profile_path(@user) do |f| %>
      <%= f.inputs :name => "Contact Information" do %>
          <div class="clear">
              <%= f.input :prefers_display_cell, :as => :radio, :collection => privacy_options, 
                  :label => "Show this to:", :wrapper_html => { :class => "show_this_to" } %>
              <%= f.input :cellnumber, :label => "Cellphone", :wrapper_html => { :class => "span-6 last" } %>
          </div>

          <div class="clear">
              <%= f.input :prefers_display_email, :as => :radio, :collection => privacy_options, 
                  :label => "Show this to:", :wrapper_html => { :class => "show_this_to" } %>
              <%= f.semantic_fields_for :user do |user| %>
                  <%= user.input :email, :wrapper_html => { :class => "span-6 last" },:input_html => {:size => 63} %>
              <% end %>
          </div>

          <%- if @user.twitter_authorized? -%>
          <div class="clear">
              <%= f.input :prefers_display_twitter, :as => :radio, :collection => privacy_options, :label => "Show this to:", :wrapper_html => { :class => "show_this_to" } %>
              <div class="span-6 last">Your Twitter account: <%= @user.twitter_username %>
              </div>
          </div>
          <%- else -%>
            <p><%= link_to "Setup Twitter", new_twitter_authorization_url, :class=>'sf-button' %></p>
          <%- end -%>

          <%- if @fb_user -%>
          <div class="clear">
              <%= f.input :prefers_display_facebook, :as => :radio, :collection => privacy_options, :label => "Show this to:", :wrapper_html => { :class => "show_this_to" } %>
              <div class="span-6 last">
                  Your Facebook account: <%= @fb_user.name %>
              </div>
          </div>
          <%- else -%>
            <p><%= link_to "Setup Facebook", fb_auth_user_path(@user), :class => 'sf-button' %></p>
          <%- end -%>

        <%= button_tag :class => 'positive' do %>Save changes to contact information<% end %>

      <% end %><!-- Contact information -->
      <% end %>
  </section><!-- /profile-account -->
  <section id="profile-notification">
    <div id="restaurant_profile_view" class="edit clear clearfix"> 
      <div id="editing_restaurant">
        <div id="restaurant_pages" class="clearfix">      
          <div>
            <h1 class="pg_title">Media Traffic Report</h1>
            <p>The Media Traffic Reports let you know what media have visited your restaurant profile and what they are researching. You receive this report via email in the frequency you select.</p>                
          </div>
          <div id="newsletter_settings" class="clearfix">
            <%= semantic_form_for @user, :html => { :multipart => true } do |f| %>          
              <% @user.build_user_visitor_email_setting if @user.user_visitor_email_setting.blank? %>
              <%= f.semantic_fields_for :user_visitor_email_setting do |u| %>
                  <%= u.input :email_frequency,  :as => :select, :collection => ["Daily","Weekly","M/W/F"] %>
                  <%= u.input :do_not_receive_email,:label => " I do not want to receive any emails regarding media traffic to my restaurant profile. " %>
                  <%end%>
              <%=f.submit 'Save settings' %>
            <%end%>
          </div>
        </div><!-- /editing_restaurant -->
      <div>
    <div><hr/>

      <%= semantic_form_for @user do |f| %>

          <%= f.inputs :name => 'Media Inquiries' do %>
              <%= f.input :media_inquiries, :as => :boolean, :label => ' I would like to receive media inquiries as they are posted by media' %>
              <p class="inline-hints"><i>Journalists post requests for information for stories they are working on, which you can receive and respond to for free.</i></p>
              <%= f.input :media_notification, :as => :boolean, :label => ' I would like to receive notification if other members of my restaurant respond to media inquiries' %>
              <p class="inline-hints"><i>If you need to know when your coworkers respond to media inquires, please check this preference. You will receive a lot of emails!!.</i></p>
              <p><%= button_tag "Save Media Inquiries", :class => 'positive' %></p>
          <% end %>
          <%= f.inputs :name => "What's New" do %>
              <%= f.input :whats_new, :as => :boolean, :label => " I would like to receive What's New questions via email" %>
              <p class="inline-hints"><i>What's New questions pertain to trends and by participating in this forum, media will know to include you in research about a topic.</i></p>
              <%= f.input :whats_new_notification, :as => :boolean, :label => " I would like to receive notification when other members of my restaurant respond to What's New" %>
               <p class="inline-hints"><i>You can elect to receive notification of responses posted by your coworkers.</i></p>
              <p><%= button_tag "Save What's New", :class => 'positive' %></p>
          <% end %>
          <%= f.inputs :name => "Question of the Day" do %>
              <%= f.input :qotd, :as => :boolean, :label => " Receive Question of the Day via email" %> 
              <p class="inline-hints"><i>Questions about timely news and topics, sent to help you be a part of the online conversation.</i></p>
              
              <p><%= button_tag "Save Question of the Day", :class => 'positive' %></p>
          <% end %>

          <% #f.inputs :name => 'Preferences' do %>
              <%#= f.input :prefers_receive_email_notifications, :as => :boolean, :label => 'Receive email notifications?' %>
              <%#= f.input :notification_email, :wrapper_html => { :class => "clear bottom" }, :hint => "Send content notifications to another email address" %>

              <!-- <p><%#= button_tag "Save Messages Preferences", :class => 'positive' %></p> -->
          <%# end %>

      <% end %> 

  </section><!-- /profile-notification -->



</section><!-- /profile-tabs -->
<section id="profile-settings">
  <div id="restaurant_profile_view" class="edit clear clearfix">
    

        </div>
    </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->

</section>
<%= content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function() {
  if ($('#user_user_visitor_email_setting_attributes_do_not_receive_email').is(':checked')) {
      $("#user_user_visitor_email_setting_attributes_email_frequency_input").hide();
    } else {
      $("#user_user_visitor_email_setting_attributes_email_frequency_input").show();
    } 
    
  $('a[href$="school_fields"]').live('click',function(e){
        e.preventDefault();
        $('#nonculinary_enrollment_nonculinary_school_input').toggle()
        $('#enrollment_school_input').toggle()
        $('#school_fields').toggle();
        $(this).remove()
        
    })

  var already_equalized = false;

  $('#profile-tabs').tabs({
    panelTemplate: '<section></section>',
    fx: { duration: 'fast', opacity: 'toggle' },
    show: function(event, ui) { 
      if(ui.panel.id == 'profile-extended' && !already_equalized){
        already_equalized = true;
        $('.culinary_job').equalHeights();
        $('.nonculinary_job').equalHeights();
        $('.award').equalHeights();
        $('.accolade').equalHeights();
        $('.enrollment').equalHeights();
        $('.competition').equalHeights();
        $('.internship').equalHeights();
        $('.stage').equalHeights();
        $('.apprenticeship').equalHeights();
        $('.cookbook').equalHeights();
      }
    }
  });

  $('#user_user_visitor_email_setting_attributes_do_not_receive_email').live('change',function(){
    if ($('#user_user_visitor_email_setting_attributes_do_not_receive_email').is(':checked')) {
      $("#user_user_visitor_email_setting_attributes_email_frequency_input").hide();
    } else {
      $("#user_user_visitor_email_setting_attributes_email_frequency_input").show();
    } 
  });
  
});
</script>
<% end %>

<% if @user.errors.present? && @user.errors.on(:avatar_content_type).nil? %>
  <%= content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#profile-tabs').tabs('select', 'profile-account');
    });
  </script>
  <% end %>
<% end %>

  <% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
     $('.chzn-select').chosen()
    });
  </script>
  <% end %>