<% title "Edit Profile" %>

<% semantic_form_for @profile, :url => profiles_path do |f| %>
  <% f.inputs :name => 'Basics' do %>
    <%= f.input :birthday, :as => :string %>
    <%= f.input :job_start %>
    <%= f.input :cellnumber %>
  <% end %>

  <% f.inputs :name => "Current Employment" do %>
    <label>Select your primary job role:</label>
    <ul class="primary-employment">
        <% for employment in @profile.user.employments %>
          <li><%= radio_button_tag "profile[primary_employment][]", employment.id, primary?(employment) %> <%= employment.restaurant_role.try(:name) %> at <%= employment.restaurant.name %>
        <% end %>
    </ul>
  <% end %>

  <div class="clonablefields">

  <h2>Work Experience - Restaurants</h2>
  <% f.semantic_fields_for :culinary_jobs do |job| %>
    <% job.inputs :class => "culinary_jobs" do %>
      <%= job.input :restaurant_name, :input_html => {:class => 'title'} %>
      <%= job.input :title %>
      <%= job.input :city, :input_html => {:class => 'span-5'},
        :wjobl => {:class => 'span-5 column'} %>
      <%= job.input :state, :input_html => {:maxlength => 2, :class => 'span-1'},
        :wjobl => {:class => 'span-5 column'} %>
      <%= job.input :country,:wrapper_html => {:class => 'clear'} %>
      <%= job.input :date_started %>
      <%= job.input :date_ended, :as => :date, :selected => nil %>
      <%= job.input :chef_name, :label => "Chef in charge of menu" %>
      <%= job.input :chef_is_me %>
      <%= job.input :cuisine, :label => "Type of cuisine served", :input_html => {:rows => 3} %>
      <%= job.input :notes, :input_html => {:rows => 3} %>
    <% end %>
  <% end %>
  </div>

  <%= button_tag "Save" %>
  <%= button_tag "Preview", :name => "preview" %>
<% end %>