<% title "Edit Profile" %>

<% content_for :head do -%>
  <%= stylesheet_link_tag 'colorbox' %>
<% end -%>

<section id="profile-tabs">
    <nav id="profile-options">
        <span><a href="#profile-summary" id="tab-summary">Summary</a></span>
        <span><a href="#profile-extended" id="tab-resume">Résumé</a></span>
        <% if @user.btl_enabled? -%>
        <span><%= link_to "Behind the Line", edit_btl_user_profile_path(@user), :id => "tab-btl", :title => "profile-btl" %></span>
        <% end -%>
        <span><%= link_to "Front Burner", edit_front_burner_user_profile_path(@user), :id => "tab-fb", :title => "profile-front-burner" %></span>
        <span><%= link_to "Account", edit_account_user_profile_path(@user), :id => "tab-account", :title => "profile-account" %></span>
    </nav><!-- /profile_options -->

    <section id="profile-summary">
        <% semantic_form_for @user, :html => { :multipart => true } do |f| %>
            <fieldset class="headshot inputs">
                <legend><span>Profile Photo</span></legend>

                <div>
                    <%= image_tag @user.avatar.url(:thumb), :class => 'thumbnail' %>

                    <div class="clearfix headshot_fields">
                        <%= f.input :avatar, :as => "file", :label => "Upload a headshot" %>
                        <strong><%= f.errors_on :avatar_content_type %></strong>
                        <p class="clearfix">
                            <%= button_tag "Upload Headshot", :class => 'positive' %>
                            <span class="button-separator"></span> 
                            <%= link_to "Remove my headshot", remove_avatar_user_path(@user), :method => :put, :confirm => "Are you sure you want to remove your headshot? You'll have to upload another one later to get it back" %>
                        </p>
                    </div>
                </div>
            </fieldset>
        <% end %>

        <% semantic_form_for @profile, :url => user_profile_path(@user) do |f| %>

            <% f.inputs :name => "Metro and Region for search" do %>
              <%= f.input :metropolitan_area %>
              <%= f.input :james_beard_region, :label => "Region" %>
              <br />
              <% button_tag :class => 'positive' do %>Save changes for search<% end %>
            <% end %>

            <% f.inputs :name => "Cuisines and Specialties" do %>
            <div>
                <%= f.input :specialties, 
                            :as => :check_boxes, 
                            :collection => Specialty.all, 
                            :label => "What are your specialties?" %>
                <% button_tag :class => 'positive' do %>Save changes to specialties<% end %>
            </div>

            <div class="cuisines ajaxdelete clear">
                <fieldset>
                    <legend class="label"><label>Cuisines you are most known for:</label></legend>
                    <ul id="cuisines">
                        <%= render @profile.cuisines %>
                    </ul>
                    <p><%= link_to "Add Cuisine", new_user_profile_profile_cuisine_path(:user_id => @user.id), :class => 'sf-button colorbox' %></p>
                </fieldset>
            </div>
            <% end %><!-- Cuisines and specialties -->

          <% if @user.premium_account? %> 
            <% f.inputs :name => "Public Profile View", :for => :user do |user_form| %>
              <%= user_form.input :prefers_publish_profile, :as => :boolean, :label => 'Display my profile on Soapbox' %>
      		  <% button_tag :class => 'positive' do %>Save changes to public profile view<% end %>
            <% end %>
          <% else %>
            <fieldset class="inputs">
              <legend><span>Public Profile View</span></legend>
              <p>To show your profile on Soapbox, upgrade to a Premium Account
              <%= link_to "here", new_user_subscription_path(current_user) %>.</p>
            </fieldset>
          <% end %>

          <% f.inputs :name => 'Basic Information' do %>
            <%= f.input :birthday, :end_year => 1930, :start_year => Date.today.year, :selected => nil %>
            <%= f.input :job_start, :end_year => 1930, :start_year => Date.today.year, :selected => nil %>
            <%= f.input :headline %>
            <%= f.input :summary, :hint => "Keep it under 1000 characters" %>
            <%= f.input :hometown %>
            <%= f.input :current_residence, :label => "In what city/state do you work?", :hint => "Or where you live, if currently unemployed" %>
            <% button_tag :class => 'positive' do %> Save changes to basic information <% end %>
          <% end %>

            <% unless @profile.new_record? %>
            <% if @user.employments.present? %>
            <% f.inputs :name => "Current Employment" do %>
                <label>Select your primary job role:</label>
                <ul class="primary-employment">
                    <% for employment in @user.employments %>
                    <li><%= radio_button_tag "profile[primary_employment][]", employment.id, primary?(employment) %> <%= employment.restaurant_role.try(:name) %> at <%= employment.restaurant.try(:name) %></li>
                    <% end %>
                </ul>

				<% button_tag :class => 'positive' do %>Save changes to employment<% end %>
            <% end %>
            <% end %>

            <% end %><%# non-basic details %>
        <% end %>
    </section><!-- /profile-summary -->

  <section id="profile-extended">
      <% if @profile.new_record? %>
      <div>
          Please fill in your <%= link_to "profile summary information", edit_user_profile_path(@user, :anchor => "profile-summary"), :id => 'open-profile-summary' %> (including hometown and current city) before continuing with this section.
      </div>
      <% else %>
    <div id="extended_profile_fields">
      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "culinary_jobs",
          :caption => "Work Experience - Restaurants",
          :form_path => new_user_profile_culinary_job_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "nonculinary_jobs",
          :caption => "Work Experience - Nonculinary",
          :form_path => new_user_profile_nonculinary_job_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "awards",
          :caption => "Awards",
          :form_path => new_user_profile_award_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "accolades",
          :caption => "Accolades",
          :form_path => new_user_profile_accolade_path(:user_id => @user.id)} %>

      <% reset_cycle('default') -%>
      <div class="enrollments culinary_schools clear ajaxdelete">
          <h2>Education (Culinary)</h2>
          <ul id="enrollments">
              <%= render @profile.enrollments %>
          </ul>
          <%= link_to "add another", new_user_profile_enrollment_path(:user_id => @user.id), :class => 'add_extended colorbox'%>
      </div>

      <div class="nonculinary_enrollments nonculinary_schools clear ajaxdelete">
          <h2>Education (Other)</h2>
          <ul id="nonculinary_enrollments">
              <%= render @profile.nonculinary_enrollments %>
          </ul>
          <%= link_to "add another", new_user_profile_nonculinary_enrollment_path(:user_id => @user.id), :class => 'add_extended colorbox'%>
      </div>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "competitions",
          :caption => "Competitions",
          :form_path => new_user_profile_competition_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "internships",
          :caption => "Internships",
          :form_path => new_user_profile_internship_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "stages",
          :caption => "Stages",
          :form_path => new_user_profile_stage_path(:user_id => @user.id)} %>

      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "apprenticeships",
          :caption => "Apprenticeships",
          :form_path => new_user_profile_apprenticeship_path(:user_id => @user.id)} %>
          
      <%= render :partial => 'profiles/extended_profile_section', :locals => {
          :association => "cookbooks",
          :caption => "Cookbooks",
          :form_path => new_user_profile_cookbook_path(:user_id => @user.id)} %>
    
    </div><!-- #extended_profile_fields -->
    <% end %>
  </section><!-- /profile-extended -->

</section><!-- /profile-tabs -->

<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function() {
  $('#profile-tabs').tabs({
    panelTemplate: '<section></section>',
    fx: { duration: 'fast', opacity: 'toggle' },
    show: function(event, ui) { 
      if(ui.panel.id == 'profile-extended' && !already_equalized){
        already_equalized = true;
        $('.culinary_job').equalHeights();
        $('.nonculinary_job').equalHeights();
        $('.award').equalHeights();
        $('.accolade').equalHeights();
        $('.enrollment').equalHeights();
        $('.competition').equalHeights();
        $('.internship').equalHeights();
        $('.stage').equalHeights();
        $('.apprenticeship').equalHeights();
        $('.cookbook').equalHeights();
      }
    }
  });
});
</script>
<% end %>

<% if false # @user.errors.present? %>
  <% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#profile-tabs').tabs('select', 'profile-account');
    });
  </script>
  <% end %>
<% end %>