<% title "Edit Profile" %>

<% semantic_form_for @profile do |f| %>
  <% f.inputs :name => 'Basics' do %>
    <%= f.input :birthday, :as => :string %>
    <%= f.input :job_start %>
    <%= f.input :cellnumber %>
  <% end %>

  <% f.inputs :name => "Current Employment" do %>
    <label>Select your primary job role:</label>
    <ul class="primary-employment">
        <% for employment in @profile.user.employments %>
          <li><%= radio_button_tag "profile[primary_employment][]", employment.id, primary?(employment) %> <%= employment.restaurant_role.try(:name) %> at <%= employment.restaurant.name %>
        <% end %>
    </ul>
  <% end %>

  <div class="culinary_jobs">
    <h2>Work Experience - Restaurants</h2>
    <ul>
    <% @profile.culinary_jobs.each do |job| %>
      <li>
        <%= job.restaurant_name %>
        <%= link_to "Edit", edit_my_profile_culinary_job_path(job) %>
      </li>
    <% end %>
    </ul>
    <%= link_to "Add", new_my_profile_culinary_job_path, :class => 'positive button' %>
  </div>

  <div class="nonculinary_jobs clear">
    <h2>Work Experience - Nonculinary</h2>
    <ul>
    <% @profile.nonculinary_jobs.each do |job| %>
      <li>
        <%= job.company %>
        <%= link_to "Edit", edit_my_profile_nonculinary_job_path(job) %>
      </li>
    <% end %>
    </ul>
    <%= link_to "Add", new_my_profile_nonculinary_job_path, :class => 'positive button' %>
  </div>

  <div class="clonablefieldset clear">
    <h2>Awards</h2>
    <% f.semantic_fields_for :awards do |award_form| %>
      <%= render 'awards_fields', :f => award_form %>
    <% end %>
  </div>

  <%= button_tag "Save" %>
  <%= button_tag "Preview", :name => "preview" %>
<% end %>