<% title "Edit Profile" %>

<% semantic_form_for @profile, :url => profiles_path do |f| %>
  <% f.inputs :name => 'Basics' do %>
    <%= f.input :birthday, :as => :string %>
    <%= f.input :job_start %>
    <%= f.input :cellnumber %>
  <% end %>

  <div class="clonablefields">

  <h2>Work Experience - Restaurants</h2>
  <% f.semantic_fields_for :profile_restaurants do |restaurant| %>
    <% restaurant.inputs :class => "workexperience" do %>
      <%= restaurant.input :restaurant_name, :input_html => {:class => 'title'} %>
      <%= restaurant.input :title %>
      <%= restaurant.input :city, :input_html => {:class => 'span-5'},
        :wrapper_html => {:class => 'span-5 column'} %>
      <%= restaurant.input :state, :input_html => {:maxlength => 2, :class => 'span-1'},
        :wrapper_html => {:class => 'span-5 column'} %>
      <%= restaurant.input :country,:wrapper_html => {:class => 'clear'} %>
      <%= restaurant.input :date_started %>
      <%= restaurant.input :date_ended, :as => :date, :selected => nil %>
      <%= restaurant.input :chef_name, :label => "Chef in charge of menu" %>
      <%= restaurant.input :chef_is_me %>
      <%= restaurant.input :cuisine, :label => "Type of cuisine served", :input_html => {:rows => 3} %>
      <%= restaurant.input :notes, :input_html => {:rows => 3} %>
    <% end %>
  <% end %>
  </div>

  <%= button_tag "Save" %>
  <%= button_tag "Preview", :name => "preview" %>
<% end %>