<% title "Behind the Line", false %>

<h1 id="btl-title" class="btl"><%= link_to "<span class=\"btl-art\">Behind the Line</span>".html_safe, soapbox_profile_questions_path %></h1>

<h2 id="btl-tagline">Get to know our chefs, inside and out, over and above</h2>

<% for answer in @answers %>
<%=div_for answer do %>
    <div class="activity_header">
        <h3><%= link_to "#{answer.profile_question.chapter.title_with_topic}: #{answer.profile_question.title}", soapbox_profile_question_path(answer.profile_question) %></h3>
    </div>
    <%= render :partial => "answer", :locals => { :answer => answer } %>
<% end %>
<div class="clear">&nbsp;</div>
<% end %>

<%= content_for :sidebar do -%>
<%= render :partial => "soapbox/profile_questions/sidebar" %>
<% end -%>