<% title @restaurant.name, false -%>
<div id="restaurant_profile_view" class="edit clear clearfix">

    <%= render 'restaurants/restaurant_editing_header' %>

    <div id="editing_restaurant">
        <div id="restaurant_pages" class="clearfix">
            <div id="restaurant_pages_tags_content">
              <div id="restaurant_tags">
                  <h2>Select feature tags to display on your profile</h2>
                  <aside id="tags_remaining"></aside>
                  <%= form_tag update_top_restaurant_features_path(@restaurant) do %>
                  <%= hidden_field_tag :restaurant_id, @restaurant.id %>
                      <% for category in @features.keys %>
                      <div class="tag_category" >
                          <h3 class="tag_category_header"><%= category.name %></h3>
                          <div class='tag'>
                              <% for tag in @features[category] %>
                                <p>
                                  <%= check_box_tag "restaurant_features[]", tag.id, tag.top_tag?(@restaurant), :id => "restaurant_features_#{tag.id}" %> 
                                  <%= label_tag "restaurant_features_#{tag.id}", remove_special_char(tag.name) %>
                              </p>
                              <% end %>
                          </div>
                        </div>
                      <% end %>
                  <%= submit_tag "Save" %>
                  <% end %>
              </div>
            </div>
        </div>

    </div> 
</div><!-- #restaurant_profile_view -->
