<div id="restaurant_pages">
  <nav>
    <ul class="pages">
      <% @pages.each do |page| %>
        <% tab_class = (page == @page) ? "current" : "" %>
        <% content_tag_for(:li, page, :class => tab_class) do %>
          <%= link_to h(page.name), restaurant_feature_path(@restaurant, page) %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <div id="restaurant_pages_content">
    <div id="restaurant_features">
      <% form_tag add_restaurant_feature_path(@restaurant) do %>
        <div class="restaurant_feature_list ">
          <div class="feature_page" id="<%= dom_id(@page) %>">
            <% @page.restaurant_feature_categories.by_name.each do |category| %>
              <div class="feature_category" id="<%= dom_id(category) %>">
                <h3 class="feature_category_header">
                  Category: <%= h category.name %>
                </h3>
                <% category.restaurant_features.in_groups(2).each do |feature_list| %>
                  <div class="feature" >
                    <% feature_list.compact.each do |feature| %>
                        <%= check_box_tag 'features[]', feature.id,
                            @restaurant.restaurant_feature_ids.include?(feature.id),
                            :id => dom_id(feature, :check) %>
                        <%= label_tag dom_id(feature, :check), feature.value, :class => 'inline' %>
                    <% end %>
                  </div>
                <% end %>
                <br clear="all" />
                <%= submit_tag "Update all features" %>
              </div>

            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if can? :edit, @restaurant %>
  <% content_for :page_actions do -%>
    <p class="clearfix">
      <%= link_to 'Show Restaurant', restaurant_path(@restaurant),
          :class=>'sf-button' %>
      <%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant),
      :class=>'sf-button' %>
      <%= link_to 'Soapbox Profile', soapbox_restaurant_path(@restaurant),
          :class=>'sf-button' %>
    </p>
    <p class="clearfix">
      <% @pages.each do |page| %>
        <%= link_to "Features for #{page.name}",
            restaurant_features_path(@restaurant, :page_id => page.id),
            :class => 'sf-button' %>
      <% end %>
    </p>
  <% end -%>
<% end -%>