<%=div_for holiday do %>
	<header>
  	<p class="date"><%= holiday.date.strftime("%B %e") %></p>
  	<h1><%= holiday.name %></h1>
  	<!--(<span class="holiday_name"><%= holiday.try(:name) %></span>)-->
	</header>

  <p><%= holiday.try(:name) %> is coming up! Only <%= distance_of_time_in_words(Date.today, holiday.date) %> from now!</p>
<% end %>