<% archive = direct_message.users_who_read.include?(current_user) %>
<% div_for direct_message, :class => "clearfix#{ ' sent_message' if direct_message.from?(current_user)}" do %>
<%= image_tag direct_message.sender.avatar.url(:thumb), :class => 'left' %>
	<p>
		<span id="dm_<%= direct_message.id %>"><%= truncate(direct_message.body, :omission => link_to_function("..."), :length => 100) %></span>
	</p>
	<p class="meta">
	<% if direct_message.from?(current_user) %>
		from you to <%= link_to direct_message.receiver.name, profile_path(direct_message.receiver.username) %> |
		<%= direct_message.created_at.to_s(:short) %>
	<% else %>
		from <%= link_to direct_message.sender.name, profile_path(direct_message.sender.username) %> |
		<%= direct_message.created_at.to_s(:short) %> |
		<%= link_to "reply", reply_direct_message_path(direct_message) %>
	<% end -%>
	</p>
	<% unless direct_message.responses.blank? %>
	<div>
	    <%= link_to_function "View all replies", '$("#direct-message-replies").toggle()' %>
	</div>
	<div id="direct-message-replies" style="display: none;">
        <%= render :partial => "direct_messages/direct_message_reply", :locals => { :direct_messages => direct_message.responses } %>
    </div>
    <% end %>
	<% unless archived_view? %>
	<a href="#" class="readit"><span>read</span></a>
	<% end %>
<% end # div -%>
