<%=div_for direct_message, :class => css_classes_for_direct_message(direct_message) do %>
	<header>
  	<div class="sender_avatar">
    	<%= image_tag direct_message.sender.avatar.url(:thumb) %>
  	</div>
		<h1><%= title_for_direct_message(direct_message) %></h1>
	</header>

  <p class="message_body">
    <%= link_to truncate(direct_message.body, :length => 100), direct_message_path(direct_message) %>
  </p>

  <%= render direct_message.attachments %>

  <p class="timestamp"><%= direct_message.created_at.to_s(:message_meta) %></p>

  <p class="actions message_actions">
      <%= link_to "reply", direct_message, :class => 'button' %>
      <%= link_to "Go to message", direct_message, :class => 'message_link' %>
  </p>

  <% unless direct_message.responses.blank? %>
    <div class="message_replies_link">
      <%= link_to  direct_message, :class => 'replies' do %>
        <span class="unread_comments_count"><%= direct_message.descendants_size %></span> replies &raquo;
      <% end %>
    </div>
  <% end %>

  <% unless archived_view? %>
    <a href="#" class="readit"><span>read</span></a>
  <% end %>
<% end # div -%>
