<% for direct_message in direct_messages %>
<div class="clearfix">
<% if direct_message.from?(current_user) %>
	<%= image_tag direct_message.receiver.avatar.url(:thumb), :class => 'left' %>
<% else %>
	<%= image_tag direct_message.sender.avatar.url(:thumb), :class => 'left' %>
<% end -%>
	<p>
		<%= truncate(direct_message.body, :length => 100) %>
	</p>
	<p class="meta">
	<% if direct_message.from?(current_user) %>
		from you |
		<%= direct_message.created_at.to_s(:short) %>
	<% else %>
		from <%= link_to direct_message.sender.name, profile_path(direct_message.sender.username) %> |
		<%= direct_message.created_at.to_s(:short) %> |
		<%= link_to "reply", reply_direct_message_path(direct_message) %>
	<% end -%>
	</p>
</div>
<%# Recursion! %>
<% unless direct_message.responses.blank? %>
 <%= render :partial => "direct_messages/direct_message_reply", :locals => { :direct_messages => direct_message.responses } %> 
<% end %>
<% end %>