<% for direct_message in direct_messages %>
<div id="<%= "current" if @current_message == direct_message %>" class="clearfix dm_reply">
<%= image_tag direct_message.sender.avatar.url(:thumb), :class => 'left' %>
    <p>
        <% if @current_message == direct_message %>
          <%= simple_format direct_message.body %>
        <% else %>
	      <%= link_to truncate(direct_message.body, :length => 100), direct_message_path(direct_message) %>
	    <% end %>
	</p>
	<p class="meta">
	<% if direct_message.from?(current_user) %>
		from you |
		<%= direct_message.created_at.to_s(:short) %>
	<% else %>
		from <%= link_to direct_message.sender.name, profile_path(direct_message.sender.username) %> |
		<%= direct_message.created_at.to_s(:short) %> |
		<% if @reply_allowed %>
		  <%= link_to_function "reply", "$(\"#reply_#{direct_message.id}\").toggle()" %>
		<% else %>
		  <%= link_to "reply", direct_message_path(direct_message) %>
		<% end %>
	<% end -%>
	</p>
    <% unless direct_message.attachments.blank? %>
      <h3 class="attachments-header">Attached files:</h3>
      <%= render direct_message.attachments %>
    <% end %>
    <% if !direct_message.from?(current_user) && @reply_allowed %>
    <div id="reply_<%= direct_message.id %>" style="<%= display_form(direct_message) %>">
        <h4>Reply:</h4>
        <%= render :partial => 'form', :locals => { :direct_message => direct_message.build_reply, :recipient => direct_message.sender } %>
    </div>
    <% end %>
</div>
<%# Recursion! %>
<% unless direct_message.responses.blank? %>
 <%= render :partial => "direct_messages/direct_message_reply", :locals => { :direct_messages => direct_message.responses } %>
<% end %>
<% end %>