<% form_for @direct_message, :url => user_direct_messages_path(@recipient), :html => {:method => :post} do |f| %>
  <%= f.error_messages %>
	<%= f.hidden_field :in_reply_to_message_id %>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, :class => 'text', :rows => '4' %>
  </p>
  <p><%= button_tag "Send" %></p>
<% end %>