<% title "Private Message", false -%>

<%= render 'messages/nav' %>
<div class="span-9 last">
  <% div_for @direct_message, :class => (css_classes_for_direct_message(@direct_message) + ' individual') do %>
    <div class="sender_avatar">
      <%= image_tag @direct_message.sender.avatar.url(:thumb) %>
    </div>

    <h4 class="message_title column"><%= title_for_direct_message(@direct_message) %></h4>

    <div class="message_body">
      <%= link_to simple_format(@direct_message.body) %>
    </div>

    <%= render @direct_message.attachments %>

    <p class="meta date"><%= @direct_message.created_at.to_s(:message_meta) %></p>


    <div class="message_replies">
      <%= render :partial => "direct_messages/direct_message_reply", :locals => { :direct_messages => @direct_message.responses, :individual => true } %>
    </div>

    <% if !@direct_message.from?(current_user) && @reply_allowed && @direct_message.root_message.responses.blank? %>
    <div id="reply_<%= @direct_message.id %>" class="reply_form">
        <h4 class="cufon">Leave a Reply:</h4>
        <%= render :partial => 'form', :locals => { :direct_message => @direct_message.build_reply, :recipient => @direct_message.sender } %>
    </div>
    <% end %>

  <% end # div -%>

  <p><%= link_to "Back to all messages", private_messages_path(:view_all => true) %></p>
</div>

