<% title "Private Message", false -%>

<%= render 'messages/nav' %>
<div id="read_messages">
  <%=div_for @direct_message, :class => (css_classes_for_direct_message(@direct_message) + ' individual') do %>
    <% set_latest_reply_id(@direct_message) %>
		<header>
    	<div class="sender_avatar">
    	  <%= image_tag @direct_message.sender.avatar.url(:thumb) %>
    	</div>

    	<h1><%= title_for_direct_message(@direct_message) %></h1>
		</header>

    <div class="message_body">
      <%= link_to simple_format(@direct_message.body) %>
    </div>

    <%= render @direct_message.attachments %>

    <p class="meta date"><%= @direct_message.created_at.to_s(:message_meta) %></p>


    <div class="message_replies">
      <%= render :partial => "direct_messages/direct_message_reply", :locals => { :direct_messages => @direct_message.responses, :individual => true } %>
    </div>

    <% if @reply_to_dm %>
    <div id="reply_<%= @reply_to_dm.id %>" class="reply_form">
        <h3>Leave a Reply:</h3>
        <%= render :partial => 'form', :locals => {
          :direct_message => @reply_to_dm.build_reply,
          :recipient => reply_recipient(@reply_to_dm)
        } %>
    </div>
    <% end %>

  <% end # div -%>

  <p><%= link_to "Back to all messages", private_messages_path(:view_all => true) %></p>
</div>

