<% title "Edit My Feeds" %>

<p>Choose which feeds you'd like to see on your ReadFeed landing page.</p>

<%= form_for :feeds, :url => feeds_path, :html => {:method => :put} do |f| %>
  <% for category in @feed_categories %>
  <fieldset>
    <legend><%= category.name %></legend>
    <%= render :collection => category.feeds, :as => :feed, :partial => 'feed_check_box' %>
  </fieldset>
  <% end %>

  <% unless @uncategorized_feeds.blank? %>
  <fieldset>
    <legend>Other</legend>
    <%= render :collection => @uncategorized_feeds, :as => :feed, :partial => 'feed_check_box' %>
  </fieldset>
  <% end %>

  <p><%= button_tag "Submit", :class => 'positive' %></p>
<% end %>
