<div class="jumbo_content" style="background: url(<%= sf_slide.image.url(:spoonfeed) %>) no-repeat;">
	<h1><%= sf_slide.title %></h1>
	<p><%= sf_slide.excerpt %>&hellip;&nbsp;<%= link_to "learn&nbsp;more&nbsp;&#187;", sf_slide.link %></p>
	<p class="photo_credit"><%= sf_slide.photo_credit %></p>
</div>