<% title "Change My Password" %>

<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :password, "New Password" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm New Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Update my password and log me in" %></p>
<% end %>