<% title "Reset your password" %>

<p>Possible you forgot your password? We can help you set up a new one in a jiff.</p>

<%= form_tag password_resets_path do %>
  <p>
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email", "", :class => 'text wider' %>
  </p>
  <%- if mediafeed? -%><%= hidden_field_tag "mediafeed", "true" %><%- end -%>
  <p>
    <%= button_tag "Reset my password" %>
  </p>
<% end %>