<% title @restaurant.name, false -%>
<div id="restaurant_profile_view" class="edit clear clearfix">
	
	<%= render 'restaurants/restaurant_editing_header' %>

	<div id="editing_restaurant">
		
		<h2>Edit Menus</h2>
		<div class="upload_photo editing">
	  	<%=semantic_form_for @menu,
	  	    :url => restaurant_menus_path(@restaurant),
	  	    :html => { :multipart => true } do |menu_form| %>
	  	  <%= @menu.errors.messages.first[1].join('') unless @menu.errors.full_messages.blank? %>
	  	  <%=menu_form.inputs :class => "clear" do %>
	  	    <%= menu_form.input :name, :label => "Menu name" %>
	  	    <%= menu_form.input :change_frequency, :label => "How often it changes",
	  	        :as => :select, :collection => Menu.change_frequencies,
	  	        :required => true %>
	  	    <%=menu_form.semantic_fields_for :pdf_remote_attachment do |pdf_remote_attachment| %>
	  	      <%= pdf_remote_attachment.input :attachment, :as => :file,:hint => "Only PDFs are allowed to be uploaded" %>
	  	    <% end %>
	  	    <%= button_tag 'Upload', :class => 'positive clear' %>
	  	  <% end %>
	  	<% end %>
		</div><!--.upload_photo-->

        <% if @restaurant.menus.present? -%>
        <h3>Uploaded Menus</h3>
        <p>Drag and drop menus to change the sort order. The top three menus listed will be displayed on your Soapbox profile.</p>
		<p>Leave your old menus up as an archive for media. You can add as many menus as you'd like, so feel free to add special event and private event menus, as well as all of your regular menus.</p>
        <div class="editing clearfix clear">
            <table id="menus" data-remote-url="<%= reorder_restaurant_menus_url(@restaurant) %>">
                <thead>
                    <tr>
                        <th>Menu name</th>
                        <th>Date uploaded</th>
                        <th>How often it changes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @restaurant.menus.by_position.each do |menu| %>
                    <%= content_tag_for(:tr, menu) do %>
                    <td class="menu_name"><%= link_to h(menu.name), menu.pdf_remote_attachment.attachment.url %></td>
                    <td class="menu_date"><%= menu.pdf_remote_attachment.updated_at.to_s(:standard) %></td>
                    <td class="menu_change_frequency"><%=h menu.change_frequency %></td>
                    <td><%= link_to "Remove", restaurant_menu_path(@restaurant, menu), :method => :delete, :confirm => "Are you sure you want to remove the menu #{menu.name}?", :class => 'delete' %><%= link_to "Edit", edit_restaurant_menu_path(@restaurant, menu), :class => 'edit' %></td>
                    <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
        <% end -%>
		
	</div><!--#editing_restaurant-->
	
</div><!--#restaurant_profile_view-->
	
<%= content_for :javascript do %>

  <script type="text/javascript">
    //<![CDATA[
    $('#menus').sortable(
    {
      axis: 'y',
      dropOnEmpty:false,
      cursor: 'crosshair',
      items: '.menu',
      opacity: 0.4,
      scroll: true,
      update: function(event, ui){
        var url = $("#menus").attr("data-remote-url");
        $.ajax({
          type: 'post',
          data: $('#menus').sortable('serialize') + '&restaurant_id=<%= @restaurant.id -%>',
          dataType: 'script',
          complete: function(request){
            $('#menus').effect('highlight');
          },
          url: url})
      }
    })
    //]]>
  </script>

<% end %>


