<% title "Menu Upload For #{@restaurant.name}" %>

<div id="editing_restaurant">

	<% semantic_form_for :menu, @menu, 
	    :url => restaurant_menus_path(@restaurant), 
	    :html => { :multipart => true } do |menu_form| %>
	  <%= menu_form.error_messages %>
	  <% menu_form.inputs :class => "clear" do %>
	    <%= menu_form.input :name, :label => "Menu name" %>
	    <%= menu_form.input :change_frequency, :label => "How often it changes", 
	        :as => :select, :collection => Menu.change_frequencies,
	        :required => true %>
	    <% menu_form.semantic_fields_for :pdf_remote_attachment do |pdf_remote_attachment| %>
	      <%= pdf_remote_attachment.input :attachment, :as => :file %>
	    <% end %>
	    <%= menu_form.submit 'Upload', :class => 'clear sf-button' %>
	  <% end %>
	<% end %>
	
	<h3>Uploaded Menus</h3>
	<table id="menus">
	  <% @restaurant.menus.each do |menu| %>
	    <tr id="menu_<%=menu.id%>">
	      <td class="menu_name"><%= link_to h(menu.name), menu.pdf_remote_attachment.attachment.url %></td>
	      <td class="menu_date"><%=h menu.created_at.to_s(:standard) %></td>
	      <td class="menu_change_frequency"><%=h menu.change_frequency %></td>
	      <td><%= link_to "Remove", restaurant_menu_path(@restaurant, menu), :method => :delete, :confirm => "Are you sure you want to remove the menu #{menu.name}?" %></td>
	    </tr>
	  <% end %>
	</table>
	
	<p>
	  <%= link_to "Back To Restaurant", edit_restaurant_path(@restaurant), :class => "button sf-button" %>
	</p>

</div><!--#editing_restaurant-->
