<% title @user.name, false %>
<header class="soapbox_profile_header">

    <aside class="user_actions">
        <% if can?(:manage, @user) -%>
        <%= link_to 'Edit profile', edit_user_profile_path(@user) %>
        <% end %>
        <% if current_user && (current_user != @user) -%>
        <%= link_to "Private Message", new_user_direct_message_path(@user), :class => 'private_message' %>
        <% if @following %>
        <%= link_to "Stop following this user", following_path(@following.id),
        :method => :delete, :class => 'follow_user' %>
        <% else %>
        <%= link_to "Follow this user", followings_path(:friend_id => @user),
        :method => :post, :class => 'follow_user' %>
        <% end %>
        <% end -%>
    </aside>

    <%= image_tag @user.avatar.url(:small), :width=>'72' %>
    <h1><%= @user.name %></h1>
    <%= @user.profile.try(:headline) %>
    <p class="last_updated">Last updated: <%= @user.updated_at.strftime('%b %d, %Y') %> </p>
    <% if @user.premium_account && on_soapbox %>
    <% end %>

    <div class="clear"></div>
</header>

<section id="profile-account" class="equal-height">
    <h5>Contact Information</h5>
    <dl class="user_info clearfix clear contact">
        <% if display_cell(@user) %>
        <dt>Mobile</dt>
        <dd><%= @user.profile.cellnumber %></dd>
        <% end %>

        <%- if display_email(@user) -%>
        <dt>Email</dt>
        <dd><%= mail_to(@user.email, "#{@user.first_name+'' +"'s" +' '+"Email"}") %></dd>
        <%- end -%>

        <% if display_twitter(@user) %>
        <dt>Twitter</dt>
        <dd><%= link_to @user.twitter_username, "http://twitter.com/#{@user.twitter_username}" %></dd>
        <% end -%>

        <% if display_facebook(@user) %>
        <dt>Facebook</dt>
        <dd><%= link_to @user.facebook_user.name, @user.facebook_user.link %></dd>
        <% end %>
    </dl><!-- .user_info.contact -->

    <h5>More Details</h5>
    <dl class="user_info clearfix extra">
        <%- if !on_soapbox && can?(:edit,@user) -%>
        <dt>Acct. Type</dt>
        <dd class="user_account_type"><%= h @user.public_account_type %></dd>
        <%- end -%>

        <% if @user.profile %>
        <% if @user.profile.job_start.present? %>
        <dt>Job Start</dt>
        <dd><%= @user.profile.job_start.try(:strftime, '%B %d, %Y') %></dd>
        <% end %>

        <% if @user.profile.birthday.present? %>
        <dt>Age</dt>
        <dd><%= age(@user.profile.birthday) %></dd>
        <% end %>

        <% if @user.profile.hometown.present? %>
        <dt>Hometown</dt>
        <dd><%= @user.profile.hometown %></dd>
        <% end %>

        <% if @user.profile.current_residence.present? %>
        <dt>Current City</dt>
        <dd><%= @user.profile.current_residence %></dd>
        <% end %>

        <% end %>
    </dl><!-- .user_info.extra -->
    <p class="timestamp_header">Last updated: <%= @user.profile.try(:updated_at).try(:strftime, "%b %e %Y") %></p>

</section><!--/profile-account-->


<section id="profile-summary" class="equal-height">
    <% if @user.employments.any? %>
    <h5 class="nomargin">Title(s)</h5>
    <div>
        <%= @user.primary_employment.try(:restaurant_role).try(:name) %>,
        <%= restaurant_link(@user.primary_employment.restaurant) %>
    </div>
    <% for employment in @user.nonprimary_employments %>
    <div>
        <%= employment.try(:restaurant_role).try(:name) %>,
        <%= restaurant_link(employment.restaurant) %>
    </div>
    <% end %>
    <% elsif @user.default_employment %>
    <div>
        <%= @user.primary_employment.try(:restaurant_role).try(:name) %>,
        <%= @user.primary_employment.try(:solo_restaurant_name) %>
    </div>
    <% end %>

    <% if @user.profile && @user.profile.summary.present? -%>
    <h5>Summary</h5>
    <p><%= @user.profile.try(:summary) %></p>
    <% end -%>

    <% if @user.profile && @user.profile.specialties.present? %>
    <h5>Specialties</h5>
    <p><%= @user.profile.specialties.map { |s| link_to s.name, directory_search_link(:specialty_id => s.id) }.to_sentence.html_safe %></p>
    <% end %>

    <% if @user.profile && @user.profile.cuisines.present? %>
    <h5>Cuisine(s)</h5>
    <p><%= @user.profile.cuisines.map { |c| link_to c.name, directory_search_link(:cuisine_id => c.id) }.to_sentence.html_safe %></p>
    <% end %>

</section><!--/profile-summary-->

<div id="extended_profile_container" class="clear">
    <a href="#extended_profile" class="showit">View Extended Profile <em>(Education, Experience, Awards, etc)</em></a>
    <%= render 'users/extended_profile', :user => @user, :profile => @user.profile %>
</div><!-- #extended_profile_container -->

<div id="recent_soapbox" class="clear clearfix">

    <% if @user.btl_enabled? && (@user.published_topics.present? || @user == current_user || current_user.try(:admin?)) %>
    <%= render :partial => 'behind_the_line', :locals => { :user => @user } %>
    <% end %>

    <div id="recent_qtod" class="recent_actions last">
        <h3>Responses on Front Burner</h3>

        <div class="tabable">
            <nav>
                <span><a href="#older_tqs_box">What's New</a></span>
                <span><a href="#older_qotds_box">Questions of the Day</a></span>
            </nav>

            <section class="panel-bg">
                <div id="older_tqs_box">
                    <% if @user.trend_questions_responded.present? %>
                    <%= render :partial => 'users/question',
                    :collection => @user.trend_questions_responded,
                    :local => {:user => @user} %>
                    <% else %>
                    <p><%= @user.name %> hasn't answered any What's New items yet.</p>
                    <% end %>
                </div><!--#older_tqs_box-->
                <div id="older_qotds_box">
                    <% if @user.qotds_responded.present? %>
                    <%= render :partial => 'users/question', :collection => @user.qotds_responded, :local => { :user => @user } %>
                    <% else %>
                    <p><%= @user.name %> hasn't answered any Questions of the Day yet.</p>
                    <% end %>
                </div><!--#older_qotds_box-->           
            </section>
        </div><!-- /tabable -->
    </div><!--recent_qtod-->
</div><!-- /recent_soapbox -->
