<div class="user_answer">
    <%= render :partial => "users/identity", :locals => { :user => answer.user } if answer.user %>
    <div class="comment">
        <%= truncate(answer.answer, :length => 200) %>
        <% if answer.answer.size > 200 -%>
        <%= link_to "more &raquo;".html_safe, profile_question_path(answer.profile_question) %>
        <% end -%>
    </div>
    <%- if current_user.media? -%>
    <p class="request"><%= link_to "Request more information", mediafeed_request_information_path(:user_id => answer.user_id, :request_type => "Behind the Line", :request_title => truncate(answer.answer, :length => 200) ) %></p>
    <%- end -%>
	<p><span class="timestamp">Last updated: <%= answer.updated_at.strftime("%b %e %Y") %></span></p>
</div>
