<li>
  <%= link_to "#" do %>
    <% date = qotd_list_entry.scheduled_at %>
    <time datetime="<%= date.try(:strftime,'%Y-%m-%d') %>"><span><%= date.try(:strftime, "%b").upcase %></span><%= date.try(:strftime, "%e") %></time>
    <span class="title"><%= qotd_list_entry.display_message || qotd_list_entry.message %></span>
    <span class="reply-count"><span><%= count = qotd_list_entry.soapbox_comment_count %></span><%= count > 1 ? "replies" : "reply" %></span>
  <% end %>
</li>
