<% semantic_form_for employment, :url => restaurant_employee_path(@restaurant, employee) do |f| %>
	<% f.inputs :name => "" ,:class=>'employee-permission' do %>
	 <%= hidden_field_tag "bulk_edit_form", true %>
        <%= f.input :position, :as => :hidden %>
      <p> <%= f.input :restaurant_role, :label => "Role",:input_html => {:class => "edit-employee-role"} %> </p>
      <p> <%= f.check_box :public_profile %> <label>Is the Account Admin for the restaurant profile</label></p>
      <p> <%= f.check_box :media_contact %> <label>Is the Media Contact for our restaurant profile</label> </p>
      <p> <%= f.check_box :search_by_media %> <label>Searchable by Media</label></p>
      <p> <%= f.check_box :search_by_diner %> <label>Viewable/Searchable by Diners</label></p>
      <p> <%=  f.check_box :omniscient, :input_html => { :disabled => (@restaurant.manager == employee),:checked=>((!employment.edit_privilege && employment.omniscient) || (@restaurant.manager == employee))} %> <label>Admins receive all notifications </label> </p>
      <p> <%=  f.check_box :edit_privilege, :input_html => { :disabled => (@restaurant.manager == employee),:checked=>((!employment.edit_privilege && employment.omniscient) || (@restaurant.manager == employee))} %> <label>Admins will not receive any notifications </label> </p>
      <p> <%= f.input :subject_matters,:as => :check_boxes, :wrapper_html => {:class => 'checkall', :id => "employment_general_subject_matters"}, :collection => SubjectMatter.general.all, :label => "Can answer media requests", :input_html => { :disabled => @restaurant.manager == employee,:class=>"subjectmatter" } %></p>
    <% end %>

    <p><%= button_tag "Submit", :class => 'positive' %></p>

<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
	$(document).ready(function(){
		$('#employment_edit_privilege').change(function(){
			if($(this).is(':checked'))
			{
				$('#employment_omniscient').attr("checked",false)
				$('#employment_prefers_receive_email_notifications').val(0)
			}else{
				$('#employment_prefers_receive_email_notifications').val(1)
			}
		})		
		$('#employment_omniscient').change(function(){
			if($(this).is(':checked'))
			{
				$('#employment_edit_privilege').attr("checked",false)
				$('#employment_prefers_receive_email_notifications').val(1)
			}
		})
	})
</script>
<% end %>