<% title "Editing Employee #{employee.name}" %>
<% semantic_form_for employment, :url => restaurant_employee_path(@restaurant, employee) do |f| %>
	<%#= render :partial => 'employee_edit_account_status', :locals => {:f => f, :employee=>employee } %>
	<% f.inputs :name => "" ,:class=>'employee-permission' do %>
	 <%= hidden_field_tag "bulk_edit_form", true %>
        <%= f.input :position, :as => :hidden %>
        <%#= f.input :restaurant_role %>
      <p> <%= f.input :restaurant_role, :label => "Role",:input_html => {:class => "edit-employee-role"} %> </p>

        <%#= f.input :public_profile, :label => "Is the Account Admin for the restaurant profile" %>
      <p> <label style="white-space: nowrap">Is the Account Admin for the restaurant profile</label> <%= f.check_box :public_profile %></p>
      <p><label style="white-space: nowrap">Is the Media Contact for our restaurant profile</label> <%= f.check_box :media_contact %></p>
      <p><label style="white-space: nowrap">Searchable by Media</label> <%= f.check_box :search_by_media %></p>
      <p><label style="white-space: nowrap">Viewable/Searchable by Diners</label> <%= f.check_box :search_by_diner %></p>
      <p><label style="white-space: nowrap">Admins receive all notifications </label> <%=  f.check_box :omniscient, :input_html => { :disabled => (@restaurant.manager == employee),:checked=>((!employment.edit_privilege && employment.omniscient) || (@restaurant.manager == employee))} %></p>
      <p><label style="white-space: nowrap">Admins will not receive any notifications </label> <%=  f.check_box :edit_privilege, :input_html => { :disabled => (@restaurant.manager == employee),:checked=>((!employment.edit_privilege && employment.omniscient) || (@restaurant.manager == employee))} %></p>

    <% end %>

    <p><%= button_tag "Submit", :class => 'positive' %></p>

<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
	$(document).ready(function(){
		$('#employment_edit_privilege').change(function(){
			if($(this).is(':checked'))
			{
				$('#employment_omniscient').attr("checked",false)
				$('#employment_prefers_receive_email_notifications').val(0)
			}else{
				$('#employment_prefers_receive_email_notifications').val(1)
			}
		})		
		$('#employment_omniscient').change(function(){
			if($(this).is(':checked'))
			{
				$('#employment_edit_privilege').attr("checked",false)
				$('#employment_prefers_receive_email_notifications').val(1)
			}
		})
	})
</script>
<% end %>