<% title "Confirm Employee" %>

<% form_for @employment, :url => restaurant_employees_path(@restaurant) do |f| %>
	<%= f.error_messages %>
	<%= f.hidden_field :employee_id %>
	<%= f.hidden_field :restaurant_role_id %>
	<%= f.hidden_field :omniscient %>
  <%= f.hidden_field :public_profile %>

	<% @employment.subject_matter_ids.each do |sm| %>
		<%= hidden_field_tag 'employment[subject_matter_ids][]', sm %>
	<% end -%>

	<% if @employee %>
		<p>Is this user an employee at your restaurant?</p>
		<%= render @employee %>
		<p><%= button_tag "Yes", :class => 'nofloat positive' %> or <%= link_to "No", :action => :new %></p>
	<% else %>
		<p>We couldn't find that person</p>
	<% end %>
<% end %>
