<% title "Editing Employee #{@employee.name}" %>

<% semantic_form_for @employment, :url => restaurant_employee_path(@restaurant, @employee) do |f| %>
	<%= render :partial => 'employee_edit_account_status', :locals => {:f => f} %>
	<% f.inputs :name => "Roles" do %>
        <%= f.input :position, :as => :hidden %>
		<%= f.input :omniscient, 
		    :label => "Grant this user the ability to administer and edit #{@restaurant.name}'s Spoonfeed Press Kit", 
		    :hint => "Note: Admins receive all notifications", 
		    :input_html => { :disabled => (@restaurant.manager == @employee),:checked=>((!@employment.edit_privilege && @employment.omniscient ) || (@restaurant.manager == @employee))} %>
		 <%= f.input :edit_privilege, 
		    :label => "Edit Privileges: Grant this user the ability to administer and edit #{@restaurant.name}'s Spoonfeed Press Kit", 
		    :hint => "Note: Admins will not receive any notifications", 
		    :input_html => { :disabled => (@restaurant.manager == @employee) } %>
		 <%= f.input :prefers_receive_email_notifications ,:as =>"hidden" %>
		<% if @employee == @restaurant.manager %>
		  <p><%= @employee.name %> is the primary account administrator. Go to <%= link_to 'the restaurant page', edit_restaurant_path(@restaurant) %> to change this.</p>
		<% end %>
		
        <%= f.input :public_profile, :label => "Is the Account Admin for the restaurant profile",
            :hint => "Check this box if the employee should be viewable on #{@restaurant.name}'s profile page." %>
        <%= f.input :media_contact, :label => "Is the Media Contact for our restaurant profile" %>    
        <%= f.input :search_by_media, :label => "Searchable by Media",:hint => "Check this box if media can search" %>    
        <%= f.input :search_by_diner, :label => "Viewable/Searchable by Diners" ,:hint => "Check this box if diner can search" %>    
        <%= f.input :restaurant_role,
            :hint => "Which best describes the role that #{@employee.name} has at #{@restaurant.name}?" %>

        <%= render :partial => 'subject_matter_fields', :locals => {:f => f} %>
    <% end %>

    <p><%= button_tag "Submit", :class => 'positive' %></p>

<% end %>

