<% title "Editing Employee #{@employee.name}" %>

<% semantic_form_for @employment, :url => restaurant_employee_path(@restaurant,@employee) do |f| %>
	<% f.inputs do %>
		<%= f.input :omniscient, :label => "Manager?", :hint => "This indicates whether you'd like this employee to be able to administer this restaurant as you can" %>
		<%= f.input :restaurant_role,
			:hint => "Which best describes the role that #{@employee.name} has at #{@restaurant.name}?" %>
			<p>We want to make sure that the right media inquiries go to the right people at your restaurant. What kinds of topics are you comfortable having <%= @employee.name %> respond to? Keep in mind, their responses will represent <%= @restaurant.name %> and go straight to the media. So, it is important to choose wisely!</p>

		<%= f.input :subject_matters,
					:as => :check_boxes,
					:wrapper_html => {:class => 'checkall', :id => "employment_subject_matters"},
					:collection => SubjectMatter.nongeneral.all,
					:label => "Handles Media Requests" %>

		<%= f.input :subject_matters,
					:as => :check_boxes,
					:wrapper_html => {:class => 'checkall', :id => "employment_general_subject_matters"},
					:collection => SubjectMatter.general.all,
					:label => "Handles General Information Requests" %>
	<% end %>

	<p><%= button_tag "Submit", :class => 'positive' %></p>

<% end %>
