<% title "Editing Employee #{@employee.name}" %>

<% semantic_form_for @employment, :url => restaurant_employee_path(@restaurant,@employee) do |f| %>
	<% f.inputs :name => "Account Status" do %>
  	<div id="<%= dom_id(@employee) %>">
  		<span class="account_status">
  			This employee has a <%= @employee.account_type %> account.
  		</span>
  		<% if @employee.account_type != "Premium" %>
    		<br style="clear:all" />
    		<%= link_to (image_tag('tick.png') + "Upgrade employee account to Premium"), 
            restaurant_employee_accounts_path(:id => @employee.id, :restaurant_id => @restaurant.id),
    				:method => :post,
            :class => 'button positive' %>
      <% end %>
  	</div>
	<% end %>
	
	<% f.inputs :name => "Roles" do %>
    <%= f.input :position, :as => :hidden %>
		<%= f.input :omniscient, :label => "Spoonfeed Account Manager?", :hint => "This indicates whether you'd like this employee to be able to administer this restaurant. Note: managers receive all notifications." %>
    <%= f.input :public_profile, :label => "Display on public profile?",
            :hint => "Check this box if the employee is featured on the public profile page for #{@restaurant.name}." %>		
    <%= f.input :restaurant_role,
			:hint => "Which best describes the role that #{@employee.name} has at #{@restaurant.name}?" %>
      <%= render :partial => 'subject_matter_fields', :locals => {:f => f} %>
      <%= f.input :prefers_post_to_soapbox, :as => :boolean,
                  :label => "Is this person authorized to post responses on Soapbox for #{@restaurant.name}?" %>

	<% end %>

	<p><%= button_tag "Submit", :class => 'positive' %></p>

<% end %>
