<% title "Employees at #{@restaurant.name}" %>

<% if can? :edit, @restaurant %>
	<p>So that your media requests go to the correct person, please also check what type of questions this employee should answer.</p>
	<p>We recommend that each role actually has at least one person assigned to it so you can be sure to get every media request. You can have multiple employees with the same role, just make sure that one person is for sure responsible for answering the question.</p>

	<% unless @restaurant.missing_subject_matters.empty? %>
		<p class="error">
		  <strong>No one is assigned for the following subjects:</strong><br />
			<%= @restaurant.missing_subject_matters.map(&:name).to_sentence %>
		</p>
	<% end -%>
<% end -%>

<% unless @employments.blank? %>
<div id="restaurant_employees">
	<% @employments.in_groups(2, false) do |group| %>
		<div class="span-6<%= cycle("", " last") %>">
			<%= render group %> <!-- employments/employment -->
		</div>
	<% end -%>
</div>
<% end -%>


<% if can? :edit, @restaurant %>
	<h3 class="clear">Add Employees to your Restaurant</h3>

	<p class="clearfix">
		<%= link_to "Add employee", new_restaurant_employee_path(@restaurant), :class => 'positive button' %>
	</p>

	<% unless @restaurant.media_requests.blank? %>
		<hr />
		<h4>
			Your restaurant has <%= link_to "#{@restaurant.media_requests.size} media requests", restaurant_media_requests_path(@restaurant) %>
		</h4>
	<% end %>
<% end %>