<% title "A La Minute Questions" %>
<div id="restaurant_profile_view" class="edit clear clearfix">

  <%= render 'restaurants/restaurant_editing_header' %>
  <div id="editing_restaurant">
    <div id="a_la_minute_questions">
      <h2>A la minute</h2>

      <% semantic_form_for :restaurant, :url => bulk_update_restaurant_a_la_minute_answers_url(:restaurant_id => @restaurant.id),
            :html => {:method => :put} do |form| %>

        <% @questions.each do |question| %>
            <% answer = alm_answer_for(question) %>
            <fieldset class="editing basics">
              <ol>
                <li class="string">
                  <%= label_tag "a_la_minute_questions_#{question.id}_answer", h(question.question), :class => "question ala" %>
                  <%= text_field_tag "a_la_minute_questions[#{question.id}][answer]", answer.answer, :class => "new answer" %>
                </li>
              </ol>
              <%= hidden_field_tag "a_la_minute_questions[#{question.id}][old_answer]", answer.old_answer %>
              <% div_for question do -%>
                <%= check_box_tag "a_la_minute_questions[#{question.id}][show_as_public]", "1", answer.show_as_public, :class => "show_as_public_toggle" %>
                <%= label_tag "a_la_minute_questions_#{question.id}_show_as_public", "Show on Soapbox profile?", :class => 'inline' %>

                <% if @restaurant.twitter_authorized? -%>
                <%= check_box_tag "a_la_minute_questions[#{question.id}][post_to_twitter]", "1", true, :class => "show_as_public_toggle" %>
                <%= label_tag "a_la_minute_questions_#{question.id}_post_to_twitter", "Post to Twitter?", :class => 'inline' %>
                <% end -%>

                <% if @restaurant.has_facebook_page? -%>
                <%= check_box_tag "a_la_minute_questions[#{question.id}][post_to_facebook_page]", "1", true, :class => "show_as_public_toggle" %>
                <%= label_tag "a_la_minute_questions_#{question.id}_post_to_facebook_page", "Post to Facebook page?", :class => 'inline' %>
                <% end -%>
              <% end -%>
              <%= link_to 'View past answers', "#a_la_minute_answers_#{question.id}", :class => 'show_all_link showit' %>
              <ul class="archive" id="a_la_minute_answers_<%= question.id %>">
                <% @restaurant.a_la_minute_answers.for_question(question).each_with_index do |archived_answer, index| %>
                  <% content_tag_for(:li, archived_answer, :class => "answer hidden") do %>
                    <%= archived_answer.answer %>
                    <% if index == 0 %>
                      <small>(current)</small>
                    <% end %>
                    <%= link_to '[remove]', restaurant_a_la_minute_answer_path(@restaurant, archived_answer), :method => :delete, :class => 'remove_link' %>
                  <% end %>
                <% end %>
              </ul>
              
            </fieldset>

            
        <% end %>

        <%= button_tag "Change Answers", :class => 'positive' %>
      <% end %>
    </div>
  </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->

  <% content_for :javascript do %>
    <script type="text/javascript">
    //<![CDATA[
    jQuery(function($) {
      $('.archive').find('li a.remove_link').click(function(e) {
        e.preventDefault();
        var href = $(this).attr('href');
        $.post(href, {"_method": "delete"}, function() {
          $("a[href$=" + this.url + "]").closest("li").remove();
        });
      }).removeAttr("onclick");

      $(".show_all_link").toggle(function(e) {
        e.preventDefault();
        $(this).closest("div.a_la_minute_question").find(".archive li").removeClass("hidden");
        $(this).html("Hide past answers");
      }, function(e) {
        e.preventDefault();
        $(this).closest("div.a_la_minute_question").find(".archive li").addClass("hidden");
        $(this).html("Show past answers");
      });
    });
    //]]>
  </script>
  <% end %>