<% title "A La Minute Questions" %>
<div id="restaurant_profile_view" class="edit clear clearfix">

  <%= render 'restaurants/restaurant_editing_header' %>
  <div id="editing_restaurant">
    <div id="a_la_minute_questions">
      <h2>A la minute</h2>

      <% @questions.each do |question| %>
        <%=div_for question do -%>
          <h5><strong><%= h(question.question) %>?</strong></h5>

          <% answers = @answers[question.id] || [] %>
          <% current_answer = answers.first %>

          <p class="clearfix">
            <strong>Current Answer:</strong> <%= current_answer.present? ? current_answer.answer : 'Not Answered' %>
            <% if current_answer.present? %>
              <%= link_to "[edit]", edit_restaurant_a_la_minute_answer_url(@restaurant, current_answer) %>
            <% end %>
          </p>

          <p class="clearfix">
            <%= link_to "Add Answer", new_restaurant_a_la_minute_answer_url(:restaurant_id => @restaurant.id, :question_id => question.id), :class => 'button' %>
          </p>

          <% unless answers.empty? %>
            <%= link_to 'View past answers', "#a_la_minute_answers_#{question.id}", :class => 'show_all_link showit' %>
            <ul class="archive" id="a_la_minute_answers_<%= question.id %>">
              <% @restaurant.a_la_minute_answers.for_question(question).each_with_index do |archived_answer, index| %>
                <%= content_tag_for(:li, archived_answer, :class => "answer") do %>
                  <%= archived_answer.answer %>
                  <% if index == 0 %>
                    <small>(current)</small>
                  <% end %>
                  <%= link_to '[remove]', restaurant_a_la_minute_answer_path(@restaurant, archived_answer), :method => :delete, :class => 'remove_link', 
                      :id => "remove_answer_#{archived_answer.id}",
                      :confirm => "Are you sure you want to delete this answer? Any scheduled social posts will also be removed." %>
                  <%= link_to "[edit]", edit_restaurant_a_la_minute_answer_url(@restaurant, archived_answer), :class => 'remove_link' %>
                <% end %>
              <% end %>
            </ul>
          <% end %>

          <hr/>
        <% end %>
      <% end %>

    </div>
  </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->

<%= content_for :javascript do %>
<script type="text/javascript">
  jQuery(function($) {
    $(".show_all_link").toggle(function(e) {
      e.preventDefault();
      $(this).closest("div.a_la_minute_question").find(".archive li").removeClass("hidden");
      $(this).html("Hide past answers");
    }, function(e) {
      e.preventDefault();
      $(this).closest("div.a_la_minute_question").find(".archive li").addClass("hidden");
      $(this).html("Show past answers");
    });
  });
</script>
<% end %>
