<% title "A La Minute for #{@restaurant.name}", false %>

<div id="restaurant_profile_view">
    <%= render :partial => "restaurants/restaurant_header" %>

	<h2>A La Minute</h2>
	<p><%= link_to "See all archive", social_archive_restaurant_path(@restaurant) %></p>

    <% for answer in @answers -%>
    <% div_for answer do %>
        <h2><%= link_to answer.question, a_la_minute_answers_path(:question_id => answer.a_la_minute_question.id) %></h2>
        <p class="answer"><%= answer.answer %></p>
        <p><span class="datestamp"><%= "Posted #{answer.created_at.strftime("%D")}" %></span></p>
    <% end %>
    <% end -%>
</div>