<%= semantic_form_for [:admin, event], :html => { :multipart => true } do |f| %>
    <%= f.inputs :class => "plain" do %>
        <%= f.input :category, :as => "select", 
                               :label => "Calendar", 
                               :collection => Event::ADMIN_CATEGORIES %>
        <%= f.input :title %>
        <%= f.input :start_at, :label => "Start Date" %>
        <%= f.input :end_at, :label => "End Date" %>
        <%= f.input :location, :required => false, :hint => "Location appears in a dropdown for users to sort events per location. Locations should be entered as the closest Metro Area: Chicago, IL" %>
        <%= f.input :description %>
    <% end %>
    
    <%= f.fields_for :attachments do |child_form| -%>
        <p class="attach">Attach files</p>
        <p class="attachfield"><%= child_form.file_field :attachment %></p>
    <% end -%>
    
    <p>
      <%= button_tag "Save", :name => 'submit' %>
    </p>
<% end %>