<% div_for discussion, :class => 'inbox_message' do %>
  <div class="sender_avatar">
    <%= image_tag discussion.poster.avatar.url(:thumb) %>
  </div>

  <h4 class="message_title column">
    <%= link_to discussion.poster.name, discussion.poster %> started a discussion
  </h4>

  <p class="message_body"><%= link_to discussion.title, discussion %></p>

  <p class="meta date"><%= discussion.created_at.to_s(:message_meta) %></p>

  <p class="message-actions">
    <% link_to discussion, :class => 'replies' do %>
      <% if discussion.comments.present? %>
        <span class="unread_comments_count"><%= discussion.comments.size %></span> replies &raquo;
      <% else %>
        Go to message &raquo;
      <% end %>
    <% end %>
  </p>
<% end %>
