<%=div_for discussion, :class => css_classes_for_discussion(discussion) do %>
<header>
  <div class="sender_avatar">
    <%= image_tag discussion.poster.avatar.url(:thumb) %>
  </div>
  <h1><%= link_to discussion.poster.name, discussion.poster %> started a discussion</h1>
</header>

  <p class="message_body"><%= link_to discussion.title, discussion %></p>

  <p class="timestamp"><%= discussion.created_at.to_s(:message_meta) %></p>

  <p class="message-actions">
    <%= link_to discussion, :class => 'replies' do %>
      <% if discussion.comments.present? %>
        <span class="unread_comments_count"><%= discussion.comments.size %></span> replies &raquo;
      <% else %>
        Go to message &raquo;
      <% end %>
    <% end %>
  </p>

  <% unless archived_view? %>
    <%= link_to "<span>read</span>", read_discussion_path(discussion), :class => 'readit' %>
  <% end %>
<% end %>
