<% title @discussion.title, false %>

<%=div_for @discussion do %>
	<header class="clear">
		<h1><%= image_tag("bubble_large.png") %><%=h @discussion.title %></h1>
		<div class="avatar">
			<% if @discussion.poster.try(:avatar) %>
				<%= image_tag(@discussion.poster.avatar.url(:thumb)) %>
			<% end %>
		</div>
		<p class="who_when">From: <%= @discussion.poster.try(:name) %></p>
        <p class="who_when">To: <%= @discussion.users.map(&:name).to_sentence %></p>
        <p>Date: <%= @discussion.created_at.strftime("%B %e") %></p>
	</header>

	<article class="discussion_body">
		<%= simple_format @discussion.body %>
	</article>

  <% if @discussion.attachments.present? %>
    <p>Attached files:</p>
    <%= render @discussion.attachments %>
  <% end %>
<% end -%>

<%= render :partial => 'comments/list' %>
