<%= render :partial => 'email_header' %>

<p>Hello! </p>

<p><%=  @user.first_name+ ' ' +@user.last_name  %> wants to share their restaurant profile on Soapbox. </p> 

<p> A backstage pass to <%= @restaurant.name %>, Soapbox gives you real time updates on <%= @restaurant.name %> menu, news and updates of the day, and exclusive information you can customize to help you become a VIP!</p>

<p>Check out the <%=link_to @restaurant.name ,soapbox_restaurant_url(@restaurant) %> restaurant profile!</p>

<p> <a href="<%= new_invitation_url %>" > Sign Up</a> and start leveling up your dining experience!</p>


<!-- partial of restaurant side bar closed -->


<%= render :partial => 'email_footer' %>

