<% title = @message.email_title -%>
<%= render :partial => 'email_header' %>

 <h3 id="messagetype" style="color: #bbb; font-size: 11px; font-weight: normal; letter-spacing: 2px; line-height: 14px; margin: 0 0 13px; text-transform: uppercase;"><%= title %></h3>
  <h1 id="salutation" style="font-size: 20px; line-height: 26px; margin: 12px 0;">Hi <%= @recipient.first_name %>,</h1>

<p id="messagemessage" style="font-size: 14px;">
      <img src="http://spoonfeed.restaurantintelligenceagency.com/images/bubble_large.png" align="left" alt="" style="margin-bottom:30px;margin-right:10px;float:left">
      You've received a new <%= title %><%= " from #{@sender.name}" if @sender %>.
</p>
<p id="messagelink" style="clear: both; font-size: 16px;">
  <% if title == "Announcement" -%>
    <%= link_to "Read the Announcement &#187;", require_login_url, :style => "color: #cc6632; font-weight: bold; text-decoration: none;" %>
  <% else -%>
    <a href="<%= @message.respond_to?(:admin_message) ? admin_conversation_url(@message) : polymorphic_url(@message) %>" style="color: #cc6632; font-weight: bold; text-decoration: none;">Respond to the <%= title %> &#187;</a>
  <% end -%>
</p>
<%= render :partial => 'email_footer' %>
