<h2>Hi <%= @recipient.name_or_username %>,</h2>

<% if @sender %>
  <p><%= @sender.name %> has been busy on SpoonFeed. They just sent you a <%= @message.inbox_title %></p>
<% else %>
  <p>You've received a <%= @message.inbox_title %></p>
<% end %>

<p>Click the following link to view this message:</p>

<p><a href="<%= polymorphic_url(@message) %>"><%= polymorphic_url(@message) %></a></p>

<p>Note: If you have trouble clicking this link above, try copying it and pasting it into your browser's URL bar.</p>
