<%= render :partial => 'email_header' %>

<h3>Hello <%=@current_user.try(:name)%>,</h3>

<%#if @employee.restaurants.blank? %>
  <!-- Hello, <%#=@current_user %> </br> -->
  <p>Journalists are researching restaurant profiles on RIA every day. To connect with media and share your news with them for free, create a profile for your restaurant today!
  <br/><br/>
  <%=link_to "Create a profile",restaurants_url %> </p> 
 <hr />
<%# end %>

<% unless @specialty_names.blank? &&  @otm_keywords.blank? &&  @restaurant_features.blank? &&  @users.blank? %> 

  <p> Media are researching the following keywords on RIA. If you have any stories or menu items pertaining to these topics you can share them on RIA and we will let the media know!</p>
    
  <%unless @specialty_names.blank?%>
    <ul>
      <li>
        Personal Profile Specialties<br>
        <%= @specialty_names.uniq.map{|a| link_to a.name,edit_user_profile_url(@current_user)}.to_sentence(:last_word_connector => ' and ') %>
      </li>
    </ul>
  <%end%>
    

  <%unless @otm_keywords.blank? %>
    <ul>
      <li>On the Menu Keywords<br>
        <%= @otm_keywords.uniq.map{ |k| link_to k.name, menu_items_url(:keyword => k.name,:id=>k.id) }.to_sentence(:last_word_connector => ' and ') %>
      </li>
    </ul>
  <%end%>


  <%unless @restaurant_features.blank?%>
    <ul>
      <li>
        Restaurant features<br>
        <%= @restaurant_features.uniq.map{ |k| link_to k.name, feature_url(:id=>k.id) }.to_sentence(:last_word_connector => ' and ')  %>
      </li>
    </ul>
  <%end%>


  <hr />
<% end %> 


<%unless @a_la_minute_visitors.blank? %>

  <p>Once you create a restaurant profile, you can use our A la Minute feature to keep media  informed of your daily news.  </p>

  <p>The following media visited our A la Minute section yesterday.</p>

  <ul>
    <%@a_la_minute_visitors.each do |a_la_minute_visitor| %>
      <% unless a_la_minute_visitor.publication.blank? %>
    <li>
      <%= a_la_minute_visitor.publication %>        
    </li>
      <%else%>
    <li>Freelance</li>
      <%end%>
    <%end%>
  </ul>
  <hr />
<% end %>



<%= render :partial => 'email_footer' %>
