<%= render :partial => 'email_header' %>

<h3>Hello <%=@current_user.try(:name)%>,</h3>

<%#if @employee.restaurants.blank? %>
  <!-- Hello, <%#=@current_user %> </br> -->
  <p>Journalists are researching restaurant profiles on RIA every day. To connect with media and share your news with them for free, create a profile for your restaurant today! <%=link_to "create a profile",restaurants_url %> </p> 
 <hr />
<%# end %>

<% unless @specialty_names.blank? && @cuisine_names.blank? && @otm_keywords.blank? && @chapter_names.blank? && @restaurant_features.blank? %> 

  <p> Media are researching the following keywords. If you have any stories/menu items to share pertaining to these topics, now would be the time to share them! </p>
    
  <%unless @specialty_names.blank?%>
    <ul>
      <li>
        Personal Profile Specialties<br>
        <%= @specialty_names %>
      </li>
    </ul>
  <%end%>
    

  <%unless @otm_keywords.blank? %>
    <ul>
      <li>On the Menu Keywords<br>
        <%= @otm_keywords %>
      </li>
    </ul>
  <%end%>


  <%unless @restaurant_features.blank?%>
    <ul>
      <li>
        Restaurant features<br>
        <%= @restaurant_features %>
      </li>
    </ul>
  <%end%>


  <hr />
<% end %> 


<%unless @a_la_minute_visitors.blank? %>
<p>Media love trends and ALM is a killer way to make sure the media know you are making them. Use ALM to post your daily news like the killer pairing of the day or the newest wine you're excited about.</p>

  <ul>
    <%@a_la_minute_visitors.each do |a_la_minute_visitor| %>
      <% unless a_la_minute_visitor.publication.blank? %>
    <li>
      <%= a_la_minute_visitor.publication %>        
    </li>
      <%else%>
    <li>Freelance Writer</li>
      <%end%>
    <%end%>
  </ul>
<% end %>
<hr />


<%= render :partial => 'email_footer' %>