<%= render :partial => 'email_header' %>

<h3>Hello <%=@employee.try(:name)%>,</h3>
<% unless @sum.blank? %>
  <% if @sum == 1 %>
    <p> <%= @sum %>journalist is researching your restaurant profile and has requested you update it so they can write about you. </p>
  <% elsif @sum > 1   %>
  <p><%= @sum %>journalists are researching your restaurant profile and have requested you update it so they can write about you. </p>
  <% end %>
<% end %>

<% unless @employee_visitors.blank? %>
  <p>Your personal profile has been visited by the following media: </p>
  <ul>
    <% @employee_visitors.each do |employe_visitor| %>
      <li>
        <%= employe_visitor.name %>
      </li>
    <%end%>
  </ul>
  <hr/>
<% end %>

<% if false %> <!-- Breaking the execution for temparory -->
  <% unless @userrestaurantvisitor.blank? %>
    <p> You have following Diner visitors:</p>
    <ul>
      <%@userrestaurantvisitor.each do |urv| %>
        <li><%= urv.try(:first_name).try(:capitalize) %> <%= urv.try(:last_name).try(:capitalize) %> : <%= urv.try(:email) %></li>
      <%end%>
    </ul>
  <% end %>
  <hr />
<% end %>




<% unless @media_visitors.blank? %> 
  <p id="salutation"> The <b><%=@visitor_obj.restaurant.try(:name)%></b> restaurant profile has been visited by the following media: </p>
    <ul>
      <%@media_visitors.each do |media_visitor| %>
        <% unless media_visitor.publication.blank? %>
          <li>
            <%= media_visitor.publication %>  
          </li>
        <%else%>
          <li>Freelance</li>
        <%end%>
      <%end%>
    </ul>
  <hr />
<%end%>



<% unless @specialty_names.blank? &&  @otm_keywords.blank? &&  @restaurant_features.blank? %> 

  <p> Media are researching the following keywords on RIA. If you have any stories or menu items pertaining to these topics you can share them on RIA and we will let the media know!</p>
   
  <%unless @specialty_names.blank?%>
    Personal Profile Specialties<br>
      <%= @specialty_names.compact.uniq.map{|a| link_to a.name,edit_user_profile_url(@current_user)}.to_sentence(:last_word_connector => ' and ') %>
      <br>
  <%end%>
   


  <%unless @otm_keywords.blank? %>
    On the Menu Keywords<br>
      <%= @otm_keywords.compact.uniq.map{ |k| link_to k.name, menu_items_url(:keyword => k.name,:id=>k.id) }.to_sentence(:last_word_connector => ' and ') %><br>
  <%end%>


  <%if @otm_keyword_notification.present? %>
    <%@otm_keyword_notification.each do |otm_keyword_notification| %>
      <%= otm_keyword_notification.name %><br>
    <%end%>
  <% end %>

  <%unless @restaurant_features.blank?%>
      Restaurant features<br>
      <%= @restaurant_features.compact.uniq.map{ |k| link_to k.name, bulk_edit_restaurant_feature_url(@visitor_obj.restaurant,1) }.to_sentence(:last_word_connector => ' and ') %>
  <%end%>
 <hr />
<% end %> 

<p>Keep the media engaged! If you update your profile, we'll let these media folks know! Here's a few ideas:</p>
<ul>  
  
  <% unless @menu_item_message.blank?%>
    <li>
      <p>
        <%=link_to "Menu Items",new_restaurant_menu_item_url(@visitor_obj.restaurant)%><br/>
        <%= @menu_item_message %>
      </p>
    </li>
  <% end %>

  <% unless @a_la_minute_message.blank?%>
    <li>
      <p>
        <%=link_to"A La Minute",bulk_edit_restaurant_a_la_minute_answers_url(@visitor_obj.restaurant)%> <br/>
        <%= @a_la_minute_message %>
      </p>
    </li> 
  <% end %>

  <% unless @newsfeed_message.blank? %>
    <li>
      <p>
        <%=link_to "Newsfeed",restaurant_promotions_url(@visitor_obj.restaurant)%><br/>
        <%= @newsfeed_message %>
      </p>
    </li>
  <% end %>
</ul>

<%= render :partial => 'email_footer' ,:locals => {:user => @current_user} %>