<%= render :partial => 'email_header' %>

<h3>Hello <%=@employee.try(:name)%>,</h3>

<% unless @employee_visitors.blank? %>
  <p>Your personal profile has been visited by the following media: </p>
  <ul>
    <% @employee_visitors.each do |employe_visitor| %>
      <li>
        <%= employe_visitor.name %>
      </li>
    <%end%>
  </ul>
  <hr/>
<% end %>



<% if false %> <!-- Breaking the execution for temparory -->
  <% unless @userrestaurantvisitor.blank? %>
    <p> You have following Diner visitors:</p>
    <ul>
      <%@userrestaurantvisitor.each do |urv| %>
        <li><%= urv.try(:first_name).try(:capitalize) %> <%= urv.try(:last_name).try(:capitalize) %> : <%= urv.try(:email) %></li>
      <%end%>
    </ul>
  <% end %>
  <hr />
<% end %>




<% unless @media_visitors.blank? %> 
  <p id="salutation"> The <b><%=@visitor_obj.restaurant.try(:name)%></b> restaurant profile has been visited by the following media: </p>
    <ul>
      <%@media_visitors.each do |media_visitor| %>
        <% unless media_visitor.publication.blank? %>
          <li>
            <%= media_visitor.publication %>  
          </li>
        <%else%>
          <li>Freelance</li>
        <%end%>
      <%end%>
    </ul>
  <hr />
<%end%>

<%if @employee.restaurants.blank? %>
  Hello, <%=current_user %> </br>
  <p>Journalists are researching restaurant profiles on RIA every day. To connect with media and share your news with them for free, create a profile for your restaurant today! <%=link_to "create a profile",restaurants_url %> </p> 
 <hr />
<% end %>



<% unless @specialty_names.blank? &&  @otm_keywords.blank? &&  @restaurant_features.blank? && @users.blank? %> 

  <p> Media are researching the following keywords. If you have any stories/menu items to share pertaining to these topics, now would be the time to share them! </p>
    
  <%unless @specialty_names.blank?%>
    <ul>
      <li>
        Personal Profile Specialties <br>
        <%= link_to @specialty_names,edit_user_profile_url(@current_user) %> <br>
      </li>
    </ul>
  <%end%>
    

  <%unless @otm_keywords.blank? %>
    <ul>
      <li>
      On the Menu Keywords <br>
      <%= link_to @otm_keywords,new_restaurant_menu_item_url(@visitor_obj) %> <br>
      </li>
    </ul>
  <%end%>


  <%unless @restaurant_features.blank?%>
    <ul>
      <li>
        Restaurant features <br>
        <%= link_to @restaurant_features,bulk_edit_restaurant_feature_url(@visitor_obj.restaurant,1) %> <br>
      </li>
    </ul>
  <%end%>

    <%unless @users.blank?%>
    <ul>
      <li>
        Users whose profile is visited <br>
        <%= @users %>
      </li>
    </ul>
  <%end%>


  <hr />
<% end %> 


<%unless @a_la_minute_visitors.blank? %>
  <p>Media love trends and ALM is a killer way to make sure the media know you are making them. Use ALM to post your daily news like the killer pairing of the day or the newest wine you're excited about.</p>
  <!-- this post was removed as per client req -->
  <!--<p>Media need news everyday. A La Minute is designed to share the news you make everyday. Log onto <%#=link_to "A La Minute",bulk_edit_restaurant_a_la_minute_answers_url(@visitor_obj)%> today and stay in front of the media.</p>-->

  <ul>
    <%@a_la_minute_visitors.each do |a_la_minute_visitor| %>
      <% unless a_la_minute_visitor.publication.blank? %>
    <li>
      <%= a_la_minute_visitor.publication %>        
    </li>
      <%else%>
    <li>Freelance</li>
      <%end%>
    <%end%>
  </ul>
  <hr />
<% end %>


<!--   <%#unless @users.blank? %>
    <p>The following users that profile has been visited: <p>
    <ul>
      <li>
        <%#= @users %>
      </li>
    </ul>
  <%#end%>
 -->




<p>Keep the media engaged! If you update your profile, we'll let these media folks know! Here's a few ideas:</p>
<ul>  
  <% unless @menu_message.blank?%>
    <li>
      <p>
        <%=link_to "Menus",bulk_edit_restaurant_menus_url(@visitor_obj.restaurant)%><br/>
        <%= @menu_message %>
      </p>
    </li> 
  <% end %>

  <% unless @fact_message.blank?%>
    <li>
      <p>
        <%=link_to("Fact Sheet",edit_restaurant_fact_sheet_url(@visitor_obj.restaurant))%><br/>
        <%= @fact_message %>
      </p>  
    </li>
  <% end %>



  <% unless @menu_item_message.blank?%>
    <li>
      <p>
        <%=link_to "Menu Items",new_restaurant_menu_item_url(@visitor_obj.restaurant)%><br/>
        <%= @menu_item_message %>
      </p>
    </li>
  <% end %>

  <% unless @a_la_minute_message.blank?%>
    <li>
      <p>
        <%=link_to"A La Minute",bulk_edit_restaurant_a_la_minute_answers_url(@visitor_obj.restaurant)%> <br/>
        <%= @a_la_minute_message %>
      </p>
    </li> 
  <% end %>

  <% unless @newsfeed_message.blank? %>
    <li>
      <p>
        <%=link_to "Newsfeed",restaurant_promotions_url(@visitor_obj.restaurant)%><br/>
        <%= @newsfeed_message %>
      </p>
    </li>
  <% end %>
</ul>

<%= render :partial => 'email_footer' %>