<%= render :partial => 'email_header' %>

<h3>Hello <%=@name%></h3>

<p>
	We apologize but it looks like something went wrong with your payment for Spoonfeed by RIA!  We are sure its just a temporary issue and will attempt to process again.  Please verify your information at this link:
	<a href="<%=@link%>"><%=@link%></a>

</p>

<br />
Thank you!<br />

The RIA Team

<%= render :partial => 'email_footer' %>
