<%= render :partial => 'email_header' %>

<h3>Hello <%=@visitor_obj.restaurant.manager.try(:name)%>!</h3>

<p> You have following visitors.</p>

<h1 id="salutation" style="font-size: 20px; line-height: 26px; margin: 12px 0;"> Restaurant Name <%=@visitor_obj.restaurant.try(:name)%>,</h1>
<ul>
<%@userrestaurantvisitor.each do |urv| %>
  	  <li><%=link_to urv.user.try(:name),soapbox_profile_url(urv.user.username)%></li>
<%end%>
</ul>
<%= render :partial => 'email_footer' %>