<% div_for comment, :class => 'clearfix' do %>
<div class="avatar">
	<%= image_tag(comment.user.try(:avatar).try(:url, :thumb)) %>
</div>
<div class="content">
	<p class="meta">
	On <%= comment.created_at.try(:strftime, "%b %e, %Y at %l:%M %p") %>
	<%= comment.user.try(:name_or_username) %> said:
	</p>

  <%= simple_format comment.comment %>

	<% if !comment.attachments.blank? %>
		Attached files:
		<% for attachment in comment.attachments %>
		<%= attachment_link(attachment, :target => '_blank') %>
		<% end %>
	<% end %>

</div>
<% end %>
