<% dashboard ||= false %>
<% if dashboard == true -%>
<%- topic = comment.commentable -%>
<%=div_for topic do %>
    <div class="activity_header">
        <h3><%= topic.inbox_title %></h3>
        <p class="topic"><%= topic.try(:display_message).present? ? topic.display_message : topic.message %></p>
    </div>
    <%=div_for comment do %>
        <%= render :partial => 'users/identity', :locals => { :user => comment.user } %>
        <div class="user_comment"><%= comment.comment %>
        <%# if comment.comment.size > 200 -%>
          <%#= link_to "more &raquo;", topic.is_a?(AdminDiscussion) ? trend_question_path(topic.discussionable, :anchor => "admin_discussion_#{topic.id}") : profile_path(comment.user.username, :anchor => "question") %>
        <%#- end %></div>
    <% end %>
<% end %>

<% else -%>

<%=div_for comment, :class => 'clearfix' do %>
    <div class="avatar">
        <%= image_tag(comment.user.try(:avatar).try(:url, :thumb)) %>
    </div>
    <div class="content">
        <p class="meta">
            On <%= comment.created_at.try(:strftime, "%b %e, %Y at %l:%M %p") %>
            <%= comment.user.try(:name_or_username) unless comment.user.media? %><%= title_and_restaurant_name_for(comment.commentable, comment.user) %>said:
        </p>

        <%= simple_format comment.comment %>

        <% if !comment.attachments.blank? %>
        <h3 class="attachments-header">Attached files:</h3>
        <%= render comment.attachments %>
        <% end %>

        <% if comment.editable_by?(current_user) %>
        <div class="clear" style="float: right">
            <%= link_to "Edit", path_for_comment_edit(comment.commentable, comment), :class => "button utility round" %>
            <%= link_to "Delete", path_for_comment_delete(comment.commentable, comment), :method => "delete", :class => "button utility round" %>
        </div>
        <% end %>
    </div>
<% end %>

<% end -%>