<% form_for @comment_resource, :html => { :multipart => true } do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :user_id %>
<p>
	<%= f.label :comment %>
	<%= f.text_area :comment, :style => 'height:auto', :rows => 4 %>
</p>

<% f.fields_for :attachments do |child_form| -%>
  <h3 class="attachments-header">Attach files</h3>
	<p class="attachfield"><%= child_form.file_field :attachment %></p>
<% end -%>

<p class="clearfix"><%= button_tag "Submit", :class => 'submit' %></p>
<% end %>