<div id="status_update" class="box clearfix">
  <h3>Update Your Status</h3>
<% form_for (@status ||= Status.new), :url => user_statuses_path(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :message, "Status", :class => 'hidden' %>
    <%= f.text_field :message, :size => '100', :class => 'status_message title' %>
    <% if current_user.twitter_authorized? %>
    <fieldset class="checkbox_twitter round">
      <%= f.check_box :queue_for_social_media, :class => 'checkbox' %>      
      <%= f.label :queue_for_social_media, "Also post to Twitter?" %>
    </fieldset>
    <% end %>

    <%= button_tag "Post", :class => 'positive' %>
  </p>
<% end %>
</div>