<%= form_for (@status ||= current_user.statuses.build), :url => user_statuses_path(current_user) do |f| %>
  <%= f.error_messages %>
  <p class="clearfix">
    <%= f.label :message, "Status", :class => 'hidden' %>
    <%= f.text_field :message, :size => '100', :class => 'status_message title' %>
  </p>
  <p class="clear clearfix">
    <%= button_tag "Post", :class => 'status_button round' %>
      <span class="and_twitter">
        <% if current_user.twitter_authorized? -%>
          <%= f.check_box :queue_for_social_media, :class => 'checkbox' %>
          <%= f.label :queue_for_social_media, "Post to Twitter?" %>
        <% else %>
          <%= link_to "Setup Twitter to post there too!", new_twitter_authorization_url %>
        <% end -%>
        <% if current_facebook_user && current_user.facebook_authorized? -%>
          <%= f.check_box :queue_for_facebook, :class => 'checkbox' %>
          <%= f.label :queue_for_facebook, "Post to Facebook?" %>
        <% else %>
          <%= link_to "Setup Facebook to post there too!", fb_auth_user_path(current_user) %>
        <% end -%>
        <% if current_user.has_facebook_page? -%>
          <%= f.check_box :queue_for_facebook_page, :class => 'checkbox' %>
          <%= f.label :queue_for_facebook_page, "Post to Facebook fan page?" %>        
        <% end %>
      </span>
  </p>
<% end %>
