
<% form_for (@status ||= current_user.statuses.build), :url => user_statuses_path(current_user) do |f| %>
  <%= f.error_messages %>
  <p class="clearfix">
    <%= f.label :message, "Status", :class => 'hidden' %>
    <%= f.text_field :message, :size => '100', :class => 'status_message title' %>
  </p>
  <p class="clear clearfix">
    <%= button_tag "Post", :class => 'positive status_button' %>
    <% if current_user.twitter_authorized? -%>
      <%= f.check_box :queue_for_social_media, :class => 'checkbox' %>
      <%= f.label :queue_for_social_media, "Post to Twitter?" %>
    <% end -%>
  </p>
<% end %>
