<% title "#{@question.title} - #{@user.name} - Behind The Line", false %>
<%= content_for :facebook_meta do -%>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="http://soapbox.restaurantintelligenceagency.com/images/soapbox/logo-soapbox.png"/>
  <meta property="og:url" content="<%= soapbox_user_profile_question_url(@user, @question) %>"/>
<% end -%>
<%= content_for(:fb_description, "#{@user.name} says: #{@question.title} #{truncate(@primary_answer.answer, :length => 100)}" +'  '+ "  via @SoapboxHQ" ) %>

<h1 id="btl-title" class="btl"><%= link_to "<span class=\"btl-art\">Behind the Line:</span> <span class=\"name\">#{@user.name}</span>", soapbox_profile_path(@user.username) %></h1>

<h2 id="topic_title">Topic: <%= @question.chapter.topic.title %></h2>

<div id="btl_answers">
  <h3><%= @question.chapter.title %></h3>

  <h4><%= @question.title %></h4>

  <%=div_for(@primary_answer) do %>
  <div class="user_answer">
      <%= render :partial => "users/identity", :locals => { :user => @primary_answer.user } if @primary_answer.user %>
      <div class="user_answer">
          <%= @primary_answer.answer %>
      </div>
  </div>
  <% end %>
  <div class="clear">&nbsp;</div>
  <div class="menu_item"> 
  <!-- Likes and Tweets BEGIN -->
    <div class="sharing sharing-new">
      <script type="text/javascript">var switchTo5x=true;</script>
      <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
      <script type="text/javascript">stLight.options({publisher: "041a7a0d-06a5-45e5-9455-9e9043faf823"}); </script>
      <script type="text/javascript">var NREUMQ=[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
        <span class='st_fbrec_large' displayText='Facebook Recommend'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'  st_via='SoapboxHQ'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_email_large' displayText='Email' st_via='SoapboxHQ'></span>
        <span class='st_googleplus_large' displayText='google plus'></span>
        <span class="st_stumbleupon_large" displayText='stumbleupon' ></span>
        <span class="st_digg_large" displayText='stumbleupon' ></span>
    </div>
  </div>
  <!-- Likes and Tweets END -->
  <div class="clear">&nbsp;</div>
  <% unless @user.completed_setup? && @user.primary_restaurant? && @user.primary_restaurant.premium_account? && @user.linkable_profile? %>
    <% if @answers.present? -%>
        <h3 id="more-answers">Answers from other users</h3>

        <% for answer in @answers[0..4] %>
          <%=div_for(answer) do %>
            <%= render :partial => "soapbox/profile_questions/answer", :locals => { :answer => answer } %>
          <% end %>
          <div class="clear">&nbsp;</div>
        <% end %>

        <p><span class="timestamp">Last updated: <%= @answers.first.try(:updated_at).try(:strftime, "%b %e %Y") %></span></p>
    <% end -%> 
  <% end -%>
</div><!-- #btl_answers -->
<% if @user.completed_setup? && @user.primary_restaurant? && @user.primary_restaurant.premium_account? && @user.linkable_profile? %>
    <% unless @promotions.blank?%>
          <div class="clear">&nbsp;</div>
          <header class="page-title">
              <h1>News Feed</h1>
          </header>
          <div id="answers">
            <% for promotion in @promotions -%>
                <%=div_for(promotion) do %>
                    <%= render :partial => 'soapbox/promotions/promotion', :locals => { :promotion => promotion } %>  
                <% end -%>
            <% end -%>
          </div>
    <% end -%>

    <div class="clear"> </div>
    <% unless @user_answers.blank?%>
        <header class="page-title">
            <h1>A La Minute</h1>
        </header>

        <h3 id="more-answers"></h3>
        <div id="answers">
         <% for answer in @user_answers -%>
                <%= render :partial => 'soapbox/a_la_minute_questions/answer_list',:locals => { :answer => answer } %>
        <% end -%>
        </div>
    <% end -%>

    <div class="clear"> </div>
    <% unless @menu_items.blank?%>
          <header class="page-title">
              <h1>Recently posted to On The Menu</h1>
          </header>
          <div id="answers">
              <% for menu_item in @menu_items -%>
                <%= render :partial => "soapbox/menu_items/menu_item", :locals => { :menu_item => menu_item } %>
              <% end -%>
           </div>   
    <%end%>
<%end%>
<% unless @user.completed_setup? && @user.primary_restaurant? && @user.primary_restaurant.premium_account? && @user.linkable_profile? %>
    <%= content_for :sidebar do -%>
    <%= render :partial => "soapbox/profile_questions/sidebar" %>
    <% end -%>
 <% else  %>
    <%= content_for :sidebar do -%>
      <%= render :partial => 'soapbox/restaurant_sidebar', :locals => { :restaurant => @user.primary_employment.restaurant } %>
    <% end -%>
<% end -%>