<%= content_tag_for :li, nonculinary_job, :class => cycle('odd','even') do %>
  <span class="extended-title"><%= nonculinary_job.title %></span>
  <%= nonculinary_job.company %>, 
  <%= nonculinary_job.city %> <%= nonculinary_job.state %> <%= nonculinary_job.country %><br/>
  <% if nonculinary_job.date_ended %>
  <%= nonculinary_job.date_started.strftime("%m/%d/%y") %> - <%= nonculinary_job.date_ended.strftime("%m/%d/%y") %>
  <% else %>
  <%= nonculinary_job.date_started.strftime("%Y") %>
  <% end %>
  <%= simple_format("Responsibilities: #{nonculinary_job.responsibilities}") %>
  <%= link_to "Edit", edit_nonculinary_job_path(nonculinary_job), :class => 'colorbox' %>
  <%= link_to "Destroy", nonculinary_job_path(nonculinary_job), { :method => :delete }, { :class => 'delete' } %>
<% end %>
