<div class="jumbo_content" style="background: url(<%= hq_slide.image.url(:spoonfeed) %>) no-repeat;">
	<h1><%= hq_slide.title %></h1>
	<p><%= hq_slide.excerpt %>&hellip;&nbsp;<%= link_to "learn&nbsp;more&nbsp;&#187;", hq_slide.link %></p>
	<p class="photo_credit"><%= hq_slide.photo_credit %></p>
</div>