<% semantic_form_for @qotd do |f| %>

  <div class="span-12">
    <% f.inputs do %>
      <div class="form_basics">
        <%= f.input :message %>
      </div>

      <% if action_name == 'new' %>
        <h3>Message Recipients:</h3>
        <div id="employment_list" class="clearfix">
          <%= render :partial => 'shared/employment_list' %>
        </div>
      <% end %>

      <%= f.input :scheduled_at, :label => 'Post this question on:' %>
    <% end %>
    <p><%= button_tag "Submit" %></p>
  </div>
  <div class="span-6 last">
    <% if action_name == 'new' %>
      <%= render :partial => 'shared/employment_criteria', :locals => {:f => f} %>
    <% end %>
  </div>
<% end %>
