<% button_text = @user.new_record? ? "Signup" : "Save" -%>
<% url = @user.new_record? ? mediafeed_media_users_path : mediafeed_media_user_path -%>
<%= semantic_form_for @user, :url => url, :html => { :id => 'mediafeed_user' } do |f| %>
<%= error_messages_for :media_user %>
<%= f.inputs :name => 'Your Information', :class => 'editing basics' do %>
	<%= f.input :first_name, :input_html => {:class => 'span-3'}, :wrapper_html => {:class => 'span-3'} %>
	<%= f.input :last_name, :input_html => {:class => 'span-4'}, :wrapper_html => {:class => 'span-4'} %>
	<%= f.input :email, :wrapper_html => {:class => 'clear'},:input_html=>{:size=>55} %>
	<%= f.input :publication, :label => "Affiliated Publication", :hint => "Please note: your response rate will increase exponentially if you include a publication. If none is listed, chefs will assume you are a <em>diner</em> and not a <em>journalist</em>. If you are <em>freelance</em>, please include your primary publication(s). ".html_safe %>
    <%=render :partial =>'mediafeed/media_users/media_sign_up' ,:locals =>{:f=>f} if current_user %>

<%end%>
<%= f.inputs :name => 'Desired Login Information', :class => 'editing basics' do %>
	<%= f.input :username, :required => true, :input_html => {:autocomplete => "off"} %>
	<%= f.input :password, :required => true, :input_html => {:autocomplete => "off"} %>
	<%= f.input :password_confirmation, :required => true, :input_html => {:autocomplete => "off"} %>
	<div id="requirement_errors"></div>
	<p>
  	<%= button_tag button_text, :class => 'positive' %>
  </p>
<% end %>


<% end %>

