<%= f.inputs :name => 'Media Subscriptions', :class => 'basics' do %>
	<p>There are two ways to receive information from RIA:</p>
	<li class="media-signup">
			Subscribe to press information only, signing up for materials by location and type of news. Selecting this type of information will subscribe you to receiving press information only as it is posted by our members.
	</li>
	<li class="media-signup">
			Subscribe to daily digests for groups of restaurants, signing up for by location. Selecting this type of information will subscribe you to receiving a digest of all information each morning. You can elect to receive this information for all restaurants, for restaurants in a given region or metro area/s, or for your own selection of restaurants.
	</li>

	<%= f.inputs do %>
        <h3> Newsfeed Options </h3>
        <%= f.input :newsfeed_writer,:label=>false, :as => :select,      :collection => NewsfeedWriter.all ,:include_blank => "Are you a.."%>            
        <div id="newsfeed_option_national" class="<%=get_css_class(@user.newsfeed_writer.try(:id),1)%>">
            <!-- <h3>
                As a national writer, I would like to receive Newsfeed items from all metro areas.
            </h3> -->
            <%#= f.input :newsfeed_promotion_types,:label=>false, :as => :check_boxes,:collection => @promotionTypes %>

            <li id="newsfeed_option_national_input">
                <fieldset>
                    <legend class="label"> 
                        <label for="user_metropolitan_areas">As a national writer, I would like to receive Newsfeed items from all metro areas. Please select which types of news you would like to receive.</label>
                    </legend>                     
                 </fieldset>
            </li>
        </div>

        <div id="newsfeed_option_regional" class="<%=get_css_class(@user.newsfeed_writer.try(:id),2)%>">
            <li>
                <fieldset>
                    <legend class="label"> 
                        <label for="user_metropolitan_areas">As a regional writer, I would like to receive Newsfeed items from the following regions:</label>
                    </legend>                     
                </fieldset>
                <ol id="newsfeed_james_beard_regions_input">
                    <% id = Time.now.to_i %>
                    <% JamesBeardRegion.all.each_with_index do |jbr,id| %>
                        <li>
                            <label for="promotion_types_writers_attribute_id<%=jbr.id%>_<%=id%>">
                            <% checked = @newsfeed_regional_areas.map(&:james_beard_region_id).include?(jbr.id) %>
                            <%= hidden_field_tag "newsfeed_writer[regional_writers_attributes][#{jbr.id}][user_id]" ,@user.id,:disabled=>!checked %>                
                            <%= check_box_tag "newsfeed_writer[regional_writers_attributes][#{jbr.id}][james_beard_region_id]",jbr.id,checked,:id=> "promotion_types_writers_attribute_id#{jbr.id}_#{id}"%>
                             <%=jbr.name%>
                                    
                            </label>
                        </li>
                    <% end %>
                </ol>
                <fieldset>
                    <legend class="label"> 
                        <label for="user_metropolitan_areas">Please select which types of news you would like to receive:</label>
                    </legend>                     
                </fieldset>
            </li> 
        </div>

        <div id="newsfeed_option_locals" class="<%=get_css_class(@user.newsfeed_writer.try(:id),3)%>"> 
           <li id="user_metropolitan_areas_input">
                <fieldset>
                    <legend class="label"> 
                        <label for="user_metropolitan_areas">As a local writer, I would like to receive Newsfeed items from the following metro areas</label>
                    </legend>                     
                 </fieldset>
                 <p class="string optional">
                    <%= text_field_tag "search_state_by_name", "", :name => "search_state_by_name" ,:placeholder=>"AL, Type in the abbreviation for your state"%> 
                    <%=hidden_field_tag "user_id", "", :name => "user_id", :value => "#{@user.id}" %>
                </p>
                <ol>
                  <div id="newsfeed_metropolitan_area_search">
                   <% id = Time.now.to_i %>                
                    <% MetropolitanArea.find_all_by_id(@newsfeed_metropolitan_areas.map(&:metropolitan_area_id)).each_with_index do |city,id| %>
                        <li>
                            <label for="user_metropolitan_area_ids_<%=city.id%>_<%=id%>">
                            <%= hidden_field_tag "newsfeed_writer[metropolitan_areas_writers_attributes][#{id}][user_id]" ,@user.id %>                
                            <%= check_box_tag "newsfeed_writer[metropolitan_areas_writers_attributes][#{id}][metropolitan_area_id]",city.id,'true',:id=> "user_metropolitan_area_ids_#{city.id}_#{id}"%>
                            <%=city.state%>: <%=city.name%>
                                    
                            </label>
                        </li>
                    <% end %>
                  </div>
                  <div id="loader"></div>   
                </ol>
                <fieldset>
                    <legend class="label"> 
                        <label for="user_metropolitan_areas">Please select which types of news you would like to receive:</label>
                    </legend>                     
                </fieldset>

            </li>

            <div id="metropolitan_areas_state_cities"></div>

        </div>  
        <div class="clear"> </div>
        <div >
            <%= f.inputs :name => nil do %>
                <%= f.input :promotion_types,:label=>false, :as => :check_boxes ,:collection=>@promotionTypes%>
            <% end %>
         </div>   
        <div class="clear"> </div>
        <!-- <h3>Location(s) that I write for:</h3>
        <%#= f.input :national, :label => 'I would like to receive a national newsletter to keep abreast of national trends' %> -->
        <%#= f.input :metropolitan_areas, :as => :check_boxes, :label => 'I would like to receive local information for the following metro areas (check all that apply):' %>
        <h3> Digest Options </h3>
            <%= f.input :digest_writer, :as => :select,:label=>false, :include_blank => "Are you a.."%>
            
        <div id="digest_option_national" class="display-none">                 
        </div>   

        <div id="digest_option_regional" class="<%=get_css_class(@user.digest_writer.try(:id),2)%>"> 
            <fieldset>
                <legend class="label"> 
                    <label for="user_metropolitan_areas">As a regional writer, I would like to receive Newsfeed items from the following regions:</label>
                </legend>                     
            </fieldset>
            <ol id="digest_james_beard_regions_input">
                <% id = Time.now.to_i %>
                <% JamesBeardRegion.all.each_with_index do |jbr,id| %>
                    <li>
                        <label for="digest_promotion_types_writers_attribute_id<%=jbr.id%>_<%=id%>">
                        <% checked = @digest_regional_areas.map(&:james_beard_region_id).include?(jbr.id) %>
                        <%= hidden_field_tag "digest_writer[regional_writers_attributes][#{jbr.id}][user_id]" ,@user.id,:disabled=>!checked %>                
                        <%= check_box_tag "digest_writer[regional_writers_attributes][#{jbr.id}][james_beard_region_id]",jbr.id,checked,:id=> "digest_promotion_types_writers_attribute_id#{jbr.id}_#{id}"%>
                         <%=jbr.name%>
                                
                        </label>
                    </li>
                <% end %>

            </ol>
        </div>
        
        <div id="digest_option_locals" class="<%=get_css_class(@user.digest_writer.try(:id),3)%>"> 
           <li id="user_metropolitan_areas_input">
                <fieldset>
                    <legend class="label"> 
                        <label for="user_metropolitan_areas">As a local writer, I would like to receive Newsfeed items from the following metro areas</label>
                    </legend>                     
                 </fieldset>
                <p class="string optional">
                    <%= text_field_tag "search_digest_state_by_name", "", :name => "search_digest_state_by_name" ,:placeholder=>"AL, Type in the abbreviation for your state"%> 
                    <%=hidden_field_tag "user_id", "", :name => "user_id", :value => "#{@user.id}" %>
                </p>
                <ol>
                  <div id="digest_metropolitan_area_search">
                   <% id = Time.now.to_i %>                
                    <% MetropolitanArea.find_all_by_id(@digest_metropolitan_areas.map(&:metropolitan_area_id)).each_with_index do |city,id| %>
                        <li>
                            <label for="digest_user_metropolitan_area_ids_<%=city.id%>_<%=id%>">
                            <%= hidden_field_tag "digest_writer[metropolitan_areas_writers_attributes][#{id}][user_id]" ,@user.id %>             
                            <%= check_box_tag "digest_writer[metropolitan_areas_writers_attributes][#{id}][metropolitan_area_id]",city.id,'true',:id=> "digest_user_metropolitan_area_ids_#{city.id}_#{id}"%>
                            <%=city.state%>: <%=city.name%> 
                            </label>
                        </li>
                    <% end %>
                  </div>
                  <div id="digest_loader"></div>   
                </ol> 
            </li>
            <div id="digest_metropolitan_areas_state_cities">
            </div>
        </div>  
    <% end %>
<% end %>