<% title "Media User" %>


  <p>
    <strong>Username:</strong>
    <%=h @media_user.username %>
  </p>
  <p>
    <strong>Email:</strong>
    <%=h @media_user.email %>
  </p>
  <p>
    <strong>First Name:</strong>
    <%=h @media_user.first_name %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%=h @media_user.last_name %>
  </p>
  <p>
    <strong>Password:</strong>
    <%=h @media_user.password %>
  </p>
  <p>
    <strong>Password Confirmation:</strong>
    <%=h @media_user.password_confirmation %>
  </p>

  <p>
    <%= link_to "Edit", edit_media_user_path(@media_user) %> |
    <%= link_to "Destroy", @media_user, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "View All", media_users_path %>
  </p>
<%= render 'mediafeed/shared/mediafeed_sidebar' %>