<% semantic_form_for [:mediafeed, @media_request], :html => { :multipart => true } do |f| %>
    <% f.inputs :name => "General Info" do %>
      <p>Your name: <%= current_user.name %></p>
      <p>Email: <%= current_user.email %></p>
      <%= f.input :publication, :label => "For whom are you writing this?", :input_html => {:value => current_user.publication} %>
      <li>
        <label>
          <%= check_box_tag 'private' %> While all requests go directly to the email inbox of restaurant personnel, (no other media can see your request), I would like to make this media request anonymous
        </label>
      </li>
    <% end %>

    <%= render :partial => "shared/employment_criteria", :locals => { :f => f } %>

    <div id="employment_list">
        <%= render :partial => 'shared/employment_list' %>
    </div>

    <% f.inputs :name => 'Your Request' do %>

      <%= render 'subject_matters', :f => f %>

      <%= f.input :due_date, :label => "When do you need the response by?" %>
      <%= f.input :message, :input_html => {:rows => 5, :style => 'height:auto'} %>

      <% f.fields_for :attachments do |child_form| -%>
        <%= child_form.label :attachment, "Attachment(s)" %>
        <p class="attachfield"><%= child_form.file_field :attachment %></p>
      <% end -%>

    <% end %>

    <p><%= button_tag "Submit" %></p>
<% end %>
