<%= semantic_form_for [:mediafeed, @media_request], :html => { :multipart => true } do |f| %>
    <%= f.inputs :name => "About You", :class => 'editing basic' do %>
      <li>
        Your name: <%= current_user.name %> <br />
        Email: <%= current_user.email %>
      </li>
      <%#= f.input :publication, :label => "For whom are you writing this?", :input_html => {:value => current_user.publication} %>
      <li>
        <label>
          <%= check_box_tag 'private' %> I would like to make this media request anonymous.
          
        </label>
        <p class="hint">
          Note: all requests go directly to the inbox of restaurant personnel and no other media can see your request.
        </p>
      </li>
    <% end %>

    <%= render :partial => "shared/employment_criteria", :locals => { :f => f } %>

    <div id="employment_list" class="">
        <%= render :partial => 'shared/employment_list' if params[:search] %>
    </div>

    <%= f.inputs :name => 'Your Request', :class => 'editing' do %>
      <%= render :partial => 'subject_matters', :locals => { :f => f } %>

      <%= f.input :due_date, :label => "When do you need the response by?" %>
      <%= f.input :message, :input_html => {:rows => 5, :style => 'height:auto'} %>

      <% f.fields_for :attachments do |child_form| -%>
        <%= child_form.label :attachment, "Attachment(s)" %>
        <p class="attachfield"><%= child_form.file_field :attachment %></p>
      <% end -%>

      <p><%= button_tag "Submit" %></p>
    <% end %>
    
<% end %>
