<% if on_mediafeed %>
  <div id="read_messages">
<% end %>
<%=div_for @media_request, :class => 'clearfix box extended discussion thread', :id => "media_request_long" do %>
    <ul class="message_headers">
        <li>
            <h4><%= @media_request.subject_matter.try(:name) %> (Original request)</h4>
            Due by <%= @media_request.due_date.try(:to_s, :long_ordinal) %>
        </li>
    </ul>
	<p class="message">
	  <%= simple_format @media_request.message %>
	</p>
	<div class="fields">
		<%="#{formatted_fields(@media_request)}".html_safe%>
	</div>
	<ul class="responses">
	  <li class="sent_on">
		  <% if @media_request.sender == current_user %>
		    You sent this on
		  <% else %>
		    <%= @media_request.publication || @media_request.sender.publication %> sent this
		  <% end %>
		  <%= @media_request_discussion.present? ? "to #{@media_request_discussion.restaurant.try(:name)}" : "" %>
		  on <%= @media_request.created_at.try(:to_s, :sentence) %>
		</li>
	</ul>

	<% unless @media_request.try(:attachments).blank? %>
	<div class="attachments box">
		<h4>Attached files:</h4>
		<ul>
			<% for attachment in @media_request.attachments %>
			<li><%= attachment_link(attachment) %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

<% end -%>
<% if on_mediafeed %>
  </div>
<% end %>