<%=div_for media_request, :class => 'clearfix summary' do %>
	<p>To: <%= media_request.restaurants.map(&:name).try(:to_sentence) %></p>
	<p>Due by <%= media_request.due_date.try(:to_s, :long_ordinal) %></p>
	<p>Sent: <%= media_request.created_at.to_s(:sentence) %></p>
	<p class="message"><%= truncate(media_request.message, :length => 100) %></p>

	<ul class="responses">
	<% if media_request.reply_count > 0 %>
		<% for discussion in media_request.discussions_with_comments %>
			<% if comment = discussion.comments.not_user(current_user).last  %>
			<li class="response">
				<%= link_to last_comment_and_date_span(comment), discussion, :title => "Discussion with #{discussion.restaurant.try(:name)}"  %>
			</li>
			<% end -%>
		<% end %>
	<% else %>
		<li class="noone">No one has responded yet</li>
	<% end %>
	</ul>
<% end # div -%>