<% title "Media Requests" %>

	<h3><%= @media_requests_by_type.size %> Media Requests</h3>

	<% @media_requests_by_type.each do |media_request| %>
		<% div_for media_request, :class => 'clearfix summary' do %>
			<p>
				From: <%= media_request.sender.name %>
				(<%= media_request.publication || media_request.sender.publication %>)
			</p>
			<p>To: <%= media_request.recipients.map(&:employee_name).uniq.try(:to_sentence) %></p>
			<p>Due by <%= media_request.due_date.try(:to_s, :long_ordinal) %></p>
			<p>Sent: <%= media_request.created_at.to_s(:sentence) %></p>

			<p class="message"><%= truncate(media_request.message, :length => 100) %></p>

			<ul class="responses">
			<% if media_request.reply_count > 0 %>
				<% for conversation in media_request.conversations_with_comments %>
					<% if comment = conversation.comments.not_user(current_user).last %>
					<li class="response">
						<%= last_comment_and_date_span(comment) %>
					</li>
					<% end -%>
				<% end %>
			<% else %>
				<li class="noone">No one has responded yet</li>
			<% end %>
			</ul>
		<% end # div -%>
	<% end %>