<div id="front-burner-comments" class="comments">
    <% if @comments.blank? || message.is_a?(ContentRequest) %>
      <%= render @comments %>
      <%= semantic_form_for @comment_resource, :html => { :multipart => true } do |f| %>
        <%= f.inputs do %>
            <% if current_user.admin? -%>
              <% if @admin_discussion.present? -%>
                <%= f.input :user_id, :as => :select, :collection => @admin_discussion.employees %>
              <% else -%>
                <%= f.input :user_id, :as => :hidden, :value => @discussion.employee.id %>
              <% end -%>
            <% end -%>
            <%= f.input :comment, :label => 'Post', :input_html => { :rows => 8 }, :hint => soapbox_notice(message) %>
            <div id="loading-wait" style="display: none">
              <%= image_tag "ajax-loader.gif" %>
              <p>Please wait while we save your comment</p>
            </div>
            <% if @discussionable.respond_to?(:soapbox_entry) && @discussionable.soapbox_entry.try(:published?) %>
              <p class="clear clearfix">
                <span class="and_twitter">
                  <% if current_facebook_user && current_user.facebook_authorized? -%>
                    <%= f.input :post_to_facebook, :as => :boolean, :class => 'checkbox', :label => "Post to Facebook?", :selected => true %>
                  <% else %>
                    <%= link_to "Use Spoonfeed to build your brand. Set up Facebook now.", fb_auth_user_path(current_user) %>
                  <% end -%>
                </span>
              </p>
           <% end %>
            <%= button_tag "Send", :class => 'submit button' %></p>
        <% end %>
      <% end %>
    <% else %>
      <%= render @comments %>     
      <% if @discussionable.respond_to?(:soapbox_entry) && @discussionable.soapbox_entry.try(:published?) %>
        <%  answer =  @comments.last %>
        <%= render(:partial => "shared/facebook_dialog",
                   :locals => { :caption => "Check out more about \"#{@discussionable.display_message}\"", 
                                :message => answer.comment,
                                :link    => soapbox_soapbox_entry_url(@discussionable.soapbox_entry)  } ) if params[:post_to_facebook] %>
      <% end %>
    <% end %>
</div>

