<div class="comments">
    <% if @comments.blank? || message.is_a?(ContentRequest) %>
      <%= render @comments %>
      <hr class="space"/>
      
      <% semantic_form_for @comment_resource, :html => { :multipart => true } do |f| %>
        <% f.inputs do %>
            <%= f.input :comment, :label => 'Post', :input_html => { :rows => 8 }, :hint => soapbox_notice(message) %>

            <% f.fields_for :attachments do |child_form| -%>
                <h3 class="attachments-header">Attach files</h3>
                <p class="attachfield"><%= child_form.file_field :attachment %></p>
            <% end -%>

            <p class="clearfix"><%= button_tag "Send", :class => 'submit' %></p>
        <% end %>

     <% end %>

    <% else %>
      <%= render @comments %>    
    <% end %>
</div>

