<% title @discussionable.subject, false %>

<%=div_for @discussionable, :class => 'discussion inbox_message individual' do %>
  <header>
  	<h1><%= title_link_for_message(@discussionable) %></h1>
    <p class="timestamp"><%= @discussionable.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %></p>
  </header>
  <section class="clear">
  	<h1><%=h @discussionable.try(:subject) %></h1>
	<p class="employee_name">
	    To: <%= @admin_discussion.restaurant.try(:name) %>
        (<%= @admin_discussion.employees.map(&:name_or_username).to_sentence %>)
    </p>
  </section>

  <div class="message-body">
      <%= auto_link(simple_format(@discussionable.body)) %>
  </div>
  
  <% if @discussionable.is_a?(TrendQuestion) %>
  <% if @discussionable.soapbox_entry.try(:published?) %>
  <div>
      This has been <%= link_to 'published on soapbox', soapbox_soapbox_entry_path(@discussionable.soapbox_entry), :popup => true %>.
  </div>
  <% elsif @discussionable.soapbox_entry.try(:upcoming?) %>
  <div>
      This will be published in <%= distance_of_time_in_words(Time.now, @discussionable.soapbox_entry.published_at) %>
  </div>
  <% end %>
  <% end %>

  <div class="message-comments clearfix">
    <% if @comments.present? %>
      <p class="comments_from">Comments from <%= @admin_discussion.restaurant.try(:name) %></p>
    <% end %>
    <%= render 'comments', :message => @discussionable %>
  </div>
<% end %>
