<% title @discussionable.subject, false %>

<% div_for @discussionable, :class => 'discussion inbox_message individual' do %>
  <div class="icon">
  </div>
  <div class="message-header clearfix">
      <h4 class="message-title">
          <%= title_link_for_message(@discussionable) %>
          <span class="message-date">
              <%= @discussionable.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %>
          </span>
      </h4>
  </div>
  <div class="message-header clearfix">
      <h1><%=h @discussionable.try(:subject) %></h1>

      <p class="meta">
          <span class="meta_label">To:</span> <%= @admin_discussion.restaurant.try(:name) %>
          (<%= @admin_discussion.employees.map(&:name_or_username).to_sentence %>)<br />
      </p>
  </div>

  <hr/>
  <div class="message-body">
      <%= auto_link(simple_format(@discussionable.body)) %>
  </div>
  
  <% if @discussionable.is_a?(TrendQuestion) %>
  <% if @discussionable.soapbox_entry.try(:published?) %>
  <div>
      This has been <%= link_to 'published on soapbox', soapbox_soapbox_entry_path(@discussionable.soapbox_entry), :popup => true %>.
  </div>
  <% elsif @discussionable.soapbox_entry.try(:upcoming?) %>
  <div>
      This will be published in <%= distance_of_time_in_words(Time.now, @discussionable.soapbox_entry.published_at) %>
  </div>
  <% end %>
  <% end %>

  <div class="message-comments clearfix">
    <% if @comments.present? %>
      <h3 class="cufon comments-title">Comments from <%= @admin_discussion.restaurant.try(:name) %></h3>
    <% end %>
    <%= render 'comments', :message => @discussionable %>
  </div>
<% end %>
