<% title "Chapters" %>

<div class="clearfix">
    <%= link_to "Back to Questions", admin_restaurant_questions_path, :class => "button" %>
</div>

<% for topic in @topics %>
  <h2><%= topic.title %>:</h2>
  <% if topic.chapters.present? %>

<%= table_for @chapters_by_topic[topic] , :html => {:id=>"chapters"} do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('Title') %>
      <%= t.h('Description') %>
      <%= t.h('can_be_deleted?') %>
      <th></th>
      <th></th>
    <% end %>
  <% end %>
  <%= t.body(:html=>{:class=>"ui-sortable"}) do |topic| %>
      <tr id="chapter<%=topic.id%>" class="chapter <%=cycle('odd','even', :name => 'chapter_topic')%>">
      <%= t.d(:class => 'small handle') do %>
        [drag]
      <% end %>  
      <%= t.d(h(topic.title)) %>
      <%= t.d(h(topic.description)) %>
      <% if topic.profile_questions.count == 0  %>
      <td class="actions destroy_link">
          <%= link_to "Destroy",admin_restaurant_chapter_path(:id => topic.id), :method => :delete %>
      </td> 
      <% else %>
        <td></td>
      <% end %>  
      <%= t.d(h(link_to "Edit",edit_admin_restaurant_chapter_url(:id => topic.id),:class=>'admin-actions')) %>
    <% end %>
  <% end %>
<% end %>





 <%= render :partial => "form", :locals => { :chapter => Chapter.new, :topic => topic } %>
<% end %>