<% title "New Conversation" -%>
<%= semantic_form_for(@discussion, :html => { :multipart => true }) do |f| %>
<div>
  <%= f.inputs :class => "plain" do %>
    <%= f.input :title, :label => "Subject", :input_html => {:class => 'title span-5'} %>
    <%= f.input :body, :input_html => { :rows => '4', :class => "span-5" } %>
    <% f.fields_for :attachments do |child_form| -%>
      <p class="attach">Attach files</p>
      <p class="attachfield"><%= child_form.file_field :attachment %></p>
    <% end -%>
    <p><%= button_tag "Post", :class => 'submit' %></p>
</div>
<h3 class="form-header discussion-recipients-header">Conversation recipients</h3> 
<div>
  <%= render :partial => 'shared/employment_criteria', :locals => {:f => f} %>
</div>
  <% end -%>
<% end %>