<% title "Soapbox", false %>

<%# sorry, but I need to do markup from scratch for this. %>

<article id="front-burner">
  <header>
    <h1>Trend <span>Identified</span></h1>
    <details>
      <img src="/images/soapbox/image-60px-sq.png" alt="description of image">
      <time datetime="2010-09-24">September 24, 2010</time>
      <h2>Fall is coming, so are warm cocktails.</h2>
    </details>
  </header>
  <section id="fb-question">
    <p>Behind the scenes: As the temperature continues to dip, appetites for warmer libations continues to rise. Pretty soon, warm cocktails will be moving onto beverage menus in full-force, replacing cooler fare like mojitos and margaritas. Behind your bar: What warm cocktails are you working on? Are you inspired by anything in particular in creating your warm beverages? What ingredients and spirits do you feel best lend themselves to warmth?</p>
  </section>
  <section id="fb-comments">
    <div class="comment" id="comment_0">
      <details class="comment-author">
        <img src="/images/soapbox/image-50px-user.png" alt="Nathan Sears' Profile Photo">
        <a href="#" class="restaurant-name">Vie</a><br>
        <a href="#" class="user-name">Nathan Sears</a><br>
        Sous Chef
      </details>
      <p>I love using grapes in a savory dish. They can balance the rich and meaty with an slight sweetness and wonderful raw acidity. Right now we have a great fried cotechino sausage served with fresh white seedless grapes, grilled onions, prairie fruits farm "manchego" and arugula.</p>
    </div>
  </section>
</article><!-- /front_burner -->


<% if false -%>
  <% if @main_feature %>
  <div class="soapbox_item main_feature clear">
    <% div_for @main_feature do %>
      <h2 class="cufon featured_item_title">
        <%= soapbox_tabby_title(@main_feature) %>
      </h2>
      <div class="question">
        <h4 class="date"><%= @main_feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></h4>
        <%= message(@main_feature) %>
      </div>

      <% if @main_feature_comments %>
        <div class="comments clearfix">
          <%= render :partial => 'comment', :collection => @main_feature_comments, :locals => { :full_text => false, :commentable_class => @main_feature.class } %>
        </div>
      <% end %>

    <% end %>
  </div>
  <% end %>

  <div class="span-12">
  <% if @secondary_feature %>
  <div class="soapbox_item secondary_feature">
    <% div_for @secondary_feature do %>
      <h2 class="cufon featured_item_title">
        <%= soapbox_tabby_title(@secondary_feature) %>
      </h2>
      <div class="question">
        <h4 class="date"><%= @main_feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></h4>
        <%= message(@secondary_feature) %>
      </div>

      <% if @secondary_feature_comments %>
        <div class="comments clearfix">
          <%= render :partial => 'comment', :collection => @secondary_feature_comments, :locals => { :full_text => false, :commentable_class => @secondary_feature.class } %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
  </div>
<% end -%>