<%= content_tag_for :li, competition, :class => cycle('odd','even') do %>
  <span class="extended-title"><%= competition.place %></span>
  <%= competition.name %><br /><%= competition.year %><br>
  <% if action_name != 'show' %>
    <%= link_to "Edit", edit_competition_path(competition), :class => 'colorbox' %>
    <%= link_to "Destroy", competition_path(competition), { :method => :delete }, { :class => 'delete' } %>
  <% end %>
<% end %>
