<%= semantic_form_for [:admin, @coached_status_update] do |f| %>

	<%= f.inputs do %>
		<%= f.input :message %>
		<%= f.input :date_range, :label => 'Time of Year' %>
	<% end -%>
<p>
	<%= button_tag "Save", :class => 'positive' %> -or-
	<%= button_tag "Save and Create Another", :name => 'save_and_new' %>
</p>

<p><%= link_to "Back to List", admin_coached_status_updates_path %></p>
<% end %>
