<% title "Coached Status Updates" %>

<p><%= link_to "New Coached Status Update", new_admin_coached_status_update_path, :class => 'button positive' %></p>
<br clear="all" />


<table>
  <tr>
    <th>Message</th>
    <th>Time Of Year</th>
    <th></th>
  </tr>
  <% for coached_status_update in @coached_status_updates %>
    <tr class="<%= cycle('odd','even') %>">
      <td><%=h coached_status_update.message %></td>
      <td><%=h coached_status_update.date_range.try(:name) %></td>
      <td class="utility">
         <%= link_to "Show", [:admin, coached_status_update] %>
         <%= link_to "Edit", edit_admin_coached_status_update_path(coached_status_update) %>
         <%= link_to "Destroy",admin_coached_status_update_path(coached_status_update), :method => :delete,:confirm => "Are you sure ?" %>
      </td>
    </tr>
  <% end %>
</table>

