<% title "#{@page.name} details for #{@restaurant.name}", false %>

<div id="restaurant_profile_view" class="clear clearfix">
  <%= render "#{soapbox? ? 'soapbox/' : ''}restaurants/restaurant_header" %>

  <%= render :partial => "restaurants/restaurant_sidebar" unless soapbox? %>

	<div id="features">
	    <h2><%= @page.name %></h2>
  	    <% @restaurant.categories_for_page(@page).each do |category| %>
  	    <%=div_for category do -%>
  	        <h3><%= category.name %></h3>
            <ul>
                <% @restaurant.features_for_category(category).each do |feature| %>
                <li><%= link_to h(feature.value), feature_path(feature) %></li>
                <% end -%>
            </ul>
        <% end -%>
        <% end %>
	</div><!--#features-->

    <%= render :partial => 'restaurants/behind_the_line', :locals => { :restaurant => @restaurant, :page => @page } if restaurant_topics(@restaurant, @page).present? %>
</div>