<% title "#{@page.name} details for #{@restaurant.name}" %>

<div id="restaurant_profile_view" class="clear clearfix">
  <%= render 'restaurants/restaurant_header' %>
	<div id="features">
		<h2><%= @page.name %></h2>
  	<% @restaurant.categories_for_page(@page).each do |category| %>
  	  <% div_for category do -%>
  	    <h3><%= category.name %></h3>
  	    <ul>
  	      <% @restaurant.features_for_category(category).each do |feature| %>
  	        <li><%= link_to h(feature.value), feature_path(feature) %></li>
  	      <% end -%>
  	    </ul>
  	  <% end -%>
  	<% end %>
	</div><!--#features-->

  <%= render :partial => 'profile_questions/behind_the_line', :locals => {:subject => @page} %>
</div>