<% title "Soapbox Pages" %>

<p class="clearfix"><%= link_to "New Page", new_admin_soapbox_page_path, :class => 'button positive' %></p>

<%= table_for(@pages) do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('Title') %>
      <%= t.h('Slug') %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  <% end %>
  <%= t.body do |page| %>
    <%= t.r do %>
    	<%= t.d(h(page.title)) %>
    	<%= t.d(h(page.slug)) %>
      <%= t.d(h(link_to "Live",soapbox_page_path(page),:class=>'admin-actions')) %> 
      <%= t.d(h(link_to "Edit",edit_admin_soapbox_page_path(page),:class=>'admin-actions')) %>
      <% if page.deletable? %>
        <td class="actions destroy_link">
        <%= link_to "Destroy",admin_soapbox_page_path(page), :method => :delete %>
      </td> 
      <% end %>
    <% end %>
  <% end %>
<% end %>


