<div id="sidebar">
  <aside id="recent-activity">
    <header>
      <h1>Newsfeed</h1>
    </header>
    <% cache('newsfeed_sidebar', :expires_in => 1.hour) do -%>
      <ol id="newsfeed">
          <% for link in newsfeed_links %>
          <li>
            <header class="feed-item-title">
                <%= link_to "#{link.name}", soapbox_promotions_path(:promotion_type_id => link.id) %>
            </header>
            <aside class="feed-item-reply-count">
                <%= link_to soapbox_promotions_path(:promotion_type_id => link.id) do %>
                <span class="num"><%= count = Promotion.current.for_type(link.id).count %></span> <%= count != 1 ? "items" : "item" %>
                <% end %>
            </aside>
          </li>
          <% end %>
      </ol><!-- /activity-feed -->
    <% end -%>
    <div id="feed-bottom"></div>
    <footer>
      <div id="activity-chooser-all">
        <span><%= link_to "View all &nbsp;&#187;".html_safe, soapbox_promotions_path, :id => "view-all-questions" %></span>
      </div>
    </footer>
  </aside><!-- /recent-activity -->
  <nav id="participate">
    <%= link_to "Login to participate", login_path, :class => "button", :id => "login-participate" %>
    <span>or</span>
    <%= link_to "Create free account", join_path, :class => "button", :id => "request-invite" %>
  </nav><!-- /participate -->
</div><!-- /sidebar -->