<% title @promotion_type.present? ? "Newsfeed: #{@promotion_type.name}" : "Newsfeed" %>

<% for promotion in @promotions -%>
<% div_for(promotion) do %>
    <% unless @promotion_type.present? -%>
    <h2><%= promotion.title %></h2>
    <% end -%>
    <%= render :partial => 'restaurants/identity', :locals => { :restaurant => promotion.restaurant } %>
    <div>
        <p class="answer"><%= promotion.details %></p>
        <p><%= link_to promotion.link %></p>
        <p><%= promotion.start_date %> - <%= promotion.end_date %> - <%= promotion.date_description %></p>
    </div>
    <div class="clear">&nbsp;</div>
<% end %>
<% end -%>
