<% title newsfeed_title %>

<% for promotion in @promotions -%>
<%=div_for(promotion) do %>
    <h2>
    <% if @promotion_type.present? -%>
        <%= link_to soapbox_promotion_path(promotion) do %>
            <%= "#{promotion.start_date.to_formatted_s(:long)}" %> <%= "- #{promotion.end_date.to_formatted_s(:long)}" if promotion.end_date.present? %>
        <% end %>
    <% else -%>
        <%= link_to soapbox_promotion_path(promotion) do %>
            <%= "#{promotion.title}: #{promotion.start_date.to_formatted_s(:long)}" %> <%= "- #{promotion.end_date.to_formatted_s(:long)}" if promotion.end_date.present? %>
        <% end %>
    <% end -%>
    </h2>


    <h3><%= promotion.headline %></h3>
    <%= render :partial => 'restaurants/identity', :locals => { :restaurant => promotion.restaurant } %>
    <div>
        <div class="details"><%= Loofah::Helpers.sanitize(promotion.details) %></div>
        <p><%= link_to promotion.link,("http://"+ promotion.link.gsub("http://","")) ,:target=>"_blank" %></p>
        <% if promotion.attachment.file? -%>
        <p><%= link_to promotion.attachment_file_name, promotion.attachment.url %></p>
        <% end -%>
        <p><%= promotion.date_description %></p>
        <p><span class="datestamp"><%= "Posted #{promotion.created_at.strftime("%D")}" %></span> - <%= link_to "Share this entry", soapbox_promotion_path(promotion) %></p>
    </div>
    <div class="clear">&nbsp;</div>
<% end %>
<% end -%>

<%= will_paginate(@promotions) %>

<%= content_for :sidebar do -%>
<%= render :partial => 'sidebar' %>
<% end -%>
