<% title "Newsfeed: #{@promotion.promotion_type.name}" %>
<%= content_for :facebook_meta do -%>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="http://soapbox.restaurantintelligenceagency.com/images/soapbox/logo-soapbox.png"/>
  <meta property="og:url" content="<%= soapbox_promotion_url(@promotion) %>"/>
<% end -%>
<%= content_for :fb_description do -%>
<%= Loofah::Helpers.strip_tags(@promotion.details) +'  '+ "  via @SoapboxHQ" %>
<% end -%>

<%=div_for(@promotion) do %>
    

    <h3><%= @promotion.headline %></h3>
    <%= render :partial => 'restaurants/identity', :locals => { :restaurant => @promotion.restaurant } %>
    <div>
        <p><%= @promotion.title %>: <%= @promotion.date_text %></p>
        <div class="details"><%= Loofah::Helpers.sanitize(@promotion.details).html_safe %></div>
        <p><%= link_to @promotion.link, @promotion.link %></p>
        <% if @promotion.attachment.file? -%>
        <p><%= link_to @promotion.attachment_file_name, @promotion.attachment.url %></p>
        <% end -%>       

        <p><span class="datestamp"><%= "Posted #{@promotion.created_at.strftime("%D")}" %></span></p>
    </div>
    <!-- Likes and Tweets BEGIN -->
    <div class="sharing">
        <script type="text/javascript">var switchTo5x=true;</script>
          <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
          <script type="text/javascript">stLight.options({publisher: "041a7a0d-06a5-45e5-9455-9e9043faf823"}); </script>
          <script type="text/javascript">var NREUMQ=[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
          <span class='st_fbrec_large' displayText='Facebook Recommend'></span>
          <span class='st_pinterest_large' displayText='Pinterest'></span>
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_twitter_large' displayText='Tweet' st_via='SoapboxHQ'></span>
          <span class='st_linkedin_large' displayText='LinkedIn'></span>
          <span class='st_email_large' displayText='Email' st_via='SoapboxHQ'></span>   
          <span class='st_googleplus_large' displayText='google plus'></span>
          <span class="st_stumbleupon_large" displayText='stumbleupon' ></span> 
          <span class="st_digg_large" displayText='stumbleupon'  ></span> 
   
    </div>
    <!-- Likes and Tweets END -->
    <div class="clear">&nbsp;</div>
<% end %>

<div class="clear"> </div>
<% unless @promotions.blank?%>
  <div class="clear">&nbsp;</div>
      <header class="page-title">
        <h1>Newsfeed</h1>      
      </header>
      <div id="answers">
        <% for promotion in @promotions -%>
            <%=div_for(promotion) do %>
                <%= render :partial => 'soapbox/promotions/promotion', :locals => { :promotion => promotion } %>  
            <% end -%>
        <% end -%>
      </div>
<% end -%>

<div class="clear"> </div>
<% unless @answers.blank?%>
    <header class="page-title">
        <h1>A La Minute</h1>
    </header>

    <h3 id="more-answers"></h3>
    <div id="answers">
     <% for answer in @answers -%>
            <%= render :partial => 'soapbox/a_la_minute_questions/answer_list',:locals => { :answer => answer } %>
    <% end -%>
    </div>
<% end -%>
<div class="clear"> </div>
<% unless @menu_items.blank?%>
    <header class="page-title">
        <h1>Recently posted to On The Menu</h1>
    </header>

    <div id="answers">
        <% for menu_item in @menu_items -%>
          <%= render :partial => "soapbox/menu_items/menu_item", :locals => { :menu_item => menu_item } %>
        <% end -%>
     </div>   
<%end%>
<%= content_for :sidebar do -%>
<%= render :partial => 'soapbox/restaurant_sidebar', :locals => { :restaurant => @promotion.restaurant } %>
<% end -%>