<% title @restaurant.name, false -%>
<div id="restaurant_profile_view" class="edit clear clearfix">

    <%= render 'restaurants/restaurant_editing_header' %>

    <div id="editing_restaurant">
        <h1>Edit Restaurant Fact Sheet</h1>

        <%=semantic_form_for @fact_sheet, :url => restaurant_fact_sheet_path(@restaurant), :html => { :method => :put, :id => "restaurant_fact_sheet" } do |f| %>
          <%=@fact_sheet.errors.full_messages unless @fact_sheet.errors.full_messages.blank? %>
          <%=f.inputs :name => "Parking and Directions", :class => "editing parking_directions" do %>
            <%= f.input :venue %>
            <%= f.input :intersection, :hint => "e.g., State and Main" %>
            <%= f.input :neighborhood %>
            <%= f.input :parking, :as => :select, :collection => parking_options %>
            <%= f.input :public_transit,
                        :hint => "e.g., One block north of Brown line Chicago stop, or 1 block north of bus route 66." %>
          <% end %>

          <%=f.inputs :name => "Pricing", :class => "editing pricing" do %>
            <h4>Check Average</h4>
            <%= f.input :dinner_average_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :lunch_average_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :brunch_average_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :breakfast_average_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :children_average_price, :hint => "Do not include the dollar sign ($)" %>
            <h4>Small Plate Pricing</h4>
            <%= f.input :small_plate_min_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :small_plate_max_price, :hint => "Do not include the dollar sign ($)" %>
            <h4>Large Plate Pricing</h4>
            <%= f.input :large_plate_min_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :large_plate_max_price, :hint => "Do not include the dollar sign ($)" %>
            <h4>Dessert Pricing</h4>
            <%= f.input :dessert_plate_min_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :dessert_plate_max_price, :hint => "Do not include the dollar sign ($)" %>
            <h4>Wine Pricing</h4>
            <%= f.input :wine_by_the_glass_count %>
            <%= f.input :wine_by_the_glass_min_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :wine_by_the_glass_max_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :wine_by_the_bottle_count %>
            <%= f.input :wine_by_the_bottle_min_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :wine_by_the_bottle_max_price, :hint => "Do not include the dollar sign ($)" %>
            <%= f.input :wine_by_the_bottle_details, :as => :text, :label => "Wine list details" %>
          <% end %>

          <%=f.inputs :name => "Hours", :class => "editing hours" do %>
            <li id="hours">
              <%Meal::DAYS.each do |day| %>
                <h4><%= day.capitalize %></h4>
                <%=content_tag(:div, :id => "#{day}_meals") do %>
                  <ol>
                    <%@fact_sheet.meals.for_day(day).each do |meal| %>                    
                      <%=f.fields_for :meals, meal do |meal_form| %>
                        <%= render "meal_fields", :f => meal_form, :day_value => day.downcase %>
                      <% end %>
                    <% end %>
                  </ol>
                  <%=link_to_add_fields("Add hours", f, :meals, :class => "add_fields_for sf-button", :form_options => {:day_value => day}) %>
                <% end %>
              <% end %>
            </li>

            <h4>Closed</h4>
            <%= f.input :days_closed, :hint => "Monday and Tuesday" %>
            <%= f.input :holidays_closed, :hint => "Christmas Eve, Christmas Day, and New Years Day" %>
          <% end %>

          <%=f.inputs :name => "Guest Services", :class => "editing guest_services" do %>
            <%= f.input :reservations, :as => :select, :collection => reservation_options %>
            <%= f.input :cancellation_policy, :as => :text, :hint => "e.g., 72 hours, 24 hours, no cancellation policy" %>
            <%= f.input :payment_methods, :hint => "e.g., Amex, Visa, Mastercard" %>
            <%= f.input :byob_allowed, :as => :radio, :collection => [["Yes", true], ["No", false]] %>
            <%= f.input :corkage_fee, :hint => "e.g., $25, no corkage fee" %>
            <%= f.input :dress_code, :hint= => "e.g., casual, business casual" %>
            <%= f.input :delivery, :hint => "e.g., yes, not available, takeout only" %>
          <% end %>

          <%=f.inputs :name => "Design", :class => "editing design" do %>
            <h4>Design Team</h4>
            <p class="inline-hint">Please include name or company name for the following</p>
            <%= f.input :architect_name %>
            <%= f.input :graphic_designer %>
            <%= f.input :furniture_designer %>
            <%= f.input :furniture_manufacturer %>
            <h4>Design Details</h4>
            <p class="inline-hint">Provide any notable facts, such as custom manufacturer or unique installation, brief description, etc</p>
            <%= f.input :flooring, :as => :text %>
            <%= f.input :millwork, :as => :text %>
            <%= f.input :china, :as => :text %>
            <%= f.input :kitchen_equipment, :as => :text %>
            <%= f.input :lighting, :as => :text %>
            <%= f.input :draperies, :as => :text %>
            <h4>Design Facts</h4>
            <%= f.input :square_footage, :hint => "Numbers should not contain a comma, e.g., 10000 not 10,000" %>
            <li id="seating_areas">
              <h4>Seating Areas</h4>
              <ol>
              <%=f.fields_for :seating_areas do |seating_area_form| %>
                <%= render 'seating_area_fields', :f => seating_area_form %>
              <% end %>
              </ol>
              <% link_to_add_fields("Add a seating area", f, :seating_areas, :class => "sf-button add_fields_for") %>
            </li>

          <% end %>

          <%=f.inputs :name => "Miscellaneous", :class => "editing misc" do %>
            <%= f.input :wheelchair_access, :hint => "e.g., Yes/no" %>
            <%= f.input :smoking, :as => :select, :collection => smoking_options %>
            <%= f.input :concept, :as => :select, :collection => concept_options %>
            <%= f.input :entertainments, :as => :check_boxes, :collection => RestaurantFactSheet::ENTERTAINMENT_OPTIONS %>
         <% end %>

          <%=f.actions do %>
            <%= f.action :submit, :as => :button %>
            <%#= button_tag 'Update' %>
          <% end %>
        <% end %>

        </div><!--#editing_restaurant-->

        <%= content_for :javascript do %>



  <script type="text/javascript">
    //<![CDATA[
    jQuery(function($) {
      $(".add_fields_for").click(function(e) {
        e.preventDefault();
        var association = $(this).attr("data-association");
        var fields = $(this).attr("data-fields");
        var new_id = new Date().getTime();
        $(this).before($(fields.replace(new RegExp("new_" + association, "g"), new_id)));
      });

      $("#restaurant_fact_sheet").delegate(".destroy_nested", "click", function(e) {
        e.preventDefault();
        var $fields = $(this).closest(".fields");       
        $fields.find("input[type=hidden][name*=destroy]").val("1")
        $fields.hide();
      });
    });
    //]]>
  </script>
<% end %>
