<h1>Listing restaurant_fact_sheets</h1>

<table>
  <tr>
    <th>Venue</th>
    <th>Intersection</th>
    <th>Neighborhood</th>
    <th>Parking</th>
    <th>Public transit</th>
    <th>Dinner average price</th>
    <th>Lunch average price</th>
    <th>Brunch average price</th>
    <th>Breakfast average price</th>
    <th>Children average price</th>
    <th>Small plate min price</th>
    <th>Small plate max price</th>
    <th>Large plate min price</th>
    <th>Large plate max price</th>
    <th>Dessert plate min price</th>
    <th>Dessert plate max price</th>
    <th>Wine by the glass count</th>
    <th>Wine by the glass min price</th>
    <th>Wine by the glass max price</th>
    <th>Wine by the bottle count</th>
    <th>Wine by the bottle min price</th>
    <th>Wine by the bottle max price</th>
    <th>Wine by the bottle details</th>
    <th>Reservations</th>
    <th>Cancellation policy</th>
    <th>Payment methods</th>
    <th>Byob allowed</th>
    <th>Corkage fee</th>
    <th>Dress code</th>
    <th>Delivery</th>
    <th>Wheelchair access</th>
    <th>Smoking</th>
    <th>Architect name</th>
    <th>Graphic designer</th>
    <th>Furniture designer</th>
    <th>Furniture manufacturer</th>
    <th>Flooring</th>
    <th>Millwork</th>
    <th>China</th>
    <th>Kitchen equipment</th>
    <th>Lighting</th>
    <th>Draperies</th>
    <th>Square footage</th>
  </tr>

<% @restaurant_fact_sheets.each do |restaurant_fact_sheet| %>
  <tr>
    <td><%=h restaurant_fact_sheet.venue %></td>
    <td><%=h restaurant_fact_sheet.intersection %></td>
    <td><%=h restaurant_fact_sheet.neighborhood %></td>
    <td><%=h restaurant_fact_sheet.parking %></td>
    <td><%=h restaurant_fact_sheet.public_transit %></td>
    <td><%=h restaurant_fact_sheet.dinner_average_price %></td>
    <td><%=h restaurant_fact_sheet.lunch_average_price %></td>
    <td><%=h restaurant_fact_sheet.brunch_average_price %></td>
    <td><%=h restaurant_fact_sheet.breakfast_average_price %></td>
    <td><%=h restaurant_fact_sheet.children_average_price %></td>
    <td><%=h restaurant_fact_sheet.small_plate_min_price %></td>
    <td><%=h restaurant_fact_sheet.small_plate_max_price %></td>
    <td><%=h restaurant_fact_sheet.large_plate_min_price %></td>
    <td><%=h restaurant_fact_sheet.large_plate_max_price %></td>
    <td><%=h restaurant_fact_sheet.dessert_plate_min_price %></td>
    <td><%=h restaurant_fact_sheet.dessert_plate_max_price %></td>
    <td><%=h restaurant_fact_sheet.wine_by_the_glass_count %></td>
    <td><%=h restaurant_fact_sheet.wine_by_the_glass_min_price %></td>
    <td><%=h restaurant_fact_sheet.wine_by_the_glass_max_price %></td>
    <td><%=h restaurant_fact_sheet.wine_by_the_bottle_count %></td>
    <td><%=h restaurant_fact_sheet.wine_by_the_bottle_min_price %></td>
    <td><%=h restaurant_fact_sheet.wine_by_the_bottle_max_price %></td>
    <td><%=h restaurant_fact_sheet.wine_by_the_bottle_details %></td>
    <td><%=h restaurant_fact_sheet.reservations %></td>
    <td><%=h restaurant_fact_sheet.cancellation_policy %></td>
    <td><%=h restaurant_fact_sheet.payment_methods %></td>
    <td><%=h restaurant_fact_sheet.byob_allowed %></td>
    <td><%=h restaurant_fact_sheet.corkage_fee %></td>
    <td><%=h restaurant_fact_sheet.dress_code %></td>
    <td><%=h restaurant_fact_sheet.delivery %></td>
    <td><%=h restaurant_fact_sheet.wheelchair_access %></td>
    <td><%=h restaurant_fact_sheet.smoking %></td>
    <td><%=h restaurant_fact_sheet.architect_name %></td>
    <td><%=h restaurant_fact_sheet.graphic_designer %></td>
    <td><%=h restaurant_fact_sheet.furniture_designer %></td>
    <td><%=h restaurant_fact_sheet.furniture_manufacturer %></td>
    <td><%=h restaurant_fact_sheet.flooring %></td>
    <td><%=h restaurant_fact_sheet.millwork %></td>
    <td><%=h restaurant_fact_sheet.china %></td>
    <td><%=h restaurant_fact_sheet.kitchen_equipment %></td>
    <td><%=h restaurant_fact_sheet.lighting %></td>
    <td><%=h restaurant_fact_sheet.draperies %></td>
    <td><%=h restaurant_fact_sheet.square_footage %></td>
    <td><%= link_to 'Show', restaurant_fact_sheet %></td>
    <td><%= link_to 'Edit', edit_restaurant_fact_sheet_path(restaurant_fact_sheet) %></td>
    <td><%= link_to 'Destroy', restaurant_fact_sheet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New restaurant_fact_sheet', new_restaurant_fact_sheet_path %>