<% title "Home", false %>
<section id="content" class="home">
    <div id="inside" class="home">

        <div id="quicklinks">
            <% cache "soapbox_quicklinks_alm", :expires => 8.hours do %>
            <div id="alm-links">
                <h2>A la Minute</h2>
                <ul>
                    <% for link in @alm_links -%>
                    <li><%= link_to (link.topic || link.question), soapbox_a_la_minute_question_path(link) %></li>
                    <% end -%>
                </ul>
                <%= link_to "view more", soapbox_a_la_minute_questions_path, :class => "view-more" %>
            </div>
            <% end %>
            <div id="news-links">
                <h2>Newsfeed</h2>
                <ul>
                    <% for link in @newsfeed_links -%>
                    <li><%= link_to "#{link.name}", soapbox_promotions_path(:promotion_type_id => link.id) %></li>
                    <% end -%>
                </ul>
                <%= link_to "view more", soapbox_promotions_path, :class => "view-more" %>
            </div>
            <div id="btl-links">
                <h2>Behind the Line</h2>
                <ul>
                    <% for link in @btl_links -%>
                    <li><%= link_to link.title, soapbox_topic_path(link) %></li>
                    <% end -%>
                </ul>
                <%= link_to "view more", soapbox_topics_path, :class => "view-more" %>
            </div>
            <% if @travel_links.present? -%>
            <div id="travel-links">
                <h2>Travel Guide</h2>
                <ul>
                    <% for link in @travel_links -%>
                    <li><%= link_to link.title, chapter_soapbox_topics_path(:chapter_id => link.id) %></li>
                    <% end -%>
                </ul>
                <%= link_to "view more", soapbox_topic_path(Topic.travel), :class => "view-more" %>
            </div>
            <% end -%>
        </div>

        <div id="main-feeds">
            <div id="alm-feed" class="live-feed">
                <div id="alm-title" class="title">
                    <%= image_tag "soapbox/title-alm.png" %>
                    <h2>A la Minute</h2>
                    <%= link_to "+ See all", soapbox_a_la_minute_questions_path, :class => "link-all" %>
                </div>
                <% @alm_questions.each_with_index do |question, index| -%>
                <div class="a_la_minute_question" id="alm_<%= index %>">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox">
                      <script type="text/javascript">
                          var addthis_share = {
                              url: '<%= soapbox_a_la_minute_question_path(question) %>',
                              title: 'A la Minute - <%= question.question %>'
                          }
                      </script>
                      <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria" class="addthis_button">Share</a>
                    </div>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria"></script>
                    <!-- AddThis Button END -->

                    <h3><%= link_to question.question, soapbox_a_la_minute_question_path(question) %></h3>
                    <% if question.latest_answer.present? -%>
                    <div>
                        <%= render :partial => 'restaurants/identity', :locals => { :restaurant => question.latest_answer.responder } %>
                        <p class="answer"><%= question.latest_answer.answer %></p>
                        <p class="datestamp">Posted <%= question.latest_answer.created_at.strftime("%D") %></p>
                    </div>
                    <div class="clear">&nbsp;</div>
                    <% end -%>
                </div>
                <% end -%>
                <div class="links">
                    <% (1..4).each do |i| %>
                      <% if @alm_questions[i-1].present? -%>
                        <%= link_to_function i,
                            "$('.a_la_minute_question').hide(); $('#alm_#{i-1}').show(); $('.alm_link').removeClass(\"current\"); $('#alm_link_#{i}').addClass(\"current\")",
                            :class => (i == 1 ? "current alm_link" : "alm_link"),
                            :id => "alm_link_#{i}" %>
                      <% end -%>
                    <% end %>
                    <%= link_to "more", soapbox_a_la_minute_questions_path %>
                </div>
            </div>

            <% if @promotions.present? -%>
            <div id="newsfeed" class="live-feed">
                <div id="news-title" class="title">
                    <%= image_tag "soapbox/title-news.png" %>
                    <h2>Newsfeed</h2>
                    <%= link_to "+ See all", soapbox_promotions_path, :class => "link-all" %>
                </div>
                <% @promotions.each_with_index do |promotion, index| -%>
                <div class="promotion" id="news_<%= index %>">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox">
                      <script type="text/javascript">
                          var addthis_share = {
                              url: '<%= "#" %>',
                              title: 'Newsfeed - <%= promotion.title %>'
                          }
                      </script>
                      <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria" class="addthis_button">Share</a>
                    </div>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria"></script>
                    <!-- AddThis Button END -->
                    <h3><%= link_to "#{promotion.title}: #{promotion.start_date.to_formatted_s(:long)}", soapbox_promotions_path(:promotion_type_id => promotion.promotion_type_id, :anchor => "promotion_#{promotion.id}") %></h3>
                    <div>
                        <%= render :partial => 'restaurants/identity', :locals => { :restaurant => promotion.restaurant } %>
                        <p class="details"><%= promotion.details %></p>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <% end -%>
                <div class="links">
                    <% (1..4).each do |i| %>
                      <% if @promotions[i-1].present? -%>
                        <%= link_to_function i,
                            "$('.promotion').hide(); $('#news_#{i-1}').show(); $('.news_link').removeClass(\"current\"); $('#news_link_#{i}').addClass(\"current\")",
                            :class => (i == 1 ? "current news_link" : "news_link"),
                            :id => "news_link_#{i}" %>
                      <% end -%>
                    <% end %>
                    <%= link_to "more", soapbox_promotions_path %>
                </div>
            </div>
            <% end -%>

            <div id="btl-feed" class="live-feed">
                <div id="btl-title" class="title">
                    <%= image_tag "soapbox/title-btl.png" %>
                    <h2>Behind the Line</h2>
                    <%= link_to "+ See all", soapbox_topics_path, :class => "link-all" %>
                </div>
                <% @btl_questions.each_with_index do |question, index| -%>
                <div class="profile_question" id="btl_<%= index %>">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox">
                      <script type="text/javascript">
                          var addthis_share = {
                              url: '<%= soapbox_question_path(question) %>',
                              title: 'Behind the Line - <%= question.title %>'
                          }
                      </script>
                      <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria" class="addthis_button">Share</a>
                    </div>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria"></script>
                    <!-- AddThis Button END -->
                    <h3>Topic: <%= question.topic.title %></h3>
                    <h4><%= link_to question.title, soapbox_question_path(question) %></h4>
                    <% if question.latest_answer.present? -%>
                    <div>
                        <%= render :partial => 'users/identity', :locals => { :user => question.latest_answer.user } %>
                        <p class="answer"><%= question.latest_answer.answer %></p>
                        <p class="datestamp">Posted <%= question.latest_answer.created_at.strftime("%D") %></p>
                    </div>
                    <div class="clear">&nbsp;</div>
                    <% end -%>
                </div>
                <% end -%>
                <div class="links">
                    <% (1..4).each do |i| %>
                      <% if @btl_questions[i-1].present? -%>
                        <%= link_to_function i,
                            "$('.profile_question').hide(); $('#btl_#{i-1}').show(); $('.btl_link').removeClass(\"current\"); $('#btl_link_#{i}').addClass(\"current\")",
                            :class => (i == 1 ? "current btl_link" : "btl_link"),
                            :id => "btl_link_#{i}" %>
                      <% end -%>
                    <% end %>
                    <%= link_to "more", soapbox_topics_path %>
                </div>
            </div>

            <div id="frontburner-feed" class="live-feed">
                <div id="frontburner-title" class="title">
                    <%= image_tag "soapbox/title-frontburner.png" %>
                    <h2>Front Burner</h2>
                    <%= link_to "+ See all", soapbox_soapbox_entries_path, :class => "link-all" %>
                </div>
                <% @soapbox_entries.each_with_index do |question, index| -%>
                <div class="soapbox_entry" id="frontburner_<%= index %>">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox">
                      <script type="text/javascript">
                          var addthis_share = {
                              url: '<%= soapbox_soapbox_entry_path(question) %>',
                              title: 'Front Burner - <%= message(question.featured_item) %>'
                          }
                      </script>
                      <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria" class="addthis_button">Share</a>
                    </div>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria"></script>
                    <!-- AddThis Button END -->

                    <h3><%= link_to message(question.featured_item), soapbox_soapbox_entry_path(question) %></h3>
                    <% if question.latest_answer.present? -%>
                    <div>
                        <%= render :partial => 'users/identity', :locals => { :user => question.latest_answer.user } %>
                        <p class="answer"><%= question.latest_answer.comment %></p>
                        <p class="datestamp">Posted <%= question.latest_answer.created_at.strftime("%D") %></p>
                    </div>
                    <div class="clear">&nbsp;</div>
                    <% end -%>
                </div>
                <% end -%>
                <div class="links">
                    <% (1..4).each do |i| %>
                      <% if @soapbox_entries[i-1].present? -%>
                        <%= link_to_function i,
                            "$('.soapbox_entry').hide(); $('#frontburner_#{i-1}').show(); $('.frontburner_link').removeClass(\"current\"); $('#frontburner_link_#{i}').addClass(\"current\")",
                            :class => (i == 1 ? "current frontburner_link" : "frontburner_link"),
                            :id => "frontburner_link_#{i}" %>
                      <% end -%>
                    <% end %>
                    <%= link_to "more", soapbox_soapbox_entries_path %>
                </div>
            </div>

        </div>
    </div><!-- /inside -->
</section><!-- /content --> 

<aside id="sidebar" class="home">
    <nav id="participate" class="home">
        <div id="front-burner" class="button">
            <h1>Front Burner</h1>
            <p>Check out Today's Features:</p>
            <ul>
                <li><%= link_to @main_feature.display_message, soapbox_soapbox_entry_path(@main_feature.soapbox_entry) if @main_feature.present? %></li>
                <li><%= link_to @secondary_feature.display_message, soapbox_soapbox_entry_path(@secondary_feature.soapbox_entry) if @secondary_feature.present? %></li>
            </ul>
        </div>
        <%= link_to "<span>Learn</span> more", '/soapbox/learn_more', :class => "button", :id => "request-invite" %>
    </nav><!-- /participate -->

    <section id="help-questions">
        <header>
            <h1>Need Help? Have Questions?</h1>
        </header>
        <p>You can <a href="mailto:support@restaurantintelligenceagency.com">email our support staff</a> anytime.</p>
        <p>We also have a customer support line available 9am–9pm that can be reached at (312) 572-9082.</p>
    </section><!-- /help-questions -->

    <section id="newsletter">
        <header>
            <h1>Sign up for our Email Newsletter</h1>
        </header>
        <%= render :partial => "newsletter_form" %>
    </section>

    <section id="facebook-button">
        <header>
            <h1>Follow us</h1>
        </header>
        <div id="twitter-button">
            <%= image_tag "soapbox/twitter.png" %>
            <p>Follow <%= link_to "@EllenMalloy", "http://twitter.com/ellenmalloy" %> on twitter and stay up to date on new features</p>
        </div>
        <%= image_tag "soapbox/facebook.png" %>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsoapbox.restaurantintelligenceagency.com%2Fsoapbox&amp;layout=standard&amp;show_faces=true&amp;width=154&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=auto" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:154px; height:auto;" allowTransparency="true"></iframe>
    </section><!-- /facebook-button -->
</aside><!-- /sidebar -->
