<% title "Home", false %>
<section id="content" class="home">
    <div id="inside" class="home">
        <%- if @slides.any? -%>
        <div id="jumbotron">
            <div id="cycle">
                <% for slide in @slides %>
                <%= image_tag slide.image.url(:full), "data-title" => slide.title, "data-caption" => truncate(slide.excerpt, :length => 150), "data-url" => slide.link, "data-credit" => slide.photo_credit %>
                <% end %>
            </div>
            <div id="display">
                <header>
                    <h1 id="cycle-title"><%= @slides.first.title %></h1>
                </header>
                <summary id="cycle-caption"><%= truncate(@slides.first.excerpt, :length => 100) %>&nbsp;<% unless @slides.first.link.blank? -%><%= link_to "go&nbsp;&#187;", @slides.first.link %><% end -%></summary>
                <footer id="cycle-footer">Photo Credit: <%= @slides.first.photo_credit %></footer>
                <nav id="pager"></nav>
            </div>
        </div><!-- /jumbotron -->
        <%- end -%>

        <%- @promos.each_with_index do |promo,idx| -%>
        <article class="panel panel_<%= idx %>" id="home-pulse">
            <header>
                <h1><%= promo.title %></h1>
            </header>
            <section>
                <p><%= promo.body %></p>
                <%= link_to "more&nbsp;&#187;", promo.link unless promo.link.blank? %>
            </section>
        </article><!-- /home-pulse -->
        <%- end if @promos.any? -%>
    </div><!-- /inside -->
</section><!-- /content --> 

<aside id="sidebar" class="home">
    <nav id="participate" class="home">
        <%= link_to "<span>Learn</span> more", '/soapbox/learn_more', :class => "button", :id => "request-invite" %>
        <%= link_to "Request an <span>invitation</span>", join_url(:subdomain => "spoonfeed"), :class => "button", :id => "login-participate" %>
    </nav><!-- /participate -->
    <section id="facebook-button">
        <header>
            <h1>Like us on Facebook</h1>
        </header>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsoapbox.restaurantintelligenceagency.com%2Fsoapbox&amp;layout=standard&amp;show_faces=true&amp;width=154&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=auto" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:154px; height:auto;" allowTransparency="true"></iframe>
    </section><!-- /facebook-button -->

    <section id="help-questions">
        <header>
            <h1>Need Help? Have Questions?</h1>
        </header>
        <p>You can <a href="mailto:support@restaurantintelligenceagency.com">email our support staff</a> anytime.</p>
        <p>We also have a customer support line available 9am–9pm that can be reached at (312) 572-9082.</p>
    </section><!-- /help-questions -->
</aside><!-- /sidebar -->
