<% title "Home", false %>
<section id="content" class="home">
    <div id="inside" class="home">
        <div id="quicklinks">
            <div id="alm-links">
                <h2>A la Minute</h2>
                <ul>
                    <% for link in @alm_links -%>
                    <li><%= link_to (link.topic || link.question), soapbox_a_la_minute_question_path(link) %></li>
                    <% end -%>
                    <%= link_to "View more", soapbox_a_la_minute_questions_path %>
                </ul>
            </div>
            <!-- <h2>Newsfeed</h2> -->
            <h2>Behind the Line</h2>
            <ul>
                <% for link in @btl_links -%>
                <li><%= link_to link.title, soapbox_topic_path(link) %></li>
                <% end -%>
                <%= link_to "View more", soapbox_topics_path %>
            </ul>
            <!-- <h2>Travel Guide</h2> -->
        </div>
        <div id="main-feeds">
            <div class="live-feed">
                <h2>A la Minute</h2>
                <%= link_to "+ See all", soapbox_a_la_minute_questions_path, :class => "link-all" %>
                <% @alm_questions.each_with_index do |question, index| -%>
                <div class="a_la_minute_question" id="alm_<%= index %>">
                    <h3><%= link_to question.question, soapbox_a_la_minute_question_path(question) %></h3>
                    <% if question.latest_answer.present? -%>
                    <%= render :partial => 'restaurants/identity', :locals => { :restaurant => question.latest_answer.responder } %>
                    <p class="answer"><%= question.latest_answer.answer %></p>
                    <p class="datestamp">Posted <%= question.latest_answer.created_at.strftime("%D") %></p>
                    <div class="clearfix">&nbsp;</div>
                    <% end -%>
                </div>
                <% end -%>
                <div>
                    <% (1..4).each do |i| %>
                      <%= link_to_function i, "$('.a_la_minute_question').hide(); $('#alm_#{i-1}').show()" if @alm_questions[i-1].present? %>
                    <% end %>
                    <%= link_to "more", soapbox_a_la_minute_questions_path %>
                </div>
            </div>

            <div class="live-feed">
                <h2>Behind the Line</h2>
                <%= link_to "+ See all", soapbox_topics_path, :class => "link-all" %>
                <% @btl_questions.each_with_index do |question, index| -%>
                <div class="profile_question" id="btl_<%= index %>">
                    <h3>Topic: <%= question.topic.title %></h3>
                    <h4><%= link_to question.title, soapbox_question_path(question) %></h4>
                    <% if question.latest_answer.present? -%>
                    <div style="height:100px">
                        <%= render :partial => 'users/identity', :locals => { :user => question.latest_answer.user } %>
                        <p class="answer"><%= question.latest_answer.answer %></p>
                        <p class="datestamp">Posted <%= question.latest_answer.created_at.strftime("%D") %></p>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <% end -%>
                </div>
                <% end -%>
                <div>
                    <% (1..4).each do |i| %>
                      <%= link_to_function i, "$('.profile_question').hide(); $('#btl_#{i-1}').show()" if @btl_questions[i-1].present? %>
                    <% end %>
                    <%= link_to "more", soapbox_topics_path %>
                </div>
            </div>
            <!-- <div class="live-feed">
                <h2>Newsfeed</h2>
            </div> -->
        </div>
    </div><!-- /inside -->
</section><!-- /content --> 

<aside id="sidebar" class="home">
    <nav id="participate" class="home">
        <div id="front-burner" class="button">
            <h1>Front Burner</h1>
            <p>Check out today's features</p>
            <p><%= link_to @main_feature.display_message, soapbox_soapbox_entry_path(@main_feature) if @main_feature.present? %> / <%= link_to @secondary_feature.display_message, soapbox_soapbox_entry_path(@secondary_feature) if @secondary_feature.present? %></p>
        </div>
        <%#= link_to "Request an <span>invitation</span>", '/soapbox/request-invitation', :class => "button", :id => "login-participate" %>
        <%= link_to "<span>Learn</span> more", '/soapbox/learn_more', :class => "button", :id => "request-invite" %>
    </nav><!-- /participate -->

    <section id="help-questions">
        <header>
            <h1>Need Help? Have Questions?</h1>
        </header>
        <p>You can <a href="mailto:support@restaurantintelligenceagency.com">email our support staff</a> anytime.</p>
        <p>We also have a customer support line available 9am–9pm that can be reached at (312) 572-9082.</p>
    </section><!-- /help-questions -->

    <section id="newsletter">
        <header>
            <h1>Sign up for our Email Newsletter</h1>
        </header>
        <%= render :partial => "newsletter_form" %>
    </section>

    <section id="facebook-button">
        <header>
            <h1>Follow us</h1>
        </header>
        <p>Follow <%= link_to "@EllenMalloy", "http://twitter.com/ellenmalloy" %> on twitter and stay up to date on new features</p>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsoapbox.restaurantintelligenceagency.com%2Fsoapbox&amp;layout=standard&amp;show_faces=true&amp;width=154&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=auto" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:154px; height:auto;" allowTransparency="true"></iframe>
    </section><!-- /facebook-button -->
</aside><!-- /sidebar -->
