<%= semantic_form_for [:admin, @holiday] do |form| %>

  <% form.inputs :name => 'Holiday' do %>
    <%= form.input :name, :input_html => {:class => 'title span-8'} %>
    <%= form.input :date %>
  <% end %>

  <% form.inputs :for => :admin_holiday_reminders do |reminder| -%>
    <li><h3>Reminder</h3></li>
    <%= reminder.input :scheduled_at %>
    <%= reminder.input :message, :input_html => {:rows => 5} %>
  <% end -%>

  <% unless @holiday.new_record? %>
    <p><%= link_to "Add a Reminder", new_admin_holiday_reminder_path(:holiday_id => @holiday) %></p>
  <% end %>

  <%= render :partial => 'shared/employment_criteria', :locals => {:f => form } %>

  <div id="employment_list">
    <%= render :partial => 'shared/employment_list' %>
  </div>

  <p><%= button_tag 'Save', :class => 'positive' %></p>
<% end %>
