<% semantic_form_for [:admin, @holiday] do |form| %>

<%- if @employments.present? %>
  <% form.inputs :name => "Recipients" do %>
    <%= form.input :recipient_ids,
                :collection => @employments,
                :as => :check_boxes,
                :wrapper_html => {:class => 'employment_list checkall'},
                :label_method => :name_and_restaurant,
                :label => "Who should receive this?"
    %>
  <% end %>
<% elsif params[:search] %>
  <p>Oops, we couldn't find anyone by that criteria. Try again.</p>
<% end -%>


  <% form.inputs do %>
    <%= form.input :name, :input_html => {:class => 'title span-8'} %>
    <%= form.input :date %>
  <% end %>

  <% form.inputs :for => :admin_holiday_reminders do |reminder| -%>
    <li><h3>Reminder</h3></li>
    <%= reminder.input :scheduled_at %>
    <%= reminder.input :message, :input_html => {:rows => 5} %>
  <% end -%>

  <% unless @holiday.new_record? %>
  <p><%= link_to "Add a Reminder", new_admin_holiday_reminder_path(:holiday_id => @holiday) %></p>
  <% end %>

  <p><%= button_tag 'Save', :class => 'positive' %></p>
<% end %>
