<%= semantic_form_for [:admin, @subject_matter] do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :general, :hint => "Should this appear under the 'General Information' category?" %>
    <%= f.input :private, :hint => "Is this a subject matter only meant for RIA use (not media)?" %>
  <% end %>
  <p><%= button_tag "Submit", :class => 'positive' %></p>
<% end %>
