<% title "Restaurant Questions" %>

<% if Topic.count > 0 && Chapter.count > 0 -%>
<div class="clearfix"><%= link_to "Add new question", new_admin_restaurant_question_path, :class => "positive button" %></div>
<% else -%>
<p>Add chapters and topics to get started</p>
<% end -%>

<div class="clearfix">
    <%= link_to "Manage topics", admin_restaurant_topics_path, :class => "button" %>
    <%= link_to "Manage chapters", admin_restaurant_chapters_path, :class => "button" %>
</div>

<%- for chapter in @questions.keys -%>
<%- unless chapter.nil? -%>
<h2><%= chapter.title_with_topic %>:</h2>
<%- end -%>

<%= table_for(@questions[chapter], :html => {:id=>"restaurant_questions"}) do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('')%>
      <%= t.h('Title') %>
      <%= t.h('Page') %>
      <th></th>
      <th></th>
      <th></th>

    <% end %>
  <% end %>
  <%= t.body(:html=>{:class=>"ui-sortable"}) do |que_chap| %>
    <tr id="restaurant_question_<%=que_chap.id%>" class="restaurant_question <%=cycle('odd','even', :name => 'featured_profiles')%>">
      <%= t.d(:class => 'small handle') do %>
        [drag]
      <% end %>
      <%= t.d(h(que_chap.title)) %>
      <%= t.d(h(que_chap.pages_description)) %>
      <%= t.d(h(link_to 'Send Notification', send_notifications_admin_restaurant_question_path(que_chap.id),:class=>'admin-actions')) %>
      <%= t.d(h(link_to "Edit",edit_admin_restaurant_question_path(:id => que_chap.id),:class=>'admin-actions')) %>
      <td class="actions destroy_link">
        <%= link_to "Destroy",admin_restaurant_role_path(:id => que_chap.id), :method => :delete %>
      </td> 
  <% end %>
<% end %>





<%- end -%>
