<% title "Set up your profile details" %>

<%= semantic_form_for(@user, :url => complete_registration_path, :html => { :method => :put }) do |f| %>
    <%= f.input :id, :as => :hidden %>
    <%= hidden_field_tag 'step', 2 %>

    <% if @user.primary_employment.present? && @user.primary_employment.restaurant.present? %>
    <strong>Your employment details:</strong> <%= @user.primary_employment.restaurant_role.try(:name) %> at <%= @user.primary_employment.restaurant_name %>
    <% else %>
    <%= f.semantic_fields_for :default_employment do |employment| %>
        <%= render :partial => "default_employments/form", :locals => { :f => employment } %>
    <% end %>
    <% end %>

    <%= f.semantic_fields_for :profile do |profile| %>
        <%= profile.inputs :name => 'Profile Details' do %>
            <%= profile.input :hometown, :input_html=>{:size=>"50"} %>
            <%= profile.input :current_residence, :label => "In what city/state do you work?", :hint => "Or where you live, if currently unemployed", :input_html=>{:size=>"50"} %>
        <% end %>
        <%= profile.inputs :name => "Metro and Region for search" do %>
            <%= profile.input :metropolitan_area %>
            <%= profile.input :james_beard_region, :label => "Region" %>
        <% end %>
    <% end %>

    <p><%= button_tag "Save", :class => 'positive' %></p>
<% end %>