<% title "Testimonials" %>

<%= link_to "New Testimonial", new_admin_testimonial_path, :class => "button positive" %>
<%= table_for(@testimonials,:html => {:id=>"testimonials"}) do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('Photo') %>
      <%= t.h('Quote') %>
      <%= t.h('Person') %>
      <%= t.h('Page') %>
      <th></th> <th></th> <th></th> 
    <% end %>
  <% end %>
  <%= t.body_r(:class =>"testimonial #{cycle('odd','even')}") do |testimonial| %>
    <%= t.d(:class => 'small handle') do %>
      [drag]
    <% end %>
    <%= t.d(h(image_tag testimonial.photo.url(:small))) %>
    <%= t.d(h(testimonial.quote)) %>
    <%= t.d(h(testimonial.person)) %>
    <%= t.d(h(testimonial.page)) %>
    <%= t.d(h(link_to "Edit",edit_admin_testimonial_path(testimonial),:class=>'admin-actions')) %>
    <td class="actions destroy_link">
      <%= link_to "Destroy",admin_testimonial_path(testimonial), :method => :delete %>
    </td> 
  <% end %>
<% end %>
