<%= semantic_form_for [@restaurant, @menu_item], :html => {:multipart => true} do |f| %>
    <%= f.inputs :class=>"menu_form" do %>
      <li>
         <%#= f.label :name, :label => "Name of Dish/Drink/Wine/Beer" %></br>
         <%= f.input :name, :label => "Name of Dish/Drink/Wine/Beer" %>
      </li> 
      <li class="set-textarea-width">
        <%= label_tag "menu_item_description_editor", "Inspiration/Background" %> 
        <p class="inline-hints">Share what makes you excited. Basic HTML formatting is allowed.</p>
        <%= f.cktext_area :description, :input_html => { :rows => 4 }, :toolbar => 'Basic' %></br>
      </li>
      <li>
        <%= f.label :price %>
        <p class="inline-hints">Do not include the dollar sign ($).</p>
        <%= f.input :price, :label => false %>
      </li>   
      <li>    
        <%= f.label :pairing %></br>
        <%= f.input :pairing , :label => false%>
      </li>    
      <li>
         <%= f.label "photo*" %>
        <p class="inline-hints">Please shrink large photos to 2400 pixels on a side before you attempt to upload them. <br />"<strong>iPhone users</strong> - Please take photos in landscape mode"<br/></p>
        <%= f.input :photo, :label => false%>
      </li>   
        <% if @menu_item.photo_file_name.present? -%>
        <p class="clearfix"><%= image_tag @menu_item.photo(:thumb) %></p>
        <% end -%>

        <% unless @menu_item.new_record? -%>
        <h3>Current Keywords</h3>
        <p><%= @menu_item.keywords %></p>
        <% end -%>
        <p class="inline-hints">  
          Media will use the keywords to find your dish so please be accurate and complete.
             <!--Start typing your keywords below and they will appear as you type. Or select a heading to display known keywords-->

            <br/>
            <% if @is_new %>
              Start typing your keywords below and they will appear as you type or <%= link_to "select a heading below to display known keywords.","/" ,:id=>"select-keyword-tab" %>
              <li>
                <%= f.label :search_keywords %>
                 <p class="inline-hints">Example: artisanal, cocktail, beer.</p>
                <%= f.input :search_keywords, :label => false %>  
              </li>
            <% end %>
        </p>
        <section id="form-tabs">
            <nav id="profile-options">
                <% @categories.keys.each do |category| %>
                <span><a href="#form-<%= category.downcase.gsub(/[\s\W]/, "-") %>" id="tab-summary"><%= category %></a></span>
                <% end %>
                  <span class="display-none"><a href="#form-search-keywords" id="tab-summary"></a></span>
            </nav>

            <% @categories.each do |category, keywords| %>
            <section id="form-<%= category.downcase.gsub(/[\s\W]/, "-") %>" class="otm-form-section">
                <div><%= category %></div>
                <% keywords.in_groups(3, OtmKeyword.new).each do |keyword_set| %>
                  <div class="keyword-column">
                      <%= f.input :otm_keywords, :as => "check_boxes", :collection => keyword_set, :label => "&nbsp;" %>
                  </div>
                <% end %>
                <div class="clear">&nbsp;</div>
            </section>
            <% end %>
             <% if @is_new %>
             <section id="form-search-keywords" class="otm-form-section">
              <%=render :partial=>'get_keywords'%>
             </section>
             <% end %>
        </section>

        <section id="social-tabs">
           </br><%= label_tag "social-facebook", "Social Sharing" %>
          <nav id="profile-options">
            <span><a href="#social-twitter">Twitter</a></span>
            <span><a href="#social-facebook">Facebook</a></span>
          </nav>

          <section id="social-twitter" class="social">
            <% if @restaurant.twitter_authorized? -%>
              <p class="inline-hints">
                  You can schedule up to <%= TwitterPost::POST_LIMIT %> Twitter posts. <br/>
                  Please select the date and time you would like each post to be submitted. <br/>
                  You may also include a custom Tweet that will override the default, which is based on the name from above.
              </p>

              <% @menu_item.twitter_posts.each_with_index do |twitter_post, index| %>
                <% if twitter_post.try(:posted?) %>
                  This Tweet posted on <%= twitter_post.post_at.strftime('%Y-%m-%d %H:%M') %>
                <% else %>
                  <%= f.semantic_fields_for :twitter_posts, twitter_post do |twitter| %>
                    <h4>Twitter Post #<%= index+1 %></h4>

                    <%= twitter.input :post_at, :label => "Post to my Twitter account on", :as => :string, :input_html => { :class => 'datetime datetime-width',
                                      :value => twitter_post.try(:post_at).try(:strftime, '%Y-%m-%d %H:%M') } %>

                    <%= twitter.input :content, :label => "Custom Tweet (optional)", :input_html => { :class => 'tweet', :maxlength => 140,
                                      :value => @menu_item.new_record? ? '' : twitter_post.try(:input_value) } %>
                  <% end %>
                <% end %>

                <hr/>
              <% end %>

            <% else %>
              <p>Hook up your Twitter account to autopost this content to your social streams.</p>
            <% end %>
          </section>

          <section id="social-facebook">
            <% if @restaurant.has_facebook_page? %>
              <p class="inline-hints">
                  You can schedule up to <%= FacebookPost::POST_LIMIT %> Facebook posts. <br/>
                  Please select the date and time you would like each post to be submitted. <br/>
                  You may also include a custom message that will override the default, which is based on the name from above.
              </p>

              <% @menu_item.facebook_posts.each_with_index do |facebook_post, index| %>
                <% if facebook_post.try(:posted?) %>
                  This Facebook post was submitted on <%= facebook_post.post_at.strftime('%Y-%m-%d %H:%M') %>
                <% else %>
                  <% begin %>
                    <%= f.semantic_fields_for :facebook_posts, facebook_post do |facebook| %>
                      <h4>Facebook Post #<%= index+1 %></h4>

                      <%= facebook.input :post_at, :label => "Post to Facebook page \"#{@restaurant.facebook_page.fetch.name}\" on", :as => :string, :input_html => { :class => 'datetime datetime-width',
                                         :value => facebook_post.try(:post_at).try(:strftime, '%Y-%m-%d %H:%M') } %>
                      <p class="inline-hints">Schedule posts before <%= current_user.facebook_token_expiration.try(:strftime , "%m/%d/%Y %H:%m:%S") rescue 1.day.from_now.try(:strftime , "%m/%d/%Y %H:%m:%S") %>.</p>

                      <%= facebook.input :content, :label => "Custom Message (optional)", :input_html => { :value => @menu_item.new_record? ? '' : facebook_post.try(:input_value) } %>
                    <% end %>
                  <% rescue Mogli::Client::OAuthException, Mogli::Client::HTTPException ,Exception =>e%>
                    <p>Your Facebook page access has expired. Please reconnect your account on your restaurant profile page.</p>
                  <% end %>
                <% end %>

                <hr/>
              <% end %>

            <% else %>
              <p>Hook up your Facebook account to autopost this content to your social streams.</p>
            <% end %>
          </section>
        </section>

    <% end %>

    <p class="inline-hints">
        Large, high-resolution photos can take a little while to upload, so please be patient.
    </p>
    <%= submit_tag "Save" %>
<% end %>

<%= content_for :javascript do %>
<script type="text/javascript">
  $(document).ready(function() {

    $('#form-tabs').tabs({
      panelTemplate: '<section></section>',
      fx: { duration: 'fast', opacity: 'toggle' }
    });

    $('#social-tabs').tabs({
      panelTemplate: '<section></section>',
      fx: { duration: 'fast', opacity: 'toggle' }
    });

    var now = new Date(), nextYear = new Date();
    nextYear.setYear(now.getFullYear() + 1);

    $('input.datetime').datetimepicker({
      dateFormat: 'yy-mm-dd',
      timeFormat: "HH:mm",
      changeYear: true,
      changeMonth: true,
      minDateTime: now,
      maxDateTime: nextYear
    });

    $('#ui-datepicker-div').wrap('<div class="smoothness"></div>');
    
    $(".tweet").charCount({
      allowed: 140,
      minChar: 5,
      warning: 20,
      counterText: 'Characters left: ',
      cssWarning: 'counter-warning'
    });

  });
</script>
<% end %>
