<% semantic_form_for [@restaurant, @menu_item], :html => {:multipart => true} do |f| %>
    <% f.inputs do %>
        <%= f.input :name, :label => "Name of Dish/Drink/Wine/Beer" %>
	    <li>
			<%= label_tag "menu_item_description_editor", "Inspiration/Background" %>
        	<%= f.cktext_area :description, :input_html => { :rows => 4 }, :toolbar => 'Basic' %>
			<p class="inline-hints">Share what makes you excited. Basic HTML formatting is allowed.</p>
		</li>
        <%= f.input :price, :hint => "Do not include the dollar sign ($)" %>
        <%= f.input :pairing %>
        <%= f.input :photo, :hint => "Please shrink large photos to 2400 pixels on a side before you attempt to upload them" %>
        <% if @menu_item.photo_file_name.present? -%>
        <p class="clearfix"><%= image_tag @menu_item.photo(:thumb) %></p>
        <% end -%>

        <% unless @menu_item.new_record? -%>
        <h3>Current Keywords</h3>
        <p><%= @menu_item.keywords %></p>
        <% end -%>
        <p class="inline-hints">
            Please select the words that best describe your dish<br/>
            Media will use the keywords to find your dish, so please be accurate and complete
        </p>
        <section id="form-tabs">
            <nav id="profile-options">
                <% @categories.keys.each do |category| %>
                <span><a href="#form-<%= category.downcase.gsub(/[\s\W]/, "-") %>" id="tab-summary"><%= category %></a></span>
                <% end %>
            </nav>

            <% @categories.each do |category, keywords| %>
            <section id="form-<%= category.downcase.gsub(/[\s\W]/, "-") %>" class="otm-form-section">
                <div><%= category %></div>
                <% keywords.in_groups(3, OtmKeyword.new).each do |keyword_set| %>
                  <div class="keyword-column">
                      <%= f.input :otm_keywords, :as => "check_boxes", :collection => keyword_set, :label => "&nbsp;" %>
                  </div>
                <% end %>
                <div class="clear">&nbsp;</div>
            </section>
            <% end %>
        </section>

        <% if @menu_item.new_record? -%>
        <% if @restaurant.twitter_authorized? -%>
          <%= f.input :post_to_twitter_at, :label => "Post to my Twitter account on", :start_year => Date.today.year, :end_year => 1.year.from_now.year %>
        <% else %>
          <p>Hook up your Twitter account to autopost this content to your social streams.</p>
        <% end %>
        <% if @restaurant.has_facebook_page? %>
          <% begin %>
          <%= f.input :post_to_facebook_page, :as => "boolean", :label => "Post to Facebook page \"#{@restaurant.facebook_page.fetch.name}\"", :input_html => { :checked => "checked" } %>
          <% rescue Mogli::Client::OAuthException, Mogli::Client::HTTPException %>
          <p>Your Facebook page access has expired. Please reconnect your account on your restaurant profile page.</p>
          <% end %>
        <% else %>
          <p>Hook up your Facebook account to autopost this content to your social streams.</p>
        <% end %>
        <% end -%>
    <% end %>

    <p class="inline-hints">
        Large, high-resolution photos can take a little while to upload, so please be patient
    </p>
    <%= submit_tag "Save" %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function() {
  $('#form-tabs').tabs({
    panelTemplate: '<section></section>',
    fx: { duration: 'fast', opacity: 'toggle' },
  });
});
</script>
<% end %>
