<% semantic_form_for [@restaurant, @menu_item], :html => {:multipart => true} do |f| %>
    <% f.inputs do %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price, :hint => "Do not include the dollar sign ($)" %>
        <%= f.input :pairing %>
        <%= f.input :photo, :hint => "Please shrink large photos to 2400 pixels on a side before you attempt to upload them" %>
        <% if @menu_item.photo_file_name.present? -%>
        <p class="clearfix"><%= image_tag @menu_item.photo(:thumb) %></p>
        <% end -%>

        <% unless @menu_item.new_record? -%>
        <h3>Current Keywords</h3>
        <p><%= @menu_item.keywords %></p>
        <% end -%>
        <p class="inline-hints">
            Please select the words that best describe your dish<br/>
            Media will use the keywords to find your dish, so please be accurate and complete
        </p>
        <section id="form-tabs">
            <nav id="profile-options">
                <% @categories.keys.each do |category| %>
                <span><a href="#form-<%= category.downcase.gsub(/[\s\W]/, "-") %>" id="tab-summary"><%= category %></a></span>
                <% end %>
            </nav>

            <% @categories.each do |category, keywords| %>
            <section id="form-<%= category.downcase.gsub(/[\s\W]/, "-") %>" class="otm-form-section">
                <div><%= category %></div>
                <% keywords.in_groups(3, OtmKeyword.new).each do |keyword_set| %>
                  <div class="keyword-column">
                      <%= f.input :otm_keywords, :as => "check_boxes", :collection => keyword_set, :label => "&nbsp;" %>
                  </div>
                <% end %>
                <div class="clear">&nbsp;</div>
            </section>
            <% end %>
        </section>

        <% if @menu_item.new_record? && current_user.twitter_authorized? -%>
        <%= f.input :post_to_twitter, :as => "boolean", :input_html => { :checked => "checked" } %>
        <%= f.input :user_id, :as => "hidden", :value => current_user.id %>
        <% end -%>
    <% end %>

    <p class="inline-hints">
        Large, high-resolution photos can take a little while to upload, so please be patient
    </p>
    <%= submit_tag "Save" %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function() {
  $('#form-tabs').tabs({
    panelTemplate: '<section></section>',
    fx: { duration: 'fast', opacity: 'toggle' },
  });
});
</script>
<% end %>
