 <% title "On the Menu At #{@restaurant.name}" %>
<div class="color-box-restaurant">
    <%= form_tag menu_items_path  do %>
  		<li class="string optional span-3">
      <label for="otm_keyword_editor">Search</label>
      <%= text_field_tag "otm_keyword_search", "", :name => "keyword" %>
      </li>
      <p class="inline-hints">Enter the name of the Otm Keyword to search</p>
      <p><%= button_tag "Search", :class => 'positive' %></p>
    <% end %>
</div>
<%= render :partial=> "spoonfeed/menu_items/menu_item",:locals => {:menu_item => @menu_item , :buttons => true } %>

<h2 class="clear">Also at <%= @restaurant.name %></h2>

<%@restaurant.menu_items.all(:order => "created_at DESC", :limit => 6).reject { |m| m == @menu_item }.each do |menu_item|  %>
	<%= render :partial=> "spoonfeed/menu_items/menu_item",:locals => { :menu_item => menu_item ,:dashboard =>true } %>

<% end %>