<% title "On the Menu" %>

<div>
    <% semantic_form_for [@restaurant, @menu_item] do |f| %>
        <% f.inputs do %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :price %>
            <%= f.input :otm_keywords, :as => "check_boxes", :collection => OtmKeyword.all(:order => "category"), :label => "Keywords" %>
        <% end %>

        <%= submit_tag "Save" %>
    <% end %>
</div>
