<% title "On the Menu" %>

<p class="clearfix"><%= link_to "Add a new item", new_restaurant_menu_item_path(@restaurant), :class => "button" %></p>

<div id="menu_items">
    <% for menu_item in @menu_items -%>
    <dl class="<%= cycle("odd", "even") %>">
        <dt>Name</dt>
        <dd><%= menu_item.name %></dd>

        <dt>Description</dt>
        <dd><%= menu_item.description %></dd>

        <dt>Price</dt>
        <dd><%= price(menu_item.price) %></dd>

        <% if menu_item.photo_file_name.present? -%>
        <dt>Photo</dt>
        <dd><%= image_tag menu_item.photo(:thumb) %></dd>
        <% end -%>

        <dt>Keywords</dt>
        <dd><%= menu_item.keywords %></dd>
    </dl>
    <p><%= link_to "edit", edit_restaurant_menu_item_path(@restaurant, menu_item) %> | <%= link_to "delete", restaurant_menu_item_path(@restaurant, menu_item), :method => "delete" %></p>
<% end -%>
</div>