<% title "On the Menu :: #{@restaurant.name}", false %>
<div id="restaurant_profile_view" class="edit clear clearfix">
    <%= render 'restaurants/restaurant_editing_header' %>

    <div id="editing_restaurant">
        <div id="menu_items_header">
            <h2>On the Menu</h2>
        </div>
        <p class="clearfix"><%= link_to "Add a new item", new_restaurant_menu_item_path(@restaurant), :class => "button" %></p>

		<p>Prefer email? Send your new menu item to <%= mail_to MenuItem.email_address_for_restaurant(@restaurant) %>. Include a photo as an attachment, name of dish in subject of email, description in body of email and, on a separate line, use $ to indicate price.</p>

        <div id="menu_items">
            <% for menu_item in @menu_items -%>
            <dl class="<%= cycle("odd", "even") %>">
                <dt>Name</dt>
                <dd><%= menu_item.name %></dd>

                <dt>Description</dt>
                <dd><%= Loofah::Helpers.sanitize(menu_item.description).html_safe %></dd>

                <dt>Price</dt>
                <dd><%= price(menu_item.price) %></dd>

                <dt>Pairing</dt>
                <dd><%= menu_item.pairing %></dd>

                <% if menu_item.photo_file_name.present? -%>
                <dt>Photo</dt>
                <dd><%= image_tag menu_item.photo(:thumb) %></dd>
                <% end -%>

                <dt>Keywords</dt>
                <dd><%= menu_item.keywords %></dd>
            </dl>
            <p class="actions">
                <% if @restaurant.has_facebook_page? -%><%= link_to "post to Facebook page now", facebook_post_restaurant_menu_item_path(@restaurant, menu_item), :method => "post" %> |<%- end %>
                <%= link_to "edit", edit_restaurant_menu_item_path(@restaurant, menu_item) %> |
                <%= link_to "delete", restaurant_menu_item_path(@restaurant, menu_item), :method => "delete", :confirm => "Are you sure you want to delete this?" %>
            </p>
            <% end -%>
        </div>

        <%= will_paginate(@menu_items) %>
    </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->
