<% title "Topics" %>

<div class="clearfix">
    <%= link_to "New Topic", new_admin_topic_path, :class => "button positive" %>
    <%= link_to "Back to Profile Questions", admin_profile_questions_path, :class => "button" %>
</div>

<%= table_for(@topics, :html => {:id=>"topics"}) do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('')%>
      <%= t.h('Name') %>
      <%= t.h('Description') %>
      <%= t.h('can_be_deleted?') %>
      <th></th>
    <% end %>
  <% end %>
  <%= t.body(:html=>{:class=>"ui-sortable"}) do |topic| %>
    <tr id="topic_<%=topic.id%>" class="topic <%=cycle('odd','even', :name => 'topic')%>">
      <%= t.d(:class => 'small handle') do %>
        [drag]
      <% end %>
      <%= t.d(h(topic.title)) %>
      <%= t.d(h(topic.description)) %>
      <% if topic.chapters.count == 0 %>
        <%= t.d(h( link_to "Destroy",admin_topic_path(:id => topic.id), :method => :delete,:confirm => "Are you sure ?" ,:class=>'admin-actions')) %>
      <% else %>
        <td></td>
      <% end %>  
      <%= t.d(h(link_to "Edit",edit_admin_topic_url(:id => topic.id),:class=>'admin-actions')) %>
  <% end %>
<% end %>