<% if holiday = @discussion.holiday %>
<% title holiday.name %>

  <%= render holiday %>
  
  <%= auto_link(simple_format(@discussion.holiday_reminders.current.first.message)) %>

  <%= render :partial => 'comments' %>

  <% if current_user.admin? %>
  <div id="holiday_discussion_acceptable" class="span-2 last">
    <%= semantic_form_for(@discussion, :html => {:method => :put}) do |f| %>
      <%= f.inputs :accepted %>
      <p><%= button_tag "Save" %></p>
    <% end %>
  </div>
  <% end %>

<% end %>