<div id="jumbotron">
  <div id="jumbo_promo">
    <% if @mediafeed_slides.any? -%>
  		<% if (slide = @mediafeed_slides.first).link.present? -%>
  		  <h1><%= link_to slide.title, slide.link %></h1>
  		<% else -%>
  		  <h1><%= slide.title %></h1>
  		<% end -%>
  		<p id="excerpt"><%= slide.excerpt %><% unless slide.link.blank? -%> <%= link_to "Learn&nbsp;more&nbsp;&#187;", slide.link %><% end -%></p>
  		<p id="photo_credit">Photo Credit: <%= slide.photo_credit %></p>
  	<% end -%>
  </div><!--#jumbo_promo-->
  <% if @mediafeed_slides.any? -%>
    <div id="jumbotron-cycle">
  	  <%= render @mediafeed_slides %>
  	</div>
	<% end -%>
</div><!--#jumbotron-->

<div id="jumbotron_controller">
  <nav></nav>
</div>

  <%= render @mediafeed_promos if @mediafeed_promos.any? %>
