<div style="width:800px" class="color-box-restaurant">
  <% if  @promotion.blank? %>
    <%= semantic_form_for @menu_item, :url => mediafeed_request_information_mail_path, :html => {:id=>"editing_restaurant",:class=>"request_more_information" ,:method => :post} do |f| %>
      
        <table class="fixed-width-tbl" cellpadding="10">  
          <tr> 
            <td width="15%" class="labels"> From: </td> 
            <td width="85%"> <%= current_user.publication? ? current_user.publication : "Freelance" %> </td>
          </tr>
          <tr> 
            <td class="labels"> Name: </td> 
            <td ><%= f.text_field :name  %></td>
          </tr>
          <tr> 
            <td class="labels"> Subject: </td> 
            <td ><%= f.text_field :subject ,"Request More Information : #{@menu_item.name}"  %></td>
          </tr>
        </table>

      <table class="fixed-width-tbl"  cellpadding="10">
        <tr>
         <td width="15%" class="labels"> &nbsp;</td>
          <td width="85%"> 
            <%= text_area_tag 'comment',nil,:placeholder => "Add a comment..."  %>  
            <%if @menu_item.restaurant.manager.avatar? -%>       
                <div class="manager manager-img">
                    <%= image_tag(@menu_item.restaurant.manager.avatar.url(:thumb), :width => 'auto', :height => 'auto') %>
                </div>
            <% end -%>
                <div class="manager">
                  <p>
                    <b><%= @menu_item.restaurant.manager.name %></b>
                    <br><%= truncate(@menu_item.description,:length => 50) %></p>
                </div>

          </td>

        </tr>


        <tr>

          <td>&nbsp;</td>
           <td>
            <%= button_tag :class => 'positive' do %>Send <% end %>
          </td>
        </tr>
      </table>
        <%= f.hidden_field :name, :value => @menu_item.name %>
        <%= f.hidden_field :description, :value => @menu_item.description %>
        <%= f.hidden_field :id, :value => params[:menu_item_id] %>

    <% end %>

  <% else %>

    <%= semantic_form_for @promotion, :url => mediafeed_request_information_mail_path, :html => {:id=>"editing_restaurant" ,:class=>"request_more_information" ,:method => :post} do |f| %>

      <table class="fixed-width-tbl" cellpadding="10">  
        <tr> 
          <td width="15%" class="labels"> From: </td> 
          <td width="85%"> <%= current_user.publication? ? current_user.publication : "Freelance" %> </td>
        </tr>
        <tr> 
          <td class="labels"> Name: </td> 
          <td ><%= text_field :name ,@promotion.title  %></td>
        </tr>
        <tr> 
          <td class="labels"> Subject: </td> 
          <td ><%= text_field :subject ,"Request More Information : #{@promotion.title}"  %></td>
        </tr>
      </table>

      <table class="fixed-width-tbl"  cellpadding="10">
        <tr>
         <td width="15%" class="labels"> &nbsp;</td>
          <td width="85%"> 
            <%= text_area 'comment',nil,:placeholder => "Add a comment..."  %>  
            <%if @promotion.restaurant.manager.avatar? -%>       
                <div class="manager manager-img">
                    <%= image_tag(@promotion.restaurant.manager.avatar.url(:thumb), :width => 'auto', :height => 'auto') %>
                </div>
            <% end -%>
                <div class="manager">
                  <p>
                    <b><%= @promotion.restaurant.manager.name %></b>
                    <br><%= truncate(@promotion.details,:length => 50).html_safe %></p>
                </div>

          </td>

        </tr>


        <tr>

          <td>&nbsp;</td>
           <td>
            <%= button_tag :class => 'positive' do %>Send <% end %>
          </td>
        </tr>
      </table>
      <%= f.hidden_field :title, :value => @promotion.title %>
      <%= f.hidden_field :details, :value => @promotion.details %>
      <%= f.hidden_field :id, :value => params[:promotion_id] %>
    <% end %>

  <% end %>
</div>