<% title "Admin Messages" %>

<% [Admin::Qotd, Admin::TrendQuestion, Admin::Announcement, Admin::PrTip].each do |message_type| %>

<div class="span-9 <%= cycle('clear', 'last', :name => 'message_types') %> admin_message_section">
  <p>
    <%= link_to (image_tag("plus.png") + "New #{message_type.title}"), new_polymorphic_path(message_type.new), :class => 'button positive' %>
  </p>
  <h3><%= message_type.shorttitle %>s</h3>
  <table class="admin_message_table">
    <thead>
      <tr>
        <th>Created</th>
        <th>Message</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @message_groups[message_type] && @message_groups[message_type].each do |message| %>
        <tr class="<%= cycle('odd','even', :name => message_type.title) %>">
          <td><%= message.created_at.strftime("%m/%d") %></td>
          <td><%= link_to message.message, admin_message_path(message) %></td>
          <td class="actions">
            <%= link_to "#{message.reply_count} of #{message.admin_conversations.count} Replies",
                admin_message_path(message) if message.recipients_can_reply? %>
          </td>
          <td class="actions edit_link">
            <%= link_to "Edit", edit_polymorphic_path(message) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% end %>
