<% title "Admin Messages" %>

<ul class="mini_menu">
  <li><%= link_to "New QOTD", new_admin_qotd_path %></li>
  <li><%= link_to "New Announcement", new_admin_announcement_path %></li>
  <li><%= link_to "New PR Tip", new_admin_pr_tip_path %></li>
  <li><%= link_to "New Trend Question", new_admin_trend_question_path %></li>
</ul>

<% @message_groups.each do |klass, messages| %>

<div class="span-9 <%= cycle('clear', 'last', :name => 'tablecol') %> admin_message_section">
  <p>
    <%= link_to (image_tag("plus.png") + "New #{klass.title}"), new_polymorphic_path(klass.new), :class => 'button positive' %>
  </p>

  <h3><%= klass.title %>s</h3>

  <% table_for(messages) do |t| %>
    <% t.data :actions => :edit do
        t.cell(:created_at) {|m| m.created_at.strftime("%m/%d") }
        t.cell(:message)
        t.cell(:show, :heading => '', :cell_html => {:class => 'actions'}) do |m|
          link_to "#{m.reply_count}&nbsp;Replies", admin_message_path(m) if m.recipients_can_reply?
        end
       end %>
  <% end %>
</div>
<% end %>
