<% title @message.class.title %>

<div class="admin_message">
    <h2 class="message_title function-bold">
        <span class="message_date">
            <%= @message.created_at.strftime('%m/%d') %><span class="separator">:</span>
        </span>
        <%= @message.class.try(:title) %>
    </h2>

    <div class="message_body">
        <%= simple_format @message.message %>
    </div>

    <div class="message_body">
        Display message: <%= @message.display_message %>
    </div>
</div>

<% if @message.title == "Question of the Day" %>
  <% if @message.soapbox_entry %>
    <div class="clearfix">
        <%= link_to "View on Soapbox", soapbox_soapbox_entry_path(@message.soapbox_entry), :class => "button" %>
    </div>
  <% else %>
    <div class="clearfix">
        <%= link_to "Add to Soapbox", new_admin_soapbox_entry_path(:qotd_id => @message.to_param), :class => "button" %>
    </div>
  <% end %>
<% end %>

<div id="message_have_replied" class="span-9 admin_conversations_list">
  <div class="admin_messages_header">
    <span class="indicator"></span>
    <h3>Replied (<%= @message.conversations_with_replies.count %>)</h3>
    <%- if @message.title == "Question of the Day" -%><h4>[s] authorized for soapbox</h4><%- end -%>
  </div>
  <table>
    <%= render :partial => 'admin_conversations/admin_conversation',
               :collection => @message.conversations_with_replies %>
  </table>
</div>

<div id="message_have_not_replied" class="span-9 last admin_conversations_list">
  <div class="admin_messages_header">
    <span class="indicator"></span>
    <h3>Have Not Replied (<%= @message.conversations_without_replies.count %>)</h3>
  </div>

  <table>
    <%= render :partial => 'admin_conversations/admin_conversation',
               :collection => @message.conversations_without_replies %>
  </table>
</div>

<p class="clear"><%= link_to 'Back to All', admin_messages_path %></p>
