<div id="extended_profile" class="clearfix">
    <div class="span-5 append-1">
        <h3>Work Experience</h3>
        <ul class="employments clearfix">
            <% for employment in user.employments %>
            <li class="culinary">
                <%= image_tag 'avatar_restaurant.gif', :width=>'50', :class => 'restaurant_avatar pull-1' %>
                <span class="restaurant_name"><a class="organization"><%= employment.restaurant.name %></a></span>
                <span class="employee_title"><%= employment.restaurant_role.try(:name) %></span>
                <span class="date_range">Current</span>
            </li>
            <% end %>
            <% profile && profile.culinary_jobs.each do |job| %>
            <li class="culinary">
                <%= image_tag 'avatar_restaurant.gif', :width=>'50', :class => 'restaurant_avatar pull-1' %>
                <span class="restaurant_name"><%= job.restaurant_name %></span>
                <span class="employee_title"><%= job.title %></span>
                <span class="date_range"><%= date_range(job) %></span>
            </li>
            <% end %>
            <% profile && profile.nonculinary_jobs.each do |job| %>
            <li class="nonculinary">
                <%= image_tag 'avatar_restaurant.gif', :width=>'50', :class => 'restaurant_avatar pull-1' %>
                <span class="company_name"><%= job.company %></span>
                <span class="employee_title"><%= job.title %></span>
                <span class="date_range"><%= date_range(job) %></span>
            </li>
            <% end %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.try(:work_experience_updated_at).try(:strftime, "%b %e %Y") %>
        </span>

        <% if profile && profile.awards.present? %>
        <h3>Awards</h3>
        <ul class="awards">
            <%= render profile.awards %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.section_updated_at(profile.awards).try(:strftime, "%b %e %Y") %>
        </span>
        <% end %>

        <% if profile && profile.accolades.present? %>
        <h3>Accolades</h3>
        <ul class="accolades">
            <%= render profile.accolades %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.section_updated_at(profile.accolades).try(:strftime, "%b %e %Y") %>
        </span>
        <% end %>
    </div>
    
    <div class="span-5 last">
        <% if profile && profile.enrollments.present? %>
        <h3>Culinary Education</h3>
        <ul class="education">
            <% profile.enrollments.all(:order => 'graduation_date DESC').each do |enrollment| %>
            <li>
                <p class="school_name"><%= enrollment.school.try(:name) %></p>
                <span class="grad_year">
                    <%= enrollment.graduation_date.try(:year) || "Did not graduate" %>
                </span>
                <% [:degree, :focus, :scholarships].each do |field| %>
                <% if enrollment.try(field).present? %>
                <span class="<%= field %>">
                    <%= enrollment.try(field) %>
                </span>
                <% end %>
                <% end -%>
            </li>
            <% end %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.section_updated_at(profile.enrollments).try(:strftime, "%b %e %Y") %>
        </span>
        <% end %>

        <% if profile && profile.nonculinary_enrollments.present? %>
        <h3>Education (Other)</h3>
        <ul class="education">
            <% profile.nonculinary_enrollments.all(:order => 'graduation_date DESC').each do |enrollment| %>
            <li>
                <p class="school_name"><%= enrollment.nonculinary_school.try(:name) %></p>
                <span class="grad_year">
                    <%= enrollment.graduation_date.try(:year) || "Did not graduate" %>
                </span>
                <% [:degree, :field_of_study, :achievements].each do |field| %>
                <% if enrollment.try(field).present? %>
                <span class="<%= field %>">
                    <%= enrollment.try(field) %>
                </span>
                <% end %>
                <% end -%>
            </li>
            <% end %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.section_updated_at(profile.nonculinary_enrollments).try(:strftime, "%b %e %Y") %>
        </span>
        <% end %>

        <% if false %>
        <h3>Certifications And Professional Associations</h3>
        <ul class="associations">
            <% profile.associations_items.each do |item| %>
            <li><%= item.content %></li>
            <% end %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.section_updated_at(profile.associations_items).try(:strftime, "%b %e %Y") %>
        </span>
        <% end %>

        <% if profile && profile.competitions.present? %>
        <h3>Competitions</h3>
        <ul id="competitions">
            <%= render profile.competitions %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.section_updated_at(profile.competitions).try(:strftime, "%b %e %Y") %>
        </span>
        <% end %>

        <% if profile && profile.internships.present? %>
        <h3>Internships</h3>
        <ul id="internships">
            <%= render profile.internships %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.section_updated_at(profile.internships).try(:strftime, "%b %e %Y") %>
        </span>
        <% end %>

        <% if profile && profile.stages.present? %>
        <h3>Stages</h3>
        <ul id="stages">
            <%= render profile.stages %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.section_updated_at(profile.stages).try(:strftime, "%b %e %Y") %>
        </span>
        <% end %>

        <% if profile && profile.apprenticeships.present? %>
        <h3>Apprenticeships</h3>
        <ul id="apprenticeships">
            <%= render profile.apprenticeships %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.section_updated_at(profile.apprenticeships).try(:strftime, "%b %e %Y") %>
        </span>
        <% end %>
    </div>
</div>
