<div id="extended_profile" class="clearfix">
      <div class="extended_profile_info">
        <h3>Work Experience: Culinary</h3>
        <ul class="employments clearfix ">
            <% for employment in user.employments %>
            <li class="culinary equalheights">
                <span class="name"><%= restaurant_link(employment.restaurant) %></span><br />
                <span class="employee_title">Title: <%= employment.restaurant_role.try(:name) %></span><br />
                <span class="date_range">Employment: Current</span>
            </li>
            <% end %>
          <% profile && profile.culinary_jobs.each do |job| %>          
          <li class="culinary equalheights">
              <span class="name"><%= job.restaurant_name %></span><br />
              <span class="employee_title">Title: <%= job.title %></span><br />
              <span class="chef_name">Chef: <%= (job.chef_name == user.name) ? "Myself" : job.chef_name %></span><br />
              <span class="cuisine">Cuisine: <%= job.cuisine %></span><br />
              <span class="notes">Notes: <%= job.notes %></span><br />
              <span class="opening_staff"><%= "Was on opening staff<br/>" if job.opening_staff? %></span><br />
              <span class="date_range">Employment: <%= date_range(job) %></span>
          </li>
          <% end %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.try(:work_experience_updated_at).try(:strftime, "%b %e %Y") %>
        </span>
      </div>
      
      <%- if profile && profile.nonculinary_jobs.present? -%>
      <div class="extended_profile_info">
        <h3>Work Experience: Non-Culinary</h3>
        <ul class="employments clearfix">
          <% profile && profile.nonculinary_jobs.each do |job| %>
          <li class="nonculinary equalheights">
              <span class="name"><%= job.company %></span><br />
              <span class="employee_title">Title: <%= job.title %></span><br />
              <span class="responsibilities">Responsibilities: <%= job.responsibilities %></span><br />
              <span class="date_range">Employment: <%= date_range(job) %></span>
          </li>    
          <% end %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.try(:non_culinary_work_experience_updated_at).try(:strftime, "%b %e %Y") %>
        </span>
      </div>
      <%- end -%>
      
        <% if profile && profile.awards.present? %>
        <div class="extended_profile_info">
          <h3>Awards</h3>
          <ul class="awards">
              <%= render :partial => 'awards/award', :collection => profile.awards %>
          </ul>
          <span class="timestamp">
              Last updated:
              <%= profile.section_updated_at(profile.awards).try(:strftime, "%b %e %Y") %>
          </span>
        </div>
        <% end %>

        <% if profile && profile.accolades.present? %>
        <div class="extended_profile_info">
          <h3>Accolades</h3>
          <ul class="accolades">
              <%= render :partial => 'accolades/accolade', :collection => profile.accolades %>
          </ul>
          <span class="timestamp">
              Last updated:
              <%= profile.section_updated_at(profile.accolades).try(:strftime, "%b %e %Y") %>
          </span>
        </div>
        <% end %>

        <% if profile && profile.enrollments.present? %>
        <div class="extended_profile_info">
          <h3>Culinary Education</h3>
          <ul class="education">
              <% profile.enrollments.all(:order => 'graduation_date DESC').each do |enrollment| %>
              <li>
                  <p class="school_name"><span class="name"><%= enrollment.school.try(:name) %></span><br />
                  <span class="grad_year">
                      <%= enrollment.graduation_date.try(:year) || "Did not graduate" %>
                  </span><br />
                  <% [:degree, :focus, :scholarships].each do |field| %>
                  <% if enrollment.try(field).present? %>
                  <span class="<%= field %>">
                      <%= enrollment.try(field) %>
                  </span><br />
                  <% end %>
                  <% end -%>
                  </p>
              </li>
              <% end %>
          </ul>
          <span class="timestamp">
              Last updated:
              <%= profile.section_updated_at(profile.enrollments).try(:strftime, "%b %e %Y") %>
          </span>
        </div>
        <% end %>

        <% if profile && profile.nonculinary_enrollments.present? %>
        <div class="extended_profile_info">
          <h3>Other Education</h3>
          <ul class="education">
              <% profile.nonculinary_enrollments.all(:order => 'graduation_date DESC').each do |enrollment| %>
              <li>
                  <p class="school_name"><span class="name"><%= enrollment.nonculinary_school.try(:name) %></span><br />
                  <span class="grad_year">
                      <%= enrollment.graduation_date.try(:year) || "Did not graduate" %>
                  </span><br />
                  <% [:degree, :field_of_study, :achievements].each do |field| %>
                  <% if enrollment.try(field).present? %>
                  <span class="<%= field %>">
                      <%= enrollment.try(field) %>
                  </span><br />
                  <% end %>
                  <% end -%>
                  </p>
              </li>
              <% end %>
          </ul>
          <span class="timestamp">
              Last updated:
              <%= profile.section_updated_at(profile.nonculinary_enrollments).try(:strftime, "%b %e %Y") %>
          </span>
        </div>
        <% end %>

        <% if false %>
        <h3>Certifications And Professional Associations</h3>
        <ul class="associations">
            <% profile.associations_items.each do |item| %>
            <li><%= item.content %></li>
            <% end %>
        </ul>
        <span class="timestamp">
            Last updated:
            <%= profile.section_updated_at(profile.associations_items).try(:strftime, "%b %e %Y") %>
        </span>
        <% end %>

        <% if profile && profile.competitions.present? %>
        <div class="extended_profile_info">
          <h3>Competitions</h3>
          <ul id="competitions">
              <%= render :partial => 'competitions/competition', :collection => profile.competitions %>
          </ul>
          <span class="timestamp">
              Last updated:
              <%= profile.section_updated_at(profile.competitions).try(:strftime, "%b %e %Y") %>
          </span>
        </div>
        <% end %>

        <% if profile && profile.internships.present? %>
        <div class="extended_profile_info">
          <h3>Internships</h3>
          <ul id="internships">
              <%= render :partial => 'internships/internship', :collection => profile.internships %>
          </ul>
          <span class="timestamp">
              Last updated:
              <%= profile.section_updated_at(profile.internships).try(:strftime, "%b %e %Y") %>
          </span>
        </div>
        <% end %>

        <% if profile && profile.stages.present? %>
        <div class="extended_profile_info">
          <h3>Stages</h3>
          <ul id="stages">
              <%= render :partial => 'stages/stage', :collection => profile.stages %>
          </ul>
          <span class="timestamp">
              Last updated:
              <%= profile.section_updated_at(profile.stages).try(:strftime, "%b %e %Y") %>
          </span>
        </div>
        <% end %>

        <% if profile && profile.apprenticeships.present? %>
        <div class="extended_profile_info">
          <h3>Apprenticeships</h3>
          <ul id="apprenticeships">
              <%= render :partial => 'apprenticeships/apprenticeship', :collection => profile.apprenticeships %>
          </ul>
          <span class="timestamp">
              Last updated:
              <%= profile.section_updated_at(profile.apprenticeships).try(:strftime, "%b %e %Y") %>
          </span>
        </div>
        <% end %>
        
        <% if profile && profile.cookbooks.present? %>
        <div class="extended_profile_info">
          <h3>Cookbooks</h3>
          <ul id="cookbooks">
              <%= render :partial => 'cookbooks/cookbook', :collection => profile.cookbooks %>
          </ul>
          <span class="timestamp">
              Last updated:
              <%= profile.section_updated_at(profile.cookbooks).try(:strftime, "%b %e %Y") %>
          </span>
        </div>
        <% end %>
</div>
