<div id="extended_profile" class="clearfix">
  <div class="span-5 append-1">
    <h3>Work Experience</h3>
    <ul class="employments clearfix">
    <% for employment in user.employments %>
      <li>
        <%= image_tag 'avatar_restaurant.gif', :width=>'50', :class => 'restaurant_avatar pull-1' %>
        <a class="organization"><%= employment.restaurant.name %></a><br />
        <span class="employee_role"><%= employment.restaurant_role.try(:name) %></span>
      </li>
    <% end %>
    <% profile && profile.profile_restaurants.each do |restaurant| %>
      <li>
        <%= image_tag 'avatar_restaurant.gif', :width=>'50', :class => 'restaurant_avatar pull-1' %>
        <span class="restaurant_name"><%= restaurant.restaurant_name %></span>
        <span class="employee_title"><%= restaurant.title %></span>
        <span class="date_range"><%= date_range(restaurant) %></span>
      </li>
    <% end %>
    </ul>

    <% if false %>
      <h3>Awards</h3>
      <ul class="awards">
        <% profile.awards_items.each do |item| %>
          <li><%= item.content %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="span-5 last">

    <% if false %>
      <h3>Education</h3>
      <ul class="education">
        <% profile.education_items.each do |item| %>
          <li><%= simple_format item.content %></li>
        <% end %>
      </ul>
    <% end %>

    <% if false %>
      <h3>Certifications And Professional Associations</h3>
      <ul class="associations">
        <% profile.associations_items.each do |item| %>
          <li><%= item.content %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
