<% unless @user.blank? %>
	<div style="float:right">
		<% if current_user.user_profile_subscribe(@user).blank? %>
	     <%= link_to 'Subscribe',user_profile_subscribe_path(@user.username),:class=>"subscribe" %>,
	  <% else %> 
	     <%= link_to 'Unsubscribe', user_profile_subscribe_path(@user.username),:class=>"unsubscribe" %>,
	  <% end  %>   
	     <%= mail_to 'help@restaurantintelligenceagency.com',"Inquire" ,:subject => "Question regarding your Spoonfeed profile" %>
	     <%= link_to (image_tag "http://blog.restaurantintelligenceagency.com/images/newsletter/print.jpg"), "javascript:window.print();" %>
	     <%= link_to image_tag("http://blog.restaurantintelligenceagency.com/images/newsletter/mail.gif"), "mailto:#{@user.email}?Subject=Reporting restaurant" %>
	</div> 
<% end %>

<% unless params[:specialty_id].blank? %>
  <div>
		<% if current_user.user_profile_subscribe(user).blank? %>
	     <%= link_to 'Subscribe',user_profile_subscribe_path(user.username,:specialty_id=>params[:specialty_id]) %>,
	  <% else %> 
	     <%= link_to 'Unsubscribe', user_profile_subscribe_path(user.username,:specialty_id=>params[:specialty_id]) %>,
	  <% end  %>   
	     <%= mail_to 'help@restaurantintelligenceagency.com',"Inquire" ,:subject => "Question regarding your Spoonfeed profile" %>
	     <%= link_to (image_tag "http://blog.restaurantintelligenceagency.com/images/newsletter/print.jpg"), "javascript:window.print();" %>
	     <%= link_to image_tag("http://blog.restaurantintelligenceagency.com/images/newsletter/mail.gif"), "mailto:#{user.email}?Subject=Reporting restaurant" %>
	</div> 
<% end %>

<% if params[:controller] == "directory" && params[:specialty_id].blank? %>
  <div>
		<% if current_user.user_profile_subscribe(user).blank? %>
	     <%= link_to 'Subscribe',user_profile_subscribe_path(user.username,:directory=>true) %>,
	  <% else %> 
	     <%= link_to 'Unsubscribe', user_profile_subscribe_path(user.username,:directory=>true) %>,
	  <% end  %>   
	     <%= mail_to 'help@restaurantintelligenceagency.com',"Inquire" ,:subject => "Question regarding your Spoonfeed profile" %>
	     <%= link_to (image_tag "http://blog.restaurantintelligenceagency.com/images/newsletter/print.jpg"), "javascript:window.print();" %>
	     <%= link_to image_tag("http://blog.restaurantintelligenceagency.com/images/newsletter/mail.gif"), "mailto:#{user.email}?Subject=Reporting restaurant" %>
	</div> 
<% end %>




