<% title "Edit Your Account" %>


<% form_for @user, :html => { :multipart => true } do |f| %>
  <fieldset class="headshot">
    <h3>Headshot</h3>
  <p>
    <%= image_tag @user.avatar.url(:thumb), :class => 'thumbnail' %><br/>
    <%= f.label :avatar, "Headshot" %>
    <%= f.file_field :avatar %>
  </p>
  <p>
  <%= button_tag (image_tag('tick.png') + "Upload Headshot"), :class => 'positive' %>
  <span class="button-separator"> or </span> 
  <%= link_to (image_tag('x.png') + "Remove my headshot"), remove_avatar_user_path(@user), :method => :put, :confirm => "Are you sure you want to remove your headshot? You'll have to upload another one later to get it back", :class => 'button negative' %>
  </p>
  </fieldset>
<% end %>
<fieldset class="twitter">
  <h3>Twitter</h3>
  <% if @user.twitter_authorized? -%>
  <hr/>  
  	<p>You currently have your Twitter account set up <em><%= @user.twitter_username %></em>. To change which Twitter account you want your SpoonFeed account linked with, you can remove the Twitter credentials below, and then setup Twitter again.<br/>
  	<%= link_to (image_tag('x.png') + "Remove Twitter Information"), remove_twitter_user_path(@user), :confirm => "Are you sure you want to unlink your Twitter account? This action cannot be undone.", :method => :put, :class => 'button negative' %>
  	<%= link_to 'Read Twitter Timeline', twitter_timelines_path, :class=>'button positive' %></p>
  <% elsif @user.twitter_allowed? -%>
    <%= link_to "Setup Twitter", new_twitter_authorization_url, :class=>'sf-button' %>
  <% end -%>
</fieldset>

<%= render :partial => 'form' %>

<hr/>

<p><%= link_to "Cancel editing", profile_path(@user.username), :class => 'button' %></p>