<% title "#{@user.first_name}'s Profile", false %>

<div class="user_profile">
    <%= render :partial => "profile_header" %>

    <aside id="sidebar" class="left">
        <div id="facts">
            <div class="contactDetails">
                <h3>Quick Facts</h3>
                <% if display_cell(@user) -%>
                <h4>phone: <span><%= @user.profile.cellnumber %></span></h4>
                <% end -%>

                <%- if display_email(@user) -%>
                <h4>email: <span><%= mail_to(@user.email, truncate(@user.email, :length => 20)) %></span></h4>
                <%- end -%>

                <% if display_twitter(@user) -%>
                <h4>twitter: <span><%= link_to @user.twitter_username, "http://twitter.com/#{@user.twitter_username}" %></span></h4>
                <% end -%>

                <% if display_facebook(@user) -%>
                <h4>facebook: <span><%= link_to @user.facebook_user.name, @user.facebook_user.link %></span></h4>
                <% end -%>

                <p>last updated: <%= @user.profile.try(:updated_at).try(:strftime, '%m/%d/%y') %></p>
            </div>

            <% if @user.profile.try(:cuisines).present? -%>
            <h5>cuisines known for:</h5>
            <p>
                <%= @user.profile.cuisines.map { |c| link_to c.name, directory_search_link(:cuisine_id => c.id) }.join(", ").html_safe %>
            </p>
            <% end -%>

            <% if @user.profile.try(:current_residence).present? -%>
            <h5>resides in:</h5>
            <p><%= @user.profile.try(:current_residence) %></p>
            <% end -%>

            <% if @user.profile.try(:metropolitan_area).present? -%>
            <h5>Metropolitan Area:</h5>
            <p><%= link_to @user.profile.try(:metropolitan_area).try(:name), directory_path(:metropolitan_area_id => @user.profile.try(:metropolitan_area).try(:id)) %></p>
            <% end -%>

            <% if @user.profile.try(:james_beard_region).present? -%>
            <h5>Region:</h5>
            <p><%= link_to link_to @user.profile.try(:james_beard_region).try(:name), directory_path(:james_beard_region_id => @user.profile.try(:james_beard_region).try(:id)) %></p>
            <% end -%>

            <% if @user.profile.try(:job_start).present? -%>
            <h5>job start:</h5>
            <p><%= @user.profile.job_start.try(:strftime, '%B %d, %Y') %></p>
            <% end -%>

            <% if @user.profile.try(:birthday).present? -%>
            <h5>birthdate:</h5>
            <p><%= @user.profile.birthday %></p>
            <% end -%>

            <% if @user.profile.try(:hometown).present? -%>
            <h5>birthplace:</h5>
            <p><%= @user.profile.hometown %></p>
            <% end -%>

            <p id="resume-link"><%= link_to "View Resume", resume_user_path(@user) if @user.profile.present? %></p>
        </div>
        <div id="background">
            <h3 class="green">Background</h3>
            <p><%= @user.profile.try(:summary) %></p>
        </div>
    </aside>

    <section id="profileContent" class="clearfix right">

        <% if @user.btl_enabled? && (@user.published_topics.present? || @user == current_user || current_user.try(:admin?)) %>
          <%= render :partial => 'profiles/behind_the_line', :locals => { :user => @user } %>
        <% end %>

        <div id="question" class="right profileBox">
            <h3>Question of the day<span class="greenArrow"></span></h3>

            <% if @user.qotd_convos_with_comments.present? -%>
              <% for conversation in @user.qotd_convos_with_comments.all(:limit => 5, :order => "created_at DESC") -%>
              <h4><%= conversation.admin_message.display_message %></h4>
              <p>
                  <%= truncate(comment = conversation.comments.first.comment, :length => 130) %>
				<% if comment.length > 130 -%>
				<%= link_to "more &raquo;".html_safe, user_qotds_path(:id => @user.id, :anchor => "admin_conversation_#{conversation.id}") %>
				<% end -%>
              </p>
              <% end -%>
            <% else -%>
              <p><%= @user.name %> hasn't answered any Questions of the Day yet.</p>
            <% end -%>
            <%= link_to "See more of #{@user.first_name}'s Questions of the Day", user_qotds_path(:id => @user.id), :class => "greenLink" %>
        </div>

        <% if @user.qotd_convos_with_comments.present? -%>
        <div class="clear quoteBox">
            <div class="quote">
                <h4><%= @user.qotd_convos_with_comments.first.admin_message.message %></h4>
                <p><%= @user.qotd_convos_with_comments.first.comments.first.comment %></p>
            </div>
        </div>
        <% end -%>
    </section>
</div>
