<% title "#{@user.first_name}'s Profile" %>
<% if current_user == @user  %>
<% this_is_me = true %>
<% content_for :page_actions do -%>
  <%= link_to "Edit Profile", edit_user_path(@user), :class=>'sf-button' %>
<% end -%>

<% end -%>

<div id="user_profile_view" class="box clearfix">
	<div class="name_and_actions span-6">
		<div class="profile_picture">
			<%= image_tag @user.avatar.url(:small), :width=>'100', :class => 'left' %>
		</div>
		<h2><%= @user.name %></h2>
		<% unless current_user == @user or current_user.media? %>
  	  <ul class="user_profile_actions">
    		<li><%= link_to "Private Message", new_user_direct_message_path(@user), :class=>'sf-button' %></li>

<%- if @following -%>
  <li class="following"><%= link_to "Stop following this user", following_path(@following.id), :method => :delete, :class=>'sf-button' %></li>
<% else %>
  <li><%= link_to "Follow this user", followings_path(:friend_id => @user), :method => :post, :class=>'sf-button' %></li>
<% end -%>

  	  </ul>
  	<% end -%>
	</div><!--/name_and_actions -->
	<div class="user_info span-5">
		<p>Username: <%= @user.username %></p>
		<% if @user.james_beard_region %><p>Region: <span><%= @user.james_beard_region.name %></span></p><% end -%>
		<% if @user.twitter_username -%><p>Twitter: <span><%= @user.twitter_username %></span></p><% end -%>
	</div><!-- /user_info -->
</div><!--#user_profile_view -->

<div id="user_content">

<% unless current_user.media? || @latest_statuses.blank? %>
<h3 class="function-bold">Recent Status Updates</h3>
<div class="recent_statuses">
	<% for status in @latest_statuses -%>
	<p class="status clearfix" id="status_<%= status.id %>">
		<%= render :partial => 'statuses/status', :locals => { :status => status } %>
	</p>
	<% end %>
	<% if @user.statuses.size > 5 -%>
	  <p>
  	  <%= link_to 'View past status updates', user_statuses_path(@user), :class => 'sf-button' %>
  	</p>
	<% end -%>
</div><!-- .box -->
<% end %>


<%# media don't see followings  %>
<% if @user.followings.present? && !current_user.media? %>
<div class="span-6">
	<h3 class="function-bold">Members <%= this_is_me ? "You Follow" : "#{@user.name_or_username} Follows" %></h3>
	<ul>
		<% for following in @user.followings %>
		<li class="clearfix<%= cycle(' odd',' even') %>">
			<%= link_to image_tag(following.friend.avatar.url(:thumb), :width=>'50',:height=>'50'), profile_path(following.friend.username) %>
			<h4><%= link_to following.friend.name, profile_path(following.friend.username) %></h4>
			<p class="meta">Username: <%= following.friend.username %><br />
			  <% if following.friend.james_beard_region -%>Region: <%=  following.friend.james_beard_region.name %><% end -%></p>
			<% if (current_user == @user) %>
			  <p><%= link_to "Stop following this user", following, :method => :delete, :class=>'sf-button' %></p>
			<% end %>
		</li>
		<% end %>
	</ul>
</div> <!-- .span-6 -->
<% end %>

<% if @user.followers.present? && !current_user.media? %>
<div class="span-6 last">
	<h3 class="function-bold">Members Following <%= this_is_me ? "You" : @user.name_or_username %></h3>
	<ul>
		<% for follower in @user.followers %>
		<li class="clearfix<%= cycle(' odd',' even') %>">
			<%= link_to image_tag(follower.avatar.url(:thumb), :width=>'50', :height=>'50'), profile_path(follower.username) %>
			<h4><%= link_to follower.name, profile_path(follower.username) %></h4>
			<p class="meta">Username: <%= follower.username %><br />
			  <% if follower.james_beard_region -%>Region: <%=  follower.james_beard_region.name %><% end -%></p>
			<% unless (current_user == follower) || current_user.following?(follower) %>
			<p><%= link_to "Follow this user", followings_path(:friend_id => follower), :method => :post, :class=>'sf-button' %></p>
			<% end %>
		</li>
		<% end %>
	</ul>
</div> <!-- .span-6 -->
<% end %>



</div><!--#user_content-->