<% title "#{@user.first_name}'s Profile", false %>
<% if current_user == @user  %>
<% this_is_me = true %>
<% content_for :page_actions do -%>
  <%= link_to "Edit Profile", edit_user_path(@user), :class=>'sf-button' %>
<% end -%>

<% end -%>

<div id="user_profile_view">
  <div class="name_and_actions">
    <div class="profile_picture">
      <%= image_tag @user.avatar.url(:small), :width=>'100', :class => 'left' %>
    </div>

    <h2 class="user_name"><%= @user.name %></h2>
    <h4 class="user_employment">
      <span class="employment_role"><%= @user.employments.first.try(:restaurant_role).try(:name) %></span> at
      <span class="restaurant_name"><%= @user.employments.first.try(:restaurant).try(:name) %></span>
    </h4>

    <%= render :partial => 'profile_actions' unless this_is_me || current_user.media?%>
  </div><!-- .name_and_actions -->

  <dl class="user_info clearfix clear">
    <div class="span-6">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
      <% if @user.twitter_username %>
      <dt>Twitter</dt>
      <dd><%= @user.twitter_username %></dd>
      <% end -%>
      <% if @user.facebook_user %>
      <dt>Facebook</dt>
      <dd><%= @user.facebook_user.link %></dd>
      <% end %>
    </div>
    <div class="span-5 last">
      <dt>Job Start</dt>
      <dd>7/31/2009 (FPO)</dd>
      <dt>Cell Phone</dt>
      <dd>(773) 838-1384 (FPO)</dd>
      <dt>Birthday</dt>
      <dd>8/27/1973 (FPO)</dd>
    </div>
  </dl><!-- .user_info.contact -->

</div><!--#user_profile_view -->
<div id="extended_profile_container">
  <a href="#extended_profile" class="showit">
    View Extended Profle <em>(Education, Experience, Awards, etc)</em>
  </a>
  <%= render 'extended_profile', :user => @user %>
</div><!-- #extended_profile_container -->


<div class="span-6" id="behindline">
  <h3 class="profile_subhead">Behind the Line with: <%= @user.name %></h3>
  <ul class="box">
    <li class="even">
      <h5>Background <span class="completeness">(80% complete)</span></h5>
      This is where Lorem ipsum dolor sit amet
    </li>
    <li class="odd">
      <h5>Job Experience <span class="completeness">(35% complete)</span></h5>
      Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit.
    </li>
    <li class="even">
      <h5>On the Job <span class="completeness">(20% complete)</span></h5>
      This is where Lorem ipsum dolor sit amet
    </li>
    <li class="odd">
      <h5>Off the Clock <span class="completeness">(10% complete)</span></h5>
      Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit.
    </li>
    <li class="even">
      <h5>Background <span class="completeness">(100% complete)</span></h5>
      This is where Lorem ipsum dolor sit amet
    </li>
  </ul>
</div>

<div class="span-6 last tabable" id="recentsoapbox">
  <h3 class="profile_subhead">Recent responses on Soapbox</h3>

  <ul>
    <li><a href="#older_qotds_box">Questions of the Day</a></li>
    <li><a href="#older_tqs_box">Trend Questions</a></li>
  </ul>

  <div id="older_qotds_box">
    <%= render :partial => 'question', :collection => @user.qotds_responded, :local => {:user => @user} %>
  </div>

  <div id="older_tqs_box">
    <%= render :partial => 'question', :collection => @user.trend_questions_responded, :local => {:user => @user} %>
  </div>
</div>

<hr class="space"/>

<div id="user_content">
<% unless current_user.media? || @latest_statuses.blank? %>
  <%= render :partial => 'recent_statuses', :locals => {:user => @user, :statuses => @latest_statuses } %>
  <%= render :partial => 'followings', :locals => {:user => @user} %>
<% end %>
</div><!--#user_content-->