<% title "#{@user.username}'s profile" %>
<% if current_user == @user  %>
<p class="editprofile"><%= link_to "Edit Profile", edit_user_path(@user) %></p>
<% end -%>

<div id="user_profile_view" class="box clearfix">
	<%= image_tag @user.avatar.url(:small) %>
	<h2><%= @user.username %></h2>
	<h3><%= @user.name %></h3>
	<% if false %><h3>Neoteric Design, Web Designer</h3><% end %>
	<% unless current_user == @user %>
	<ul class="user_profile_actions">
		<li><%= link_to "Message this user", new_user_direct_message_path(@user) %></li>

		<%- if @following -%>
		<li class="following"><%= link_to "Stop following this user", @following, :method => :delete %></li>
		<% else %>
		<li><%= link_to "Follow this user", followings_path(:friend_id => @user), :method => :post %></li>
		<% end -%>

	</ul>
	<% end -%>
	<% if false %>
	<h4>About Me:</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ligula magna. Sed sed odio velit. Phasellus orci nunc, bibendum ut consectetur sit amet, tempus nec lacus. Integer congue vulputate lectus id feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
	<% end %>
</div><!--#user_profile_view -->

<div id="user_content">
<% if @latest_statuses -%>
	<h3>Latest Statuses</h3>
	<div class="box rounded">
		<% for status in @latest_statuses -%>
		<p class="status" id="status_<%= status.id %>">
			<%= render :partial => 'statuses/status', :locals => { :status => status } %>
		</p>
		<% end %>
	</div><!-- .box -->
<% end #if -%>

<% if !@user.followings.blank? %>
<h3>Following</h3>
<div class="box rounded">
	<ul>
	<% for following in @user.followings %>
		<li class="clearfix">
			<%= link_to image_tag(following.friend.avatar.url(:thumb)), profile_path(following.friend.username) %>
			<h4><%= link_to following.friend.name, profile_path(following.friend.username) %></h4>
			<% if (current_user == @user) %>
			<p><%= link_to "Stop following this user", following, :method => :delete %></p>
			<% else %>
			<!-- Hello from "else" -->
			<% end %>
		</li>
	<% end %>
	</ul>
</div><!-- .box -->
<% end #if %>


<% if !@user.followers.blank? %>
<h3>Followers</h3>
<div class="box rounded">
	<ul>
		<% for follower in @user.followers %>
		<li class="clearfix">
			<%= link_to image_tag(follower.avatar.url(:thumb)), profile_path(follower.username) %>
			<h4><%= link_to follower.name, profile_path(follower.username) %></h4>
			<% unless (current_user == follower) || current_user.following?(follower) -%>
			<p><%= link_to "Follow this user", followings_path(:friend_id => follower), :method => :post %></p>
			<%- end #unless %>
		</li>
		<% end #for loop %>
	</ul>
</div><!-- .box -->
<% end #if%>
</div><!--#user_content-->
