<% title "#{@user.username}'s profile" %>
<% if current_user == @user  %>
<p><%= link_to "[edit info]", edit_user_path(@user) %></p>
<% end -%>
<% if @user.avatar? %>
<p><%= image_tag @user.avatar.url(:small) %></p>  
<% end %>

<h3>Latest Status</h3>
<p>
  <%= @latest_status.message if @latest_status %><br/>
  <small><%= link_to "more statuses", user_statuses_path(@user) %></small>
</p>
<hr/>
<% if !@user.followings.blank? %>
<h3>Following</h3>
<ul>
  <% for following in @user.followings %>
  <li>
    <%= image_tag following.friend.avatar.url(:thumb) %>
    <%= following.friend.name %>
    <%= link_to "unfollow this user", following, :method => :delete if current_user == @user %>
  </li>
  <% end %>
</ul>
<% end %>

<% if !@user.followers.blank? %>
<h3>Followers</h3>
<ul>
  <% for follower in @user.followers %>
  <li>
    <%= image_tag follower.avatar.url(:thumb) %>
    <%= follower.name %>
  </li>
  <% end %>
</ul>
<% end %>
