<% title "Site Activity Updates" %>

<p><%= will_paginate(@activities) %></p>

<% for activity in @activities %>
<p>
    <%= activity.created_at.to_formatted_s(:short) %> - <%= activity.description %>
    <% if activity.creator.present? -%>for <%= activity.creator.try(:name) %>, <%= url_for(polymorphic_url(activity.creator)) %>    
    - <%= activity.creator_type == "Restaurant" ? mail_to(activity.creator.manager.email) : mail_to(activity.creator.email) %>
  <% end %>


</p>
<% end %>

<p><%= will_paginate(@activities) %></p>
