<div id="holiday_conversations" class="comments">
<% unless @comments.blank? %>
  <hr />
  <h3>Replies for <%= @holiday_conversation.holiday.try(:name)%></h3>
  <%= render @comments %>
<% end %>

<%= semantic_form_for @comment_resource, :html => { :multipart => true } do |f| %>
  <%= f.inputs do %>
    <%= f.input :comment, :label => 'Reply', :input_html => { :rows => 8 } %>

    <%= f.fields_for :attachments do |child_form| -%>
      <p class="attach">Attach files</p>
      <p class="attachfield"><%= child_form.file_field :attachment %></p>
    <% end -%>

    <%= button_tag "Send", :class => 'submit' %>
  <% end %>

<% end %>
</div>