<% if holiday = @holiday_conversation.holiday %>
<% title holiday.name %>


  <%= render holiday %>

  <%= render :partial => 'comments' %>

  <% if current_user.admin? %>
  <div id="holiday_conversation_acceptable">
    <%= semantic_form_for(@holiday_conversation, :html => {:method => :put}) do |f| %>
      <%= f.inputs :accepted %>
      <p><%= button_tag "Save" %></p>
    <% end %>
  </div>
  <% end %>


<% end %>
