<%=div_for menu_item do %>
    <h2><%= link_to menu_item.name, restaurant_menu_item_path(menu_item.restaurant,menu_item) %></h2>
    <%= render :partial => 'restaurants/identity', :locals => { :restaurant => menu_item.restaurant } unless @restaurant.present? %>
    <div class="menu_item_details">
        <% if menu_item.photo_file_name.present? -%>
        <p><%= image_tag menu_item.photo(:medium) %></p>
        <% end -%>

        <p><%= menu_item.name %><%= ": (#{price(menu_item.price)})" if menu_item.price.present? %></p>

        <p>
            <%- if menu_item.description.present? -%>
              <%= Loofah::Helpers.sanitize(truncate(menu_item.description, :length => 150)) %>
              <%= link_to "more &raquo;", restaurant_menu_item_path(menu_item.restaurant,menu_item) if menu_item.description.size > 150 %>
            <%- end -%>
        </p>

        <p><%= "Pairing: #{menu_item.pairing}" if menu_item.pairing.present? %></p>
        <% if current_user && current_user.media? %>
            <p class="keywords"><%= menu_item.otm_keywords.sort_by(&:name).map { |k| link_to k.name, menu_items_path(:keyword => k.name) }.to_sentence %></p>
        <% else %>
            <p class="keywords"><%= menu_item.otm_keywords.sort_by(&:name).map { |k| link_to k.name, soapbox_menu_items_path(:keyword => k.name) }.to_sentence %></p>
           
        <% end %>

        <p><span class="datestamp"><%= "Posted #{menu_item.created_at.strftime("%D")}" %></span> - <%= link_to "Share this entry", restaurant_menu_item_path(menu_item.restaurant,menu_item) %></p>
    </div>
<% end %>
