<fieldset name="Find Restaurants" id="restaurant_criteria">   
    <div class="search_resturant">
        <h3>Find exactly what you're researching:</h3>
        <label for="search_restaurant_eq_any_name">Search for restaurant by name, trend, cuisine, ingredient or restaurant feature. You can type in things like tomatoes, steakhouse, or kid-friendly</label>
        <%form_tag :url=>"#" do%>
            <p class="string optional">
                <%= text_field_tag "search_restaurant_eq_any_name", "", :name => "search_restaurant_eq_any_name"%> 
                <%= hidden_field_tag "search_person_eq_any_name", "", :name => "search_person_eq_any_name"%>  
            </p>
            <%= button_tag "Search",:id=>"restaurant_by_any_name", :class => 'positive search-button'  %>   
        <%end%> 
   </div>    
   <div class="search_resturant_region" >
        <h3>Or go old school:</h3>
        <label for="search_by_state_name">Search by State or Region</label>
        <%form_tag :url=>"#" do%>
            <p class="string optional">
                <%= text_field_tag "search_restaurant_by_state_or_region", "", :name => "search_restaurant_by_state_or_region"%>
                <%= hidden_field_tag "search_person_by_state_or_region", "", :name => "search_person_by_state_or_region"%>  
            </p>
            <%= button_tag "Search", :id=>"restaurant_by_state_region",:class => 'positive search-button' %>
        <%end%> 
   </div>  
   <div class="clear"></div>
   <div id="restaurant_directory_list" >
        <h3>What our chefs are serving up:</h3>
        <div class="setlistwidth">
        <ul>
            <%@menu_item_keywords.each do |menu_item_keyword|%>
              <% if params[:controller] == "soapbox/soapbox" %> 
               <li class="list_item"> <%=link_to menu_item_keyword.otm_keyword.name ,soapbox_menu_items_path(:keyword=>menu_item_keyword.otm_keyword.name)%></li>     
              <% else %>
               <li class="list_item"> <%=link_to menu_item_keyword.otm_keyword.name , menu_items_path(:id=>menu_item_keyword.otm_keyword.id,:keyword=>menu_item_keyword.otm_keyword.name)%></li> 
              <% end %>  
            <%end%>
        </ul>
        </div>
   </div>
   <div class="clear"></div>
   <div id="restaurant_directory_list" >
        <h3>Our most active restaurants:</h3>
        <div class="setlistwidth">
        <ul>
          <% @recent_active_restaurants.each do |recent_active_restaurant|%>
            <li class="list_item"> <%=link_to recent_active_restaurant.name ,restaurant_path(recent_active_restaurant.id)
             %></li>     
          <%end%>
        </ul>
        </div>
   </div>
</fieldset>
