<h3>What are you searching for?</h3>
<% form_remote_tag :url =>search_restaurant_by_state_path do %>
    <ol>
        <li>
            <label for="search_restaurant_eq_any_name">Are you looking for a restaurant?</label>
        </li>
        <li>
            <%= text_field_tag "restaurant_search", "", :name => "name",:placeholder=>"Search by Restaurant Name" %> 
        </li>
        <p><%= button_tag "Search", :class => 'positive' %></p>  
    </ol>          
<%end%>       
<br/>
<h3>Find exactly what you're researching:</h3>  
<label for="search_trend_ingredient_eq_any_name">Researching a trend or ingredient?</label>
<% form_remote_tag :url =>search_restaurant_by_state_path do %>
    <ol>
        <li>
            <%= text_field_tag "otm_keyword_search", "", :name => "search[menu_items_otm_keywords_name_eq_any][]",:placeholder=>"Search by On the Menu Keyword" %>
        </li>
        <p><%= button_tag "Search", :class => 'positive' %></p>
    </ol>
<%end%>
<br/><br/>
<% form_remote_tag :url =>search_restaurant_by_state_path do %>
    <ol>
        <li>
            <label for="search_feature_eq_any_name">Looking for something in particular?</label> 
        </li>
        <li>           
            <%= text_field_tag "feature_search", "", :name => "search[restaurant_features_value_eq_any][]",:placeholder=>"Search by Feature" %>
        </li>
        <p><%= button_tag "Search", :class => 'positive' %></p> 
    </ol>           
<%end%>
<br/>
<div>
    <h3>Search by State</h3> 
    <% form_remote_tag :url =>search_restaurant_by_state_path do %>
        <%= text_field_tag "state_search", "", :name => "state",:placeholder=>"Search by state name" %>
        <p><%= button_tag "Search", :class => 'positive' %></p>   
    <%end%>
</div>
<br/>   
<div>
    <h3>What our chefs are serving up:</h3>
    <ul class="featuredList">
        <%@otm_keyword.each do |otm_keyword|%>
            <li class="list_item"> <%=otm_keyword.name%></li>     
        <%end%>
    </ul>
</div>