<% if @users.present? && @restaurants.present? %>
<div class="clearfix">
    <%= link_to_function "View User Results", 
        '$("#user-results").show(); $("#restaurant-results").hide(); 
        $("#restaurant-results-link").show(); $("#user-results-link").hide()', 
        :class => "button round", :id => "user-results-link", :style => "display: none" %>
    <%= link_to_function "View Restaurant Results", 
        '$("#user-results").hide(); $("#restaurant-results").show(); 
        $("#restaurant-results-link").hide(); $("#user-results-link").show()', 
        :class => "button round", :id => "restaurant-results-link" %>
</div>
<% end %>

<div id="user-results">
    <h3>Users</h3>
    <% for user in @users %>
      <%= render :partial => 'users/identity', :locals => { :user => user } %>
    <% end %>
</div>

<% if @restaurants %>
<div id="restaurant-results" style="display:none">
    <h3>Restaurants</h3>
    <% for restaurant in @restaurants %>
      <% div_for restaurant, :class => 'clearfix' do %>
        <h2 class="function-bold">
          <%= link_to_unless (params[:controller] == 'soapbox/soapbox'), restaurant.name, restaurant_path(restaurant) %>
          (<%= restaurant.city %>)
        </h2>
      <% end %>
    <% end %>
</div>
<% end %>
