<% title "#{@topic.title} - #{@subject.name} - Online Press Kit", false %>

<h1 id="btl-title" class="btl"><%= link_to "<span class=\"presskit-art\">Online Press Kit:</span> <span class=\"name\">#{restaurant_btl_title(@restaurant, @page)}</span>", path_for_restaurant_and_page(@restaurant, @page) %></h1>

<!-- <h2 id="topic_title">Topic: <%#= @topic.title %></h2> -->

<%= render :partial => 'restaurant_questions/topic_nav', :locals => { :next_topic => @next, :prev_topic => @previous } %>

<div class="clear"></div>
  <%- if can?(:manage, @restaurant) || @questions_by_chapter.keys.first.published_for_restaurant?(@restaurant, @page) -%>
    <%@questions_by_chapter.each do |questions_by_chapter| %>
      <%questions_by_chapter[1].each do |question| %>
        <h4>Q: <%= question.title %></h4>
       <!--  <a class="colorbox cboxElement" href="<%#=restaurant_btl_question_ans_post_path(@restaurant,question.id)%>">answer and share</a> -->
         <div class="add_answer" >answer and share</div>
        <div id="<%=question.id%>" class="restaurant_answers">
         <%= render :partial => "question_ans_post", :locals => { :question=>question } %>
        </div>
      <%end%>
    <% end %>
  <%end%>
