<% title "#{@topic.title} - #{@subject.name} - Online Press Kit", false %>

<h1 id="btl-title" class="btl"><%= link_to "<span class=\"presskit-art\">Online Press Kit:</span> <span class=\"name\">#{restaurant_btl_title(@restaurant, @page)}</span>", path_for_restaurant_and_page(@restaurant, @page) %></h1>

<h2 id="topic_title">Topic: <%= @topic.title %></h2>

<%= render :partial => 'restaurant_questions/topic_nav', :locals => { :next_topic => @next, :prev_topic => @previous } %>

<div class="clear"></div>

<% for chapter in @questions_by_chapter.keys %>
<%- if can?(:manage, @restaurant) || chapter.published_for_restaurant?(@restaurant, @page) -%>
  <% div_for chapter, :class => cycle('', ' last') do -%>
      <% link_to link_for_restaurant_questions(:restaurant_id => @restaurant.id, :id => chapter.id, :page_id => @page.try(:id)) do %>
          <h3><%= chapter.title %></h3>

          <p class="chapter_answer_count">
            <%= chapter.answer_count_for_restaurant(@restaurant, @page) %> of <%= chapter.question_count_for_restaurant(@restaurant, @page) %>
          </p>
          <p><%= chapter.description || truncate(@questions_by_chapter[chapter].map(&:title).to_sentence, :length => 100) %></p>
          <% if can?(:manage, @restaurant) %>
          <p><%= chapter.published_for_restaurant?(@restaurant, @page) ? "Published" : "Not published" %></p>
          <% end %>
      <% end %>
  <% end -%>
<%- end -%>
<% end if @questions_by_chapter.present? %>
