  <h2><%= question.topic.title %></h2>
  <p><%= question.chapter.title %></p>
  <h3><%= question.title %></h3>
  <% remote_form_for [@subject, question.find_or_build_answer_for(@subject)], :update => "btl_game" do |f| %>
      <%= f.hidden_field :profile_question_id %>
      <%= f.text_area :answer %>
      <%= f.submit 'Post' %>
  <% end %>
  <p class="disclaimer">Your answers are viewable on your public profile</p>
