<% hide_subject_matter ||= false %>
<% f.inputs :name => 'Find People', :id => 'employment_criteria' do %>
  <% semantic_fields_for @search do |s| %>
  <div id="criteria_accordion">
    <%- unless hide_subject_matter -%>
	<p class="search_filter_hint">Select a subject matter:</p>
      <div class="accordion_box">
        <%= link_to "<span>Subject Matter</span>", "#" %>
        <div id="subject_fields" class="loading">
            <%= s.input :subject_matters_id_equals_any,
                        :as => "check_boxes",
                        :collection => SubjectMatter.all %>
        </div>
      </div>
	<p class="search_filter_hint">Filter using these criteria, if you like:</p>
    <%- end -%>
    
      <div class="accordion_box">
        <%= link_to  "<span>Users</span>", "#" %>
        <div id="user_fields">
            <%= s.input :employee_id_equals_any,
                        :as => "check_boxes",
                        :collection => params[:controller].match(/soapbox/) ? User.by_last_name.all(:conditions => { :premium_account => true }) : User.by_last_name %>
        </div>
      </div>
      <div class="accordion_box">
        <%= link_to "<span>Restaurants</span>", "#" %>
        <div id="restaurant_fields">
            <%= s.input :restaurant_id_equals_any,
                        :as => "check_boxes",
                        :collection => Restaurant.all(:order => 'name ASC') %>
        </div>
      </div>
      <div class="accordion_box">
        <%= link_to "<span>Cuisine</span>", "#" %>
        <div id="cuisine_fields" class="loading">
            <%= s.input :restaurant_cuisine_id_equals_any,
                        :as => "check_boxes",
                        :collection => Cuisine.with_restaurants.all %>
        </div>
      </div>
      <div class="accordion_box">
        <%= link_to "<span>Role</span>", "#" %>
        <div id="role_fields" class="loading">
            <%= s.input :restaurant_role_id_equals_any,
                        :as => "check_boxes",
                        :collection => RestaurantRole.with_employments.all %>
        </div>
      </div>
      <div class="accordion_box">
        <%= link_to "<span>Region</span>", "#" %>
        <div id="region_fields" class="loading">
            <%= s.input :restaurant_james_beard_region_id_equals_any,
                        :as => "check_boxes",
                        :collection => JamesBeardRegion.with_restaurants.all %>
        </div>
      </div>
      <div class="accordion_box">
        <%= link_to "<span>Metro Area</span>", "#" %>
        <div id="metro_fields" class="loading">
            <%= s.input :restaurant_metropolitan_area_id_equals_any,
                        :as => "check_boxes",
                        :collection => MetropolitanArea.with_restaurants.all %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>