<% if current_user.media? || mediafeed? %>
    <h2>Your media request will be received by:</h2>

    <% if @solo_users.present? %>
    <div class="clear">
        <h3>Individuals:</h3> 
        <%= @solo_users.map { |e| e.employee_name }.to_sentence %>
    </div>
    <% end %>
    
    <div class="clear">
        <h3>Restaurant personnel from:</h3>
        <%= @restaurants_and_employments.keys.map { |r| "#{r.name}" }.to_sentence %>
    </div>
<% elsif current_user.admin? %>
    <% if @solo_users.present? %>
    <div class="clear">
        <h3>Unaffiliated:</h3> 
        <%= @solo_users.map { |e| e.employee_name }.to_sentence %>
    </div>
    <% end %>
    
    <% @restaurants_and_employments.each do |restaurant, employments| %>
      <div class="restaurant_and_employees span-5 column">
        <h3><%= restaurant_link(restaurant) %>:</h3>
        <%= employments.map { |e| e.employee_name }.to_sentence %>
      </div>
    <% end %>
<% else %>
    <p class="restaurant_employments_count">
      Currently, this will be seen by <span class="number"><%= @search.size %></span> employees
      at <span class="number"><%= @restaurants_and_employments.size %></span> restaurants
    </p>
<% end %>
