<% hide_subject_matter ||= false %>
<% f.inputs :name => 'Select Recipients', :id => 'employment_criteria', :class => 'editing' do %>
<%- if mediafeed? -%>
<span class="hint">You may send your media request to any member.</span>
<%- end -%>
  <% semantic_fields_for @search do |s| %>
  <div id="criteria_accordion">
    <%- unless hide_subject_matter -%>
	<p class="search_filter_hint">Select a subject matter:</p>
      <div class="accordion_box">
        <%- if mediafeed? -%>
          <%= link_to "<span>Subject Matter *</span>", "#" %>
        <%- else -%>
          <%= link_to "<span>Subject Matter</span>", "#" %>
        <%- end -%>
        <div id="subject_fields" class="loading">
            <%= s.input :subject_matters_id_equals_any, 
                        :as => "check_boxes",
                        :label => '&nbsp;',
                        :collection => SubjectMatter.general.all %>
        </div>
      </div>
	<p class="search_filter_hint">Filter further using these criteria, if you like:</p>
    <%- end -%>
    
      <%- unless mediafeed? -%>
      <div class="accordion_box">
        <%= link_to  "<span>Users</span>", "#" %>
        <div id="user_fields" style="display:none;">
            <%= s.input :employee_id_equals_any,
                        :as => "check_boxes",
                        :label => '&nbsp;',
                        :collection => User.by_last_name %>
        </div>
      </div>
      <%- end -%>
      <div class="accordion_box">
        <%= link_to "<span>Restaurants</span>", "#" %>
        <div id="restaurant_fields" style="display:none;">
            <%= s.input :restaurant_id_equals_any,
                        :as => "check_boxes",
                        :label => '&nbsp;',
                        :collection => Restaurant.all(:order => 'sort_name ASC') %>
        </div>
      </div>      
      <div class="accordion_box">
        <%= link_to "<span>Cuisine</span>", "#" %>
        <div id="cuisine_fields" class="loading" style="display:none;">
            <%= s.input :restaurant_cuisine_id_equals_any,
                        :as => "check_boxes",
                        :label => '&nbsp;',
                        :collection => Cuisine.with_restaurants %>
        </div>
      </div>
      <%#- unless mediafeed? -%>
      <div class="accordion_box">
        <%= link_to "<span>Role</span>", "#" %>
        <div id="role_fields" class="loading" style="display:none;">
            <%= s.input :restaurant_role_id_equals_any,
                        :as => "check_boxes",
                        :label => '&nbsp;',
                        :collection => RestaurantRole.with_employments.all %>
        </div>
      </div>
      <%#- end -%>
      <div class="accordion_box">
        <%= link_to "<span>Region</span>", "#" %>
        <div id="region_fields" class="loading" style="display:none;">
            <%= s.input :restaurant_james_beard_region_id_equals_any,
                        :as => "check_boxes",
                        :label => '&nbsp;',
                        :collection => (JamesBeardRegion.with_restaurants + JamesBeardRegion.with_profiles).flatten.uniq.sort_by(&:name) %>
        </div>
      </div>
      <div class="accordion_box">
        <%= link_to "<span>Metro Area</span>", "#" %>
        <div id="metro_fields" class="loading" style="display:none;">
            <%= s.input :restaurant_metropolitan_area_id_equals_any,
                        :as => "check_boxes",
                        :label => '&nbsp;',
                        :label_method => :city_and_state,
                        :collection => (MetropolitanArea.with_restaurants + MetropolitanArea.with_profiles).flatten.uniq.sort_by(&:name) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>