<% if current_user.admin? %>
    <h3>Currently, this can be seen by:</h3>
    <ul class="clearfix">
    <% @restaurants_and_employments.each do |restaurant, employments| %>
      <li class="restaurant_and_employees span-5 append-1 column<%= cycle(' clear','',' last') %>">
        <h3><%= restaurant.name %></h3>
        <%= employments.map(&:employee_name).to_sentence %>
      </li>
    <% end %>
    </ul>
<% else %>
    <p class="restaurant_employments_count">
      Currently, this will be seen by <span class="number"><%= @search.size %></span> employees
      at <span class="number"><%= @restaurants_and_employments.size %></span> restaurants
    </p>
<% end %>