<% if current_user.admin? %>
    <h4>Users and restaurants included:</h4>
    <p>(a line through the name means they do not have permission to post to soapbox)</p>
    
    <% if @solo_users.present? %>
    <div class="clear">
        <h3>Unaffiliated:</h3> 
        <%= @solo_users.map { |e| "<span style='#{e.post_to_soapbox ? "" : "text-decoration: line-through"}'>#{e.employee_name}</span>" }.to_sentence %>
    </div>
    <% end %>
    
    <% @restaurants_and_employments.each do |restaurant, employments| %>
      <div class="restaurant_and_employees span-5 column">
        <h3><%= restaurant.name %>:</h3>
        <%= employments.map { |e| "<span style='#{e.post_to_soapbox ? "" : "text-decoration: line-through"}'>#{e.employee_name}</span>" }.to_sentence %>
      </div>
    <% end %>
<% else %>
    <p class="restaurant_employments_count">
      Currently, this will be seen by <span class="number"><%= @search.size %></span> employees
      at <span class="number"><%= @restaurants_and_employments.size %></span> restaurants
    </p>
<% end %>