<div id="ria_labs" class="ria_labs sidebar_section">
  <h3 class="section_header">RIA Labs</h3>
  <div class="section_body">
    <ul id="labs_list">
      <li class="labs_marketing_manual">
        <%= link_to "Marketing Manual", public_page_path('introduction-marketing-workbook') %>
      </li>

      <% @current_user_restaurants.each do |restaurant| %>
      <li class="labs_calendar">
        <%= link_to "Calendar (#{restaurant.name})", restaurant_calendars_path(:restaurant_id => restaurant) %>
      </li>
      <% end %>

      <% unless Rails.env.production? %>
      <li class="labs_soapbox">
        <%= link_to "Soapbox", "/soapbox" %>
      </li>
      <% end %>

      <li class="labs_conversations">
        <%= link_to "Conversations", new_conversation_path %>
      </li>

      <li class="labs_activity">
        <%= link_to "Activity Stream", activity_stream_timelines_path %>
      </li>
    </ul>
  </div>
</div>