<% title "Editing Restaurant" %>

<%= semantic_form_for([:admin, @restaurant]) do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name, :class => 'title span-8' %>
	</p>

  <%= f.inputs do %>
    <%= f.input :sort_name, :class => 'span-8', 
        :hint => "For example: if the restaurant is The Gage, the sort name should be Gage, The" %>
	<% end %>
	
	<%= f.inputs :name => "Account Status" do %>
	  <%= render :partial => 'admin/users/account_status', 
        :locals => {:subscriber => @restaurant, :subscriber_type => :restaurant}%>
  <% end %>

  <br clear=all />
	<%= f.inputs :name => "Address", :class => "span-8 column" do %>
		<%= f.input :street1, :label => 'Street Address' %>
		<%= f.input :street2, :label => 'Street Address Line 2 (Optional)' %>
		<%= f.input :city, :input_html => {:class => 'span-3'}, :wrapper_html => {:class => 'span-3 column'}  %>
		<%= f.input :state, :input_html => {:class => 'span-1'}, :wrapper_html => {:class => 'span-1 column'}   %>
		<%= f.input :zip, :input_html => {:class => 'span-2'}, :wrapper_html => {:class => 'span-2 column'}   %>
		<%= f.input :phone_number, :input_html => {:class => 'span-2'}, :wrapper_html => {:class => 'span-2 column'}   %>
		<%= f.input :metropolitan_area, :wrapper_html => {:class => 'clear'} %>
		<%= f.input :james_beard_region, :label => "Region" %>
	<% end -%>

	<%= f.inputs :name => 'Other', :class => "span-9 column last" do %>
		<%= f.input :manager, :label => "Primary Account Manager", :collection => @restaurant.managers %>
		<%= f.input :media_contact, :collection => @restaurant.employees %>
		<%= f.input :cuisine %>
		<%= f.input :description, :as => :text, 
		    :label => "Tagline or short description",
		    :input_html => { :rows => 3 } %> 
    <%= f.input :opening_date, :start_year => Date.today.year, :end_year => 1960 %>
    <%= f.input :hours, :as => :text %>
    <%= f.input :website %>
    <%= f.input :management_company_name, :hint => "Just the company name" %>
    <%= f.input :management_company_website, :hint => "Full URL to the company website" %>
         
  <% end %>

	<p class="clear">
		<%= button_tag "Save", :class => 'positive' %>
	</p>
<% end %>

<p>
    <%= link_to "Edit Restaurant employees", bulk_edit_restaurant_employees_path(@restaurant), :class => 'button' %>
</p>

<p>
    <%= link_to "View Restaurant calendar", restaurant_calendars_path(@restaurant), :class => "button" %>
</p>

