<tr class="admin_conversation_recipient <%= cycle('odd', 'even', :name => 'conversation_row') %>">
  <td>
    <%= admin_conversation.recipient.try(:name) %>
    <%- if admin_conversation.recipient && admin_conversation.recipient.restaurants.present? -%>
    (<%= admin_conversation.recipient.primary_employment.try(:restaurant_name) %>)
    <%- end -%>
  </td>

  <%- if admin_conversation.comments_count > 0 -%>
  <td>
    <%= link_to pluralize(admin_conversation.comments_count, "comment"), admin_conversation %>
  </td>
  <%- end -%>

  <td class="actions">
    <% if admin_conversation.recipient %>
      <%= link_to "DirectMessage", new_user_direct_message_path(admin_conversation.recipient) %>
    <% end %>
  </td>
</tr>
