<tr class="admin_conversation_recipient <%= cycle('odd', 'even', :name => 'conversation_row') %>">
  <td>
    <%= admin_conversation.recipient.employee_name %>
    (<%= admin_conversation.recipient.restaurant_name %>)
  </td>

  <%- if admin_conversation.comments_count > 0 -%>
  <td>
    <%= link_to pluralize(admin_conversation.comments_count, "comment"), admin_conversation %>
  </td>
  <%- end -%>

  <td class="actions">
    <%= link_to "Direct&nbsp;Message", new_user_direct_message_path(admin_conversation.recipient.employee) %>
  </td>
</tr>
