<div class="comments span-9">
<% if @comments.blank? %>
<% if current_user.primary_employment.prefers_post_to_soapbox %>
  <p>These comments will go to the public Soapbox.</p>
<% else %>
  <p>Just to let you know, your comments won't go to the public Soapbox. Contact your spoonfeed account manager for details.</p>
<% end %>
<% semantic_form_for @comment_resource, :html => { :multipart => true } do |f| %>
  <% f.inputs do %>
    <%= f.input :comment, :label => 'Post', :input_html => { :rows => 8 } %>

    <% f.fields_for :attachments do |child_form| -%>
      <h3 class="attachments-header">Attach files</h3>
      <p class="attachfield"><%= child_form.file_field :attachment %></p>
    <% end -%>

    <p class="clearfix"><%= button_tag "Send", :class => 'submit' %></p>
  <% end %>

<% end %>
<% else %>
  <hr />
  <h3>Response for this <%= message.class.try(:title) %></h3>
  <%= render @comments.first %>
<% end %>
<hr class="space"/>

</div>

