<% title "RIA HQ" -%>

<div class="mainGraphic">
  <div class="message">
    <div class="container">
      <h2 class="chefsMessage">Showcase your talent<br/>in a community of your peers</h2>
      <h2 class="pubMessage">Less work, more results</h2>
      <h2 class="journalistMessage">Better resources, always available</h2>
      <h2 class="dinersMessage">What's happening in restaurants right now</h2>
    </div>
  </div>
</div>

<section id="main" role="main">

  <div id="top" class="clearfix">
    <h2>The work of great chefs. The center of all things restaurant.</h2>
  </div>

  <article id="ourSites" class="gradient">
    <div class="articleBox">
      <h2 class="ir">Our Sites</h2>
          <ul id="logoNav" class="htabs">
            <li id="first" class="spoonfeed"><a href="#first" class="on">spoonfeed</a></li>
            <li id="second" class="soapbox"><a href="#second">soapbox</a></li>
          </ul>
          <div class="tabs">
            <div id="first" class="tab clearfix">
              <span class="green-t"></span>
              <p>Connecting chefs, publicists and media online, Spoonfeed streamlines restaurant public relations and social media. Comprehensive restaurant press kits and professional profiles for chefs, mixologists and sommeliers are custom-designed to generate more media coverage.</p>
              <%= link_to "Visit Spoonfeed", root_path %>
            </div>
            <div id="second" class="tab clearfix">
              <span class="green-t"></span>
              <p>The backstage pass to the restaurants you crave, Soapbox delivers the country's most engaging chefs - unfiltered, uncensored and unplugged. Discover their inspirations, philosophies, tattoos and taboos - the real insights into life in the kitchen that don't make it onto "Top Chef."</p>
              <%= link_to "Visit Soapbox", soapbox_root_path %>
            </div>
          </div>
      </div>
  </article>

  <article id="usage" class="gradient">
    <div class="articleBox">
      <h2 class="ir">Our Sites</h2>
          <ul id="infoNav" class="htabs2">
            <li id="3" class="chefs"><a href="#third" class="on" title="chefs">chefs</a></li>
            <li id="4" class="publicists"><a href="#fourth" title="publicists">publicists</a></li>
            <li id="5" class="journalists"><a href="#fifth" title="journalists">journalists</a></li>
            <li id="6" class="diners"><a href="#sixth" title="diners">diners</a></li>
          </ul>
          <div class="tabs">
            <div id="third" class="tab clearfix">
              <span class="green-t"></span>
              <p>Join hundreds of the country's most engaging chefs, sommeliers and mixologists to promote yourself and your restaurant online.</p>
              <%= link_to_unimplemented("Learn More") %>
            </div>
            <div id="fourth" class="tab clearfix">
              <span class="orange-t"></span>
              <p>Collaborate with your clients to connect with media using our easy online tools custom-built for you.</p>
              <%= link_to_unimplemented("Learn More") %>
            </div>
            <div id="fifth" class="tab clearfix">
              <span class="yellow-t"></span>
              <p>Discover the ultimate restaurant research tool&mdash;comprehensive, private, always available.</p>
              <%= link_to_unimplemented("Learn More") %>
            </div>
            <div id="sixth" class="tab clearfix">
              <span class="brown-t"></span>
              <p>Get insider tips from chefs on where to eat, what to cook and the hottest trends in food today.</p>
              <%= link_to_unimplemented("Learn More") %>
            </div>
          </div>
      </div>
  </article>
  <article id="join" class="gradient">
    <div class="articleBox">
      <h2 class="ir">Join Us</h2>
      <% form_tag redirect_invitations_path, :id => "join" do %>
      <div class="left">
          <%= text_field_tag "first_name", "", :id => "firstName", :class => "standard-filler", :alt => "First Name", :required => "" %>
          <%= text_field_tag "last_name", "", :id => "lastName", :class => "standard-filler", :alt => "Last Name", :required => "" %>
      </div>
      <div class="right">
          <%= text_field_tag "email", "", :id => "email", :class => "standard-filler", :alt => "email", :required => "" %>
          <%= select_tag "role", options_for_select([["Select one", ""], ["Diner", "diner"], ["Restaurant professional", "restaurant"], ["Media", "media"]]) %>
      </div>
      <div class="clearfix">
          <p class="left">By entering your information you are agreeing to our <%= link_to "terms of use", page_path('terms'), { :popup => true }, { :class => "terms" } %></p>
          <%= submit_tag "Sign Me Up", :id => "submit", :class => "right" %>
      </div>
      <% end %>
    </div>
  </article>

  <article id="testimonials" class="gradient">
    <div class="articleBox">
      <h2 class="ir">What People Are Saying.</h2>
      <div class="testimonial clearfix">
        <img class="left" src="/images/hq/profile1.png" />
        <div>
          <blockquote>
            "I can't imagine why any any independent restaurant wouldn't do this. It's amazing."
          </blockquote>
          <p>Paul Kahan - Blackbird, avec, The Publican, Big Star</p>
        </div>
      </div>
      <div class="testimonial clearfix">
        <img class="right" src="/images/hq/profile2.png" />
        <div>
          <blockquote>
            "What RIA is doing is fabulous - very innovative way to connect chefs, bloggers, and journalists."
          </blockquote>
          <p>Perry Hendrix - Executive Chef, Custom House Tavern</p>
        </div>
      </div>
        <div class="testimonial clearfix">
          <img class="left" src="/images/hq/profile1.png" />
          <div>
            <blockquote>
              "Restaurant Intelligence Agency is a must-have for any restaurant or bar owner dedicated to creating a focus point for a focused publicity strategy."
            </blockquote>
            <p>Jason Cott - the Violet Hour and Alchemy Consulting</p>
          </div>
        </div>
    </div>
  </article>

  <article id="social" class="gradient">
    <div class="articleBox">
      <h2 class="ir">Social</h2>
      <div class="socialContainer clearfix">
        <div class="twitter clearfix">
          <h3>Follow <a href="http://www.twitter.com/soapbox_HQ">@soapbox_HQ</a>on Twitter</h3>
          <img src="/images/hq/twitter.png" alt="" />
          <div class="twitterBox">
            <span class="arrow"></span>
            <div class="tweet"></div>
          </div>
        </div>
        <div class="facebook left">
          <h3>Follow ria on Facebook</h3>
          <div class="fb-activity" data-site="https://www.facebook.com/RestaurantIntelligenceAgency" data-width="325" data-height="390" data-header="true" data-recommendations="false">
          </div>
        </div>
      </div>
    </div>
  </article>

</section>