<div class="box">
  <h2 class="primary_title function-bold">Conversations</h2>
  <div id="direct_messages">
    <h3>Unread Private Messages</h3>
    <% if @direct_messages.blank? %>
      <div>
        <p>You don't have any unread private messages right now.</p>
      </div>
    <% else %>
      <% @direct_messages.each do |dm| -%>
        <% div_for dm do -%>
          <p><%= link_to details_for(dm), direct_message_path(dm) %></p>
        <% end -%>
      <% end -%>
    <% end %>
    <p class="view_all"><%= link_to "View all private messages...", private_messages_path(:view_all => true) %></p>
  </div><!--/direct_messages-->

  <div id="discussions">
    <% if @discussions.blank? %>
    <% else %>
     <h3>Recent Discussions</h3>
     <% @discussions.each do |discussion| -%>
       <% div_for discussion, :class => "#{'read' if discussion.read_by?(current_user)}"  do -%>
         <h4 class="new_topic">
           <%= discussion_comment_badge(discussion) %>
           <%= "New " unless discussion.read_by?(current_user) %>Discussion
         </h4>
         <h6 class="date"><%= discussion.created_at.try(:strftime, "%b %e") %></h6>
         <p><%= link_to discussion.title, discussion %></p>
       <% end -%>
     <% end %>
    <% end %>

    <% if @discussions_with_new_comments.blank? %>
    <% else %>

     <h3>Recent Comments</h3>

     <% @discussions_with_new_comments.each do |discussion| -%>
       <% div_for discussion, :class => "#{'read' if discussion.read_by?(current_user)}" do -%>
         <h4 class="new_comment">
           <%= discussion_comment_badge(discussion) %>
           New Comment
         </h4>
         <h6 class="date"><%= discussion.created_at.try(:strftime, "%b %e") %></h6>
         <p><%= link_to discussion.title, discussion %></p>
       <% end -%>
     <% end -%>
    <% end %>
     <p class="view_all"><%= link_to "View discussions...", staff_discussions_messages_path %></p>
   </div><!--/direct_messages-->
</div>
