<% div_for menu_item do %>
    <div class="activity_header annoucement">
        <% if !menu_item.photo_file_name.nil? && !menu_item.photo_file_name.blank? %>        
            <%= image_tag menu_item.photo.url(:thumbnail) %>
        <% else %>
            <%=image_tag('avatar_restaurant.gif') %>
        <%end%>
         <h3>OTM</h3>        
         <div class="content">
            <p class="name">
                <%= menu_item.name %>
            </p>
            <p class="name">
                Posted on <%=menu_item.created_at.to_formatted_s(:long)%> 
                <% if menu_item.restaurant.has_facebook_page? -%>
                    <%= link_to "share with fb", facebook_post_restaurant_menu_item_path(menu_item.restaurant, menu_item), :method => "post" %>
                <%-end %>
                <% if menu_item.restaurant.twitter_authorized? %>
                    | <%= link_to "share with twitter", "#", :method => "post" %>
                <% end %>
            </p>
        </div>
         <div class="clear"></div>
    </div>
<% end %>
