<div id="recently">
    <h2>Fresh from Spoonfeed</h2>
    <aside class="dashboard_actions">
      <a href="/welcome/refresh">REFRESH</a>
    </aside>

    <% if @has_more %>
        <div class="dashboard_header"><%= link_to 'See more &raquo;', :dashboard_more, :class => 'see_more_link' %></div>
    <% end %>

    <% for comment in @recent_comments %>
    <% if comment.is_a?(ProfileAnswer) %><%# profile answers are not really a comment so they get their own block %>
    <% div_for comment do %>
        <div class="activity_header">
            <h3>Behind the Line</h3>
            <p class="comment_date"><%= comment.created_at.strftime("%m/%d") %></p>
            <p class="topic"><%= "#{comment.profile_question.chapter.title_with_topic}: #{comment.profile_question.title}" %> </p>
        </div>
        <div class="user_comment">
            <%= render :partial => "#{comment.responder.class.name.underscore.pluralize}/identity", :locals => { :user => comment.responder } if comment.responder %>
            <div class="user_comment"><%= truncate(comment.answer, :length => 200) %>
                <% if comment.answer.size > 200 -%>
                      <%= link_to "more &raquo;", url_to_responder_question(comment.responder, comment.profile_question.chapter.id, comment.profile_question.id) %>
                <%- end %>
            </div>
        </div>
    <% end %>

    <% else %><%# comments from trend questions and QOTD %>

    <%- topic = comment.commentable -%>
    <% div_for topic do %>
        <div class="activity_header">
            <h3><%= topic.inbox_title %></h3>
            <p class="comment_date"><%= topic.scheduled_at.strftime("%m/%d") %></p>
            <p class="topic"><%= topic.message %></p>
        </div>
        <% div_for comment do %>
            <%= render :partial => 'users/identity', :locals => { :user => comment.user } %>
            <div class="user_comment"><%= truncate(comment.comment, :length => 200) %>
            <% if comment.comment.size > 200 -%>
              <%= link_to "more &raquo;", soapbox_soapbox_entry_path(topic.soapbox_entry, :anchor => "comment_#{comment.id}") %>
            <%- end %></div>
        <% end %>
    <% end %>
    <% end %>

    <% end %>

        <%= will_paginate @recent_comments if @has_pagination %>

</div>
