<% title "Your Digital Dashboard" %>
<div id="conversations" class="span-12">
  <% @direct_messages.each do |dm| -%>
    <% div_for dm do -%>
      <p><%= link_to details_for(dm), reply_direct_message_path(dm) %></p>
    <% end -%>
  <% end -%>
</div><!-- /conversations -->

<div id="news_feeds" class="span-12">
  <%= render :partial => 'feeds/feed', :collection => @feeds %>
</div>


<div id="friend_activity" rel="Friend Activity" class="span-12">
  <% @friend_activity.each do |status| -%>
    <% div_for status, :class=>'clearfix' do -%>
      <%= link_to image_tag(status.user.avatar.url(:thumb)), profile_path(status.user.username), :class => 'avatar' %>
      <p class="message">
        <%= status.message %>
      </p>
      <p class="meta">
        posted by <%= link_to status.user.username, profile_path(status.user.username) %> |
        <%= date_for status.created_at %>
      </p>
    <% end -%>
  <% end -%>
</div><!-- /friend_activity -->