<% title "Dashboard" %>

	<div id="admin_messages" class="span-6">
<% if !@admin_direct_messages.blank? %>
		<h3>Administrative Notices</h3>
	<% for message in @admin_direct_messages %>
	<% div_for message, :class => 'clearfix admin' do %>
		<%= image_tag message.sender.avatar.url(:thumb), :class => 'left' %>
		<h5><%= message.title %></h5>
		<p>
			<%= message.body %>
		</p>
		<p class="meta">
			from <%= link_to message.sender.username, message.sender %> | 
			<%= message.created_at.to_s(:short) %> | 
			<%= link_to "reply", reply_direct_message_path(message) %>
		</p>
	<% end # div -%>
	<% end # for loop %>
<% end -%>
	</div>

	<div id="media_requests" class="span-6 last" rel="Media Requests">
<% if !@media_requests.blank? %>
<h3>Media Requests for You</h3>
	<% for request in @media_requests %>
	<% div_for request, :class => 'clearfix' do %>
		<p class="reply_link"><%= link_to "reply", request.conversation_with_recipient(current_user) %></p>
		<p class="meta">
			<%= request.created_at.strftime("%b %e") %> |
			A writer 
		<%- if request.sender.try(:publication) %>
			from <em><%= request.sender.try(:publication) %></em> 
		<% end -%>
		  wants to know:
		</p>
		<p class="message">
			<%= request.message %>
		</p>
	<% end # div -%>
	<% end # for loop %>
<% end -%>
	</div>	

	<div id="direct_messages" class="span-6">
	<h3>Direct Messages</h3>
	<% if !@direct_messages.blank? %>
		<h4>Messages to You</h4>
		<%= render @direct_messages %>
	<% end -%>

	<% if !@sent_messages.blank? %>
		<h4>Sent Messages</h4>
		<%= render @sent_messages %>
	<% end -%>
	</div>

	
	<div id="friend_activity" class="span-6 last" rel="Friend Activity">
<% if !@friend_activity.blank? %>
		<h3>Friend Activity</h3>
	<% for status in @friend_activity %>
	<% div_for status, :class => 'clearfix admin' do %>
		<%# image_tag status.user.avatar.url(:thumb), :class => 'left' %>
		<p class="message">
			<%= status.message %>
		</p>
		<p class="meta">
			posted by <%= link_to status.user.username, status.user %> | 
			<%= status.created_at.to_s(:short) %>
		</p>
	<% end # div -%>
	<% end # for loop %>
<% end -%>
	</div>


