<% title "Your Digital Dashboard", false %>
<div id="dashboard">
  <% if current_user.messages_from_ria.any? -%>
    <div id="admin_messages">
      <div class="mail_count"><span><%= current_user.messages_from_ria.size %></span></div>
      <p>You have <%= pluralize(current_user.messages_from_ria.size, 'unread message') %> from <abbr title="Restaurant Intelligence Agency">RIA</abbr>.</p>
      <p><%= link_to 'View your messages &#187;', messages_path, html_options = {:onclick => "pageTracker._trackEvent('Dashboard', 'Click', 'New RIA Message Promo')"} %></p>
    </div><!-- /admin_messages -->
  <% end -%>

<% unless current_user.prefers(:hide_help_box) %>
  <div id="get_started">
    <div class="box">
      <div class="box">
        <h3 class="function-bold">We've made getting started easy. Here's a few things to try!</h3>
        <ol>
          <li><%= link_to 'Upload a photo for your profile', edit_user_path(current_user) %></li>
          <li><%= link_to 'Find your coworkers and follow them', directory_path %></li>
          <li><%= link_to 'Update your status on SpoonFeed and Twitter', user_statuses_path(current_user) %></li>
        </ol>
      </div>
    </div>
  </div><!-- /get_started -->
<% end %>

  <div id="conversations" class="span-12">
    <div class="box">
      <h2 class="primary_title function-bold">Conversations</h2>
      <div id="direct_messages">
        <h3>Private Messages</h3>
        <% @direct_messages.each do |dm| -%>
          <% div_for dm do -%>
            <p><%= link_to details_for(dm), reply_direct_message_path(dm) %></p>
          <% end -%>
        <% end -%>
        <p class="view_all"><%= link_to "View private messages...", private_messages_path %></p>
      </div><!--/direct_messages-->
      <div id="discussions">
         <h3>Discussions</h3>

         <% current_user.discussions.unread_by(current_user).each do |discussion| -%>
           <% div_for discussion do -%>
             <h4 class="new_topic">New Topic</h4>
             <p><%= link_to discussion.title, discussion %></p>
           <% end -%>
         <% end -%>
         <% current_user.discussions.with_comments_unread_by(current_user).each do |discussion| -%>
           <% div_for discussion do -%>
             <h4 class="new_comment">New Comment</h4>
             <p><%= link_to discussion.title, discussion %></p>
           <% end -%>
         <% end -%>
         <p class="view_all"><%= link_to "View discussions...", staff_discussions_messages_path %></p>
       </div><!--/direct_messages-->
    </div>
  </div><!-- /conversations -->

  <% if current_user.has_feeds? -%>
    <div id="news_feeds" class="span-12">
  <% else -%>
    <div id="news_feeds" class="span-8">
  <% end -%>
    <h2 class="function-bold with_icon">
      <img src="/images/newspaper.png" alt="" class="titleicon"/>
      Featured News Feeds
    </h2>
    <%= render :partial => 'feeds/feed', :collection => @feeds %>
  </div><!-- /news_feeds -->
  <% unless current_user.has_feeds? -%>
    <div id="choose_feeds" class="span-4 last round">
      <div class="box">
        <h3><%= link_to 'Choose Your Feeds!', new_feeds_path %></h3>
        <p>Lorem ipsum dolor sit amet. Neuriscilum paesce vudor.</p>
        <%= link_to 'Go now!', new_feeds_path, :class=>'action' %>
      </div>
    </div><!-- /choose_feeds -->
  <% end -%>
</div><!-- /dashboard -->