<section class="hp_promo <%= 'first' if sf_promo == @sf_promos.first %> <%= 'last' if sf_promo == @sf_promos.last %>">
  <h1><%= sf_promo.title %></h1>
  <%= simple_format(sf_promo.body) %>
  <%= link_to "more&nbsp;&#187;", sf_promo.link unless sf_promo.link.blank? %>

</section>