<% title @event.title %>

<%- if @restaurant -%>

  <p class="event-actions"><%= link_to "edit", edit_restaurant_event_path(:restaurant_id => @restaurant, :id => @event) %> | <%= link_to "delete", restaurant_event_path(:restaurant_id => @restaurant, :id => @event), :method => "delete" %></p>

<%- else -%>

  <p class="event-actions"><%= link_to "edit", edit_admin_event_path(:id => @event) %> | <%= link_to "delete", admin_event_path(:id => @event), :method => "delete" %></p>

<% end %>

<%= render :partial => "events/details" %>

<% if @restaurant %>
  <p><%= link_to "Back to calendars", restaurant_calendars_path(:restaurant_id => @restaurant), :class => "button events-button" %></p>
<% else %>

<div id="have_replied" class="conversations_list">
  <h3>Accepted (<%= @event.child_count %>)</h3>

  <table>
    <%= render @event.children %>
  </table>
</div>

<p><%= link_to "Back to calendars", admin_calendars_path, :class => "button events-button" %></p>
<%- end -%>