<% title @event.title %>

<%= content_for :page_actions do %>
  <p class="event-actions">
  <% if @restaurant
      edit_path = edit_restaurant_event_path(:restaurant_id => @restaurant, :id => @event)
      delete_path = restaurant_event_path(:restaurant_id => @restaurant, :id => @event)
    else
      edit_path = edit_admin_event_path(:id => @event)
      delete_path = admin_event_path(:id => @event)
    end
  %>

    <%= link_to "edit", edit_path, :class => 'edit-event' %>
    <%= link_to "delete", delete_path, :method => "delete", :class => 'delete-event' %>
  </p>
<% end %>

<%= render :partial => "events/details" %>

<% if @restaurant %>
  <p><%= link_to "Back to calendars", restaurant_calendars_path(:restaurant_id => @restaurant), :class => "button events-button" %></p>
<% else %>

<div id="have_replied" class="conversations_list">
  <h3>Participating (<%= @event.child_count %>)</h3>

  <table>
    <%= render @event.children %>
  </table>
</div>

<p><%= link_to "Back to calendars", admin_calendars_path, :class => "button events-button" %></p>
<%- end -%>