<% title "Create free account" %>

<div id="editing_restaurant">

<% semantic_form_for @invitation do |f| %>
    <% f.inputs :class => "editing basics requestinvite" do %>
        <%= f.input :first_name, :as => :string %>
        <%= f.input :last_name, :as => :string %>
        <%= f.input :email, :as => :string %>
        <%= label_tag "Account type" %>
        <%= select_tag :account_type, options_for_select(["", "Restaurant professional", "Media"]), :onchange => "handle_account_type();" %>

        <% f.inputs :name => "Work details", :id => "work-details", :style => "display: none;" do %>
            <%= f.input :restaurant_name, :label => "Name of the restaurant(s) where you work:", :hint => 'Enter your restaurant name or your employment status e.g., student, between jobs, retired, time off' %>
            <%= f.input :restaurant_role, :label => "Role", :as => :select, :collection => RestaurantRole.all, :hint => 'Your role helps the media find you when they are looking for sources for stories.  If you are "chef/owner" select that and not "owner": you will receive more opportunities!' %>

            <h4>Area(s) of expertise</h4>
            <%= f.input :subject_matters,
                :as => :check_boxes,
                :wrapper_html => { :class => 'checkall', :id => "employment_general_subject_matters" },
                :collection => SubjectMatter.general.all,
                :label => "I am comfortable answering questions and speaking to the media about the following topics:" %>
            <%= submit_tag "Create Free Account" %>
        <% end %>

    <% end %>

<% end %>

</div>

<% content_for :javascript do -%>
    <script type="text/javascript">
    function handle_account_type() {
        if ($("select#account_type").val() == "Media") {
            document.location = "<%= new_mediafeed_media_user_url %>?" + "user[email]=" + $('#invitation_first_name').val() +  "&amp;user[first_name]=" + $('#invitation_last_name').val() + "&amp;user[last_name]=" + $('#invitation_email').val();
        } else {
            $("#work-details").show();
        }
    }
    </script>
<% end -%>
