<% title "Culinary School - #{@culinary_school.name}" %>

<p>
	<strong>City:</strong>
	<%=h @culinary_school.city %>
</p>
<p>
	<strong>State:</strong>
	<%=h @culinary_school.state %>
</p>
<p>
	<strong>Country:</strong>
	<%=h @culinary_school.country %>
</p>

<p>
	<%= link_to "Edit", edit_admin_culinary_school_path(@culinary_school) %> |
	<%= link_to "Destroy", [:admin, @culinary_school], :confirm => 'Are you sure?', :method => :delete %> |
	<%= link_to "View All", admin_culinary_schools_path %>
</p>
