<% title "Media Users" %>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Password</th>
    <th>Password Confirmation</th>
  </tr>
  <% for media_user in @media_users %>
    <tr>
      <td><%=h media_user.username %></td>
      <td><%=h media_user.email %></td>
      <td><%=h media_user.first_name %></td>
      <td><%=h media_user.last_name %></td>
      <td><%=h media_user.password %></td>
      <td><%=h media_user.password_confirmation %></td>
      <td><%= link_to "Show", media_user %></td>
      <td><%= link_to "Edit", edit_media_user_path(media_user) %></td>
      <td><%= link_to "Destroy", media_user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Media User", new_media_user_path %></p>
