<%= content_tag_for :li, enrollment, :class => cycle('odd','even') do %>
  <span class="extended-title"><%= enrollment.school.try :name %> <span>(<%= enrollment.graduation_date.try(:year) || "Did not graduate" %>)</span></span>
  <%= enrollment.degree %><br>
  <%= enrollment.focus %><br>
  <%= enrollment.scholarships %><br/>
  <%= link_to "Edit", edit_enrollment_path(enrollment), :class => 'colorbox' %>
  <%= link_to "Destroy", enrollment_path(enrollment), { :method => :delete }, { :class => 'delete' } %>
<% end %>
