<% semantic_form_for [:my_profile, @enrollment] do |f| %>
  <% f.inputs :class => "enrollments" do %>
    <%= f.input :culinary_school %>

  <% if action_name == 'new' %>
    <p>
      <a href="#culinary_school_fields" class="showit">
        We don't have your school listed? You can add it below
      </a>
    </p>

    <div id="culinary_school_fields">
      <% f.semantic_fields_for :culinary_school do |school| %>
        <%= school.input :name, :label => 'School Name' %>
        <%= school.input :city, :input_html => {:class => 'span-5'},
          :wrapper_html => {:class => 'span-5 column'} %>
        <%= school.input :state, :input_html => {:maxlength => 2, :class => 'span-1'},
          :wrapper_html => {:class => 'span-5 column'} %>
        <%= school.input :country, :wrapper_html => {:class => 'clear'} %>
      <% end %>
    </div>
  <% end %>

    <li class="date optional">
      <label for="enrollment_graduation_date_1i">Graduation date</label>
      <%= f.date_select :graduation_date, :include_blank => true, :start_year => 1960, :end_year => Date.today.year %>
      <p class="inline-hints">Leave blank if you did not graduate</p>
    </li>

    <%= f.input :degree %>
    <%= f.input :focus, :hint => 'Did you have any special focus?' %>
    <%= f.input :scholarships, :hint => "Did you receive any awards or special scholarships" %>
  <% end %>
  <%= button_tag "Save" %>
<% end %>
