<%= "<h1>#{yield :title}</h1>" if request.xhr? %>
<%= semantic_form_for @enrollment.new_record? ? [:user, :profile, setup_enrollment(@enrollment)] : setup_enrollment(@enrollment) do |f| %>
  <%= f.inputs :class => "enrollments" do %>
  
    <% if @enrollment.errors.blank? || (!@enrollment.errors.first.nil? && @enrollment.errors.first.include?("school")) %>
    <%= f.input :school %>

    <% end %>

  <% if action_name != 'edit' %>
    
    <% if !@enrollment.errors.first.nil? && @enrollment.errors.first.include?("school") %>
    <div id="school_fields" class="display-none">
     <%else%>
     <div id="school_fields">
     <%end%> 
      <%= f.semantic_fields_for :school do |school| %>
        <%= school.input :name, :label => 'School Name' %>
        <%= school.input :city, :input_html => {:class => 'span-5'},
          :wrapper_html => {:class => 'span-5 column'} %>
        <%= school.input :state, :input_html => {:maxlength => 2, :class => 'span-1'},
          :wrapper_html => {:class => 'span-1 column'} %>
        <%= school.input :country, :wrapper_html => {:class => 'clear'} %>
      <% end %>
    </div>


    <% if @enrollment.errors.blank? || (!@enrollment.errors.first.nil? && @enrollment.errors.first.include?("school")) %>
    <br>
      <p>
      <a href="#school_fields" class="showit">
        Is your school not listed above? Click here to add it!
      </a>
    </p>
    <br>

    <% end %>

  <% end %>

    <li class="date optional">
      <label for="enrollment_graduation_date_1i">Graduation Year</label>
      <%= f.date_select :graduation_date, :include_blank => true,
        :start_year => Date.today.year, :end_year => 1930,
        :discard_month => true, :discard_day => true
      %>
      <p class="inline-hints">Leave blank if you did not graduate</p>
    </li>

    <%= f.input :degree ,:input_html=>{:size=>50}%>
    <%= f.input :focus, :hint => 'Did you have any special focus?' ,:input_html=>{:size=>50,:cols=>50}%>
    <%= f.input :scholarships, :hint => "Did you receive any awards or special scholarships?" ,:input_html=>{:size=>50,:cols=>50}%>
  <% end %>
  <%= button_tag "Save" %>
<% end %>
