<% title "Culinary School - #{@school.name}" %>

<p>
	<strong>City:</strong>
	<%=h @school.city %>
</p>
<p>
	<strong>State:</strong>
	<%=h @school.state %>
</p>
<p>
	<strong>Country:</strong>
	<%=h @school.country %>
</p>

<p>
	<%= link_to "Edit", edit_admin_school_path(@school) %> |
	<%= link_to "Destroy", [:admin, @school], :confirm => 'Are you sure?', :method => :delete %> |
	<%= link_to "View All", admin_schools_path %>
</p>
