<header id="restaurant_header">
    <div id="restaurant_actions">
        <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), :class => 'edit_restaurant' if can?(:edit, @restaurant) %>
        <%= link_to 'Start a discussion', new_discussion_path(:restaurant_id => @restaurant.id), :class => 'start_discussion' unless on_soapbox %>

        <!-- AddThis Button BEGIN -->
        <%= link_to 'Share Profile', "http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria", :class => 'share_profile addthis_button' %>
        <%= javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria" %>
        <% javascript_tag do %>
          var addthis_share = {
            url: '<%= soapbox_restaurant_url(@restaurant) %>',
          }
        <% end %>
        <!-- AddThis Button END -->
    </div><!--#restaurant_actions-->

    <%= image_tag logo_for(@restaurant).attachment.url(:small) %>
    <h1 id="name"><%= restaurant_link(@restaurant) %></h1>

    <div id="restaurant_meta" class="">
        <p class="address"><%= @restaurant.address_parts.join("<br />") %></p>
        <p>
            Metropolitan Area: <%=h @restaurant.metropolitan_area.try(:name) %><br/>
            Region: <%=h @restaurant.james_beard_region.try(:name) %>
        </p>
    </div><!-- /restaurant_meta -->
</header>
