<header id="restaurant_header">
    <div id="restaurant_actions">
        <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), :class => 'edit_restaurant' if can?(:edit, @restaurant) %>

        <!-- AddThis Button BEGIN -->        
        <%= javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria" %>
        <% javascript_tag do %>
          var addthis_share = {
            url: '<%= soapbox_restaurant_url(@restaurant) %>',
          }
        <% end %>
        <!-- AddThis Button END -->

        <% if @subscriber.present? && @subscriber.has_subscription(@restaurant) %>
          <%= link_to 'Unsubscribe', unsubscribe_soapbox_restaurant_path(@restaurant, :subscriber_id => @subscriber.id), :method => "post" %>
        <%- else -%>
          <%= link_to 'Subscribeq', subscribe_soapbox_restaurant_path(@restaurant), :method => "post" %>
        <%- end -%>
    </div><!--#restaurant_actions-->

    <%= image_tag logo_for(@restaurant).attachment.url(:small) %>
    <h1 id="name"><%= restaurant_link(@restaurant) %></h1>

   

</header>
 <div id="restaurant_meta" class="">
    <% dl_if(!@restaurant.description.blank?, :class => "list_item", :id => "description") do %>   
      <dd><%= @restaurant.description %></dd>
<% end %>
</div><!-- /restaurant_meta -->