<% title @restaurant.name, false %>
<div id="restaurant_profile_view" class="clear clearfix">

  <%= render 'restaurant_header' %>
<br/>
  <div class="media clear clearfix">

    <div id="primary_photo" class="photos">
      <% if @restaurant.photos.any? -%>
        <%= link_to image_tag(@restaurant.primary_photo.attachment.url(:medium), :alt => 'Primary photo'), correct_restaurant_photos_path(@restaurant) %>
      <% end -%>
    </div><!-- .photos -->

    <div class="menus">
      <h2>Menus</h2>
      <% if @restaurant.menus.any? -%>
        <ul>
          <%= render :partial => 'menus/menu', :collection => @restaurant.menus.by_position.all(:limit => 5) %>
        </ul>
      <% else -%>
        <p>There are no menus available at this time.</p>
      <% end -%>
    </div><!-- .menus -->

  </div><!-- .media -->

  <% if @restaurant.top_tags.any? %>
  <div class="top-tags clear clearfix no-border-bottom">
    <h2>Top 15 Tags</h2>
    <ul class="tags ">
        <% for tag in @restaurant.top_tags %>
        <li><%= link_to h(tag.value), soapbox_feature_path(tag)  %></li>
        <% end %>
    </ul>
  </div><!-- .top-tags -->
  <% end %>
  <% if @restaurant.fact_sheet.info_exists? %>
    <div id="extended_profile_container" class="clear">
      <a href="#extended_profile" class="showit">View Restaurant Fact Sheet <em>(Parking &amp; Directions, Pricing, Hours, etc)</em></a>
      <%= render 'restaurant_fact_sheets/fact_sheet', :fact_sheet => @restaurant.fact_sheet %>
    </div><!-- #extended_profile_container -->
  <% end %>

  <!-- OTM and News FEED -->
      <% if @menu_items.present? %>
  <div id="on_the_menu" class="recent_actions">
      <h3 id="otm-title"><%= link_to "On the Menu", soapbox? ? soapbox_menu_items_path(:restaurant_id => @restaurant) : restaurant_menu_items_path(:restaurant_id => @restaurant) %></h3>
      <% if @restaurant.employees.include?(current_user) -%>
      <div class="edit_profile_link">
          <%= link_to "edit On the Menu", restaurant_menu_items_path(:restaurant_id => @restaurant) %>
      </div>
      <% end -%>

      <ul class="box">
        <%= reset_cycle('default') -%>
        <% for item in @menu_items -%>
        <li class="<%= cycle("odd", "even") %>">
            <%= link_to soapbox_menu_item_path(item) do %>
            <h5><%= item.name.html_safe  %>: <%= truncate(item.description, :length => 100).html_safe %></h5>
            <% end %>
        </li>
        <% end -%>
      </ul>
      <p class="view_all"><%= link_to "View all &raquo;".html_safe , soapbox? ? soapbox_menu_items_path(:restaurant_id => @restaurant) : restaurant_menu_items_path(:restaurant_id => @restaurant) %></p>
  </div><!--#on_the_menu-->
  <% end %>

  <% if @promotions.present? %>
  <div id="newsfeed" class="recent_actions">
      <h3 id="newsfeed-title"><%= link_to "Newsfeed", soapbox? ? soapbox_promotions_path(:restaurant_id => @restaurant) : restaurant_promotions_path(:restaurant_id => @restaurant) %></h3>
      <% if @restaurant.employees.include?(current_user) -%>
      <div class="edit_profile_link">
          <%= link_to "edit Newsfeed", new_restaurant_promotion_path(:restaurant_id => @restaurant) %>
      </div>
      <% end -%>

      <ul class="box">
        <%= reset_cycle('default') -%>
        <% for promotion in @promotions -%>
        <li class="<%= cycle("even", "odd") %>">
            <%= link_to soapbox_promotion_path(promotion) do %>
            <h5><%= promotion.title.html_safe  %>: <%= Loofah::Helpers.sanitize(truncate(promotion.details)).html_safe  %></h5>
            <%= promotion.start_date.to_formatted_s(:long) %> <%= "- #{promotion.end_date.to_formatted_s(:long)}" if promotion.end_date.present? %> <%= "- #{promotion.date_description}" if promotion.date_description.present? %>
            <div><span class="datestamp"><%= "Posted #{promotion.created_at.strftime("%D")}" %></span></div>
            <% end %>
        </li>
        <% end -%>
      </ul>
      <p class="view_all"><%= link_to "View all &raquo;".html_safe , soapbox? ? soapbox_promotions_path(:restaurant_id => @restaurant) : restaurant_promotions_path(:restaurant_id => @restaurant) %></p>
  </div><!--#newsfeed-->
  <% end %>
  <!-- END OTM / NEWS FEED -->

  <div class="rest_staff clearfix">
    <h2>Restaurant Staff</h2>
    <div class="restaurant_employees employments clearfix">
      <%= render :partial => 'restaurants/employment', 
                 :collection => @restaurant.public_employments.all(:include => [:subject_matters, :restaurant_role, :employee]) %>
    </div><!-- .employments -->
  </div><!--.rest_staff-->

  <% unless @restaurant.accolades.empty? %>
  <div class="accolades clearfix">
    <h2>Accolades</h2>
    <ul>
      <%= render :partial => 'accolades/accolade', :collection => @restaurant.accolades.by_run_date %>
    </ul>
  </div><!-- .accolades -->
  <% end %>



  

  <% if @questions.present? %>
  <div id="a_la_minute">
    <h3 id="alm-title">A La Minute Questions</h3>
    <% if @restaurant.employees.include?(current_user) %>
    <div class="edit_profile_link">
      <%= link_to "edit your answers", bulk_edit_restaurant_a_la_minute_answers_path(:restaurant_id => @restaurant) %>
    </div>
    <% end %>
    <div class="questions">
      <%= render :partial => "restaurants/a_la_minute_question",
              :collection => @questions, :as => :answer, :locals => { :restaurant => @restaurant } %>
    </div>
  </div><!--#a_la_minute-->
  <% end %>

<%= content_for :sidebar do -%>
<%= render :partial => 'soapbox/restaurant_sidebar', :locals => { :restaurant => @restaurant } %>
<% end -%>
</div><!-- #restaurant_profile_view -->


<%= content_for :javascript do %>
  <script type="text/javascript">
    //<![CDATA[
    $('.a_la_minute_answer_eip').eip("/a_la_minute_answers/edit_in_place", {
        data: "restaurant_id=" + $(".a_la_minute_answer_eip").attr("data-restaurant-id") } );
    $('.hidden_with_js').hide();
    $('.submit_on_change').change(function() {
      $(this).closest("form").ajaxSubmit();
    });
    //]]>
  </script>
<% end %>