<div id="logo">
  <%= image_tag @restaurant.logo.attachment.url(:medium) if @restaurant.logo %>
</div>
<% content_for :title, h(@restaurant.name) %>

<%= render :partial => 'basic_info' %>

<% div_if(@restaurant.accolades.present?, :class => "accolade_link") do %>
  <%= link_to "See accolades",  soapbox_restaurant_accolades_path(@restaurant) %>
<% end %>

<div id="page_header_navigation" class="span-3 last">
  <%= render :partial => 'page_header_navigation',
      :collection => @restaurant.feature_pages, :as => :feature_page %>
</div>

<br clear="all"/>

<div class="page_headers">
  <%= render :partial => 'page_header',
      :collection => @restaurant.feature_pages, :as => :feature_page %>

  <div id="primary_photo">
    Restaurant Photo:
    <a href="<%= soapbox_restaurant_photo_path(@restaurant, @restaurant.primary_photo) if @restaurant.primary_photo %>">
    <%= image_tag @restaurant.primary_photo.attachment.url(:medium) if @restaurant.primary_photo %>
    </a>
  </div>
</div>

<div class="employee_box">
  <h2>Key Personnel</h2>
  <ul class="employees">
    <%= render :partial => "public_employment", :collection => @restaurant.public_employments,
        :as => :employment %>
  </ul>
</div>

<div class="menus_box">
  <h2>Menus</h2>

  <% if @restaurant.menus.empty? %>
    <p>There are no menus available at this time.</p>
  <% else %>
    <table id="menus">
      <% @restaurant.menus.each do |menu| %>
        <tr id="menu_<%=menu.id%>">
          <td class="menu_name"><%= link_to h(menu.name), menu.pdf_remote_attachment.attachment.url %></td>
          <td class="menu_date"><%=h menu.created_at.to_s(:standard) %></td>
          <td class="menu_change_frequency"><%=h menu.change_frequency %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div class="last"></div>
