<div id="basic_info">
  <div id="name">
    <%=	h @restaurant.name %>
  </div>
  <div id="description">
    <%=	h @restaurant.description %>
  </div>
  <div id="address">
    <div id="street1">
      <%= h @restaurant.street1 %>
    </div>
    <div id="street2">
      <%= h @restaurant.street2 %>
    </div>
    <div id="city">
      <%= h @restaurant.city %>
    </div>
    <div id="state">
      <%= h @restaurant.state %>
    </div>
    <div id="zip">
      <%= h @restaurant.zip %>
    </div>
  </div>
  <div id="phone_number">
    <%= h @restaurant.phone_number %>
  </div>
  <div id="website">
    <%= h @restaurant.website %>
  </div>
  <div id="twitter_username">
    <%= h @restaurant.twitter_username%>
  </div>
  <div id="facebook_page">
    <%= h @restaurant.facebook_page %>
  </div>
  <div id="hours">
    <%= h @restaurant.hours %>
  </div>
  <div id="media_contact">
    <div id="media_contact_name">
      <%= h @restaurant.media_contact.name %>
    </div>
    <div id="media_contact_email">
      <%= h @restaurant.media_contact.email %>
    </div>
    <div id="media_contact_phone">
      <%= h @restaurant.media_contact.phone_number %>
    </div>
  </div>
  <div id="management_company">
    <%= link_to @restaurant.management_company_name, @restaurant.management_company_website %>
  </div>
</div>
