<% content_for :title, h(@restaurant.name) %>

<%= render :partial => 'basic_info' %>

<div id="page_header_navigation" class="span-3 last">
  <%= render :partial => 'page_header_navigation',
      :collection => @restaurant.feature_pages, :as => :feature_page %>
</div>

<br clear="all"/>

<div class="page_headers">
  <%= render :partial => 'page_header',
      :collection => @restaurant.feature_pages, :as => :feature_page %>

  <div id="primary_photo">
    <%= image_tag @restaurant.primary_photo.attachment.url(:medium) if @restaurant.primary_photo %>
  </div>
  <div id="logo">
    <%= image_tag @restaurant.logo.attachment.url(:medium) if @restaurant.logo %>
  </div>
</div>

<div class="last"></div>
