<% title "Calendars" %>

<div class="calendar-categories">
  <% form_tag '', :method => :get do %>
      <%= hidden_field_tag "date", params[:date] if params[:date] %>
      <%= select_tag "category",
          options_for_select(["all"] + Event::CATEGORIES, :selected => params[:category]),
          :onchange => "this.form.submit();" %>
  <% end %>
</div>

<h3 class="this-month"><%= @date.strftime("%B %Y") %></h3>

<%= render :partial => 'month_nav' %>

<div class="calendar">
    <% calendar_for(@events, :year => @date.year, :month => @date.month) do |t| %>
        <%= t.head('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun') %>
        <% t.day do |day, events| %>
            <%= day.day %>
            <% events.each do |event| %>
                <p>
                  <% link_to restaurant_event_path(:restaurant_id => @restaurant, :id => event),
                       :class => event.status do %>
                    <span class="event-title"><%= event.title %></span>
                    <span class="event-time">
                      <%= event.start_at.try(:strftime, "%I:%M%p") %> &ndash;
                      <%= event.end_at.try(:strftime, "%I:%M%p")  %>
                    </span>
                  <% end -%>
                </p>
            <% end %>
        <% end %>
    <% end %>
</div>

<%= render :partial => 'month_nav' %>

<p>
<% link_to new_restaurant_event_path(:restaurant_id => @restaurant.id), :class => 'button positive' do %>
  <%= image_tag('tick.png') %> Add an event
<% end %>
</p>
