<%- if ria_events? -%>
<% title "RIA Events" %>
<%- elsif @restaurant -%>
<% title "Calendars for #{@restaurant.name}" %>
<%- else -%>
<% title "Calendars" %>
<%- end -%>

<div class="calendar-categories">
    <%= form_tag "", :method => :get do %>
        <%= hidden_field_tag "date", params[:date], :id => "date-with-category" if params[:date] %>
        <%= hidden_field_tag "show_ria", params[:show_ria], :id => "ria-with-category" if params[:show_ria] %>
        <%= select_tag "category",
            options_for_select(["all"] + @categories, :selected => params[:category]),
            :onchange => "this.form.submit();" %>
    <% end %>

    <!-- Toggle RIA event display -->
    <% unless ria_events? || admin_calendars? %>
    <div class="RIA-recos">
        <%= form_tag '', :method => :get, :class => "toggle-ria-events" do %>
            <%= hidden_field_tag "date", params[:date], :id => "date-with-ria" if params[:date] %>
            <%= hidden_field_tag "category", params[:category], :id => "category-with-ria" if params[:category] %>
            <p>
                <label for="show_ria">Show RIA event recommendations?</label>
                <%= select_tag "show_ria", options_for_select(ria_event_options, params[:show_ria]), :onchange => "this.form.submit();" %>
            </p>
        <% end %>
    </div>
    <% end %>
</div>

<div class="calendar-header">
  <h3 class="this-month"><%= @date.strftime("%B %Y") %></h3>

  <div class="month-skip">
      <div id="date-select">
          <%= form_tag '', :method => :get, :class => "toggle-ria-events" do %>
          <%= hidden_field_tag "category", params[:category], :id => "category-with-date" if params[:category] %>
          <%= hidden_field_tag "show_ria", params[:show_ria], :id => "ria-with-date" if params[:show_ria] %>
          <%= text_field_tag "date", "Pick a date to jump to", :onchange => "this.form.submit();" %>
          <% end %>
      </div>
  </div>
  <%= render :partial => 'calendars/month_nav' %>
</div><!--.calendar-header-->

<div class="calendar">
    <%= calendar_for(@events, :year => @date.year, :month => @date.month, :first_day_of_week => 1) do |t| %>
        <%= t.head('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun').html_safe %>
        <%= t.day do |day, events| %>
            <%= day.day %>
            <% events.each do |event| %>
                <p>
                  <%= link_to event_link(event), :class => event_link_class(event), :title => event_link_title(event) do %>
                    <% if ria_event?(event) %>
                      <span class="small-disc"><%= event.child_count.html_safe %></span>
                    <% end %>
                    <span class="event-title"><%= event.title.html_safe %></span>
                    <span class="event-time">
                      <%= event.start_at.try(:strftime, "%I:%M%p").html_safe %> &ndash;
                      <%= event.end_at.try(:strftime, "%I:%M%p").html_safe  %>
                    </span>
                  <% end -%>
                </p>
            <% end %>
        <% end %>
    <% end %>
</div>
<div class="calendar-footer">
  <%= render :partial => 'calendars/month_nav' %>
</div>

<!-- Adding events -->
<% if current_user.admin? && ria_events? || admin_calendars? %>
<p class="clearfix">
  <%= link_to new_admin_event_path, :class => 'button positive' do %>
    <%= image_tag('plus.png') %> Add an event
  <% end %>
</p>
<% else %>
<p class="clearfix">
  <%= link_to new_restaurant_event_path(:restaurant_id => @restaurant.id), :class => 'button positive' do %>
    <%= image_tag('plus.png') %> Add an event
  <% end %>
</p>
<% end %>

