<% semantic_form_for @admin_announcement do |f| %>
<div class="span-12">
    <%= f.inputs :message, :scheduled_at %>
    
    <% f.fields_for :attachments do |child_form| -%>
        <h3 class="attachments-header">Attach files</h3>
        <p class="attachfield"><%= child_form.file_field :attachment %></p>
    <% end -%>

    <% if action_name == 'new' %>
      <h3>Message Recipients:</h3>
      <div id="employment_list" class="clearfix">
        <%= render :partial => 'shared/employment_list' %>
      </div>
    <% end %>

    <p><%= button_tag "Save" %></p>
</div>
<div class="span-6 last">
    <% if action_name == 'new' %>
      <%= render :partial => 'shared/employment_criteria', :locals => {:f => f} %>
    <% end %>
</div>
<% end %>
