<% title "Invitations" %>

<div class="clearfix">
    <% if params[:archived] %>
    <%= link_to "View non-archived", admin_invitations_path, :class => "button" %>
    <% else %>
    <%= link_to "View all archived", admin_invitations_path(:archived => true), :class => "button" %>
    <% end %>
</div>


<%= table_for(@invitations) do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('First name') %>
      <%= t.h('Last name') %>
      <%= t.h('Email') %>
      <%= t.h('Restaurant') %>
      <%= t.h('Restaurant role') %>
      <%= t.h('Subject matters') %>
      <%= t.h('Requested') %>
      <% if params[:archived] %>
        <%= t.h('Approved') %>
        <%= t.h('Logged in') %>
        <%= t.h('Invitee') %>
        <%= t.h('Resend email') %>
      <% end  %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

    <% end %>
  <% end %>
  <%= t.body do |invitation| %>
    <tr class="<%= cycle('odd','even') %>">
      <%= t.d(h(invitation.first_name)) %>
      <%= t.d(h(invitation.last_name)) %>
      <%= t.d(h(invitation.email)) %>
      <%= t.d(h(invitation.try(:restaurant_name))) %>
      <%= t.d(h(invitation.try(:restaurant_role).try(:name))) %>
      <%= t.d(h(invitation.subject_matters.map(&:name).join(", "))) %>
      <%= t.d(h(invitation.created_at.try(:strftime, "%m/%d/%y"))) %>
      <% if params[:archived] %>
        <%= t.d(h(invitation.approved_at.try(:strftime, "%m/%d/%y"))) %>
        <%= t.d(h(invitation.invitee.try(:last_request_at).try(:strftime, "%m/%d/%y"))) %>
        <%= t.d(h(link_to invitation.name , profile_path(invitation.username))) %>
        <%= t.d(h(link_to "Resend",resend_admin_invitation_path(invitation))) %>
     <% end %>
      <%= t.d(h(link_to "Accept" , accept_admin_invitation_path(invitation) ,:class=>'admin-actions')) %>
      <%= t.d(h(link_to "Archive" , archive_admin_invitation_path(invitation) ,:class=>'admin-actions')) %>
      <%= t.d(h(link_to "Edit" , edit_admin_invitation_path(invitation) ,:class=>'admin-actions')) %>
      <td class="actions destroy_link">
        <%= link_to "Destroy" , admin_invitation_path(invitation), :method => :delete %>
      </td>
    <% end %>
 <% end %>

