<%= content_tag_for(:div, answer.responder, :answer_for, :class => 'a_la_minute_answer') do %>
    <%= render :partial => "restaurants/identity", :locals => { :restaurant => answer.responder } if answer.responder %>
    <div>
    	 <% if answer.photo_file_name.present? -%>
        	<p><%= image_tag answer.photo(:medium) %></p>
        <% end -%>

        <%= h answer.answer %>
        <p><span class="datestamp"><%= "Posted #{answer.created_at.strftime("%D")}" %></span> - <%= link_to "Share this entry", soapbox_a_la_minute_answer_path(answer) %></p>
    </div>
<% end %>