
<% title "A la Minute" %>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox">
    <%= link_to "Share", "http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria", :class => "addthis_button" %>
</div>
<%= javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria" %>
<% javascript_tag do %>
  var addthis_share = {
    url: '<%= soapbox_a_la_minute_question_url(@question) %>',
  }
<% end %>
<!-- AddThis Button END -->

<div id="answers">
  <h2><%= @question.question %></h2>
  <%= render :partial => 'answer', :collection => @answers, :as => :answer %>
</div>

<% content_for :sidebar do -%>
<%= render :partial => 'sidebar' %>
<% end -%>