
<% title "A la Minute" %>

<div id="answers">
  <h2><%= @question.question %></h2>
  <%= render :partial => 'answer', :collection => @answers, :as => :answer %>
</div>

<%= content_for :sidebar do -%>
<%#= render :partial => 'soapbox/restaurant_sidebar', :locals => { :restaurant => @answers.first.responder } %> <!-- TODO  if need to change with  Address side bar -->
<%= render :partial => 'sidebar' %>
<% end -%>
<div class="clear">&nbsp;</div>
<%= will_paginate(@answers) %>
