<% title "Billing History" %>
<%transactions.each do |transaction| %>
  <tr>
  <td><%= h transaction.id %></td>
  <td><%= number_to_currency transaction.amount %></td>
  <td><%= h transaction.status %></td>
  <td><%= transaction.created_at.strftime("%m/%d/%Y") %></td>
  <td><%= h transaction.credit_card_details.card_type %></td>
  <td><%= obscure_credit_card_number(transaction.credit_card_details) %></td>
  <td><%= h transaction.credit_card_details.expiration_date %></td>
  </tr>
<% end %>