<% title "Upgrade Account To Premium" %>

<%= semantic_form_for :customer, :url => Braintree::TransparentRedirect.url, :html => {:autocomplete => false} do |form| %>
  <%= form.inputs do %>
    <p id="payment_blurb">
        If you are a member associated with a restaurant, you may pay on your own or ask your restaurant's Spoonfeed account manager to add you to the restaurant account.
    </p>

    <%= render :partial => 'form_fields', :locals => {:form => form} %>

    <%= hidden_field_tag "custom_fields[action]", :value => "create"%>

    <%= submit_tag "Upgrade my account" %>
  <% end %>

<% end %>