<% buttons ||= false %>
<%unless promotion.blank?%>
<%=div_for(promotion) do %>
    <h2>
        <%= link_to restaurant_path(promotion.restaurant) do %>
            <% if @promotion_type.present? -%>
              <%= "#{promotion.start_date.to_formatted_s(:long)}" %> <%= "- #{promotion.end_date.to_formatted_s(:long)}" if promotion.end_date.present? %>
            <% else -%>
              <%= "#{promotion.title}: #{promotion.start_date.to_formatted_s(:long)}" %> <%= "- #{promotion.end_date.to_formatted_s(:long)}" if promotion.end_date.present? %>
            <% end -%>
        <% end %>
        <% if buttons %>
            <div style="float:right">
               <%= link_to (image_tag "http://blog.restaurantintelligenceagency.com/images/newsletter/print.jpg"), "javascript:window.print();" %>
                <%= link_to image_tag("http://blog.restaurantintelligenceagency.com/images/newsletter/mail.gif"), "mailto:#{promotion.restaurant.manager.try(:email)}?Subject=On the menu at #{promotion.restaurant.try(:name)}" %>
            </div>
        <% end%>
    </h2>

    <h3><%= promotion.headline %></h3>
    <div class="menu_item_main">
       <%= render :partial => 'restaurants/identity', :locals => { :restaurant => promotion.restaurant } %>
       <% if(false && current_user.media? ) %>
        <% if current_user.restaurant_newsletter_subscription(promotion.restaurant).blank? %>
                <div class="meta menu_item_subscribe <% unless promotion.restaurant.logo && promotion.restaurant.logo.attachment? -%> no_avatar_1<% end -%>" >
                    <%= link_to 'Subscribe', media_subscribe_restaurant_path(promotion.restaurant),:class=>"subscribe" %>
                </div>
                
         <% else %>
                <div class="meta menu_item_subscribe menu_items_unsubscribe <% unless promotion.restaurant.logo && promotion.restaurant.logo.attachment? -%> no_avatar<% end -%>" >
                    <%= link_to 'Unsubscribe', media_subscribe_restaurant_path(promotion.restaurant),:class=>"subscribe" %>
                </div>    
            <% end %>                    
        
    <% end %> 
        <div class="clear"></div>
    </div>
    <div class="fix-nesfeed-details">
        <div class="details" >
            <% unless local_assigns[:dashboard]  -%> 
             <%=truncate(Loofah::Helpers.sanitize(promotion.details), :length => 240, :omission => (link_to(" more &raquo;".html_safe, details_restaurant_promotion_path(promotion.restaurant,promotion)).to_s)).html_safe %>
            <%else%> 
                <%= Loofah::Helpers.sanitize(promotion.details)%>
            <%end%> 
        </div>
        <p><%= link_to promotion.link, promotion.link %></p>
        <% if promotion.attachment.file? -%>
        <p><%= link_to promotion.attachment_file_name, promotion.attachment.url %></p>
        <% end -%>
        <p><%= promotion.date_description %></p>
        <%- if current_user.media? -%>
        <p class="request"><%= link_to "Request more information", mediafeed_request_information_path(:user_id => promotion.restaurant.media_contact_id, :request_type => "Newsfeed", :request_title => promotion.title ) %></p>
        <%- end -%>
        <p><span class="datestamp"><%= "Posted #{promotion.created_at.strftime("%D")}" %></span></p>
    </div>
    <div class="clear">&nbsp;</div>
<% end %>
<% end %>