<% title "Newsfeed " %>

<% for promotion in @promotions -%>
<%= div_for(promotion) do %>
    <h2>
        <%= link_to restaurant_promotions_path(promotion.restaurant) do %>
            <% if @promotion_type.present? -%>
              <%= "#{promotion.start_date.to_formatted_s(:long)}" %> <%= "- #{promotion.end_date.to_formatted_s(:long)}" if promotion.end_date.present? %>
            <% else -%>
              <%= "#{promotion.title}: #{promotion.start_date.to_formatted_s(:long)}" %> <%= "- #{promotion.end_date.to_formatted_s(:long)}" if promotion.end_date.present? %>
            <% end -%>
        <% end %>
    </h2>

    <div class="menu_item_main">
       <%= render :partial => 'restaurants/identity', :locals => { :restaurant => promotion.restaurant } %>
    </div>
    <div class="fix-nesfeed-details">
        <p><%= promotion.headline %></p>
        <div class="details" >
             <%=truncate(Loofah::Helpers.sanitize(promotion.details), :length => 240, :omission => (link_to(" more &raquo;".html_safe, details_restaurant_promotion_path(promotion.restaurant,promotion)).to_s)).html_safe %>
        </div>

        <p><%= promotion.date_description %></p>
        <%- if current_user.media? -%>
        <p class="request">
          <%= link_to "Request more information", mediafeed_request_information_path(:promotion_id => promotion.id),:class => 'colorbox' %></p>
        <%- end -%>
        <p><span class="datestamp"><%= "Posted #{promotion.created_at.strftime("%D")}" %></span></p>
    </div>
    <div class="clear">&nbsp;</div>
<% end %>
<% end -%>

<%= will_paginate(@promotions) %>
