<% title "Newsfeed " %>

<% for promotion in @promotions -%>
<% div_for(promotion) do %>
    <h2>
        <% link_to promotion_path(promotion) do %>
            <% if @promotion_type.present? -%>
              <%= "#{promotion.start_date.to_formatted_s(:long)}" %> <%= "- #{promotion.end_date.to_formatted_s(:long)}" if promotion.end_date.present? %>
            <% else -%>
              <%= "#{promotion.title}: #{promotion.start_date.to_formatted_s(:long)}" %> <%= "- #{promotion.end_date.to_formatted_s(:long)}" if promotion.end_date.present? %>
            <% end -%>
        <% end %>
    </h2>

    <h3><%= promotion.headline %></h3>
    <div class="menu_item_main">
       <%= render :partial => 'restaurants/identity', :locals => { :restaurant => promotion.restaurant } %>
    </div>
    <div class="fix-nesfeed-details">
        <div class="details" >
             <%=truncate(Loofah::Helpers.sanitize(promotion.details), :length => 240, :omission => (link_to(" more &raquo;", details_restaurant_promotion_path(promotion.restaurant,promotion)).to_s)) %>
        </div>
        <p><%= link_to promotion.link, promotion.link %></p>
        <% if promotion.attachment.file? -%>
        <p><%= link_to promotion.attachment_file_name, promotion.attachment.url %></p>
        <% end -%>
        <p><%= promotion.date_description %></p>
        <%- if current_user.media? -%>
        <p class="request">
          <%= link_to "Request more information", mediafeed_request_information_path(:promotion_id => promotion.id),:class => 'colorbox' %></p>
        <%- end -%>
        <p><span class="datestamp"><%= "Posted #{promotion.created_at.strftime("%D")}" %></span></p>
    </div>
    <div class="clear">&nbsp;</div>
<% end %>
<% end -%>

<%= will_paginate(@promotions) %>
