<% title "#{@topic.title} - Behind the Line", false %>

<h1 id="btl-title" class="btl"><%= link_to "<span class=\"btl-art\">Behind the Line</span>".html_safe, soapbox_profile_questions_path %></h1>

<h2 id="topic_title">Topic: <%= @topic.title %></h2>

<%= render :partial => 'nav', :locals => { :next_topic => @next, :prev_topic => @previous } %>

<div class="clear"></div>

<% for answer in @answers %>
<%=div_for answer do %>
    <div class="activity_header">
        <h3><%= link_to "#{answer.profile_question.title}", soapbox_profile_question_path(answer.profile_question) %></h3>
    </div>
    <%= render :partial => "soapbox/profile_questions/answer", :locals => { :answer => answer } %>
<% end %>
<div class="clear">&nbsp;</div>
<% end %>

<%= content_for :sidebar do -%>
<%= render :partial => "soapbox/behind_the_line/sidebar", :locals => { :topic => @topic } %>
<% end -%>