<fieldset class="plain">
<ol>
    <li class="hidden optional"><%= hidden_field_tag :profile_question_id, answer.profile_question.id %></li>
    <li class="text required">
        <%= text_area_tag "profile_question[#{answer.profile_question.id}]answer", answer.answer,
            :rows => 20, :cols => 50, :id => "profile_question_#{answer.profile_question.id}_answer" %>
        <p class="inline-hints"><%= answer.new_record? ? "Maximum length 1500 characters" : "This answer is viewable by others" %></p>
    </li>
  </ol>
</fieldset>

<p class="clear clearfix">
    <span class="and_twitter">
        <% if current_facebook_user && current_user.facebook_authorized? -%>
          <%= check_box_tag "profile_question[#{answer.profile_question.id}]post_to_facebook", 1, true, :class => 'checkbox'  %>
          <%= label_tag "profile_question[#{answer.profile_question.id}]post_to_facebook", "Post to Facebook?" %>
        <% else %>
          <%= link_to "Use Spoonfeed to build your brand. Set up Facebook now.", fb_auth_user_path(current_user) %>
        <% end -%>
    </span>
</p>

<div class="clearfix">
  <%= button_tag "Post" %>
  <%= link_to "Delete this answer", user_profile_answer_path(:id => answer.id, :user_id => @user.id), { :method => "delete" }, { :class => "button negative" } unless answer.new_record? %>
</div>
