<% title @trend_question.subject, false %>

<%=div_for @trend_question, :class => 'discussion inbox_message individual' do %>

  <header>
  	<h1><%= title_link_for_message(@trend_question) %></h1>
  	<p class="timestamp"><%= @trend_question.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %></p>
  </header>
  <section class="clear">
  	<h1><%=h @trend_question.try(:subject) %></h1>
		<p class="employee_name">To: <%= @discussion.employee.try(:name) %></p>
  </section>

  <div class="message-body">
      <%= auto_link(simple_format(@trend_question.body)) %>
  </div>

  <div class="message-comments clearfix">
    <%= render 'admin_discussions/comments', :message => @trend_question %>
  </div>
<% end %>
