<% title @trend_question.subject, false %>

<% div_for @trend_question, :class => 'discussion inbox_message individual' do %>
  <div class="icon">
  </div>
  <div class="message-header clearfix">
      <h4 class="message-title">
          <%= title_link_for_message(@trend_question) %>
          <span class="message-date">
              <%= @trend_question.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %>
          </span>
      </h4>
  </div>
  <div class="message-header clearfix">
      <h1><%=h @trend_question.try(:subject) %></h1>

      <p class="meta">
          <span class="meta_label">To:</span> <%= @discussion.employee.try(:name) %>
      </p>
  </div>

  <hr/>
  <div class="message-body">
      <%= auto_link(simple_format(@trend_question.body)) %>
  </div>

  <div class="message-comments clearfix">
    <%= render 'admin_discussions/comments', :message => @trend_question %>
  </div>
<% end %>
