<% answer = a_la_minute_question.answer_for(@restaurant) %>
<dl id="<%= dom_id(a_la_minute_question) %>">
  <dt class="question"><%= h a_la_minute_question.question %></dt>
  <dd class="answer">
      <span class="a_la_minute_answer_eip" id="<%= dom_id(a_la_minute_question, :eip) %>"
          data-restaurant-id="<%= @restaurant.id %>"><%= answer ? h(answer.answer) : "Click here to answer" %></span>
  </dd>
</dl>
