<% page ||= nil %>
<div id="behindline" class="recent_actions">

  <h3 id="btl-title"><span class="presskit-art">Online Press Kit:</span> <%= page.present? ? "#{restaurant.name} - #{page.name}" : restaurant.name %></h3>
  <% if can?(:manage, restaurant) && !params[:controller].match(/soapbox/) %>
    <div class="edit_profile_link">
      <%= link_to "<span>Answer more questions!</span>".html_safe, restaurant_behind_the_line_path(:restaurant_id => restaurant.id, :page_id => page.try(:id)) %>
    </div>
  <% end %>
  <ul class="box">
    <% reset_cycle('default') -%>
    <% restaurant_topics(restaurant, page).each do |topic| %>
      <li class="<%= cycle("even", "odd") %>">
        <%= link_to link_for_restaurant_chapters(:restaurant_id => restaurant.id, :id => topic.id, :page_id => page.try(:id)) do %>
          <h5><%= topic.title %> <span class="completeness">(<%= page.present? ? topic.completion_percentage(restaurant, page) : topic.completion_percentage(restaurant) %>% complete)</span></h5>
          <%= topic.description || truncate(topic.restaurant_questions.map(&:title).join(" "), :length => 100) %>
        <% end %>
       </li>
    <% end %>
  </ul>
  <p class="view_all"><%= link_to "View all Topics &raquo;".html_safe, link_for_restaurant_topics(:restaurant_id => restaurant.id, :page_id => page.try(:id)) %></p>
</div><!--#behindline-->

