<% title "Newsletter Subscribers :: #{@restaurant.name}", false %>

<div id="restaurant_profile_view" class="edit clear clearfix">
    <%= render 'restaurants/restaurant_editing_header' %>

    <div id="editing_restaurant">
        <div id="restaurant_pages" class="clearfix">
               <nav id="restaurant_feature_nav">
                <%= active_link_to 'Settings', restaurant_newsletters_path(:restaurant_id => @restaurant) %>
                <%= active_link_to 'Subscribers', newsletter_subscriptions_restaurant_path(@restaurant)  %>
                <%= active_link_to 'Reports', archives_restaurant_newsletters_path(:restaurant_id => @restaurant) %>
                
              </nav>
              <div id="restaurant_features_content" style="width:700px;">
                <% if @restaurant.premium_account? %>
                  <%= link_to "We are currently working on a new and improved newsletter feature! Stayed tuned for more information!","" %>
                <% else %>
                  <%= link_to "Automated newsletter distribution is available for premium Restaurant accounts only. If you would like to take advantage of this service please upgrade today", edit_restaurant_path(@restaurant)%>
                <% end %>
              </div>
        </div>
    </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->