<% div_for employment, :class => 'clearfix' do %>
	<div class="employee_section span-4 border">
		<%= link_to image_tag(employment.employee.avatar.url(:thumb)), profile_path(employment.employee.username), :class => 'avatar' %>
		<h4 class="name"><%=link_to employment.employee.try(:name), profile_path(employment.employee.username) %></h4>
		<p class="restaurant_role"><%=h employment.restaurant_role.try(:name) %></p>
	</div>

	<div class="employee_section span-5 border">
		<% if !employment.subject_matters.blank? %>
		<p class="responsibilities">
			Areas:
			<%=h employment.subject_matters.all.map(&:name).to_sentence %>
		</p>
		<% end %>
	</div>

	<div class="employee_section last span-3">
		<ul class="actions">
			<li><%= link_to "Private Message", new_user_direct_message_path(employment.employee) %></li>
			<%- if can? :edit, employment.restaurant %>
			<li><%= link_to "Edit Employee", edit_restaurant_employee_path(employment.restaurant, employment.employee) %></li>
			<% end -%>
		</ul>
	</div>

<% end -%>
