<% restaurant = user %>
<div class="identity<% unless user.logo && user.logo.attachment? -%> no_avatar<% end -%>">
    <div class="avatar">
      <% if restaurant.logo && restaurant.logo.attachment? -%>
        <%= image_tag(restaurant.logo.attachment.url(:thumb), :width => 50, :height => 50) %>
      <% end -%>
    </div>
  <ul class="identity_details restaurant">
    <li class="employee_name primary">
        <%= link_to_if (user.linkable_profile? || logged_in_and_not_soapbox), restaurant.name, correct_restaurant_path(restaurant) %>
    </li>
    <li class="cuisine">
      <%= restaurant.cuisine.name %>
    </li>
    <li class="region">
      <%= restaurant.james_beard_region.name %>
    </li>
    <li class="metro_area">
      <%= restaurant.metropolitan_area.name %>
    </li>
    
  </ul>
</div>
