<% restaurant ||= user %>
<div class="identity<% unless restaurant.logo && restaurant.logo.attachment? -%> no_avatar_1<% end -%>">
    <% cache "#{soapbox? ? "public" : "private"}_restaurant_#{restaurant.id}_#{on_mediafeed}_logo", :expires_in => 1.hour do %> 
        <div class="avatar">
            <% if restaurant.logo && restaurant.logo.attachment? -%>
              <%= image_tag(restaurant.logo.attachment.url(:thumb), :width => 'auto', :height => 'auto') %>
            <% end -%>
        </div>
    <% end -%>
    <ul class="identity_details restaurant">
        <% cache "#{soapbox? ? "public" : "private"}_restaurant_#{restaurant.id}_#{on_mediafeed}", :expires_in => 1.hour do %>  
            <li class="employee_name primary">
            <%#= restaurant.prefers_publish_profile?%>
                <%= link_to_if ((media_user_prefers_publish_profile? && restaurant.prefers_publish_profile?) || restaurant.linkable_profile? || logged_in_on_spoonfeed), restaurant.try(:name), correct_restaurant_path(restaurant) %>
            </li>
            <li class="metro_area">
                <%= restaurant.metropolitan_area.try(:name) %>
            </li>
        <%- end -%>
        <li class="subscribe">
            <% if current_user.nil? || (!current_user.nil? && !current_user.media? && !current_user.admin? && !current_user.role.blank?) %>
                 <% if @subscriber.present? && @subscriber.has_subscription(restaurant) %>
                  <%= link_to 'Unsubscribe', unsubscribe_soapbox_restaurant_path(restaurant, :subscriber_id => @subscriber.id), :method => "post" ,:class=>"unsubscribe" %>
                <%- else -%>
                  <%= link_to 'Subscribe', subscribe_soapbox_restaurant_path(restaurant), :method => "post",:class=>"subscribe" %>
                <%- end -%>
            <% else %>
                 <% if(current_user.media? ) %>
                   <%= render :partial => 'restaurants/subscribe', :locals => { :restaurant => restaurant } %>
                 <% end %>                 
            <%- end -%>
        </li>

    </ul>
</div>
