<aside id="sidebar" class="left">
    <div id="facts">
        <div class="contactDetails">
            <h3>Quick Facts</h3>
            <p><%= @restaurant.address_parts.join("<br />").html_safe %><br /><%= link_to "link to Google Map", "http://maps.google.com/maps?q=#{@restaurant.address_parts.join("+")}", :popup => "true" %></p>
        </div>

        <div class="contactDetails">
            <h4>phone: <span><%= @restaurant.phone_number %></span></h4>
            <h4>website: <span><%= link_to @restaurant.website, @restaurant.website %></span></h4>

            <% if @restaurant.twitter_authorized? -%>
            <h4>twitter: <span><%= link_to "@#{@restaurant.twitter_username}", "http://twitter.com/#{@restaurant.twitter_username}" %></span></h4>
            <% end -%>

            <% if @restaurant.has_facebook_page? -%>
            <h4>facebook: <span><%= link_to @restaurant.name, @restaurant.facebook_page_url %></span></h4>
            <% end -%>

            <% if @restaurant.opening_date.present? -%>
            <h4>Opening Date: <span><%= @restaurant.opening_date.to_s(:long) %></span></h4>
            <% end %>
        </div>

        <div class="contactDetails">
            <h4>Media Contact: <span><%= mail_to @restaurant.media_contact.email, @restaurant.media_contact.name, :subject => "Inquiry about #{@restaurant.name}" %></span></h4>
            <% if @restaurant.media_contact.phone_number.present? -%>
            <h4>Phone: <span><%= @restaurant.media_contact.phone_number %></span></h4>
            <% end -%>
        </div>

        <% if @restaurant.management_company_name.present? -%>
        <div class="contactDetails">
            <h4>Management Company:
                <span><%= @restaurant.management_company_website.present? ?
                          link_to(@restaurant.management_company_name, @restaurant.management_company_website) :
                          @restaurant.management_company_name %></span>
            </h4>
        </div>
        <% end %>

        <%= link_to "View Fact Sheet", restaurant_fact_sheet_path(@restaurant), :id => "factsheet" %>
    </div>

	<div class="bottomMenu new">
		<h2><span>Menus</span><%= link_to "see all menus", restaurant_menus_path(@restaurant) %></h2>
		<ul>
			<% for menu in @restaurant.menus.by_position(:limit => 10) %>
			<li><%= link_to menu.name, menu.pdf_remote_attachment.attachment.url %> <span><%= menu.created_at.strftime('%m/%d/%y') %></li>
			<% end %>
		</ul>
	</div>

	<div class="staff new">
		<h2>Staff</h2>
		<ul>
			<% for employment in @restaurant.public_employments %>
			<li class="clearfix">
				<%= link_to_if employment.employee.linkable_profile?, image_tag(employment.employee.avatar.url(:thumb)), profile_path(employment.employee.username) %>
				<h3><%= employee_link(employment.employee) %></h3>
				<p><%= employment.restaurant_role.try(:name) %></p>
			</li>
			<% end %>
		</ul>
	</div>

</aside>
