<% employments ||= restaurant.employments %>
<%=div_for restaurant, :class => 'clearfix' do %>
  <h2>
    <%= restaurant_link(restaurant) %>
    (<%= restaurant.city %>)
  </h2>

  <ul class="employees">
    <% employments.each do |employment| %>
      <% user = employment.employee %>
      <%= content_tag_for(:li, user) do %>
        <%= link_to image_tag(user.avatar.url(:thumb)), profile_path(user.username) %>
        <%= link_to "#{user.name}, #{employment.restaurant_role.try(:name)}", profile_path(user.username) %>
      <% end %>
    <% end %>
  </ul>
<% end %>
