<header id="profileHeader" class="clearfix">
    <div id="profileImage" class="left">
        <%= image_tag(@restaurant.logo.attachment.url(:big_logo)) if @restaurant.logo.present? %>
    </div>
    <div id="profileDetails" class="right">
        <div class="headingDetails clearfix">
            <hgroup class="left">
                <h2><%= @restaurant.name %></h2>
                <p class="tagline"><%= @restaurant.description %></p>
                <p class="cuisine-location">
                    <strong>Cuisine:</strong> <%= @restaurant.cuisine.try(:name) %>
                </p>
                <p class="cuisine-location">
                    <strong>Metro area:</strong> <%= @restaurant.metropolitan_area.try(:name) %>
                </p>
                <p class="cuisine-location">
                    <strong>Region:</strong> <%= @restaurant.james_beard_region.try(:name) %>
                </p>
            </hgroup>
            <div id="restaurant_actions" class="moreLinks right">
                <%= link_to "edit restaurant", edit_restaurant_path(@restaurant), :class => "orangeLink" %>
                <!-- AddThis Button BEGIN -->
                <%= link_to 'share profile', "http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria", :class => 'orangeLink share_profile addthis_button' %>
                <%= javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria" %>
                <% javascript_tag do %>
                  var addthis_share = {
                    url: '<%= soapbox_restaurant_path(@restaurant) %>',
                  }
                <% end %>
                <!-- AddThis Button END -->
                <div class="moreDetails">
                    <small>facts updated on <span><%= @restaurant.updated_at.strftime('%m/%d/%y') %></span></small>
                    <small>menus updated on <span><%= @restaurant.menus_last_updated %></span></small>
                    <small>photos updated on <span><%= @restaurant.photos_last_updated %></span></small>
                </div>
            </div>
        </div>
        <% if params[:controller] == "restaurants" -%>
        <div class="meta">
            <h4>Learn More</h4>
            <ul id="tags">
                <% @restaurant.feature_pages.each do |page| -%>
                <li><%= link_to page.name, restaurant_feature_page_link(@restaurant, page) %></li>
                <% end -%>
            </ul>
        </div>
        <% if @restaurant.top_tags.any? -%>
        <div class="meta">
            <h4>Highlights</h4>
            <ul id="tags">
                <% for tag in @restaurant.top_tags %>
                <li><%= link_to h(tag.value), feature_path(tag)  %></li>
                <% end %>
            </ul>
        </div>
        <% end -%>
        <% end -%>
    </div>
</header>
