<header class="clearfix">

  <div id="restaurant_actions">
    <% if can? :edit, @restaurant %>
      <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), :class=>'edit_restaurant' %>
    <% end -%>
    <%= link_to 'Start a discussion', new_discussion_path(:restaurant_id => @restaurant.id), :class => 'start_discussion' %>
  </div><!--#restaurant_actions-->

  <%= image_tag logo_for(@restaurant).attachment.url(:small), :width=>'100' %>
  <h1><%= @restaurant.name %></h1>
  
  <div id="restaurant_meta">
    <% div_if @restaurant.premium_account?, :class => "premium" do %>
    <p>Account Type: Premium</p>
  <% end %>
    <p class="address"><%= @restaurant.address_parts.join("<br />") %><br/>
    Metropolitan Area: <%=h @restaurant.metropolitan_area.try(:name) %><br/>
    Region: <%=h @restaurant.james_beard_region.try(:name) %></p>
  </div>

</header>