<header id="profileHeader" class="clearfix">
    <div id="profileImage" class="left">
        <%= image_tag(@restaurant.logo.attachment.url(:big_logo)) if @restaurant.logo.present? %>
    </div>

    <div id="profileDetails" class="right">
        <div class="headingDetails clearfix">
            <hgroup class="left">
                <h2 id="font-fix">
                  <span class="left"><%= link_to @restaurant.name,restaurant_path(@restaurant),:id=>"restaurant_profile" %></span>
                  <% if(current_user.media? ) %>
                    <div id="subscribe-div">   
                      <%= render :partial => 'restaurants/subscribe', :locals => { :restaurant => @restaurant } %> 
                      <div class="profile-update">
                        <%= link_to "Request Profile Update",restaurant_request_profile_update_path(@restaurant),:class=>"request-profile-update subscribe" %>
                      </div>
                    </div>
                    <div class="clear"></div> 
                  <% end %>
                </h2>
                <p class="tagline" id='remove-all-caps-show'><%= @restaurant.description %></p>
                <p class="cuisine-location">
                    <strong>Cuisine:</strong> <%= link_to @restaurant.cuisine.try(:name), restaurant_directory_path(:cuisine_id => @restaurant.cuisine.try(:id)) %>
                </p>
                <p class="cuisine-location">
                    <strong>Metro area:</strong> <%= link_to @restaurant.metropolitan_area.try(:name), restaurant_directory_path(:metropolitan_area_id => @restaurant.metropolitan_area.try(:id)) %>
                </p>
                <p class="cuisine-location">
                    <strong>Region:</strong> <%= link_to @restaurant.james_beard_region.try(:name), restaurant_directory_path(:james_beard_region_id => @restaurant.james_beard_region.try(:id)) %>
                </p>
            </hgroup>

            <div id="restaurant_actions" class="moreLinks right">
                <%= link_to "edit restaurant", edit_restaurant_path(@restaurant), :class => "orangeLink" if can?(:edit, @restaurant) %>
                <!-- AddThis Button BEGIN -->
                <!-- <%#= link_to 'share profile', "http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria", :class => 'orangeLink share_profile addthis_button' %>
                <%#= javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria" %>
                <%# javascript_tag do %>
                  var addthis_share = {
                    url: '<%= soapbox_restaurant_url(@restaurant) %>',
                  }
                <%# end %> -->
                <!-- AddThis Button END -->
                <div class="moreDetails">
                    <small><%= link_to "facts", restaurant_fact_sheet_path(@restaurant) %> updated on <span><%= @restaurant.updated_at.strftime('%m/%d/%y') %></span></small>
                    <small><%= link_to "menus", restaurant_menus_path(@restaurant) %> updated on <span><%= @restaurant.menus_last_updated %></span></small>
                    <small><%= link_to "photos", restaurant_photos_path(@restaurant) %> updated on <span><%= @restaurant.photos_last_updated %></span></small>
                </div>
				<% if @restaurant.press_releases.present? -%>
				<div id="press_releases">
					<% for release in @restaurant.press_releases.all(:order => "created_at DESC", :limit => 3) -%>
					<p><%= link_to release.title, release.pdf_remote_attachment.attachment.url %></p>
					<% end %>
					<%= link_to "see more &raquo;", archive_restaurant_press_releases_path(@restaurant) %>
				</div>
				<% end -%>
            </div>

			<% if params[:controller] == "restaurants" -%>
			<div class="meta">
				<h4>Learn More</h4>
				<ul id="tags">
					<% @restaurant.feature_pages.each do |page| -%>
					<li><%= link_to page.name, restaurant_feature_page_link(@restaurant, page) %></li>
					<% end -%>
				</ul>
			</div>             
			<% if @restaurant.top_tags.any? -%>
			<div class="meta">
				<h4>Highlights</h4>
				<ul id="tags">
					<% for tag in @restaurant.top_tags %>
					<li><%= link_to h(tag.value), feature_path(tag) %></li>
					<% end %>
				</ul>
			</div>
		</div>
        <% end -%>
        <% end -%>
    </div>
</header>
