<header id="restaurant_header">
    <div id="restaurant_actions">
        <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), :class => 'edit_restaurant' if can?(:edit, @restaurant) %>
        <%= link_to 'Start a discussion', new_discussion_path(:restaurant_id => @restaurant.id), :class => 'start_discussion' unless on_soapbox %>
        <%= link_to 'Share Profile', new_discussion_path(:restaurant_id => @restaurant.id), :class => 'share_profile' %>
    </div><!--#restaurant_actions-->

    <%= image_tag logo_for(@restaurant).attachment.url(:small), :width=>'100' %>
    <h1 id="name"><%= restaurant_link(@restaurant) %></h1>

    <div id="restaurant_meta" class="">
        <p class="address"><%= @restaurant.address_parts.join("<br />") %></p>
        <p>
            Metropolitan Area: <%=h @restaurant.metropolitan_area.try(:name) %><br/>
            Region: <%=h @restaurant.james_beard_region.try(:name) %>
        </p>
    </div><!-- /restaurant_meta -->

    <% unless @restaurant.restaurant_features.blank? -%>
    <div id="restaurant_features" class="clear clearfix">
        <span>Learn more about this restaurant: </span>
        <ul class="tags clearfix">
            <% @restaurant.feature_pages.each do |page| -%>
            <li><%= link_to page.name, restaurant_feature_page_link(@restaurant, page) %></li>
            <% end -%>
        </ul>
    </div><!-- /restaurant_features -->
    <% end -%>
</header>
