<header id="restaurant_header">
  
    <div id="restaurant_actions">
      <% unless editing? -%>
        <% if can? :edit, @restaurant %>
          <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), :class=>'edit_restaurant' %>
        <% end -%>
        <%= link_to 'Start a discussion', new_discussion_path(:restaurant_id => @restaurant.id), :class => 'start_discussion' %>
        <%= link_to 'Share Profile', new_discussion_path(:restaurant_id => @restaurant.id), :class => 'share_profile' %>
      <% else -%>
        <%= link_to 'Back to public view', restaurant_path(@restaurant), :class => 'backtopublic' %>
      <% end -%>
    </div><!--#restaurant_actions-->
 
  
  <%= image_tag logo_for(@restaurant).attachment.url(:small), :width=>'100' %>
  <h1 id="name"><%= link_to @restaurant.name, @restaurant %></h1>
  
  <div id="restaurant_meta" class="">
    <% div_if @restaurant.premium_account?, :class => "premium" do %>
    <p>Account Type: Premium</p>
  <% end %>
    <p class="address"><%= @restaurant.address_parts.join("<br />") %></p>
    <p>Metropolitan Area: <%=h @restaurant.metropolitan_area.try(:name) %><br/>
    Region: <%=h @restaurant.james_beard_region.try(:name) %></p>
  </div><!-- /restaurant_meta -->


  <% unless editing? or @restaurant.restaurant_features.blank? -%>
    <div id="restaurant_features" class="clear clearfix">
      <span>Features: </span>
      <ul class="tags clearfix">
        <% @restaurant.restaurant_features.each do |feature| -%>
          <li><%= link_to feature.name, feature_path(feature) %></li>
        <% end -%>
      </ul>
    </div><!-- /restaurant_features -->
  <% end -%>
</header>

<% if editing? and can?(:edit, @restaurant) -%>
  <nav id="edit_resto_menu">
    <%= link_to 'Details', restaurant_employees_path(@restaurant),
        :class=> 'promo editor details' %>
    <%= link_to 'Features', restaurant_features_path(@restaurant),
        :class=> 'promo editor features' %>
    <%= link_to "Photos", bulk_edit_restaurant_photos_path(@restaurant),
        :class => 'promo editor photos' %>
    <%= link_to "Menus", restaurant_menus_path(@restaurant),
        :class => 'promo editor menus' %>
    <%= link_to 'Top Tags', restaurant_employees_path(@restaurant),
        :class=> 'promo editor emp' %>
    <%= link_to 'Staff', restaurant_employees_path(@restaurant),
        :class=> 'promo editor emp' %>
    <%= link_to "A La Minute",
        bulk_edit_restaurant_a_la_minute_answers_path(:restaurant_id => @restaurant),
        :class => 'promo editor alm' %>
  </nav>
<% end -%>
