<% title "Api Key :: #{@restaurant.name}", false %>

<div id="restaurant_profile_view" class="edit clear clearfix">
    <%= render 'restaurants/restaurant_editing_header' %>

    <div id="editing_restaurant">

        <div id="restaurant_pages" class="clearfix">
              <nav id="restaurant_feature_nav">
                <%= active_link_to 'Api', "#api-div",:class=>"selected api-a" %>
                <%= active_link_to 'Html', "#html-div",:class=>"api-a" %>

              </nav>
              <div id="restaurant_features_content" style="width:700px;">
                <div id="key-div">
                  <h1 class="pg_title">Profile API key</h1>

                  <!-- <div id="read_messages" style="width:670px;margin:0;"> -->
                    <div class="editing clearfix clear">
                        <table style="width:100%" class="archives">                         
                            <tbody>
                                <tr>
                                  <td width="10%"><strong>Key :</strong></td>
                                  <td width="90%"><%= @restaurant.api_token %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                 <div id="html-div" class="display-none">
                  <h1 class="pg_title">Diner signup Html</h1>
                    <p>
                      Diners can subscribe directly to your email list on Spoonfeed!<br/>To get started, add a signup form to your website by placing the following html on your website. This form will automatically subscribe the diner to your email list. If you have web development experience, you can modify the layout or text within the html - you just need to keep the form input fields and there associated names.</p>
                    <p>
                      IMPORTANT NOTE: Please add the full link to your thank you page in the value portion of the html field named "url", &lt;input type=&quot;hidden&quot; name=&quot;url&quot; value=&quot;YOUR URL HERE&quot;&gt;

                    </p>  
                    <p>Ex: www.example.com/thankyou.php</p>
                  <!-- <div id="read_messages" style="width:670px;margin:0;"> -->
                    <div class="editing clearfix clear">
                        <table style="width:100%" class="archives">                         
                            <tbody>
                                <tr>
                                  <td width="10%"><strong>Html :</strong></td>
                                  <td width="90%"><%= text_area_tag("html", (render :partial => "diner_join_us.html.erb"),:rows => 5) %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

              </div>
        </div>
    </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->
<%= content_for :javascript do %>
<script type="text/javascript">
  $(".api-a").click(function(e){
    e.preventDefault();
    $('#profile-tabs').tabs('select', 'profile-account');
    $(".api-a").removeClass("selected");
    $(this).addClass("selected");
    if($(this).attr('href')=="#html-div")
    {
      $("#key-div").hide("slow",function(){
        
      })
      $("#html-div").show("slow");
    }
    else
      { 
        $("#html-div").hide("slow",function(){
        
      })
        $("#key-div").show("slow");

      }
  })
</script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#restaurant_feature_nav').tabs('select', 'html-div');
      $('a[href$="#api-div"]').removeClass("selected");
      $('a[href$="#html-div"]').addClass("selected");
      $("#key-div").hide();
      $("#html-div").show();
    });
  </script>
<% end %>