<% @restaurant.logo ||= Image.new %>

<%= content_for :head do -%>
  <%= stylesheet_link_tag 'colorbox' %>
<% end -%>

<% title @restaurant.name, false -%>

<div id="restaurant_profile_view" class="edit clear clearfix">

  <%= render 'restaurants/restaurant_editing_header' %>

  <div id="editing_restaurant">

  <%= semantic_form_for(@restaurant) do |f| %>

    <%= f.inputs :name => "Account Status", :class => "editing account" do %>
      <div class="current standout">Your current account status is <strong><%= @restaurant.account_type %></strong>.</div>
      <p>Basic accounts allow you to participate in Spoonfeed. If you would like to be included in Soapbox, please upgrade to a Premium Account. A restaurant premium account is $250/month... <%= link_to "More account information&nbsp;&#187;".html_safe, "/account_types" %></p>
      <% if @restaurant.premium_account? %>
        <p id="start_date">You have been a premium member since <%= @restaurant.subscription.start_date.to_s(:long) %></p>
      <% end %>
      <% if @restaurant.account_in_overtime? %>
        <p class="alert">This account has been canceled and will end <%= @restaurant.subscription.end_date.to_s(:long)%></p>
      <% end %>
      <%= render :partial => 'subscriptions/account_links', :locals => {:subscriber => @restaurant, :subscriber_type => "restaurant"} %>
    <% end %>

    <%= f.inputs :name => "Basics", :class => "editing basics" do %>
      <%= f.input :name %>
      <%= f.input :description, :as => :text, :label => "Tagline or short description (no more than 255 characters)" %>
      <%= button_tag :class => 'positive' do %>Save changes to basic information<% end %>
    <% end %>

    <%= f.inputs :name => "Address", :class => "editing address" do %>
      <%= f.input :street1, :label => 'Street Address' %>
      <%= f.input :street2, :label => 'Street Address Line 2 (Optional)' %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :zip %>
      <%= f.input :phone_number %>
      <%= f.input :metropolitan_area %>
      <%= f.input :james_beard_region, :label => "Region" %>
      <%= button_tag :class => 'positive' do %>Save changes to address<% end %>
    <% end -%>

    <%= f.inputs :name => 'Other', :class => "editing other" do %>
      <%= f.input :manager, :label => "Spoonfeed Account Administrator", :collection => @restaurant.managers %>
      <%= f.input :media_contact, :collection => @restaurant.employees %>
      <%= f.input :cuisine %>
      <%= f.input :opening_date, :class => "opening_date", :start_year => Date.today.year, :end_year => 1960 %>
      <%= f.input :website %>
      <%= f.input :management_company_name %>
      <%= f.input :management_company_website %>
      <%= button_tag :class => 'positive' do %>Save changes<% end %>
    <% end %>

  <% end %>

  <fieldset id="twitter-fieldset" class="inputs editing">
      <legend><span>Twitter</span></legend>

      <% if @restaurant.twitter_authorized? -%>
      <p>You currently have your Twitter account set up for <em><%= @restaurant.twitter_username %></em>. To change which Twitter account you want your Spoonfeed account linked with, you can remove the Twitter credentials below, and then setup Twitter again.<br/>
          <%= link_to "Disconnect Twitter", remove_twitter_restaurant_path(@restaurant), :confirm => "Are you sure you want to unlink your Twitter account? This action cannot be undone.", :class => 'sf-button', :method => :put %>
      </p>
      <% else -%>
        <%= link_to "Setup Twitter", new_twitter_authorization_url(:restaurant_id => @restaurant.id), :class =>'sf-button' %>
      <% end -%>
  </fieldset>

  <fieldset id="facebook-fieldset" class="inputs editing">
      <legend><span>Facebook</span></legend>

      <%- if @me.present? && @restaurant.has_facebook_page? -%>
      <p>
          You are currently linked to your Facebook account <em>"<%= @me["name"] %>"</em>. You can connect to a different Facebook profile by disconnecting below, then setting up Facebook again.
      </p>
      <%= link_to "Disconnect Facebook", fb_deauth_restaurant_path(@restaurant), :class => 'sf-button negative' %>
      <% begin %> 
          <% page_name = @restaurant.facebook_page.fetch %>
          <p>Current Facebook page for <%= @restaurant.name %>: <em><%= page_name %></em></p>
	    <% rescue Mogli::Client::OAuthException, Mogli::Client::HTTPException ,Exception =>e %>
        <p>Access to your Facebook page has expired. Please select the page again.</p>
      <% end %>
 
      <% if !@me.present? %>
        <p>You don't appear to have access to any Facebook pages. If you'd like the change the page for this restaurant, please ask the admin to give you access through your Facebook account.</p>
      <% else %>
        <%= form_tag fb_page_auth_restaurant_path(@restaurant) do %>
            <p>Configure a page to post to:<br/>
            <%=fb_page_options %>
            <br>          
            </p>
        <% end %>
      <% end %>

      <%- else -%>
      
      <% if @restaurant.has_facebook_page? -%>
            <% begin %>
              <% page_name = @restaurant.facebook_page.fetch.name %>
              <p>Current Facebook page for <%= @restaurant.name %>: <em>"<%=page_name  %>"</em>
               </p> 
                <%= link_to "Disconnect Facebook", fb_deauth_restaurant_path(@restaurant), :class => 'sf-button negative' ,:id =>"no-fb-logged-in-disconnect" %>
          <% rescue Mogli::Client::OAuthException, Mogli::Client::HTTPException ,Exception =>e %>
              <%= link_to "Connect Facebook", fb_auth_user_path(current_user, :restaurant_id => @restaurant.id), :class => 'sf-button' %>
              <p>Access to your Facebook page has expired. Please select the page again.</p>
            <% end %>
        <% else %>
           <p>Facebook regulations require you to use your Facebook personal account permissions to access your restaurant's Facebook page. So first, link Spoonfeed to your personal Facebook account by clicking below. You can then link the account to your restaurant page. You must have admin permissions for your restaurant's Facebook page to link the accounts.</p>
        <%= link_to "Setup Facebook", fb_auth_user_path(current_user, :restaurant_id => @restaurant.id), :class => 'sf-button' %>
      <%- end %>

       
      <%- end -%>
  </fieldset>

  <%= semantic_form_for(@restaurant, :html => { :multipart => true }) do |f| %>

    <%= f.inputs :name => 'Logo', :class => "editing", :id => "logo_image" do %>

      <%= f.semantic_fields_for :logo do |logo_fields| %>
        <%= image_tag @restaurant.logo.attachment.url(:medium), :id => "restaurant_logo_image" %>
          <%= logo_fields.input :attachment, :as => :file, :hint => "Please upload a jpeg, gif, or png" %>
        <% end %>
        <p id="delete-logo"><%= link_to "Remove restaurant logo", restaurant_logo_path(@restaurant, @restaurant.logo), :method => :delete, :confirm => "Are you sure you want to remove the logo?", :class => "negative" %></p>
        <%= button_tag :class => 'positive' do %>Save logo changes<% end %>
    <% end %>
  <% end %>

  <%= render :partial => 'profiles/extended_profile_section', :locals => {
             :associated => @restaurant,
             :association => "accolades",
             :caption => "Accolades",
             :form_path => new_restaurant_accolade_path(@restaurant)} %>

    </div><!-- #editing_restaurant -->
</div><!-- #restaurant_profile_view -->

