<% @restaurant.logo ||= Image.new %>

<% content_for :head do -%>
  <%= stylesheet_link_tag 'colorbox' %>
<% end -%>

<% title @restaurant.name, false -%>

<div id="restaurant_profile_view" class="edit clear clearfix">

  <%= render 'restaurants/restaurant_editing_header' %>

  <div id="editing_restaurant">

  <% semantic_form_for(@restaurant, :html => { :multipart => true }) do |f| %>

    <% f.inputs :name => "Account Status", :class => "editing account" do %>
      <div class="standout">Your current account status is <strong><%= @restaurant.account_type %></strong>.</div>
      <p>Basic accounts allow you to participate in Spoonfeed. If you would like to be included in Soapbox, please upgrade to a Premium Account. A restaurant premium account is $250/month... <%= link_to "More account information&nbsp;&#187;", "/account_types" %></p>
      <% if @restaurant.premium_account? %>
        <p>You have been a premium member since <%= @restaurant.subscription.start_date.to_s(:long) %></p>
      <% end %>
      <% if @restaurant.account_in_overtime? %>
        <p class="alert">This account has been canceled and will end <%= @restaurant.subscription.end_date.to_s(:long)%></p>
      <% end %>
      <%= render :partial => 'subscriptions/account_links', :locals => {:subscriber => @restaurant, :subscriber_type => "restaurant"} %>

    <% end %>

    <% f.inputs :name => "Basics", :class => "editing basics" do %>
      <%= f.input :name %>
      <%= f.input :description, :as => :text, :label => "Tagline or short description (no more than 255 characters)" %>
      <% button_tag :class => 'positive' do %>Save changes to basic information<% end %>
    <% end %>

    <% f.inputs :name => "Address", :class => "editing address" do %>
      <%= f.input :street1, :label => 'Street Address' %>
      <%= f.input :street2, :label => 'Street Address Line 2 (Optional)' %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :zip %>
      <%= f.input :phone_number %>
      <%= f.input :metropolitan_area %>
      <%= f.input :james_beard_region, :label => "Region" %>
      <% button_tag :class => 'positive' do %>Save changes to address<% end %>
    <% end -%>

    <% f.inputs :name => 'Other', :class => "editing other" do %>
      <%= f.input :manager, :label => "Spoonfeed Account Administrator", :collection => @restaurant.managers %>
      <%= f.input :media_contact, :collection => @restaurant.employees %>
      <%= f.input :cuisine %>
      <%= f.input :opening_date, :class => "opening_date", :start_year => Date.today.year, :end_year => 1960 %>
      <%= f.input :website %>
      <%= f.input :twitter_username, :hint => "Just your username" %>
      <%= f.input :facebook_page %>
      <%= f.input :management_company_name %>
      <%= f.input :management_company_website %>
      <% button_tag :class => 'positive' do %>Save changes<% end %>
    <% end %>

    <% f.inputs :name => 'Logo', :class => "editing", :id => "logo_image" do %>

      <% f.semantic_fields_for :logo do |logo_fields| %>
        <%= image_tag @restaurant.logo.attachment.url(:medium), :id => "restaurant_logo_image" %>
          <%= logo_fields.input :attachment, :as => :file, :hint => "Please upload a jpeg, gif, or png" %>
        <% end %>
        <p id="delete-logo"><%= link_to "Remove restaurant logo", restaurant_logo_path(@restaurant, @restaurant.logo), :method => :delete, :confirm => "Are you sure you want to remove the logo?", :class => "negative" %></p>
        <% button_tag :class => 'positive' do %>Save logo changes<% end %>
    <% end %>
  <% end %>

  <%= render :partial => 'profiles/extended_profile_section', :locals => {
             :associated => @restaurant,
             :association => "accolades",
             :caption => "Accolades",
             :form_path => new_restaurant_accolade_path(@restaurant)} %>

    </div><!-- #editing_restaurant -->
</div><!-- #restaurant_profile_view -->

