<%= title @employments.blank? ? "Promote your Restaurant on Soapbox!" : "My Restaurants" %>
<div id="my_restaurants" rel="My Restaurants" class="sidebar_section restaurants clearfix">
  <div class="employers">
  	<% if @employments.blank? -%>
      <p class="none">
        You've all heard that today's news is tomorrow's bird-cage liner. 
        We'd like to add that the conventional press kit is garbage before it's even sent out the door. 
        Press kits aren't searchable, they aren't complete, and, there's no way to update the information once it is out the door. 
        We think a restaurant deserves better.
      </p>
      <p class="none">
        Soapbox restaurant profiles are specifically crafted to help you share all the information media 
        need and are designed to be flexible, searchable, update-able and comprehensive marketing platforms for our members. 
      </p>
      <p class="none">
        So add your restaurant to Spoonfeed, start filling out the details and upgrade to Soapbox — 
        you'll connect to diners as well as media, building traffic to your restaurant with our affordable, easy system.
      </p>
	<% else %>
      <ul>
          <% @employments.each do |employment| %>
          <li class="<%= dom_class(employment.restaurant) %>">
              <% if employment.omniscient? -%>
              <%= link_to "Edit #{employment.restaurant_name}", edit_restaurant_path(employment.restaurant), :class => "restaurant" %>
              <span>Admin</span>
              <p>
                  <%= link_to "Edit A la Minute", bulk_edit_restaurant_a_la_minute_answers_path(:restaurant_id => employment.restaurant_id), :class => "restaurant-actions" %>&nbsp;&nbsp;&nbsp;
                  <%= link_to "Edit Newsfeed", new_restaurant_promotion_path(:restaurant_id => employment.restaurant_id), :class => "restaurant-actions" %>
              </p>
              <% else -%>
              <%= link_to "#{employment.restaurant_name}", employment.restaurant, :class => "restaurant" %>
              <% end -%>
          </li>
          <% end %>
      </ul>
    <% end %>
  </div>
</div><!-- #my_restaurants -->
<p><%= link_to "Add a restaurant", new_restaurant_path, :class => "button" %></p>
