<% title "Find your restaurant" %>

<% if @restaurants %>
<h2>Is this your restaurant?</h2>
<%= table_for @restaurants do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('name_and_location') %>
      <%= t.h('contact?') %>
    <% end %>
  <% end %>
  <%= t.body do |restaurant| %>
    <%= t.r do %>
      <%= t.d(h(restaurant.name_and_location)) %>
      <td class="actions">
      	<%=link_to "Request to be added",send_restaurant_request_restaurant_path(restaurant.id) %>
      </td>
		<% end %>
	<% end %>
<% end %>
<% end %>
<p>
    <%= link_to "I don't see my restaurant listed", add_restaurant_restaurants_path %>
</p>