<div id="restaurant_profile_view" class="clear clearfix">
	
  <%= render 'restaurant_header' %>


	<div class="manager_and_facts equal-height">
		
		<% div_if(@restaurant.description, :class => "list_item", :id => "description") do %>
			Description: <%= @restaurant.description %>
		<% end %>
		<div class="list_item">
			Cuisine: <span><%=h @restaurant.cuisine.try(:name) %></span>
		</div>
		
		<% div_if @restaurant.manager, :class => "list_item", :id => "manager" do %>
			Manager: <span><%= link_to h(@restaurant.manager.name), profile_path(:username => @restaurant.manager.username) %></span>
		<% end %>
	
		<% div_if @restaurant.media_contact, :class => "list_item", :id => "media_contact" do %>
			Media Contact: <span><%= link_to h(@restaurant.media_contact.name), profile_path(:username => @restaurant.media_contact.username) %></span>
		<% end %>
		
		<% div_if(@restaurant.management_company_name.present?, :class => "list_item", :id => "management_company") do %>
			Management Company:
			<% if @restaurant.management_company_website.present? %>
				<%= link_to h(@restaurant.management_company_name), @restaurant.management_company_website %>
	    <% else %>
	    	<%= h(@restaurant.management_company_name) %>
	    <% end %>
		<% end %>

		<% div_if(@restaurant.opening_date, :class => "list_item") do %>
	  	Opening Date: <span id="opening_date"><%= @restaurant.opening_date.to_s(:long) %></span>
	  <% end %>
	  
	  <% div_if(@restaurant.menus.any?, :class => "list_item", :id => "menus") do %>
			Menus:
			<ul>
			  <%= render @restaurant.menus %>
			</ul>
		<% end %>
	
	</div><!-- .manager_and_facts -->

  <div class="account_details equal-height">
		
		<div id="account_status" class="list_item">
			Account Status: <%= @restaurant.account_type %>
		</div>

		<div class="list_item">
			Phone Number: <span id="phone_number"><%=h @restaurant.phone_number %></span>
		</div>

		<% div_if(@restaurant.website.present?, :class => "list_item", :id => "website") do %>
			Website: <%= link_to h(@restaurant.website), @restaurant.website%>
		<% end %>

		<% div_if(@restaurant.twitter_username.present?, :class => "list_item", :id => "twitter_username") do %>
			Twitter: <%= link_to h(@restaurant.twitter_username), "http://twitter.com/#{@restaurant.twitter_username}"%>
	  <% end %>

	  <% div_if(@restaurant.facebook_page.present?, :class => "list_item", :id => "facebook_page") do %>
			Facebook Page: <%= link_to h(@restaurant.facebook_page), @restaurant.facebook_page%>
		<% end %>

		<div id="hours" class="list_item">
			Hours: <%= h @restaurant.hours %>
		</div>
		
	</div><!-- .account_details -->
	
	<div class="rest_staff clearfix">
		
		<h2>Restaurant Staff</h2>
		<div class="restaurant_employees employments clearfix">
		  <%= render :partial => 'employment', :collection => @employments %>
		</div><!-- .employments -->
		
	</div><!--.rest_staff-->

  <% div_if(@restaurant.feature_pages.any?, :class => "clear clearfix", :id => "feature_pages") do %>
		<h2>See more about:</h2>
		<%= render @restaurant.feature_pages %>
	<% end %>

	<%= render :partial => 'profile_questions/behind_the_line', :locals => { :subject => @restaurant } %>

	<div id="a_la_minute">
	  <h3 id="alm-title">A La Minute Questions</h3>
		<div class="edit_profile_link">
			<%= link_to "edit your answers", bulk_edit_restaurant_a_la_minute_answers_path(:restaurant_id => @restaurant) %>
		</div>

	  <div class="questions">
	    <%= render :partial => "a_la_minute_question",
	            :collection => ALaMinuteAnswer.newest_for(@restaurant), :as => :answer %>
	  </div>
		<p class="view_all"><a href="#">View all answers &raquo;</a></p>
	</div><!--#a_la_minute-->

</div><!-- #restaurant_profile_view -->


<% content_for :javascript do %>
<script type="text/javascript">
  //<![CDATA[
  $('.a_la_minute_answer_eip').eip("/a_la_minute_answers/edit_in_place", {
      data: "restaurant_id=" + $(".a_la_minute_answer_eip").attr("data-restaurant-id") } );
  $('.hidden_with_js').hide();
  $('.submit_on_change').change(function() {
    $(this).closest("form").ajaxSubmit();
  });
  //]]>
</script>
<% end %>

