<% title @restaurant.name -%>
<% if can? :edit, @restaurant %>
  <% content_for :page_actions do -%>
  <p class="clearfix">
    <%= link_to 'Manage employees', restaurant_employees_path(@restaurant),
        :class=>'sf-button' %>
    <%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant),
        :class=>'sf-button' %>
    <%= link_to 'Edit restaurant features', restaurant_features_path(@restaurant),
        :class=>'sf-button' %>
  </p>
  <% end -%>
<% end -%>

<div id="restaurant_profile_view" class="box clear clearfix">
  <div class="name_and_pic clearfix span-7">
    <%= image_tag 'avatar_restaurant.gif', :width=>'100' %>
    <div class="user_info">
      <h2 class="function-bold" id="name">
        <%= @restaurant.name %>
      </h2>

      <% div_if @restaurant.premium_account?, :class => "premium" do %>
        Account Type: Premium
      <% end %>
      <div id="address"><%= @restaurant.address_parts.join("<br />") %></div>

      <div>
        Metropolitan Area:
        <span><%=h @restaurant.metropolitan_area.try(:name) %></span>
      </div>

      <div>
        Region:
        <span><%=h @restaurant.james_beard_region.try(:name) %></span>
      </div>
    </div>
  </div><!-- .name_and_pic -->

  <div class="manager_and_facts span-4 last">
    <% div_if @restaurant.manager, :id => "manager" do %>
      Manager:
      <span>
        <%= link_to h(@restaurant.manager.name), profile_path(@restaurant.manager) %>
      </span>
    <% end %>

    <% div_if @restaurant.media_contact, :id => "media_contact" do %>
      Media Contact:
      <span>
        <%= link_to h(@restaurant.media_contact.name),
            profile_path(@restaurant.media_contact) %>
      </span>
    <% end %>

    <div>Cuisine: <span><%=h @restaurant.cuisine.try(:name) %></span></div>

    <% div_if(@restaurant.opening_date) do %>
      Opening Date: <span id="opening_date"><%= @restaurant.opening_date.to_s(:long) %></span>
    <% end %>

  </div><!-- .manager_and_facts -->

  <hr clear="all" />

  <div class="span-11 last">
    <% div_if(@restaurant.description, :class=> "function-bold", :id => "description") do %>
      Description: <%= @restaurant.description %>
    <% end %>
    
    <div id="account_status">
      Account Status: <%= @restaurant.account_type %>
    </div>

    <div>
      Phone Number: <span id="phone_number"><%=h @restaurant.phone_number %></span>
    </div>

    <% div_if(@restaurant.website.present?, :id => "website") do %>
       Website: <%= link_to h(@restaurant.website), @restaurant.website%>
    <% end %>

    <% div_if(@restaurant.twitter_username.present?, :id => "twitter_username") do %>
      Twitter: <%= link_to h(@restaurant.twitter_username),
          "http://twitter.com/#{@restaurant.twitter_username}"%>
    <% end %>

    <% div_if(@restaurant.facebook_page.present?, :id => "facebook_page") do %>
      Facebook Page: <%= link_to h(@restaurant.facebook_page), @restaurant.facebook_page%>
    <% end %>

    <div id="hours">
      Hours: <%= h @restaurant.hours %>
    </div>

    <% div_if(@restaurant.management_company_name.present?, :id => "management_company") do %>
      Management Company:
      <% if @restaurant.management_company_website.present? %>
        <%= link_to h(@restaurant.management_company_name),
            @restaurant.management_company_website %>
      <% else %>em
        <%= h(@restaurant.management_company_name) %>
      <% end %>
    <% end %>
  </div>
</div>

<h3 class="function-bold">Restaurant Staff</h3>

<div class="discussion_actions">
  <p class="new_discussion">
    <%= link_to image_tag('quotebubble.png') + "Start a discussion", new_discussion_path(:restaurant_id => @restaurant.id), :class => 'sf-button alt' %>
  </p>
</div>

<div class="restaurant_employees employments">
  <%= render :partial => 'employment', :collection => @employments %>
</div>

<div id="a_la_minute">
  <h3>A La Minute Questions</h3> <%= link_to "edit answers", bulk_edit_restaurant_a_la_minute_answers_path(:restaurant_id => @restaurant) %>

  <div class="questions">
    <%= render :partial => "a_la_minute_question",
            :collection => ALaMinuteAnswer.newest_for(@restaurant), :as => :answer %>
  </div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
  //<![CDATA[
  $('.a_la_minute_answer_eip').eip("/a_la_minute_answers/edit_in_place", {
      data: "restaurant_id=" + $(".a_la_minute_answer_eip").attr("data-restaurant-id") } );
  $('.hidden_with_js').hide();
  $('.submit_on_change').change(function() {
    $(this).closest("form").ajaxSubmit();
  });
  //]]>
</script>
<% end %>
