<% title @restaurant.name, false %>
<div id="restaurant_profile_view">
    <%= render :partial => "restaurant_header" %>

    <%= render :partial => "restaurant_sidebar" %>

    <section id="profileContent" class="right">

        <div class="module clearfix menus">
            <h2 class="moduleHeadline orange"><span>On the menu</span><%= link_to "See all \"on the menu\"", restaurant_menu_items_path(@restaurant) %></h2>

            <% for item in @menu_items %>
            <figure>
                <%= link_to restaurant_menu_items_path(@restaurant, :anchor => "menu_item_#{item.id}") do %>
                  <%= image_tag(item.photo.url(:small)) if item.photo_file_name.present? %>
                <% end %>
                <figcaption>
                    <p><%= item.name %></p>
                </figcaption>
            </figure>
            <% end %>
        </div>

		<div class="module clearfix photos">
			<h2 class="moduleHeadline green"><span>Press Photos</span><%= link_to "See all photos", restaurant_photos_path(@restaurant) %></h2>

			<% for photo in @restaurant.photos.all(:limit => 3) %>
			<figure>
				<%= link_to image_tag(photo.attachment.url(:medium_photo)), photo.attachment.url(:large), :class => 'colorbox', :rel => 'restaurant_photo', :title => "#{photo.name}" %>
				<figcaption>
					<p><%= photo.name %><br />
						<span>Credit: <%= photo.credit %></span>
					</p>
				</figcaption>
			</figure>
			<% end %>
		</div>

		<div class="module clearfix social">
			<h2 class="moduleHeadline blue"><span>Social</span><%= link_to "See all social", social_archive_restaurant_path(@restaurant) %></h2>

    	    <% cache "facebook_profile_restaurant_#{@restaurant.id}", :expires_in => 1.hour do %>
            <% if @restaurant.has_facebook_page? -%>
			<figure style="margin-right: 0;" class="middleDetails">
				<h2><span>Facebook</span><%= link_to "see all", facebook_archive_restaurant_path(@restaurant), :class => "gray" %></h2>

                <% begin %>
                <% fb_msg_count = 0%>
				<% for post in @restaurant.facebook_page.posts do %>
				<p>
					<% if fb_msg_count != 3 %>
						<% unless post.message.blank? %>
							<%= link_to post.message[0...100]+"...", "https://www.facebook.com/#{post.id.split("_")[0]}/posts/#{post.id.split("_")[1]}" %>
							<span class="datestamp">(<%= Time.parse(post.created_time).strftime("%D") %>)							
							<% fb_msg_count+=1 %>
							</p>
						<% end %>
					<% else %>
						<% break %>
					<% end %>
				<% end %>
				<% rescue Mogli::Client::OAuthException, Mogli::Client::HTTPException ,Exception%>
				<p>Sorry, Facebook posts are unavailable at this time.</p>
				<% end %>
			</figure>
			<% end -%>
            <% end %>

    	    <% cache "twitter_profile_restaurant_#{@restaurant.id}", :expires_in => 1.hour do %>
            <% if @restaurant.twitter_authorized? -%>
			<figure style="margin-right: 0;" class="middleDetails">
				<h2><span>Twitter</span><%= link_to "see all", twitter_archive_restaurant_path(@restaurant), :class => "gray" %></h2>

                <% begin %>
				<% for post in @restaurant.twitter_client.user_timeline[0...3] do %>
				<p><%= link_to post.text, "http://twitter.com/#{@restaurant.twitter_username}/status/#{post.id}" %> <span class="datestamp">(<%= post.created_at.strftime("%D") %>)</p>
				<% end %>
				<% rescue %>
				<p>Sorry, Twitter posts are unavailable at this time.</p>
				<% end %>
			</figure>
			<% end -%>
            <% end %>

			<figure style="margin-right: 0;" class="middleDetails">
				<h2><span>a la minute</span><%= link_to "see all", restaurant_a_la_minute_answers_path(@restaurant), :class => "gray" %></h2>

				<%= render :partial => "restaurants/a_la_minute_question",
						   :collection => @questions, :as => :answer, :locals => { :restaurant => @restaurant } %>
			</figure>
		</div>

    </section><!-- profileContent -->

    <section id="middle" class="clear">

        <!-- <div class="middleDetails">
            <article class="stack green">
                <h2><span>Today's Deals</span><a href="#" class="gray">archives</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </article>
            <article>
                <h2><span>Events</span><a href="#" class="gray">archives</a></h2>
                <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">dolor sit</a></li>
                    <li><a href="#">consectetur</a></li>
                    <li><a href="#">adipiscing elit</a></li>
                    <li><a href="#">Duis a</a></li>
                    <li><a href="#">lectus nunc</a></li>
                    <li><a href="#">vel venenatis</a></li>
                    <li><a href="#">ante</a></li>
                </ul>
            </article>
        </div> -->

		<% if ALaMinuteQuestion.current_inspiration.present? -%>
		<div class="inspire clear">
			<h4>What's New</h4>
			<%- if @trend_answer.present? -%>
			<p class="inspireText"><%= @trend_answer.discussionable.display_message %>: <%= @trend_answer.comments.first.comment %></p>
			<%- end -%>
			<p><%= link_to "See all", restaurant_trend_questions_path(:restaurant_id => @restaurant.id) %></p>
		</div>
		<% end -%>

    </section><!-- middle -->

	<section id="bottomInfo">

		<span class="arrow-up"></span>

		<div class="bottomMenu" style="width:480px;">
			<h2><span>Newsfeed</span><%= link_to "see all newsfeed items", restaurant_promotions_path(@restaurant) , :class => "gray" %></h2>
			<% for promotion in @promotions -%>
			<%=div_for promotion do %>
				<h3><%= link_to "#{promotion.title}:", restaurant_promotions_path(promotion.restaurant) %> <%= promotion.headline %></h3>
				<p><span class="datestamp"><%= "Posted #{promotion.created_at.strftime("%D")}" %></span></p>
				<p>
					<%= Loofah::Helpers.sanitize(truncate(promotion.details, :length => 300)).html_safe %>
					<% if promotion.details.size > 200 -%>
					<%= link_to "more &raquo;".html_safe, restaurant_promotions_path(promotion.restaurant) %>
					<%- end %>
				</p>
			<% end %>
			<% end -%>
		</div>

		<div class="accolades" style="margin-right: 0;">
			<h2><span>Accolades</span><%#= link_to_unimplemented "see all accolades" %></h2>
			<ul>
				<%= render :partial => 'accolades/accolade', :collection => @restaurant.accolades.by_run_date %>
			</ul>
		</div>

    </section><!-- bottom -->
</div>
