<% title @restaurant.name -%>
<% if can? :edit, @restaurant %>
	<% content_for :page_actions do -%>
	<p class="clearfix">
		<%= link_to 'Manage employees', restaurant_employees_path(@restaurant), :class=>'sf-button' %>
		<%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant), :class=>'sf-button' %>
	</p>
	<% end -%>
<% end -%>

<div id="restaurant_profile_view" class="box clear clearfix">
	<div class="name_and_pic clearfix span-7">
		<%= image_tag 'avatar_restaurant.gif', :width=>'100' %>
		<div class="user_info">
			<h2 class="function-bold" id="name"><%= @restaurant.name %></h2>
			<p id="address"><%= @restaurant.address_parts.join("<br />") %></p>
			<p>
				Metropolitan Area: <span><%=h @restaurant.metropolitan_area.try(:name) %></span><br />
				Region: <span><%=h @restaurant.james_beard_region.try(:name) %></span>
			</p>
		</div>
	</div><!-- .name_and_pic -->
	<div class="manager_and_facts span-4 last">
    <p>Manager: <span><%=h @restaurant.manager.try(:name) %></span></p>
    <p id="media_contact">Media Contact: <span><%=h @restaurant.media_contact.try(:name) %></span></p>
 		<p>Cuisine: <span><%=h @restaurant.cuisine.try(:name) %></span></p>
	</div><!-- .manager_and_facts -->
  <hr clear="all" />
  <div class="span-11 last">
    <div class="function-bold" id="description">
      Description: <%= @restaurant.description %>
    </div>
    <div>Facts: <%=h @restaurant.facts %></div>
    <div>
      Phone Number: <span id="phone_number"><%=h @restaurant.phone_number %></span>
    </div>
    <% div_if(@restaurant.website.present?, :id => "website") do %>
       Website: <%= link_to h(@restaurant.website), @restaurant.website%>
    <% end %>
    <% div_if(@restaurant.twitter_username.present?, :id => "twitter_username") do %>
      Twitter: <%= link_to h(@restaurant.twitter_username),
          "http://twitter.com/#{@restaurant.twitter_username}"%>
    <% end %>
    <% div_if(@restaurant.facebook_page.present?, :id => "facebook_page") do %>
      Facebook Page: <%= link_to h(@restaurant.facebook_page), @restaurant.facebook_page%>
    <% end %>
    <div id="hours">
      Hours: <%= h @restaurant.hours %>
    </div>
    <% div_if(@restaurant.management_company_name.present?, :id => "management_company") do %>
      Management Company: <%= link_to h(@restaurant.management_company_name),
          @restaurant.management_company_website %>
    <% end %>
  </div>
</div><!--#restaurant_profile_view -->

<h3 class="function-bold">Restaurant Staff</h3>

<div class="discussion_actions">
	<p class="new_discussion">
		<%= link_to image_tag('quotebubble.png') + "Start a discussion", new_discussion_path(:restaurant_id => @restaurant.id), :class => 'sf-button alt' %>
	</p>
</div>

<div class="restaurant_employees employments">
	<%= render :partial => 'employment', :collection => @employments %>
</div>


