<% title @restaurant.name, false %>
<div id="restaurant_profile_view">
    <%= render :partial => "restaurant_header" %>

    <%= render :partial => "restaurant_sidebar" %>

    <section id="profileContent" class="right">

        <div class="module clearfix menus">
            <h2 class="moduleHeadline orange"><span>On the menu</span><%= link_to "See all menus", restaurant_menu_items_path(@restaurant) %></h2>

            <% for item in @menu_items %>
            <figure>
                <% link_to restaurant_menu_items_path(@restaurant, :anchor => "menu_item_#{item.id}") do %>
                  <%= image_tag(item.photo.url(:small)) if item.photo_file_name.present? %>
                <% end %>
                <figcaption>
                    <p><%= item.name %></p>
                </figcaption>
            </figure>
            <% end %>
        </div>

        <div class="module clearfix photos">

            <h2 class="moduleHeadline green"><span>Press Photos</span><%= link_to "See all photos", restaurant_photos_path(@restaurant) %></h2>

            <% for photo in @restaurant.photos.all(:limit => 3) %>
            <figure>
                <%= link_to image_tag(photo.attachment.url(:medium_photo)), photo.attachment.url(:large), :class => 'colorbox', :rel => 'restaurant_photo', :title => "#{photo.name}" %>
                <figcaption>
                    <p><%= photo.name %><br />
                        <span><%= photo.credit %></span>
                    </p>
                </figcaption>
            </figure>
            <% end %>
        </div>

    </section><!-- profileContent -->

    <section id="middle" class="clear">

        <div class="middleDetails">
            <article class="stack green">
                <h2><span>Today's Deals</span><a href="#" class="gray">archives</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </article>
            <article>
                <h2><span>Events</span><a href="#" class="gray">archives</a></h2>
                <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">dolor sit</a></li>
                    <li><a href="#">consectetur</a></li>
                    <li><a href="#">adipiscing elit</a></li>
                    <li><a href="#">Duis a</a></li>
                    <li><a href="#">lectus nunc</a></li>
                    <li><a href="#">vel venenatis</a></li>
                    <li><a href="#">ante</a></li>
                </ul>
            </article>
        </div>

        <article class="middleDetails">
            <h2><span>A la Minute</span><a href="#" class="gray">see all A La Minute</a></h2>
            <%= render :partial => "restaurants/a_la_minute_question",
                       :collection => @questions, :as => :answer, :locals => { :restaurant => @restaurant } %>
        </article>

        <article class="middleDetails" style="margin-right: 0;">
            <h2><span>Newsfeed</span><%= link_to "see all newsfeed items", restaurant_promotions_path(@restaurant) , :class => "gray" %></h2>
            <% for promotion in @promotions -%>
            <% div_for promotion do %>
                <h3><%= link_to "#{promotion.title}:", restaurant_promotions_path(promotion.restaurant) %> <%= promotion.headline %></h3>
                <p><span class="datestamp"><%= "Posted #{promotion.created_at.strftime("%D")}" %></span></p>
                <p>
                    <%= Loofah::Helpers.sanitize(truncate(promotion.details, :length => 300)) %>
                    <% if promotion.details.size > 200 -%>
                    <%= link_to "more &raquo;", restaurant_promotions_path(promotion.restaurant) %>
                    <%- end %>
                </p>
            <% end %>
            <% end -%>
        </article>

        <div class="inspire clear">
            <h4>Our Current Inspiration</h4>
            <p class="inspireText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

    </section><!-- middle -->

    <section id="bottomInfo">

        <span class="arrow-up"></span>

        <div class="bottomMenu">
            <h2>Menus</h2>
            <ul>
                <% for menu in @restaurant.menus.by_position %>
                <li><%= link_to menu.name, menu.pdf_remote_attachment.attachment.url %> <span><%= menu.updated_at.strftime('%m/%d/%y') %></li>
                <% end %>
            </ul>
        </div>

        <div class="staff">
            <h2>Staff</h2>
            <ul>
                <% for employment in @restaurant.public_employments %>
                <li class="clearfix">
                    <%= link_to image_tag(employment.employee.avatar.url(:thumb)), profile_path(employment.employee.username) %>
                    <h3><%= employee_link(employment.employee) %></h3>
                    <p><%= employment.restaurant_role.try(:name) %></p>
                </li>
                <% end %>
            </ul>
        </div>

        <div class="accolades" style="margin-right: 0;">
            <h2><span>Accolades</span><%= link_to_unimplemented "see all accolades" %></h2>
            <ul>
                <%= render :partial => 'accolades/accolade', :collection => @restaurant.accolades.by_run_date %>
            </ul>
            <!-- <img src="http://placehold.it/150x100"><br />
            <img src="http://placehold.it/180x100"><br />
            <img src="http://placehold.it/120x100"><br /> -->
        </div>

    </section><!-- bottom -->
</div>
