<% title "Social archive for #{@restaurant.name}", false %>

<div id="restaurant_profile_view">
    <%= render :partial => "restaurant_header" %>

	<div style="width: 30%; float: left; margin-right: 15px;">
	    <% cache "twitter_archive_restaurant_#{@restaurant.id}", :expires_in => 1.hour do %>
        <% if @restaurant.twitter_authorized? -%>
		<h2>Twitter</h2>
		<% begin %>
          <% for post in @restaurant.twitter_client.user_timeline.each do %>
			<p><%= link_to post.text, "http://twitter.com/#{@restaurant.twitter_username}/status/#{post.id}" %> <span class="datestamp">(<%= Time.parse(post.created_at).strftime("%D") %>)</p>
	      <% end %>
	    <% rescue %>
	      Sorry, we're unable to display Twitter posts for this restaurant.
	    <% end %>
        <% end -%>
	    <% end %>
	</div>

	<div style="width: 30%; float: left; margin-right: 15px;">
	    <% cache "facebook_archive_restaurant_#{@restaurant.id}", :expires_in => 1.hour do %>
        <% if @restaurant.has_facebook_page? -%>
		<h2>Facebook</h2>
		<% begin %>
          <% for post in @restaurant.facebook_page.posts do %>
			<p><%= post.message %> <span class="datestamp">(<%= Time.parse(post.created_time).strftime("%D") %>)</p>
	      <% end %>
	    <% rescue Mogli::Client::OAuthException, Mogli::Client::HTTPException ,Exception%>
	      Sorry, we're unable to display Facebook posts for this restaurant.
	    <% end %>
	    <% end -%>
	    <% end %>
	</div>

	<div style="width: 30%; float: left;">
		<h2>A La Minute</h2>
		<%= render :partial => "restaurants/a_la_minute_question",
				   :collection => ALaMinuteAnswer.public_profile_for(@restaurant), :as => :answer, :locals => { :restaurant => @restaurant } %>
	</div>
</div>