<% title "Topics" %>

<div class="clearfix">
    <%= link_to "New Topic", new_admin_restaurant_topic_path, :class => "button positive" %>
    <%= link_to "Back to Questions", admin_restaurant_questions_path, :class => "button" %>
</div>

<%= table_for @topics, :html => {:id=>"restaurant_topics"}  do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <th></th>
      <%= t.h('Name') %>
      <%= t.h('Description') %>
      <%= t.h('can_be_deleted?') %>
      <th></th>
      <th></th>
    <% end %>
  <% end %>
  <%= t.body(:html=>{:class=>"ui-sortable"}) do |topic| %>
    <tr id="restaurant_topic_<%=topic.id%>" class="restaurant_topic <%=cycle('odd','even', :name => 'restaurant_topic')%>">
      <%= t.d(:class => 'small handle') do %>
        [drag]
      <% end %>
      <%= t.d(h(topic.title)) %>
      <%= t.d(h(topic.description)) %>
      <% if topic.chapters.count == 0  %>
      <td class="actions destroy_link">
          <%= link_to "Destroy",admin_restaurant_topic_path(:id => topic.id), :method => :delete %>
      </td> 
      <% else %>
        <td></td>
      <% end %>  
      <%= t.d(h(link_to "Edit",edit_admin_restaurant_topic_url(:id => topic.id),:class=>'admin-actions')) %>
    <% end %>
  <% end %>

