<% title "Direct Messages from administrators" %>

<p class="clearfix">
	<%= link_to 'New direct message', new_admin_direct_message_path, :class => 'button positive' %>
</p>

<table>
	<tr>
		<th>From</th>
		<th>To</th>
		<th>Title</th>
		<th>Body</th>
		<th></th>
	</tr>

	<% @direct_messages.each do |direct_message| %>
	<tr>
		<td><%=h direct_message.sender.username %></td>
		<td><%= link_to direct_message.receiver.username, profile_path(direct_message.receiver.username) %></td>
		<td><%=h direct_message.title %></td>
		<td><%=h direct_message.body %></td>
		<td class="utility">
			<%= link_to 'Edit', edit_admin_direct_message_path(direct_message) %>
			<%= link_to 'Destroy', [:admin, direct_message], :confirm => 'Are you sure?', :method => :delete %>
		</td>
	</tr>
	<% end %>
</table>
