<% form_for @search do |f| %>
  <p>
    <%= f.label :username_like, "Username" %><br />
    <%= f.text_field :username_like %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :first_name_begins_with, "First Name" %>&nbsp;&nbsp;
    <%= f.label :last_name_begins_with, "Last Name" %>
    <br />
    <%= f.text_field :first_name_begins_with, :size => 10 %>
    <%= f.text_field :last_name_begins_with,  :size => 20  %>
  </p>
  <p>
    <%= f.label :account_type_id %>
    <%= f.collection_select :account_type_id, AccountType.all, :id, :name, :include_blank => true %>
  </p>
  <p><%= f.submit "Search", :name => nil %></p>
<% end %>
