<% title "Search" %>

<% form_for @search do |f| %>
<p>TODO: Add other fields like Cuisine type</p>
  <p>
    <%= f.label :james_beard_region_id, "Region (Based on James Beard Foundation)" %>
    <%= f.collection_select :james_beard_region_id, JamesBeardRegion.all, :id, :name_and_description, :include_blank => true %>
  </p>
  <p class="clearfix"><%= button_tag "Search", :class => 'positive' %></p>
<% end %>


<% if !@users.blank? %>
<h2>Search Results</h2>
<p>Choose some folks to receive the media request, then click "Next".</p>
<% form_for MediaRequest.new, :url => new_media_request_path, :html => {:method => :get} do |f| %>
<table id="search-results">
	<tr>
		<th></th>
		<th>Name</th>
		<th>Username</th>
	</tr>

	<% for user in @users %>
	<tr class="search-result">
		<td><%= check_box_tag 'recipient_ids[]', user.id %></td>
		<td><%=h user.name %></td>
		<td><%= link_to user.username, profile_path(user.username) %></td>
	</tr>
	<% end %>  
</table>
	<p class="clearfix"><%= button_tag "Next &raquo;" %></p>
<% end %>
<% end %>
