<% title "Search" %>

<%= render :partial => 'form' %>

<% if !@users.blank? %>
<h2>Search Results</h2>
<table id="search-results">
	<tr>
		<th></th>
		<th>Name</th>
		<th>Username</th>
		<th></th>
		<th></th>
	</tr>
	<% for user in @users %>
	<tr class="search-result">
		<td><%= link_to image_tag(user.avatar.url(:thumb)), profile_path(user.username) %></td>
		<td><%=h user.name %></td>
		<td><%= link_to user.username, profile_path(user.username) %></td>
		<td>
			<% if not current_user.friends.include?(user) -%>
			  <%= link_to "follow this user", followings_path(:friend_id => user), :method => :post, :class => 'button positive'%>
			<% end -%>
		</td>
		<td>
			<% unless current_user == user %>
				<%= link_to "send a message", new_user_direct_message_path(user), :class => 'button'%>
			<% end %>
		</td>
	</tr>
	<% end %>  
</table>
<% else %>
<% end %>
