<%= content_tag_for :li, stage, :class => cycle('odd','even') do %>
  <span class="extended-title"><%= stage.establishment %></span>
  with <%= stage.expert %><br />
  <% if stage.end_date %>
  <%= stage.start_date.strftime("%m/%d/%y") %> &ndash; <%= stage.end_date.strftime("%m/%d/%y") %>
  <% else %>
  <%= stage.start_date.strftime("%Y") %>
  <% end %>
  <% if stage.location.present? -%>
    <br>
    <%= stage.location %>
  <% end -%>
  <br>
  <% if action_name != 'show' %>
    <%= link_to "Edit", edit_stage_path(stage), :class => 'colorbox' %>
    <%= link_to "Destroy", stage_path(stage), { :method => :delete }, { :class => 'delete' } %>
  <% end %>
<% end %>
