<% title @question.question %>
<% content_for :facebook_meta do -%>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="http://soapbox.restaurantintelligenceagency.com/images/soapbox/logo-soapbox.png"/>
  <meta property="og:url" content="<%= soapbox_a_la_minute_answer_url(@answer) %>"/>
<% end -%>
<% content_for :fb_description do -%>
<%= @answer.answer %>
<% end -%>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox">
    <%= link_to "Share", "http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria", :class => "addthis_button" %>
</div>
<%= javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria" %>
<% javascript_tag do %>
  var addthis_share = {
    url: '<%= soapbox_a_la_minute_question_url(@question) %>',
  }
<% end %>
<!-- AddThis Button END -->

<div class="a_la_minute_answer">
    <%= render :partial => 'restaurants/identity', :locals => { :restaurant => @answer.responder } %>
    <div>
        <p class="details"><%= @answer.answer %></p>               
    </div>
    <div>
        <p><span class="datestamp"><%= "Posted #{@answer.created_at.strftime("%D")}" %></span></p>
    </div>

    <!-- Likes and Tweets BEGIN -->
      <div class="sharing">
          <script type="text/javascript">var switchTo5x=true;</script>
          <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
          <script type="text/javascript">stLight.options({publisher: "041a7a0d-06a5-45e5-9455-9e9043faf823"}); </script>
          <script type="text/javascript">var NREUMQ=[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
          <span class='st_fbrec_large' displayText='Facebook Recommend'></span>
          <span class='st_pinterest_large' displayText='Pinterest'></span>
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_twitter_large' displayText='Tweet'></span>
          <span class='st_linkedin_large' displayText='LinkedIn'></span>
          <span class='st_email_large' displayText='Email'></span>        
      </div>
    <!-- Likes and Tweets END -->
 </div>   
<div class="clear">&nbsp;</div>

<h2>Other answers</h2>

<div id="answers">
  <%= render :partial => 'soapbox/a_la_minute_questions/answer', :collection => @other_answers, :as => :answer %>
</div>


<% content_for :sidebar do -%>
<%= render :partial => 'soapbox/restaurant_sidebar', :locals => { :restaurant => @answer.responder } %>
<% end -%>