<% title @question.question %>
<% content_for :facebook_meta do -%>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="http://soapbox.restaurantintelligenceagency.com/images/soapbox/logo-soapbox.png"/>
  <meta property="og:url" content="<%= soapbox_a_la_minute_answer_url(@answer) %>"/>
<% end -%>
<% content_for :fb_description do -%>
<%= @answer.answer %>
<% end -%>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox">
    <%= link_to "Share", "http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria", :class => "addthis_button" %>
</div>
<%= javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria" %>
<% javascript_tag do %>
  var addthis_share = {
    url: '<%= soapbox_a_la_minute_question_url(@question) %>',
  }
<% end %>
<!-- AddThis Button END -->

<div class="a_la_minute_answer">
    <%= render :partial => 'restaurants/identity', :locals => { :restaurant => @answer.responder } %>
    <div>
        <p class="details"><%= @answer.answer %></p>
        <!-- Likes and Tweets BEGIN -->
        <div class="sharing">
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
            <fb:like href="<%= soapbox_a_la_minute_answer_url(@answer) %>" layout="button_count" show_faces="false" width="90" height="20" action="like" colorscheme="light"></fb:like>

            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
            <a href="http://twitter.com/share?url=<%= URI.escape(soapbox_a_la_minute_answer_url(@answer)) %>" class="twitter-share-button">Tweet</a>
        </div>
        <!-- Likes and Tweets END -->
    </div>
</div>
<div class="clear">&nbsp;</div>

<h2>Other answers</h2>

<div id="answers">
  <%= render :partial => 'soapbox/a_la_minute_questions/answer', :collection => @other_answers, :as => :answer %>
</div>

<% content_for :sidebar do -%>
<%= render :partial => 'soapbox/a_la_minute_questions/sidebar' %>
<% end -%>