<% javascript 'ckeditor/ckeditor' %>
<% title "New Menu" , false %>
<div id="restaurant_profile_view" class="edit clear clearfix">
  <%= render 'restaurants/restaurant_editing_header' %>
  <div id="editing_restaurant">
    <div id="new_menu_header">
        <h2>New Menu - Edit Item</h2>
    </div>
    <%= render :partial => "form" %>
	</div>
</div>
<% content_for :javascript do %>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#restaurant_features').keyup(function(e){
	    if($(this).val().length>1)
	    {
        var data = $(this).val();
        var selected_keywords = new Array();
        $("#form-search-keywords input[type=checkbox]").each(function(){
          if ($(this).is(":checked")){
            selected_keywords.push($(this).val());
          }
        });
        $('#form-search-keywords').html('<%=image_tag "ajax-loader.gif" %><div class="clear"> </div>');
        $.ajax({
          data:{search_keywords:data},
          beforeSend:function(){$('#form-search-keywords').html('<%=image_tag "ajax-loader.gif" %><div class="clear"> </div>')},
          complete: function(request){
							$('#form-search-keywords').html(request.responseText)
            },
          url: "<%=get_feature_keywords_path%>?selected_keywords="+selected_keywords+""
        })
	    }
	  })
	});
	</script>
<% end %>