<%= semantic_form_for [:admin, @content_request] do |f| %>
  <div>
    <%= f.inputs do %>
      <div class="form_basics">
        <%= f.input :subject %>
        <%= f.input :body %>
      </div>

      <div id="employment_list" class="clearfix">
        <%= render :partial => 'shared/employment_list' %>
      </div>

      <%= f.input :scheduled_at, :label => 'Post this question on:'%>
    <% end %>
    <p><%= button_tag "Submit" %></p>
  </div>

  <div class="span-6 last">
    <%= render :partial => 'shared/employment_criteria', :locals => {:f => f} %>
  </div>
<% end %>