<% buttons ||= false %>
<%=div_for menu_item do %>
    <h2><%= link_to menu_item.name, restaurant_path(menu_item.restaurant) %>
        <% if buttons %>
        <div style="float:right">
           <%= link_to (image_tag "http://blog.restaurantintelligenceagency.com/images/newsletter/print.jpg"), "javascript:window.print();" %>
            <%= link_to image_tag("http://blog.restaurantintelligenceagency.com/images/newsletter/mail.gif"), "mailto:#{menu_item.restaurant.manager.try(:email)}?Subject=On the menu at #{menu_item.restaurant.try(:name)}" %>
        </div>
        <% end%>
    </h2>
    <div class="menu_item_main">
    <%= render :partial => 'restaurants/identity', :locals => { :restaurant => menu_item.restaurant } if menu_item.restaurant.present? %>      
    </div>

    <div class="menu_item_details menu_item_details_right" >
        <% if menu_item.photo_file_name.present? -%>
        <p><%= image_tag menu_item.photo(:medium) %></p>
        <% end -%>

        <p><%= menu_item.name %><%= ": (#{price(menu_item.price)})" if menu_item.price.present? %></p>

        <%- if menu_item.description.present? -%>
        <p>
            <% if local_assigns[:dashboard]  -%>                  
                <%=truncate(Loofah::Helpers.strip_tags(menu_item.description), :length => 240, :omission => (link_to(" more &raquo;", details_restaurant_menu_item_path(menu_item.restaurant,menu_item)).to_s)) %>
               <% else %>
                <%= Loofah::Helpers.sanitize(menu_item.description).html_safe %>
            <%- end %>


        </p>
        <%- end -%>

        <p><%= "Pairing: #{menu_item.pairing}" if menu_item.pairing.present? %></p>

        <p class="keywords"><%= menu_item.otm_keywords.map { |k| link_to k.name, menu_items_path(:keyword => k.name) }.to_sentence.html_safe %></p>

        <p><span class="datestamp"><%= "Posted #{menu_item.created_at.strftime("%D")}" %></span></p>
    </div>
<% end %>
