<% title "On the Menu" %>
<% @is_subscribe = true %>
<% if current_user.media? %>
  <div class="color-box-restaurant">
    <%= form_tag menu_items_path  do %>
        <li class="string optional span-3">
        <label for="otm_keyword_editor">Keyword Search</label>
        <%= text_field_tag "otm_keyword_search", "", :name => "keyword" %>
        </li>
        <p class="inline-hints">Enter the name of the On The Menu Keyword to search</p>
        <%= hidden_field_tag "Search", "true" %>
        <p><%= button_tag "Search", :class => 'positive' %></p>
    <% end %>
  </div>
<% end %>
<% if params[:keyword].present? -%>
  <h2 id="otm-tagline">Keyword: <%= params[:keyword] %></h2>
<% end %>
<% for menu_item in @menu_items -%>
<%=div_for menu_item do %>
    <h2><%= link_to menu_item.name, menu_item_path(menu_item) %></h2>
    <div class="menu_item_main">
    <%= render :partial => 'restaurants/identity', :locals => { :restaurant => menu_item.restaurant } unless @restaurant.present? %>
    </div>
    <div class="menu_item_details menu_item_details_right">
        <% if menu_item.photo_file_name.present? -%>
        <p><%= image_tag menu_item.photo(:medium) %></p>
        <% end -%>

        <p><%= menu_item.name %><%= ": (#{price(menu_item.price)})" if menu_item.price.present? %></p>

        <p>
            <%- if menu_item.description.present? -%>
              <%= Loofah::Helpers.sanitize(truncate(menu_item.description, :length => 240)).html_safe %>
              <%= link_to "more &raquo;".html_safe, details_restaurant_menu_item_path(menu_item.restaurant,menu_item) if menu_item.description.size > 240 %>
            <%- end -%>
        </p>

        <p><%= "Pairing: #{menu_item.pairing}" if menu_item.pairing.present? %></p>
        <p class="keywords"><%= menu_item.otm_keywords.map { |k| link_to k.name, menu_items_path(:keyword => k.name,:id=>k.id) }.to_sentence.html_safe %></p>

        <%- if current_user.media? -%>
        <p class="request">
          <%= link_to "Request more information", mediafeed_request_information_path(:menu_item_id => menu_item.id),:class => 'colorbox' %></p>
        <%- end -%>
        <p><span class="datestamp"><%= "Posted #{menu_item.created_at.strftime("%D")}" %></span></p>
       
    </div>
<% end %>
<% end -%>
<% if @menu_items.count < 1 %>
     <p>Sorry, nothing to display</p>
<% end %>
<div class="clear">&nbsp;</div>
    
<%= will_paginate(@menu_items) unless @menu_items.count < 1 %>