<% title "Search" %>

<%= form_for @search, :html => {:class => 'formtastic'} do |f| %>
<fieldset>
	<legend>Restaurant</legend>
	<ol>
		<li class="string">
			<%= f.label :restaurant_name_like, "Restaurant Name"  %>
			<%= f.text_field :restaurant_name_like %>
		</li>
		<li class="span-5 column">
			<%= f.label :restaurant_james_beard_region_id_is_any, "Region" %>
			<%= multiple_checkbox_search JamesBeardRegion.all, :restaurant_james_beard_region_id_is_any %>
		</li>
		<li class="span-5 column last">
			<%= f.label :restaurant_metropolitan_area_id_is_any, "Greater Metropolitan Area" %>
			<%= multiple_checkbox_search(MetropolitanArea.all, :restaurant_metropolitan_area_id_is_any) %>
		</li>
		<li class="clear span-10 last">
			<%= f.label :restaurant_cuisine_id_is_any, "Cuisine" %>
			<%= multiple_checkbox_search(Cuisine.all, :restaurant_cuisine_id_is_any) %>
		</li>
	</ol>
</fieldset>
<fieldset>
	<legend>Employee</legend>
	<ol>
		<li class="string">
			<%= f.label :employee_first_name_or_last_name_like, "Name" %>
			<%= f.text_field :employee_first_name_or_last_name_like %>
		</li>
		<li class="span-10">
			<%= f.label :restaurant_role_id_is_any, "Role at Restaurant" %>
			<%= multiple_checkbox_search(RestaurantRole.all, :restaurant_role_id_is_any) %>
		</li>
	</ol>
</fieldset>
<p class="clearfix"><%= button_tag "Search", :class => 'positive' %></p>
<% end %>

<% if @restaurants_and_employees && !@restaurants_and_employees.blank? %>
	<%= form_for MediaRequest.new, :url => new_media_request_path, :html => {:method => :get} do |f| %>
		<% @restaurants_and_employees.each do |restaurant, employments| %>
			<%=div_for restaurant do %>
				<h3><%= restaurant_link(restaurant) %></h3>
				<%= render :partial => 'employment', :collection => employments %>
			<% end -%>
		<% end -%>

		<p class="clearfix"><%= button_tag "Next" %></p>
	<% end -%>
<% elsif params[:search] %>
<p>Sorry, we couldn't find anything that fit that criteria</p>
<% end -%>
