<% title "A La Minute for Restaurants" %>

<%= table_for(@questions, :class => 'questions') do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('Question') %>
      <%= t.h('Topic') %>
      <th></th>
      <th></th>
    <% end %>
  <% end %>
  <%= t.body do |question| %>
    <%= t.r do %>
      <%= t.d(h(question.question)) %>
      <%= t.d(h(question.topic)) %>
      <%= t.d(h(link_to "Edit",edit_admin_a_la_minute_question_path(question),:class=>'admin-actions')) %>
      <td class="actions destroy_link">
        <%= link_to "Destroy",admin_a_la_minute_question_path(question), :method => :delete %>
      </td> 
    <% end %>
  <% end %>
<% end %>


<%= semantic_form_for [:admin, ALaMinuteQuestion.new] do |f| %>
    <%= f.inputs :class => "plain" do %>
        <%= f.input :kind, :value => 'restaurant', :as => :hidden %>
        <%= f.input :question %>
        <%= f.input :topic %>

        <%= f.submit "Add" %>
    <% end %>
<% end %>
