<div id="restaurant_questions" class="span-12 last">
  <h2>A La Minute for Restaurants</h2>
  <ul class="questions">
    <%= render :partial => 'question', :collection => ALaMinuteQuestion.restaurants, :as => :question %>
    <%= content_tag :li, "There are no questions here, yet." if ALaMinuteQuestion.restaurants.empty? %>
  </ul>

  <% semantic_form_for :a_la_minute_question, :url => admin_a_la_minute_questions_url, :html => {:method => :post} do |question_form| %>
    <%= question_form.input :kind, :value => 'restaurant', :as => :hidden %>
    <%= question_form.input :question %>
    <%= question_form.submit :Add %>
  <% end %>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
  //<![CDATA[
  $('.a_la_minute_question.eip').eip();
  //]]>
</script>
<% end %>