<% title @restaurant.name, false -%>
<div id="restaurant_profile_view" class="edit clear clearfix">

  <%= render 'restaurants/restaurant_editing_header' %>

	<div id="editing_restaurant">
  	<h2>Photos</h2>
		<p>Please upload your logo as well as head shots, food shots, room shots, and exterior shots.</p>
		<div class="upload_photo editing">
  		<%=nested_form_for (@restaurant),:url => restaurant_photos_path(@restaurant),
      :html => { :multipart => true,:method=> :post} do |f| %>  
        <fieldset class="inputs">
            <legend><span>New Photo</span></legend>
        </fieldset>         
        <%=f.fields_for :photos,@raw_photo do |photo_form| %>        
          <% if photo_form.object.id.nil? %>
          <fieldset class="inputs">
            <ol>
              <%= photo_form.error_messages %>
              <li  class="file required">         
                <%= f.label "Attachment*" %>
                <%= photo_form.file_field 'attachment',  :as => 'file', :hint => "Please upload a jpeg, gif, or png" %>
                <p class="inline-hints">Please upload a jpeg, gif, or png</p>
              </li>
              <li  class="string required">
                <%= f.label :name %>
                <%= photo_form.text_field :name %>
              </li>  

              <li  class="string required">   
                <%= f.label :credit ,'Credit*'%>
                <%= photo_form.text_field :credit %>    
              </li>    
              <li  class="string required">                  
                <%= photo_form.link_to_remove "Remove this photo" %>           
              </li>  
            </ol>  
          </fieldset>
          <% end %>  
        <% end %>
        <p><%= f.link_to_add "Add Photo", :photos %> </p>
        <p><%= f.submit "Update" , :class => 'positive' %></p><br/>&nbsp;
        
      <% end %>
		</div><!--.upload_photo-->

		<h3>Determine the order in which your photos are displayed with drag and drop.</h3>

		<div class="editing clearfix clear">
			<%= form_for :restaurant, :url => select_primary_photo_restaurant_path(@restaurant) do |restaurant_form| %>
    		<table id="photos" data-remote-url="<%= reorder_restaurant_photos_url(@restaurant) %>" class="clearfix">
    	  	<thead>
    	      <tr>
    	        <th>Photo</th>
    	        <th>Credit</th>
    	        <th>Primary</th>
    	        <th>Actions</th>
    	      </tr>
    	  	</thead>
    	  	<tbody>
    	  		<% @photos.each do |photo| %>
    	    	<%= content_tag_for(:tr, photo) do %>
    	      	<td>
    	      	  <%= image_tag photo.attachment.url(:medium), :class => "restaurant_photo" %><br>
    	      	  <%= photo.name %>
    	      	</td>
    	      	<td class="restaurant_photo_credit"><%= photo.credit %></td>
    	      	<td><%= restaurant_form.radio_button :primary_photo_id, photo.id %></td>
                <td>
                  <%= link_to "Remove", restaurant_photo_path(@restaurant, photo), { :method => :delete, :confirm => "Are you sure you want to remove the photo?" }, { :class => 'delete' } %>
                  <%= link_to "Edit", edit_restaurant_photo_path(@restaurant, photo), :class => 'edit' %>
                </td>
    	    	<% end unless photo.id.blank?%>
    	  	    <% end  %>
    	  	</tbody>
    		</table>
				<p class="clear"><%= button_tag 'Save Primary Selection', :class => 'positive' %></p>
			<% end %>
		</div><!--.editing-->
		
	</div><!--#editing_restaurant-->

</div><!-- /restaurant_profile_view -->
<%= content_for :javascript do %>

  <script type="text/javascript">
    //<![CDATA[
    
   jQuery(document).ready(function($) {
      // set tr as container selector for delete link
      $('.editing a.delete').ajaxDestroyLink({ containerSelector: 'tr:first' });
      // add js format for "edit photo" link
      $('.editing a.edit-link').attr('href', function() {
        return (this.href + '.js');
      });
    });

    $('#photos').sortable(
    {
      axis: 'y',
      dropOnEmpty:false,
      cursor: 'crosshair',
      items: '.photo',
      opacity: 0.4,
      scroll: true,
      update: function(event, ui){
        var url = $("#photos").attr("data-remote-url");
        $.ajax({
          type: 'post',
          data: $('#photos').sortable('serialize') + '&restaurant_id=<%= @restaurant.id -%>',
          dataType: 'script',
          complete: function(request){
            $('#photos').effect('highlight');
          },
          url: url})
      }
    })
    //]]>
  </script>

<% end %>
