<h2>Photos:</h2>
<div>
  <% form_for :image, :url => restaurant_photos_path(@restaurant), :html => { :multipart => true } do |image_form| %>
      <%= image_form.error_messages %>
      <%= image_form.file_field 'attachment' %>
      <%= image_form.submit 'Upload' %>
  <% end %>
</div>

<% form_for :restaurant, :url => select_primary_photo_restaurant_path(@restaurant) do |restaurant_form| %>
    <table>
      <tr>
        <th>Photo</th>
        <th>Primary</th>
        <th></th>
      </tr>
      <% @restaurant.photos.each do |photo| %>
        <tr id="restaurant_photo_<%= photo.id %>">
          <td><%= image_tag photo.attachment.url(:medium), :class => "restaurant_photo" %></td>
          <td><%= restaurant_form.radio_button :primary_photo_id, photo.id %></td>
          <td><%= link_to "Remove", restaurant_photo_path(@restaurant, photo), :method => :delete, :confirm => "Are you sure you want to remove the photo?" %></td>
        </tr>
      <% end %>
    </table>
    <%= restaurant_form.submit 'Save Primary Selection' %>
<% end %>

<p>
  <%= link_to "Back To Restaurant", edit_restaurant_path(@restaurant), :class => "button" %>
</p>
