<% title "#{@restaurant.name} Photos", false %>
<div id="restaurant_profile_view" class="edit clear clearfix photos">

  <%= render 'restaurants/restaurant_header' %>

<h2 id ='remove-all-caps'>Photos (Click to view full sized. Alt-click to download.)</h2>

    
    <% @photos.each do |photo| %>
    <div class="box" >
      <%= content_tag_for(:div, photo) do %>
        <%= link_to image_tag(photo.attachment.url(:medium_photo), :class => "restaurant_photo"), photo.attachment.url(:large), :class => 'colorbox', :rel => 'restaurant_photo', :title => "#{photo.name}" %>
        <p class="credit">
            <% if photo.name.present? -%><%= photo.name %><br><% end -%>
            Credit: <%= photo.credit %>
        </p>
      <% end %>
    </div>
    <% end %>
  <!-- </div> -->


