<h2>Photos:</h2>
<div>
  <% form_for :photo, :url => restaurant_photos_path(@restaurant), :html => { :multipart => true } do |photo_form| %>
      <%= photo_form.error_messages %>
      <%= photo_form.file_field 'attachment' %>
      <%= photo_form.label 'credit' %>
      <%= photo_form.text_field 'credit' %>
      <%= photo_form.submit 'Upload' %>
  <% end %>
</div>

<% form_for :restaurant, :url => select_primary_photo_restaurant_path(@restaurant) do |restaurant_form| %>
    <table id="photos" data-remote-url="<%= reorder_restaurant_photos_url(@restaurant) %>">
      <thead>
          <tr>
            <th>Photo</th>
            <th>Credit</th>
            <th>Primary</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
      <% @photos.each do |photo| %>
        <tr id="<%= dom_id(photo) %>">
          <td><%= image_tag photo.attachment.url(:medium), :class => "restaurant_photo" %></td>
          <td class="restaurant_photo_credit"><%= photo.credit %></td>
          <td><%= restaurant_form.radio_button :primary_photo_id, photo.id %></td>
          <td><%= link_to "Remove", restaurant_photo_path(@restaurant, photo), :method => :delete, :confirm => "Are you sure you want to remove the photo?" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= restaurant_form.submit 'Save Primary Selection' %>
<% end %>

<p>
  <%= link_to "Back To Restaurant", edit_restaurant_path(@restaurant), :class => "button" %>
</p>

<% content_for :javascript do %>

  <script type="text/javascript">
    //<![CDATA[
    $('#photos').sortable(
    {
      axis: 'y',
      dropOnEmpty:false,
      cursor: 'crosshair',
      items: 'tbody tr',
      opacity: 0.4,
      scroll: true,
      update: function(event, ui){
        var url = $("#photos").attr("data-remote-url");
        $.ajax({
          type: 'post',
          data: $('#photos').sortable('serialize') + '&restaurant_id=<%= @restaurant.id -%>',
          dataType: 'script',
          complete: function(request){
            $('#photos').effect('highlight');
          },
          url: url})
      }
    })
    //]]>
  </script>

<% end %>