<%= "<h1>#{yield :title}</h1>" if request.xhr? %>
<%= semantic_form_for @nonculinary_enrollment.new_record? ? [:user, :profile, setup_nonculinary_enrollment(@nonculinary_enrollment)] : setup_nonculinary_enrollment(@nonculinary_enrollment) do |f| %>
  <%= f.inputs :class => "nonculinary_enrollments" do %>
  
  <% if @nonculinary_enrollment.errors.blank? || (!@nonculinary_enrollment.errors.first.nil? && @nonculinary_enrollment.errors.first.include?("nonculinary_school")) %>
    <%= f.input :nonculinary_school %>
    <% end %>

  <% if action_name != 'edit' %>
    
    <% if !@nonculinary_enrollment.errors.first.nil? && @nonculinary_enrollment.errors.first.include?("nonculinary_school") %>
    <div id="school_fields" class="display-none">
     <%else%>
     <div id="school_fields">
     <%end%>

      <%= f.semantic_fields_for :nonculinary_school do |school| %>
        <%= school.input :name, :label => 'School Name' %>
        <%= school.input :city, :input_html => {:class => 'span-5'},
          :wrapper_html => {:class => 'span-5 column'} %>
        <%= school.input :state, :input_html => {:maxlength => 2, :class => 'span-1'},
          :wrapper_html => {:class => 'span-1 column'} %>
        <%= school.input :country, :wrapper_html => {:class => 'clear'} %>
      <% end %>
    </div>

  <% if @nonculinary_enrollment.errors.blank? || (!@nonculinary_enrollment.errors.first.nil? && @nonculinary_enrollment.errors.first.include?("nonculinary_school")) %>
    <br>
      <p>
      <a href="#school_fields" class="showit">
        Is your school not listed above? Click here to add it!
      </a>
    </p>
    <br>

  <% end %>

  <% end %>

    <li class="date optional">
      <label for="nonculinary_enrollment_graduation_date_1i">Graduation Year</label>
      <%= f.date_select :graduation_date, :include_blank => true,
        :start_year => Date.today.year, :end_year => 1930,
        :discard_month => true, :discard_day => true
      %>
      <p class="inline-hints">Leave blank if you did not graduate</p>
    </li>
    <%= f.input :degree,:input_html=>{:size=>50} %>
    <%= f.input :field_of_study,:input_html=>{:size=>50} %>
    <%= f.input :achievements, :hint => "Did you receive any awards or special scholarships?",:input_html=>{:size=>50,:cols=>50} %>
  <% end %>
  <%= button_tag "Save" %>
<% end %>
