<li class="status">
    <div class="span-1">
        <span class="profile_image"><%= image_tag Mogli::User.find(post.from.id).image_url, :width => 48, :height => 48 %></span>
    </div>
    <div class="span-7 last">
        <% unless post['name'].blank? %>
          <div class="message"><%= link_to post['name'], post['link'] %></div>
        <% end %>

        <% unless post['caption'].blank? %>
          <div class="message"><%= auto_link(post['caption']) %></div>
        <% end %>

        <% unless post['message'].blank? %>
          <div class="message"><%= auto_link(post['message']) %></div>
        <% end %>

        <div class="clearfix">
            <div class="span-3"><%= link_to image_tag(post['picture']), post['link'] unless post['picture'].blank? %></div>
            <div class="span-4 last"><%= post['description'] %></div>
        </div>
        <span class="meta">
            Posted by
            <span class="tweeter"><%= post.from['name'] %></span>
            <% user_id, post_id = post['id'].split("_") %>
            <span class="posted"><%= link_to time_ago_in_words(post['updated_time']), "http://www.facebook.com/#{user_id}/posts/#{post_id}" %> ago</span>
        </span>
    </div>
</li>