<%= content_tag_for :li, internship, :class => cycle('odd','even') do %>
  <span class="extended-title"><%= internship.establishment %></span>
  <%= internship.supervisor %><br />
  <% if internship.end_date %>
  <%= internship.start_date.strftime("%m/%d/%y") %> - <%= internship.end_date.strftime("%m/%d/%y") %>
  <% else %>
  <%= internship.start_date.strftime("%Y") %>
  <% end %><br>
  
  <% if action_name != 'show' %>
    <%= link_to "Edit", edit_internship_path(internship), :class => 'colorbox' %>
    <%= link_to "Destroy", internship_path(internship), { :method => :delete }, { :class => 'delete' } %>
  <% end %>
<% end %>
