<% title "Media Requests" %>

<p class="clearfix">
	<%= link_to "Send a New Request", new_mediafeed_media_request_path, :class => 'positive button' %>
</p>

	<h3>Pending Media Requests</h3>
<% if !@pending_media_requests.empty? %>
<table id="pending_media_requests">
	<thead>
		<tr>
			<th>Sender</th>
			<th>Recipients</th>
			<th>Type / Subject Matter</th>
			<th>Message</th>
			<th>Replies</th>
			<th>Due date</th>
			<th></th><th></th><th></th>
		</tr>
	</thead>
	<tbody>
		<% @pending_media_requests.each do |media_request| -%>
		<tr id="<%= dom_id(media_request) %>" class="media_request <%= cycle('even,odd') %>">
			<td><%= media_request.sender.try(:name) %></td>
			<td><%= media_request.discussions.size %></td>
			<td><%= media_request.subject_matter.try(:name) %></td>
			<td><%= link_to truncate(media_request.message, :length => 50),media_requests_list_admin_media_request_path(media_request)
      %></td>
			<td><%= list_and_link_replies(media_request) %></td>
			<td><%= media_request.due_date %></td>
			<td class="actions approve_link"><%= link_to "Approve!", approve_admin_media_request_path(media_request), :method => :put %></td>
			<td class="actions show_link"><%= link_to "Show", admin_media_request_path(media_request) %></td>
			<td class="actions edit_link"><%= link_to "Edit", edit_admin_media_request_path(media_request) %></td>
		</tr>
		<% end -%>
	</tbody>
</table>
<% else %>
	<p>There are no pending media requests right now</p>
<% end -%>

	<h3>Approved Media Requests</h3>
<% if !@approved_media_requests.empty? %>
	<%= table_for(@approved_media_requests) do |t| %>
		<% t.data :actions => [:show, :edit], :action_prefix => :admin do
			t.cell :sender
			t.cell(:recipients) {|r| r.discussions.size }
			t.cell :subject_matter, :heading => "Type / Subject Matter"
			t.cell(:message) {|r| link_to truncate(r.message, :length => 50),media_requests_list_admin_media_request_path(r) }
			t.cell(:replies) {|r| list_and_link_replies(r) }
			t.cell :due_date
		end %>
	<% end -%>
<% else %>
	<p>There are no approved media requests yet</p>
<% end -%>
