<% title "Media Request" %>

<p class="clearfix">
	<%= link_to "Edit", edit_admin_media_request_path(@media_request), :class => 'button' %>
	<%= (link_to "Approve!", approve_admin_media_request_path(@media_request), :method => :put, :class => 'button positive') if @media_request.pending? %>
</p>

<h3>Restaurants</h3>
<% if !@media_request.restaurants.blank? %>
	<%= render :partial => 'recipients' %>
<% end %>

<% unless @media_request.nil? %>
	<%= render :partial => 'mediafeed/media_requests/media_request_long' %>
<% end -%>

<p><%= link_to "All Media Requests", admin_media_requests_path %></p>
