<div id="behindline" class="recent_actions">

  <h3 id="btl-title"><span class="btl-art">Behind the Line:</span> <%= btl_title_for(subject) %></h3>
  <% if can_edit_profile_questions(subject) && !params[:controller].match(/soapbox/)%>
    <div class="edit_profile_link">
      <%= link_to "<span>Answer more questions!</span>",
              send("topics_#{subject.class.name.underscore}_questions_path",
                      "#{subject.class.name.underscore}_id".to_sym => subject) %>
    </div>
  <% end %>
  <ul class="box">
    <% reset_cycle('default') -%>
    <% topics_for(subject).each do |topic| %>
      <li class="<%= cycle("even", "odd") %>">
        <% link_to link_for_chapter(:subject => subject, :topic_id => topic.id) do %>
          <% secondary_subject = params[:restaurant_id] ? Restaurant.find(params[:restaurant_id]) : nil %>
          <h5><%= topic.title %> <span class="completeness">(<%= topic.completion_percentage(subject, secondary_subject) %>% complete)</span></h5>
                  <%= topic.description || truncate(topic.profile_questions.map(&:title).join(" "), :length => 100) %>
        <% end %>
       </li>
    <% end %>
  </ul>
  <p class="view_all"><%= link_to "View all Topics &raquo;", link_for_topics(:subject => subject) %></p>
</div><!--#behindline-->

