<% title "#{@chapter.title} - #{@user.name} - Behind The Line", false %>

<%= render :partial => 'shared/add_this', :locals => {:responder => @user} %>

<% javascript_tag do %>
  var addthis_share = {
    url: '<%= soapbox_user_btl_chapter_url(@user, @chapter) %>',
    title: $('title').text().replace('Spoonfeed','Soapbox')
  }
<% end %>
<h1 id="btl-title" class="btl"><%= link_to "<span class=\"btl-art\">Behind the Line:</span> <span class=\"name\">#{@user.name}</span>", soapbox_profile_path(@user.username) %></h1>

<h2 id="topic_title">Topic: <%= @chapter.topic.title %></h2>
<%= render :partial => 'questions/topic_nav', :locals => { :next_topic => @next_topic, :prev_topic => @previous_topic } %>

<div id="btl_answers" class="btl-my-answers">
  <div class="clear clearfix">
    <h3><%= @chapter.title %></h3>
    <% if @next.present? or @previous.present? -%>
      <nav id="chapter_nav" class="topic-nav clearfix">
        <% if @next.present? -%>
          <%= link_to "Next: #{truncate(@next.title, :length => 20, :omission => '&hellip;')}", soapbox_user_btl_chapter_path(:user_id => @user.id, :chapter_id => @next), :class => 'next' %>
        <% end -%>
        <% if @previous.present? -%>
          <%= link_to "Prev: #{truncate(@previous.title, :length => 20, :omission => '&hellip;')}", soapbox_user_btl_chapter_path(:user_id => @user.id, :chapter_id => @previous), :class => 'prev' %>
        <% end -%>
      </nav>
    <% end -%>
  </div>

  <% for question in @questions -%>
    <%=div_for question do %>
      <h4><span class="letter-q">Q:</span> <%= link_to question.title, soapbox_profile_question_path(question) %></h4>
      <% if answer = question.answer_for(@user) %>
        <p><%= answer.answer %></p>
        <span class="timestamp">Last updated: <%= answer.try(:updated_at).try(:strftime, "%b %e %Y") %> - <%= link_to "Share this entry", soapbox_user_profile_question_path(@user, question) %></span>
      <% else %>
        <p>Not answered yet.</p>
      <% end %>
    <% end -%>
  <% end -%>
</div>

