<% title "#{@topic.title} - #{@user.name} Behind the Line", false %>

<%= render :partial => 'shared/add_this', :locals => {:responder => @user} %>

<h1 id="btl-title" class="btl"><%= link_to "<span class=\"btl-art\">Behind the Line:</span> <span class=\"name\">#{@user.name}</span>", soapbox_profile_path(@user.username) %></h1>

<h2 id="topic_title">Topic: <%= @topic.title %></h2>
<% javascript_tag do %>
  var addthis_share = {
    url: '<%= soapbox_user_btl_topic_url(@user, @topic) %>',
    title: $('title').text().replace('Spoonfeed','Soapbox')
  }
<% end %>

<%= render :partial => 'questions/topic_nav', :locals => { :next_topic => @next, :prev_topic => @previous } %>

<div class="clear"></div>

<% for chapter in @questions_by_chapter.keys %>
<%- if can?(:manage, @user) || chapter.published_for_user?(@user) -%>
  <%=div_for chapter, :class => cycle('', ' last') do -%>
      <%= link_to soapbox_user_btl_chapter_path(:user_id => @user.id, :id => chapter.id) do %>
          <h3><%= chapter.title %></h3>

          <p class="chapter_answer_count"><%= chapter.answered_for_user(@user).count %> of <%= chapter.questions_for_user(@user).count %></p>
          <p><%= chapter.description || truncate(@questions_by_chapter[chapter].map(&:title).to_sentence, :length => 100) %></p>
          <% if can?(:manage, @user) %>
          <p><%= chapter.published_for_user?(@user) ? "Published" : "Not published" %></p>
          <% end %>
      <% end %>
  <% end -%>
<%- end -%>
<% end %>
