<%- if full_text -%>

<% div_for(comment) do %>
    <div class="details comment-author">
        <%= image_tag(comment.user.avatar.url(:thumb), :alt => "#{comment.user.name}'s Profile Photo") %>
        <%= restaurant_link(comment.restaurant) if comment.restaurant.present? %><br/>
        <%= link_to_if comment.user.linkable_profile?, comment.user.name_or_username, soapbox_profile_path(comment.user.username), :class => "user-name" %><br/>
        <%= comment.user.primary_employment.restaurant_role.try(:name) if comment.user.primary_employment %>
    </div>
    <div class="user_comment"><%= simple_format(comment.comment) %></div>
<% end %>

<%- else -%>

<% div_for(comment) do %>
    <header>
        <%= link_to_if comment.user.linkable_profile?, comment.user.name_or_username, soapbox_profile_path(comment.user.username) %>, <%= title_and_restaurant(comment) %>, said:
    </header>
    <p>
        <%= image_tag(comment.user.avatar.url(:thumb), :alt => "#{comment.user.name}'s Profile Photo") %>
        <%= truncate(comment.comment, :length => 120) %> <%= link_to "more&nbsp;&#187;", soapbox_soapbox_entry_path(entry_for_comment(comment), :anchor => dom_id(comment)) %>
    </p>
<% end %>

<%- end -%>
