<li>
  <% link_to soapbox_soapbox_entry_path(comment_list_entry.soapbox_entry_id) do %>
    <% date = comment.comment_at %>
    <time datetime="<%= date.try(:strftime,'%Y-%m-%d') %>"><span><%= date.try(:strftime, "%b").upcase %></span><%= date.try(:strftime, "%e") %></time>
    <span class="title"><%= comment_list_entry.display_message || qotd_list_entry.short_message %></span>
    <span class="reply-count"><span><%= count = 5 %></span><%= count > 1 ? "replies" : "reply" %></span>
  <% end %>
</li>
