<%- if full_text -%>

<%=div_for(comment) do %>
    <div class="details comment-author">
        <%= image_tag(comment.user.avatar.url(:thumb), :alt => "#{comment.user.name}'s Profile Photo") %>
        <%= link_to_if comment.user.linkable_profile?, comment.user.name_or_username, soapbox_profile_path(comment.user.username), :class => "user-name" %><br/>
        <%= comment.user.primary_employment.restaurant_role.try(:name) if comment.user.primary_employment %><br/>
        <%= restaurant_names_for_user(comment.user) %><br/>
        <%= comment.user.primary_employment.try(:restaurant).try(:city_and_state) || comment.user.try(:profile).try(:current_residence) %>
    </div>
    <div class="user_comment"><%= simple_format(comment.comment) %></div>
    <% unless @comment_view -%>
    <p class="share-this"><%= link_to "Share this entry", comment_soapbox_soapbox_entry_path(@entry.id, :comment_id => comment.id) %></p>
    <% end -%>
<% end %>

<%- else -%>

<%=div_for(comment) do %>
    <header>
        <%= link_to_if comment.user.linkable_profile?, comment.user.name_or_username, soapbox_profile_path(comment.user.username) %><br/>
        <%= comment.user.primary_employment.restaurant_role.try(:name) if comment.user.primary_employment %><br/>
        <%= restaurant_names_for_user(comment.user) %><br/>
        <%= comment.user.primary_employment.try(:restaurant).try(:city_and_state) || comment.user.try(:profile).try(:current_residence) %>
    </header>
    <p>
        <%= image_tag(comment.user.avatar.url(:thumb), :alt => "#{comment.user.name}'s Profile Photo") %>
        <%= truncate(comment.comment, :length => 120) %> <%= link_to "more&nbsp;&#187;", soapbox_soapbox_entry_path(entry_for_comment(comment), :anchor => dom_id(comment)) %>
    </p>
<% end %>

<%- end -%>
