
<%=div_for(menu_item,:class=>"comment") do %>
    <header>
        <h4><%= link_to menu_item.name, soapbox_menu_item_path(menu_item) %></h4>
        <% if menu_item.photo_file_name.present? -%>
             <p><%= image_tag menu_item.photo(:thumb),:width=>120,:height=>120 %></p>
        <% end -%>
    </header>
          <p>           
             <%= truncate(menu_item.description, :length => 30).html_safe if menu_item.description.present?%>
             <%= link_to "more&nbsp;&#187;".html_safe, soapbox_menu_item_path(menu_item) if menu_item.description.size > 30%>
          </p>    
<% end %>

