<div class="share" id="qotd">
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox">
    <script type="text/javascript">
        var addthis_share = {
            url: '<%= soapbox_soapbox_entry_url(feature.soapbox_entry) %>',
            title: 'Question of the Day'
        }
    </script>
    <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria" class="addthis_button">Share</a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria"></script>
  <!-- AddThis Button END -->
</div>
<section id="question-of-the-day">
  <header>
    <%= soapbox_tabby_title(feature) %>
  </header>
  <article id="question-of-the-day-details">
    <div class="details">
      <time datetime="<%= feature.soapbox_entry.published_at.strftime('%Y-%m-%d') %>"><%= feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></time>
      <h2><%= link_to message(feature), soapbox_soapbox_entry_path(feature.soapbox_entry) %></h2>
    </div>
  </article>
  <% if feature_comments %>
  <section id="qotd-comments">
      <%= render :partial => 'comment', :collection => feature_comments, :locals => { :full_text => false, :commentable_class => feature.class } %>
      <p class="clear"><%= link_to 'View more responses &#187;', soapbox_soapbox_entry_path(feature.soapbox_entry), :class => 'button' %></p>
  </section><!-- /qotd-comments -->
  <% end %>
</section><!-- /question-of-the-day -->
