<section id="trend-identified">
  <header>
    <%= soapbox_tabby_title(feature) %>
  </header>
  <article id="trend-question">
    <details>
      <time datetime="<%= feature.soapbox_entry.published_at.strftime('%Y-%m-%d') %>"><%= feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></time>
      <h2><%= link_to message(feature), soapbox_soapbox_entry_path(feature.soapbox_entry) %></h2>
    </details>
  </article>
  <% if feature_comments %>
  <section id="trend-comments">
      <%= render :partial => 'comment', :collection => feature_comments, :locals => { :full_text => false, :commentable_class => feature.class } %>
      <p class="clear"><%= link_to 'View all responses to this trend question &#187;', soapbox_soapbox_entry_path(feature.soapbox_entry), :class => 'button' %></p>
  </section><!-- /trend-comments -->
  <% end %>
  
</section><!-- /trend-identified -->
