<section id="trend-identified">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox">
        <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria"
        class="addthis_button"
        addthis:url="<%= soapbox_soapbox_entry_url(feature.soapbox_entry) %>"
        addthis:title='Trend Identified'>Share</a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria"></script>
    <!-- AddThis Button END -->
  <header>
    <%= soapbox_tabby_title(feature) %>
  </header>
  <article id="trend-question">
    <div class="details">
      <time datetime="<%= feature.soapbox_entry.published_at.strftime('%Y-%m-%d') %>"><%= feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></time>
      <h2><%= link_to message(feature), soapbox_soapbox_entry_path(feature.soapbox_entry) %></h2>
    </div>
    <div class="sharing">
        <!-- Likes and Tweets BEGIN -->
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
        <fb:like href="<%= soapbox_soapbox_entry_url(feature.soapbox_entry) %>" layout="button_count" show_faces="false" width="90" height="20" action="like" colorscheme="light"></fb:like>

        <a href="http://twitter.com/share?url=<%= URI.escape(soapbox_soapbox_entry_url(feature.soapbox_entry)) %>" class="twitter-share-button">Tweet</a>
        <!-- Likes and Tweets END -->
    </div>
  </article>
  <% if feature_comments %>
  <section id="trend-comments">
      <%= render :partial => 'comment', :collection => feature_comments, :locals => { :full_text => false, :commentable_class => feature.class } %>
      <p class="clear"><%= link_to 'View more responses &#187;', soapbox_soapbox_entry_path(feature.soapbox_entry), :class => 'button' %></p>
  </section><!-- /trend-comments -->
  <% end %>
  
</section><!-- /trend-identified -->
