<% title "Soapbox", false %>

<section id="trend-identified">
  <header>
    <%= soapbox_tabby_title(@main_feature) %>
  </header>
  <article id="trend-question">
    <details>
      <time datetime="<%= @main_feature.soapbox_entry.published_at.try(:strftime, "%Y-%b-%e") %>2010-09-24"><%= @main_feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></time>
      <h2><%= message(@main_feature) %></h2>
    </details>
  </article>
</section><!-- /trend-identified -->

<% if @main_feature_comments %>
<section id="trend-comments">
    <%= render :partial => 'comment', :collection => @main_feature_comments, :locals => { :full_text => false, :commentable_class => @main_feature.class } %>
</section><!-- /trend-comments -->
<% end %>