<% title "Front Burner - Soapbox", false %>

<%= render :partial => feature_entry_type(@main_feature), :locals => { :feature => @main_feature, :feature_comments => @main_feature_comments }%>

<%= render :partial => feature_entry_type(@secondary_feature), :locals => { :feature => @secondary_feature, :feature_comments => @secondary_feature_comments } if @secondary_feature.present? %>

<section id="recent-questions">
  <div id="recent-trends">
    <h1>Recent Trend Questions</h1>
    <ul id="recent-trends-feed">
        <% for trend_question in @trend_questions %>
        <li>
            <% link_to soapbox_soapbox_entry_path(trend_question.soapbox_entry) do %>
                <% date = trend_question.scheduled_at %>
                <time datetime="<%= date.try(:strftime,'%Y-%m-%d') %>"><span><%= date.try(:strftime, "%b").upcase %></span><%= date.try(:strftime, "%e") %></time>
                <span class="title"><%= trend_question.display_message || trend_question.subject %></span>
                <span class="reply-count"><span><%= count = trend_question.soapbox_comment_count %></span><%= count > 1 ? "replies" : "reply" %></span>
            <% end %>
        </li>
        <% end %>
    <!-- <p class="clear"><a href="#" class="button">View all Trend Questions &#187;</a></p> -->
  </div><!-- /recent-trends -->
  
  <div id="recent-qotds">
    <h1>Recent Questions of the Day</h1>
    <ul id="recent-qotds-feed">
        <% for qotd in @qotds %>
      <li>
          <% link_to soapbox_soapbox_entry_path(qotd.soapbox_entry) do %>
              <% date = qotd.scheduled_at %>
              <time datetime="<%= date.try(:strftime,'%Y-%m-%d') %>"><span><%= date.try(:strftime, "%b").upcase %></span><%= date.try(:strftime, "%e") %></time>
              <span class="title"><%= qotd.display_message || qotd.message %></span>
              <span class="reply-count"><span><%= count = qotd.soapbox_comment_count %></span><%= count > 1 ? "replies" : "reply" %></span>
          <% end %>
      </li>
      <% end %>
    </ul>
    <!-- <p class="clear"><a href="#" class="button">View all Questions of the Day &#187;</a></p> -->
  </div><!-- /recent-trends -->
</section><!-- / recent-questions -->
