<% title "Soapbox", false %>

<section id="trend-identified">
  <header>
    <%= soapbox_tabby_title(@main_feature) %>
  </header>
  <article id="trend-question">
    <details>
      <time datetime="<%= @main_feature.soapbox_entry.published_at.try(:strftime, "%Y-%b-%e") %>"><%= @main_feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></time>
      <h2><%= message(@main_feature) %></h2>
    </details>
  </article>
  <% if @main_feature_comments %>
  <section id="trend-comments">
      <%= render :partial => 'comment', :collection => @main_feature_comments, :locals => { :full_text => false, :commentable_class => @main_feature.class } %>
      <p class="clear"><%= link_to 'View all responses to this trend question &#187;', soapbox_soapbox_entry_path(@main_feature), :class => 'button' %></p>
  </section><!-- /trend-comments -->
  <% end %>
  
</section><!-- /trend-identified -->

<section id="question-of-the-day">
  <header>
    <%= soapbox_tabby_title(@secondary_feature) %>
  </header>
  <article id="question-of-the-day-details">
    <details>
      <time datetime="<%= @secondary_feature.soapbox_entry.published_at.try(:strftime, "%Y-%b-%e") %>"><%= @secondary_feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></time>
      <h2><%= message(@secondary_feature) %></h2>
    </details>
  </article>
  <% if @secondary_feature_comments %>
  <section id="qotd-comments">
      <%= render :partial => 'comment', :collection => @secondary_feature_comments, :locals => { :full_text => false, :commentable_class => @secondary_feature.class } %>
      <p class="clear"><%= link_to 'View all responses to this question of the day &#187;', soapbox_soapbox_entry_path(@secondary_feature), :class => 'button' %></p>
  </section><!-- /qotd-comments -->
  <% end %>
</section><!-- /question-of-the-day -->

<section id="recent-questions">
  <div id="recent-trends">
    <h1>Recent Trend Questions</h1>
    <ul id="recent-trends-feed">
      <li>
        <a href="#">
          <time datetime="2010-09-24"><span>SEP</span>18</time>
          <p><strong>Warm Cocktails:</strong> As the temperature continues to dip, appetites for warmer libations continues to rise&hellip;</p>
          <span class="reply-count"><span>25</span>replies</span>
        </a>
      </li>
      <li>
        <a href="#">
          <time datetime="2010-09-24"><span>SEP</span>18</time>
          <p><strong>Warm Cocktails:</strong> As the temperature continues to dip, appetites for warmer libations continues to rise&hellip;</p>
          <span class="reply-count"><span>25</span>replies</span>
        </a>
      </li>
      <li>
        <a href="#">
          <time datetime="2010-09-24"><span>SEP</span>18</time>
          <p><strong>Warm Cocktails:</strong> As the temperature continues to dip, appetites for warmer libations continues to rise&hellip;</p>
          <span class="reply-count"><span>25</span>replies</span>
        </a>
      </li>
      <li>
        <a href="#">
          <time datetime="2010-09-24"><span>SEP</span>18</time>
          <p><strong>Warm Cocktails:</strong> As the temperature continues to dip, appetites for warmer libations continues to rise&hellip;</p>
          <span class="reply-count"><span>25</span>replies</span>
        </a>
      </li>
    </ul>
    <p class="clear"><a href="#" class="button">View all Trend Questions &#187;</a></p>
  </div><!-- /recent-trends -->
  
  <div id="recent-qotds">
    <h1>Recent Questions of the Day</h1>
    <ul id="recent-qotds-feed">
      <li>
        <a href="#">
          <time datetime="2010-09-24"><span>SEP</span>18</time>
          <p>As the temperature continues to dip, appetites for warmer libations continues to rise&hellip;</p>
          <span class="reply-count"><span>25</span>replies</span>
        </a>
      </li>
      <li>
        <a href="#">
          <time datetime="2010-09-24"><span>SEP</span>18</time>
          <p>As the temperature continues to dip, appetites for warmer libations continues to rise&hellip;</p>
          <span class="reply-count"><span>25</span>replies</span>
        </a>
      </li>
      <li>
        <a href="#">
          <time datetime="2010-09-24"><span>SEP</span>18</time>
          <p>As the temperature continues to dip, appetites for warmer libations continues to rise&hellip;</p>
          <span class="reply-count"><span>25</span>replies</span>
        </a>
      </li>
      <li>
        <a href="#">
          <time datetime="2010-09-24"><span>SEP</span>18</time>
          <p>As the temperature continues to dip, appetites for warmer libations continues to rise&hellip;</p>
          <span class="reply-count"><span>25</span>replies</span>
        </a>
      </li>
    </ul>
    <p class="clear"><a href="#" class="button">View all Questions of the Day &#187;</a></p>
  </div><!-- /recent-trends -->
</section><!-- / recent-questions -->
