<% title "Soapbox", false %>

<section id="trend-identified">
  <header>
    <%= soapbox_tabby_title(@main_feature) %>
  </header>
  <article id="trend-question">
    <details>
      <time datetime="<%= @main_feature.soapbox_entry.published_at.strftime('%Y-%m-%d') %>"><%= @main_feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></time>
      <h2><%= message(@main_feature) %></h2>
    </details>
  </article>
  <% if @main_feature_comments %>
  <section id="trend-comments">
      <%= render :partial => 'comment', :collection => @main_feature_comments, :locals => { :full_text => false, :commentable_class => @main_feature.class } %>
      <p class="clear"><%= link_to 'View all responses to this trend question &#187;', soapbox_soapbox_entry_path(@main_feature.soapbox_entry), :class => 'button' %></p>
  </section><!-- /trend-comments -->
  <% end %>
  
</section><!-- /trend-identified -->

<section id="question-of-the-day">
  <header>
    <%= soapbox_tabby_title(@secondary_feature) %>
  </header>
  <article id="question-of-the-day-details">
    <details>
      <time datetime="<%= @secondary_feature.soapbox_entry.published_at.strftime('%Y-%m-%d') %>"><%= @secondary_feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></time>
      <h2><%= message(@secondary_feature) %></h2>
    </details>
  </article>
  <% if @secondary_feature_comments %>
  <section id="qotd-comments">
      <%= render :partial => 'comment', :collection => @secondary_feature_comments, :locals => { :full_text => false, :commentable_class => @secondary_feature.class } %>
      <p class="clear"><%= link_to 'View all responses to this question of the day &#187;', soapbox_soapbox_entry_path(@secondary_feature.soapbox_entry), :class => 'button' %></p>
  </section><!-- /qotd-comments -->
  <% end %>
</section><!-- /question-of-the-day -->

<section id="recent-questions">
  <div id="recent-trends">
    <h1>Recent Trend Questions</h1>
    <ul id="recent-trends-feed">
        <% for trend_question in @trend_questions %>
        <li>
            <% link_to soapbox_soapbox_entry_path(trend_question.soapbox_entry) do %>
                <% date = trend_question.scheduled_at %>
                <time datetime="<%= date.try(:strftime,'%Y-%m-%d') %>"><span><%= date.try(:strftime, "%b").upcase %></span><%= date.try(:strftime, "%e") %></time>
                <span class="title"><%= trend_question.display_message || trend_question.subject %></span>
                <span class="reply-count"><span><%= count = trend_question.soapbox_comment_count %></span><%= count > 1 ? "replies" : "reply" %></span>
            <% end %>
        </li>
        <% end %>
    <!-- <p class="clear"><a href="#" class="button">View all Trend Questions &#187;</a></p> -->
  </div><!-- /recent-trends -->
  
  <div id="recent-qotds">
    <h1>Recent Questions of the Day</h1>
    <ul id="recent-qotds-feed">
        <% for qotd in @qotds %>
      <li>
          <% link_to soapbox_soapbox_entry_path(qotd.soapbox_entry) do %>
              <% date = qotd.scheduled_at %>
              <time datetime="<%= date.try(:strftime,'%Y-%m-%d') %>"><span><%= date.try(:strftime, "%b").upcase %></span><%= date.try(:strftime, "%e") %></time>
              <span class="title"><%= qotd.display_message || qotd.message %></span>
              <span class="reply-count"><span><%= count = qotd.soapbox_comment_count %></span><%= count > 1 ? "replies" : "reply" %></span>
          <% end %>
      </li>
      <% end %>
    </ul>
    <!-- <p class="clear"><a href="#" class="button">View all Questions of the Day &#187;</a></p> -->
  </div><!-- /recent-trends -->
</section><!-- / recent-questions -->
