<section id="questions-list">
  <% unless @no_results  %>
    <% unless @trend_questions_found.empty? %>
      <div class="questions-list-feed-trend">
        <h1>Trend Questions</h1>
        <%= render :partial => 'trend_list', :locals => {:questions => @trend_questions_found} %>
      </div>
    <% end %>

    <% unless @qotds_found.empty? %>
      <div class="questions-list-feed-qotd">
        <h1>Questions of the Day</h1>
        <%= render :partial => 'qotd_list', :locals => {:questions => @qotds_found} %>
      </div>
    <% end %>

    <% unless @trend_question_comments_found.empty? %>
      <div class="questions-list-feed-trend">
        <h1>Trend Questions Answers</h1>
        <%= render :partial => 'comment_list', :locals => {:comments => @trend_question_comments_found} %>
      </div>
    <% end %>

    <% unless @qotd_comments_found.empty? %>
      <div class="questions-list-feed-qotd">
        <h1>Questions of the Day Answers</h1>
        <%= render :partial => 'comment_list', :locals => {:comments => @qotd_comments_found} %>
      </div>
    <% end %>
  <% end %>
  <%= will_paginate(@all_entries) %>
</section>
