<% title "Soapbox - #{@feature.title}", false %>

<article id="trend-article">
  <header>
    <%= soapbox_tabby_title(@feature) %>
    <details>
      <time datetime="<%= @feature.soapbox_entry.published_at.try(:strftime, "%Y-%b-%e") %>2010-09-24"><%= @feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></time>
      <h2><%= message(@feature) %></h2>
    </details>
  </header>
  
  <% if @feature_comments %>
  <section id="fb-comments">
    <%= render :partial => 'comment', :collection => @feature_comments, :locals => { :full_text => true, :commentable_class => @feature.class } %>
  </section>
  <% end %>
</article><!-- /front_burner -->