<% title message(@feature), false, @feature_type -%>
<% content_for :fb_description do -%>
<%= @feature_comments.collect { |comment| comment.user.name.to_s + ": " + truncate(comment.comment.to_s) }.join("; ")+' '+ "  via @SoapboxHQ" -%>
<% end if @feature_comments -%>
<% content_for :facebook_meta do -%>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="http://soapbox.restaurantintelligenceagency.com/images/soapbox/logo-soapbox.png"/>
  <meta property="og:url" content="<%= soapbox_soapbox_entry_url(@entry) %>"/>
<% end -%>

<article id="trend-article">
  
  <header>
    <%= soapbox_tabby_title(@feature) %>
    <div class="details">
      <time datetime="<%= @entry.published_at.try(:strftime,'%Y-%m-%d') %>"><%= @entry.published_at.try(:strftime, "%b %e, %Y") %></time>
      <h2><%= message(@feature) %></h2>
    <p><%= simple_format(@entry.description) %></p>
    </div>
    <div class="sharing">
        <!-- Likes and Tweets BEGIN -->                
      <% unless @comment_view -%>
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
        <fb:like href="<%= soapbox_soapbox_entry_url(@entry) %>" layout="button_count" show_faces="false" width="90" height="20" action="like" colorscheme="light"></fb:like>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
        <a href="http://twitter.com/share?url=<% URI.escape(soapbox_soapbox_entry_url(@entry)) %>" class="twitter-share-button">Tweet</a>
      <% end %>
        <!-- Likes and Tweets END -->
    </div>
  </header>
  
  <% if @feature_comments %>
  <section id="fb-comments">
    <%= render :partial => 'comment', :collection => @feature_comments, :locals => { :full_text => true, :commentable_class => @feature.class } %>
  </section>
  <% end %>

  <% if @comment_view -%>
      <div class="clear">&nbsp;</div>
      <div class="menu_item"> 
      <!-- Likes and Tweets BEGIN -->
        <div class="sharing sharing-new">
          <script type="text/javascript">var switchTo5x=true;</script>
          <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
          <script type="text/javascript">stLight.options({publisher: "041a7a0d-06a5-45e5-9455-9e9043faf823"}); </script>
          <script type="text/javascript">var NREUMQ=[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
            <span class='st_fbrec_large' displayText='Facebook Recommend'></span>
            <span class='st_pinterest_large' displayText='Pinterest'></span>
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_twitter_large' displayText='Tweet' st_via='SoapboxHQ'></span>
            <span class='st_linkedin_large' displayText='LinkedIn'></span>
            <span class='st_email_large' displayText='Email' st_via='SoapboxHQ'></span>
            <span class='st_googleplus_large' displayText='google plus'></span>
            <span class="st_stumbleupon_large" displayText='stumbleupon' ></span>
            <span class="st_digg_large" displayText='stumbleupon' ></span>
        </div>
      </div>
    <% end %>  

</article><!-- /front_burner -->
<div class="clear">&nbsp;</div>
  <% if @comment_view  -%>
   <% unless @user.completed_setup? && @user.primary_restaurant? && @user.primary_restaurant.premium_account? && @user.linkable_profile? %>
        <% if @more_comments.present? -%>
        <h3 id="more-answers">Answers from other users</h3>
         <section class="fb-comments">
          <% @comment_view = false %>
          <%= render :partial => 'comment', :collection => @more_comments, :locals => { :full_text => true, :commentable_class => @feature.class } %>
          <% @comment_view = true %>
          <div class="clear">&nbsp;</div>
        </section>
      <% end -%> 

    <% else %>
        <% unless @promotions.blank?%>
          <div class="clear">&nbsp;</div>
          <header class="page-title">
              <h1>News Feed</h1>
          </header>
          <div id="answers">
            <% for promotion in @promotions -%>
                <% div_for(promotion) do %>
                    <%= render :partial => 'soapbox/promotions/promotion', :locals => { :promotion => promotion } %>  
                <% end -%>
            <% end -%>
          </div>
    <% end -%>

    <div class="clear"> </div>
    <% unless @user_answers.blank?%>
        <header class="page-title">
            <h1>A La Minute</h1>
        </header>
        <div id="answers">
         <% for answer in @user_answers -%>
                <%= render :partial => 'soapbox/a_la_minute_questions/answer_list',:locals => { :answer => answer } %>
        <% end -%>
        </div>
    <% end -%>

    <div class="clear"> </div>
    <% unless @menu_items.blank?%>
          <header class="page-title">
              <h1>Recently posted to On The Menu</h1>
          </header>
          <div id="answers">
              <% for menu_item in @menu_items -%>
                <%= render :partial => "soapbox/menu_items/menu_item", :locals => { :menu_item => menu_item } %>
              <% end -%>
           </div>   
    <%end%>
   <% end -%>
  <% end -%><!-- End if @comment_view --> 
<% unless @comment_view && @user.completed_setup? && @user.primary_restaurant? && @user.primary_restaurant.premium_account? && @user.linkable_profile? %>
    <% content_for :sidebar do -%>
    <%= render :partial => 'soapbox/soapbox_entries/front_burner_sidebar' %>
    <% end -%>
 <% else  %>
    <% content_for :sidebar do -%>
      <%= render :partial => 'soapbox/restaurant_sidebar', :locals => { :restaurant => @user.primary_employment.restaurant } %>
    <% end -%>
<% end -%>