<% title "Runner" %>
<table id="restaurants" >
  <thead>
  	<tr>
  			<th>Actions</th>
  	</tr>
	</tbody>
</table>
<li> <%= link_to "Run Digest Newsletter" ,admin_runner_index_path({:id=>1}),:confirm=>"Are you sure, run Digest Newsletter?"%> </li>

<li> <%= link_to "Run Promotion Newsletter" ,admin_runner_index_path({:id=>2}),:confirm=>"Are you sure, send Promotion Newsletter?"%> </li>

<li> <%= link_to "Run invitation request" ,admin_database_info_path({:run_invitation_request=>true})%> </li>

<li> <%= link_to "Run Restaurant Details" ,admin_database_info_path({:restaurant_details=>true})%> </li>

<li> <%= link_to "Run Chef Details" ,admin_database_info_path({:chef_details=>true})%> </li>

<li> <%= link_to "Run Media Details" ,admin_database_info_path({:media_details=>true})%> </li>

