
<%= form_tag registration_path, :id => "join" ,:class=>"sign-up-form" do %>
<fieldset>
      <header class="title">
        <h2><span>Chefs, diners, media - <a href="#">JOIN NOW!</a></span></h2>
        <span class="note">It’s free &amp; easy to sign up </span>
      </header>
      <div class="holder">
        <p>Connecting restaurants with audiences that matter <br />
          <%= link_to "Restaurants", 'http://soapbox.restaurantintelligenceagency.com/soapbox/about_1#restauranteurs'%> - Connect with audiences that matter<br />
          <%= link_to "Diners", ' http://soapbox.restaurantintelligenceagency.com/soapbox/about_1#diners' %> - The insider connection to the best restaurants<br />
           <%= link_to "Journalists/Bloggers", ' http://soapbox.restaurantintelligenceagency.com/soapbox/about_1#media' %> - The place for discovery and story inspiration</p> 
<div class="row">
    <%= text_field_tag "first_name", "", :id => "firstName",  :placeholder=>"First Name", :class=>"validate[required]" %>
 </div>
 <div class="row">   
    <%= text_field_tag "last_name", "", :id => "lastName", :class => "standard-filler", :placeholder => "Last Name" , :class=>"validate[required]" %>
  </div>  

<div class="row">
    <%= text_field_tag "email", "", :id => "email", :class => "standard-filler", :placeholder => "Email",  :class=>"validate[custom[email]]" %>
 </div>
 <div class="row">   
        <%= select_tag "role", options_for_select([["Select one", ""], ["Diner", "diner"],["Media", "media"], ["Restaurant professional", "restaurant"]]), :onchange => "updateRestaurantSignupFields();" ,:class=>"default validate[required]"  %>
        <span class="info">*By entering your information you are agreeing to our terms of use</span>

    <div id="restaurant_fields" style="display: none;" class="clearfix clear">
    	<b>We have a few more pieces of information we need for your account</b>
        <%= text_field_tag "restaurant_name", "", :id => "restaurant_name", :class => "validate[required] standard-filler", :placeholder => "Restaurant Name" %>
        <p class="inline-hints">Enter your restaurant name or your employment status e.g., student, between jobs, retired, time off</p>     
        <p class="inline-hints margin-top-zero">Your role helps the media find you when they are looking for sources for stories.  If you are "chef/owner" select that and not "owner": you will receive more opportunities!      
       </p>
       <div class="alignleft">
       <%= select_tag "restaurant_role", "<option value=''>Select your role</option>".html_safe+options_from_collection_for_select(RestaurantRole.all, :id, :name), :id => "restaurant_role", :class => "standard-filler join-us", :placeholder => "Role" %>
             <%#= select_tag "restaurant_role", "<option value=''>Select your role</option>".html_safe + options_from_collection_for_select(RestaurantRole.all, :id, :name).html_safe, :id => "restaurant_role", :class => "standard-filler join-us", :placeholder => "Role" %>
         </div> 
        <div class="clear padding-top-ten"><b>Area(s) of expertise</b></div>
        <p class="inline-hints">I am comfortable answering questions and speaking to the media about the following topics:</p>
        <% for subject in SubjectMatter.all %>
        <p><%= check_box_tag "subject_matters[#{subject.id}]" %> <label for="subject_matters_<%= subject.id %>"><%= subject.name %></label></p>
        <% end %>

    </div>
      <input type="submit" value="SUBMIT">
</div>
<% end %>
        
    <div class="link-holder">
      <a href="#" class="close-btn">close</a>
    </div>
  </div>
</fieldset>