<%= form_for @search, :url => admin_users_path, :html => {:method => :get} do |f| %>
<p class="first_name">
  <%= f.label :first_name_starts_with, "First Name" %>
  <%= f.text_field :first_name_starts_with, :size => 10, :class => 'text' %>
</p>
<p class="last_name">
  <%= f.label :last_name_starts_with, "Last Name" %>
  <%= f.text_field :last_name_starts_with,  :size => 20, :class => 'text'  %>
</p>

<p class="clear">
  <%= f.label :email_starts_with,"Email" %>
  <%= f.text_field :email_starts_with, :class => 'text' %>
</p>
  <p>
    <%= f.label :username_like, "Username" %>
    <%= f.text_field :username_like, :class => 'text' %>
  </p>
  <p class="clearfix"><%= button_tag "Search", :class => 'positive' %></p>
<% end %>
