<% title "Editing #{@user.name_or_username}" %>

<% semantic_form_for [:admin, @user] do |f| %>

<% f.inputs :name => 'Account Information' do %>
	<%= f.input :first_name, :input_html => {:class => 'span-3'}, :wrapper_html => {:class => 'span-3 column'} %>
	<%= f.input :last_name, :input_html => {:class => 'span-4'}, :wrapper_html => {:class => 'span-4 column'} %>
	<%= f.input :email, :wrapper_html => {:class => 'clear'} %>
	<%= f.input :username %>
	<%= f.input :james_beard_region, :label => 'Region', :wrapper_html => {:class => 'bottom'} %>
	<%# f.input :account_type %>
	<%= f.input :confirmed, :as => :boolean, :label => "Confirmed?" %>
	<% if @user.has_role? :media %>
		<%= f.input :publication, :label => 'Affiliated Publication' %>
	<% end %>
	<%= f.input :admin, :as => :boolean, :label => 'Admin?' %>
<% end %>

	<p><%= button_tag 'Update', :class => 'positive' %></p>

	<p class="clear"><%= link_to 'Back', admin_users_path %></p>
<% end %>

