<% title "All Users" %>


<table cellspacing="0" id="legend">
  <tr><th>Legend</th></tr>
  <tr class="admin"><td>Admin</td></tr>
  <tr class="unconfirmed"><td>Unconfirmed</td></tr>
  <tr><td>Non-admin, Confirmed</td></tr>
  <tr class="media"><td>Media</td></tr>
  <tr class="media-imported"><td>Media Imported</td></tr>
</table>

<p class="clearfix"><%= link_to 'Sign Up a New User', new_admin_user_path, :class => 'button positive' %></p>

<p><a href="#filter" class="showtarget">Toggle Filter</a></p>
<div id="filter" style="display:none">
<%= render :partial => 'search_form' %>
</div>


<table id="admin_users_list" cellspacing="0" class="tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Acct. Type</th>
            <th>Username</th>
            <th>Publication</th>
            <th>Email</th>
            <th>Last Action at</th>
            <th>Sub. Date</th>
            <th class="{sorter: false}"></th>
            <th class="{sorter: false}"></th>
            <th class="{sorter: false}"></th>
        </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr id="<%= dom_id(user) %>" class="user <%= user.is_imported ? 'media-imported' : user.role %> <%= users_extra_row_class(user) %>">
            <td><%= h user.last_name %>, <%=h user.first_name %></td>
            <td class="user_account_type"><%= h user.account_type %></td>
            <td><%= link_to user.username, profile_path(user.username) %></td>
            <td><%= user.publication %></td>
            <td><%= h user.email %></td>		
            <% unless user.last_request_at.blank? %>
              <td><%= user.last_request_at.gmtime.to_formatted_s(:long)	%></td>
            <% end %>
            <td class="<%= user.recently_upgraded? ? "highlight" : "plain" %>">
                <%= user.subscription.try(:start_date).try(:to_s, :long) %>
            </td>
            <td class="actions edit_link">
                <%= link_to 'Edit', edit_admin_user_path(user) %>
            </td>
            <td class="actions destroy_link">
                <%= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure? This action CANNOT be undone', 
                    :method => :delete %>
            </td>
            <td class="actions edit_link">
                <%= link_to 'Impersonator', impersonator_admin_user_path(user), :confirm => "Are you sure? want to logged in as #{user.try(:name)}"
                    %>
            </td>
        </tr>
      <% end %>
    </tbody>
</table>
