<% title "All Users" %>

<p><%= link_to 'Sign Up a New User', new_admin_user_path, :class => 'button positive' %></p>
<br clear="all" />


<p><a href="#filter" class="showtarget">Toggle Filter</a></p>
<div id="filter">
<%= render :partial => 'searches/form' %>  
</div>

<table id="admin_users_list" cellspacing="0" width="637">
	<tr>
		<th>Username</th>
		<th>Email</th>
		<th>Account Type</th>
		<th>JBF Region</th>
		<th></th>
	</tr>

	<% @users.each do |user| %>
	<tr class="user <%= user.roles.include?(@adminrole) ? 'admin' : '' %>">
		<td><%= link_to user.username, profile_path(user.username) %></td>
		<td><%= h user.email %></td>
		<td><%= h user.account_type.try(:name) %></td>
		<td><%= h user.james_beard_region.try(:name) %></td>
		<td class="utility">
			<%= link_to 'Edit', edit_admin_user_path(user) %>
			<%= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure? This action CANNOT be undone', :method => :delete %>
		</td>
	</tr>
	<% end %>
</table>
<p>Note: Admins are marked in by a salmon-colored row</p>
<br />