<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, :class => 'text' %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => 'text' %>
  </p>
  <p>
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </p>
  <p>
    <%= button_tag 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>