<div id="sidebar">
    <div id="restaurant_details">
        <div class="avatar">
            <% if restaurant.logo && restaurant.logo.attachment? -%>
             <%= link_to(image_tag(restaurant.logo.attachment.url(:big_logo), :width => 220),soapbox_restaurant_path(restaurant) )%>
            <% end -%>
        </div>
    </div>

    <aside class="recent-activity-class">
        <header>
            <h1><%= restaurant.name %></h1>
        </header>
        <ol >
            <li>
                <header class="feed-item-title">
                    <p><%= restaurant.address_parts.join("<br />").html_safe %></p>
                </header>
            </li>
            <li>
                <header class="feed-item-title">
                    Phone Number:
                    <p><%= restaurant.phone_number %></p>
                </header>
            </li>
            <li>
                <header class="feed-item-title website">
                     Website:
                    <p><%= link_to restaurant.name, "http://" + restaurant.website.gsub(/.*?:\/\//,"") %></p>
                </header>
            </li>
            <%- if restaurant.twitter_authorized? -%>
            <li>
                <header class="feed-item-title">
                    Twitter:
                    <p><%= link_to "@#{restaurant.twitter_username}", "http://twitter.com/#{restaurant.twitter_username}" %></p>
                </header>
            </li>
           </ol> 
            <%- end -%>
        
           
            <header>
                <h1>The Details</h1>
            </header>
            <ol>
                
                <li>
                   <header class="feed-item-title website"> Restaurant Staff:
                    <% restaurant.public_employments.all(:include => [:subject_matters, :restaurant_role, :employee]).each do |employment| %> 
                        <% if employment.employee.linkable_profile? %>
                        <p class="staff"><%=short_role(employment.employee.primary_employment.try(:restaurant_role).try(:name))%>:
                            <% if((employment.employee.try(:name)+short_role(employment.employee.primary_employment.try(:restaurant_role).try(:name))).length > 32) %> 
                                <br/>
                            <%end%>
                            <%= link_to employment.employee.try(:name),soapbox_profile_path(employment.employee.username) %>
                         </p>
                        <% end %>

                    <% end %>
                     </header>    
                </li> 
                <li>
                    <header class="feed-item-title">
                        Cuisine:

                        <p><%= link_to restaurant.cuisine.name, soapbox_restaurant_directory_path({:cuisine_id=>restaurant.cuisine}) %></p>
                    </header>
                </li>
                <li>
                    <header class="feed-item-title">
                        Metropolitan area:
                        <p><%= link_to restaurant.metropolitan_area.try(:name), soapbox_restaurant_directory_path({:metropolitan_area_id=>restaurant.metropolitan_area.try(:id)}) %></p>
                    </header>
                </li>
                <li>
                    <header class="feed-item-title">
                        Region:
                        <p><%= link_to restaurant.james_beard_region.try(:name), soapbox_restaurant_directory_path({:james_beard_region_id=>restaurant.james_beard_region.try(:id)}) %></p>
                    </header>
                </li>
                <li>
                    <header class="feed-item-title">
                        Opening Date:
                        <p><%= restaurant.opening_date %></p>
                    </header>
                </li>
               </ol> 
<!-- /activity-feed -->
        <div id="feed-bottom"></div>
        <footer>
            <div id="activity-chooser-all">
                <span><%= link_to "View #{restaurant.name} &#187;".html_safe, soapbox_restaurant_path(restaurant), :id => "view-all-questions" %></span>
            </div>
        </footer>

    <!-- Tags  -->
    <% if restaurant.top_tags.present? %>
    
        <header>
            <h1>Tags</h1>
        </header>
        <ol>
            <li>
                <header class="tags website">
                    <p>
                        <%= restaurant.top_tags.map{|tag|(link_to h(tag.value),soapbox_feature_path(tag))}.join(", ").html_safe %>
                    </p>
                </header>
            </li>
        </ol>
    </aside>
    <% end -%>
</div><!-- /sidebar -->