<% title "Soapbox", false %>

<div id="soapbox_branding" class="span-12">
  <h1>Publicize your restaurant better with Soapbox.</h1>
</div>

<div id="soapbox_promos" class="span-6 last">
  <h5><a href="#">Wanna Join?</a></h5>
</div>

<% if @main_feature %>
<div class="soapbox_item main_feature clear">
  <% div_for @main_feature do %>
    <h2 class="cufon featured_item_title">
      <%= soapbox_tabby_title(@main_feature) %>
    </h2>
    <div class="question">
      <h4 class="date"><%= @main_feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></h4>
      <%= @main_feature.message %>
    </div>

    <% if @main_feature_comments %>
      <div class="comments clearfix">
        <%= render :partial => 'comment', :collection => @main_feature_comments, :locals => { :full_text => false } %>
      </div>
    <% end %>

  <% end %>
</div>
<% end %>

<div class="span-12">
<% if @secondary_feature %>
<h2 class="soapbox_subhead">We generate buzz for our clients using their responses</h2>
<div class="soapbox_item secondary_feature">
  <% div_for @secondary_feature do %>
    <h2 class="cufon featured_item_title">
      <%= soapbox_tabby_title(@secondary_feature) %>
    </h2>
    <div class="question">
      <h4 class="date"><%= @main_feature.soapbox_entry.published_at.try(:strftime, "%b %e, %Y") %></h4>
      <%= @secondary_feature.message %>
    </div>

    <% if @secondary_feature_comments %>
      <div class="comments clearfix">
        <%= render :partial => 'comment', :collection => @secondary_feature_comments, :locals => { :full_text => false } %>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
</div>

<div class="span-6 last soapbox_sidebar">
  <%= render :partial => "sidebar" %>
</div>
