<% title "Soapbox", false %>

<% if @main_feature %>
  <h2 class="cufon">Featured Trend Question</h2>
  <% div_for @main_feature do %>
    <div class="">
      <%= @main_feature.message %>
    </div>

    <% if @main_feature_comments %>
      <div class="comments">
      <h3 class="cufon">Comments from SpoonFeed users</h3>
        <%= render :partial => 'comment', :collection => @main_feature_comments %>
      </div>
    <% end %>

  <% end %>
<% end %>

<% if @secondary_feature %>
  <h2 class="cufon">Featured Question of the Day</h2>
  <% div_for @secondary_feature do %>
    <div class="">
      <%= @secondary_feature.message %>
    </div>

    <% if @secondary_feature_comments %>
      <h3 class="cufon">Comments from SpoonFeed users</h3>
      <div class="comments clearfix">
        <%= render :partial => 'comment', :collection => @secondary_feature_comments %>
      </div>
    <% end %>
  <% end %>
<% end %>


<% content_for :sidebar do %>

  <h2>Recent Questions of the Day &amp; Trend Questions</h2>
  <h3>Questions of the Day</h3>
  <% for qotd in @qotds %>
    <% div_for qotd do %>
      <div class="">
        <%= qotd.message %>
      </div>
      <div>
        <%= pluralize qotd.conversations_with_replies.count, "reply" %>
      </div>
    <% end %>
  <% end %>

  <h3>Trend Questions</h3>
  <% for trend_question in @trend_questions %>
    <% div_for trend_question do %>
      <div class="">
        <%= trend_question.message %>
      </div>
      <div>
        <%= pluralize trend_question.comments(false).count, "reply" %>
      </div>
    <% end %>
  <% end %>

<% end %>
