<% title "Admin Area" %>

<p>Welcome back to work! Have a great day!</p>

<h2>Soapbox and Front Burner</h2>
<ul>
    <li><%= link_to "QOTDs", admin_messages_path %></li>
    <li><%= link_to "Trends", admin_trend_questions_path %></li>
    <li><%= link_to "Soapbox Entries", admin_soapbox_entries_path %></li>
    <li><%= link_to "Soapbox Pages", admin_soapbox_pages_path %></li>
    <li><%= link_to "Soapbox Slides", admin_soapbox_slides_path %></li>
    <li><%= link_to "Soapbox Promos", admin_soapbox_promos_path %></li>
</ul>

<h2>Spoonfeed Home</h2>
<ul>
  <li><%= link_to "Spoonfeed Slides", admin_sf_slides_path %></li>
  <li><%= link_to "Spoonfeed Promos", admin_sf_promos_path %></li>
  <li><%= link_to "Spoonfeed Pages", admin_pages_path %></li>
</ul>

<h2>RIA HQ</h2>
<ul>
  <li><%= link_to "HQ Pages", admin_hq_pages_path %></li>
  <li><%= link_to "HQ Slides", admin_hq_slides_path %></li>
  <li><%= link_to "HQ Promos", admin_hq_promos_path %></li>
</ul>

<h2>Mediafeed</h2>
<ul>
    <li><%= link_to "Media Requests", admin_media_requests_path %></li>
    <li><%= link_to "Mediafeed Pages", admin_mediafeed_pages_path %></li>
    <li><%= link_to "Mediafeed Slides", admin_mediafeed_slides_path %></li>
    <li><%= link_to "Mediafeed Promos", admin_mediafeed_promos_path %></li>
</ul>

<h2>Restaurants and Users</h2>
<ul>
  <li><%= link_to "Site Activity Tracker", admin_site_activities_path %></li>
  <li><%= link_to "Invitations", admin_invitations_path %></li>
  <li><%= link_to "Users", admin_users_path %></li>

  <li><%= link_to "Restaurants", admin_restaurants_path %></li>
  <li><%= link_to "Restaurant Pages and Tags", admin_restaurant_features_path %></li>

  <li><%= link_to "A La Minute Questions", admin_a_la_minute_questions_path %></li>

  <li><%= link_to "Users: Behind the Line: Topics, Chapters, Questions", admin_profile_questions_path %></li>
  <li><%= link_to "Users: Behind the Line: Restaurant Role Assignments", admin_restaurant_roles_path %></li>

  <li><%= link_to "Restaurants: Behind the Line: Topics, Chapters, Questions", admin_restaurant_questions_path %></li>
</ul>


<h2>RIA Messages</h2>
<ul>
  <li><%= link_to "Admin Messages", admin_messages_path %></li>
  <li><%= link_to "Content Requests / Questions from RIA", admin_content_requests_path %></li>
  <li><%= link_to "Private Messages", admin_direct_messages_path %></li>
</ul>


<h2>Lookup Tables</h2>
<ul>
  <li><%= link_to "Cuisines", admin_cuisines_path %></li>
  <li><%= link_to "Specialties", admin_specialties_path %></li>
  <li><%= link_to "Coached Status Updates", admin_coached_status_updates_path %></li>
  <li><%= link_to "Date Ranges for coached status updates", admin_date_ranges_path %></li>
  <li><%= link_to "Subject Matters", admin_subject_matters_path %></li>
  <li><%= link_to "Metropolitan Areas", admin_metropolitan_areas_path %></li>
  <li><%= link_to "On the Menu Keywords", admin_otm_keywords_path %></li>
</ul>

<h2>Future Features</h2>
<ul>
  <li><%= link_to "Holidays", admin_holidays_path %></li>
  <li><%= link_to "Feeds", admin_feeds_path %></li>
  <li><%= link_to "Calendars", admin_calendars_path %></li>
</ul>
