<p>To ensure your Newsfeed item is sent to media, please include all relevant information in the body of the item you post.</p>
<p>Also, before the item is distributed, your menus, facts, and other essential press kit items will need to be up-to-date so the media can access the information they need to write about you.</p>
<%= semantic_form_for [restaurant, promotion], :html => { :multipart => true } do |f| %>
    <%= f.inputs do %>
        <%= f.input :promotion_type %>
        <%= f.input :headline, :hint => "Limit: 144 characters" %>
	    <li>
			<%= label_tag "promotion_details_editor", "Details" %>
        	<%= f.cktext_area :details, :input_html => { :rows => 4 }, :toolbar => 'Basic' %>
			<p class="inline-hints">Stay under 1000 words. Basic HTML formatting is allowed.</p>
		</li>
        <%= f.input :link %>
        <%= f.input :attachment, :hint => "PDF files allowed" %>
        <% if !promotion.new_record? && promotion.attachment.file? -%>
          Current attachment: <%= link_to promotion.attachment_file_name, promotion.attachment.url %>
		  <p><%= link_to "Delete attachment", delete_attachment_restaurant_promotion_path(restaurant, promotion), :method => :post, :confirm => "Are you sure you want to delete this?" %> or replace by uploading a new file</p>
        <% end -%>
        <%= f.input :start_date %>
        <%= f.input :end_date, :selected => nil %>
        <%= f.input :date_description, :label => "Repeating on", :hint => "Example: every Monday in March" %>


        <section id="social-tabs">
          <nav id="profile-options">
            <span><a href="#social-twitter">Twitter</a></span>
            <span><a href="#social-facebook">Facebook</a></span>
          </nav>

          <section id="social-twitter" class="social">
            <% if @restaurant.twitter_authorized? -%>
              <p class="inline-hints">
                  You can schedule up to <%= TwitterPost::POST_LIMIT %> Twitter posts. <br/>
                  Please select the date and time you would like each post to be submitted. <br/>
                  You may also include a custom Tweet that will override the default, which is based on the name from above.
              </p>

              <% @promotion.twitter_posts.each_with_index do |twitter_post, index| %>
                <% if twitter_post.try(:posted?) %>
                  This Tweet posted on <%= twitter_post.post_at.strftime('%Y-%m-%d %H:%M') %>
                <% else %>
                  <%= f.semantic_fields_for :twitter_posts, twitter_post do |twitter| %>
                    <h4>Twitter Post #<%= index+1 %></h4>

                    <%= twitter.input :post_at, :label => "Post to my Twitter account on", :as => :string, :input_html => { :class => 'datetime',
                                      :value => twitter_post.try(:post_at).try(:strftime, '%Y-%m-%d %H:%M') } %>

                    <%= twitter.input :content, :label => "Custom Tweet (optional)", :input_html => { :class => 'tweet', :maxlength => 140, :value => twitter_post.try(:content) } %>
                  <% end %>
                <% end %>

                <hr/>
              <% end %>

            <% else %>
              <p>Hook up your Twitter account to autopost this content to your social streams.</p>
            <% end %>
          </section>

          <section id="social-facebook">
            <% if @restaurant.has_facebook_page? %>
              <p class="inline-hints">
                  You can schedule up to <%= FacebookPost::POST_LIMIT %> Facebook posts. <br/>
                  Please select the date and time you would like each post to be submitted. <br/>
                  You may also include a custom message that will override the default, which is based on the name from above.
              </p>

              <% @promotion.facebook_posts.each_with_index do |facebook_post, index| %>
                <% if facebook_post.try(:posted?) %>
                  This Facebook post was submitted on <%= facebook_post.post_at.strftime('%Y-%m-%d %H:%M') %>
                <% else %>
                  <% begin %>
                    <%= f.semantic_fields_for :facebook_posts, facebook_post do |facebook| %>
                      <h4>Facebook Post #<%= index+1 %></h4>

                      <%= facebook.input :post_at, :label => "Post to Facebook page \"#{@restaurant.facebook_page.fetch.name}\" on", :as => :string, :input_html => { :class => 'datetime',
                                         :value => facebook_post.try(:post_at).try(:strftime, '%Y-%m-%d %H:%M') } %>
                      <p class="inline-hints">Schedule posts before <%= current_user.facebook_token_expiration.try(:strftime , "%m/%d/%Y %H:%m:%S") rescue 1.day.from_now.try(:strftime , "%m/%d/%Y %H:%m:%S") %>.</p>

                      <%= facebook.input :content, :label => "Custom Message (optional)", :input_html => { :value => @promotion.new_record? ? '' : facebook_post.try(:input_value) } %>
                    <% end %>
                  <% rescue Mogli::Client::OAuthException, Mogli::Client::HTTPException,Exception =>e %>
                    <p>Your Facebook page access has expired. Please reconnect your account on your restaurant profile page.</p>
                  <% end %>
                <% end %>

                <hr/>
              <% end %>

            <% else %>
              <p>Hook up your Facebook account to autopost this content to your social streams.</p>
            <% end %>
          </section>
        </section>

    <% end %>

    <%= f.submit "Post", :onclick => "return confirm('Are you sure you want to send this to media?')" %>
<% end %>

<%= content_for :javascript do %>
<script type="text/javascript">
  $(document).ready(function() {

    $('#social-tabs').tabs({
      panelTemplate: '<section></section>',
      fx: { duration: 'fast', opacity: 'toggle' }
    });

    var now = new Date(), nextYear = new Date();
    nextYear.setYear(now.getFullYear() + 1);

    $('input.datetime').datetimepicker({
      dateFormat: 'yy-mm-dd',
      timeFormat: "HH:mm",
      changeYear: true,
      changeMonth: true,
      minDateTime: now,
      maxDateTime: nextYear
    });

    $('#ui-datepicker-div').wrap('<div class="smoothness"></div>');

    $(".tweet").charCount({
      allowed: 140,
      minChar: 5,
      warning: 20,
      counterText: 'Characters left: ',
      cssWarning: 'counter-warning'
    });

  });
</script>
<% end %>
