<p>To ensure your Newsfeed item is sent to media, please include all relevant information in the body of the item you post.</p>
<p>Also, before the item is distributed, your menus, facts, and other essential press kit items will need to be up-to-date so the media can access the information they need to write about you.</p>
<% semantic_form_for [restaurant, promotion], :html => { :multipart => true } do |f| %>
    <% f.inputs do %>
        <%= f.input :promotion_type %>
        <%= f.input :headline, :hint => "Limit: 144 characters" %>
	    <li>
			<%= label_tag "promotion_details_editor", "Details" %>
        	<%= f.cktext_area :details, :input_html => { :rows => 4 }, :toolbar => 'Basic' %>
			<p class="inline-hints">Stay under 1000 words. Basic HTML formatting is allowed.</p>
		</li>
        <%= f.input :link %>
        <%= f.input :attachment, :hint => "PDF files allowed" %>
        <% if !promotion.new_record? && promotion.attachment.file? -%>
          Current attachment: <%= link_to promotion.attachment_file_name, promotion.attachment.url %>
		  <p><%= link_to "Delete attachment", delete_attachment_restaurant_promotion_path(restaurant, promotion), :method => :post, :confirm => "Are you sure you want to delete this?" %> or replace by uploading a new file</p>
        <% end -%>
        <%= f.input :start_date %>
        <%= f.input :end_date, :selected => nil %>
        <%= f.input :date_description, :label => "Repeating on", :hint => "Example: every Monday in March" %>

        <% if promotion.new_record? -%>
        <% if @restaurant.twitter_authorized? -%>
          <%= f.input :post_to_twitter_at, :label => "Post to my Twitter account on", :start_year => Date.today.year, :end_year => 1.year.from_now.year %>
        <% else %>
          <p>Hook up your Twitter account to autopost this content to your social streams.</p>
        <% end %>
        <% if @restaurant.has_facebook_page? %>
          <% begin %>
          <%= f.input :post_to_facebook_at, :label => "Post to Facebook page \"#{@restaurant.facebook_page.fetch.name}\" on", :start_year => Date.today.year, :end_year => 1.year.from_now.year %>
          <p>Schedule posts before <%= current_user.facebook_token_expiration.to_formatted_s(:long) %>.</p>
          <% rescue Mogli::Client::OAuthException, Mogli::Client::HTTPException %>
          <p>Your Facebook page access has expired. Please reconnect your account on your restaurant profile page.</p>
          <% end %>
        <% else %>
          <p>Hook up your Facebook account to autopost this content to your social streams.</p>
        <% end %>
        <% end -%>
    <% end %>

    <%= f.submit "Post" %>
<% end %>
