<% title "Front Burner" %>
<% if @user.primary_employment.present? %>
    <div class="new_all">
      <%= link_to "New", front_burner_path, :class => selected?("New") %>
      <%= link_to "All", front_burner_path(:all => true), :class => selected?("All") %>
    </div><!--.new_all-->
    <div id="qotd_column">
      <h2 class="col_title">Questions of the Day</h2>
      <%= render :partial => 'messages/message', :collection => @qotds %>
    </div><!--#qotd_column-->
    <div id="trend_column">
      <h2 class="col_title">What's New</h2>
      <%= render :partial => 'messages/message', :collection => @trend_questions %>
    </div><!--#trend_column-->
    <% # After posting comment
       # on Qotd or Trend Question
       # if user checked "share to facebook"
       # we show facebook share popup
       if @comment && (params[:post_to_facebook].to_s == "1") %>
        <%= render(:partial => "shared/facebook_dialog",
                   :locals => { :caption => "Check out more about \"#{@comment.commentable_title}\"", 
                                :message => truncate(@comment.comment),
                                :link    => soapbox_soapbox_entry_url(@comment.commentable.soapbox_entry)  } )  %>
    <% end %>
<% else %>
    <p>In order to receive Front Burner questions, please make sure your role and areas of expertise are set up in your profile summary.</p>
<% end %>
