<% title "#{@page.name} details for #{@restaurant.name}" %>

<div class="soapbox_feature_page">
  <% @restaurant.categories_for_page(@page).each do |category| %>
    <div class="feature_category span-4 last" id="<%= dom_id(category) %>" >
      <div class="category_header"><%= h category.name %></div>
      <div class="features">
        <% @restaurant.features_for_category(category).each do |feature| %>
        <span class="feature" id="<%= dom_id feature%>">
          <%= link_to h(feature.value), soapbox_restaurant_feature_path(feature) %>
        </span>
        <% end %>
      </div>
    </div>

  <% end %>

  <%= render :partial => 'profile_questions/behind_the_line', :locals => { :subject => @subject } %>
</div>
