<div class="feature_category" id="<%= dom_id(category) %>">
  <h3 class="feature_category_header">
    Category:
    <span class="feature_category_eip" id="<%= dom_id(category, :eip)%>"><%= h category.name.strip %></span>
    <%= delete_link_for(category, admin_restaurant_feature_category_path(category)) %>
  </h3>
  <% category.restaurant_features.each do |feature| -%>
    <div>
      <span class="feature feature_eip" id="<%= dom_id(feature) %>"><%= h feature.value.strip -%></span>
      <%= delete_link_for(feature, admin_restaurant_feature_path(feature)) %>
    </div>
  <% end %>
  <div class="add_feature_form">
    <% @restaurant_feature.restaurant_feature_category = category %>
    <%= form_for :restaurant_feature, :url => admin_restaurant_features_path do |f| %>
      <%= f.label :value, "Add a feature in #{category.name}" %>
      <%= f.text_field :value  %>
      <%= f.hidden_field :restaurant_feature_category_id %>
      <%= f.submit "Add a feature to #{category.name}" %>
    <% end %>
    <br />
  </div>
  <br />
</div>
