<div class="feature_page" id="<%= dom_id(page) %>">
  <h2>Page:
    <span class="feature_page_eip" id="<%= dom_id(page, :eip) %>"><%= h page.name %></span>
    <%= delete_link_for(page, admin_restaurant_feature_page_path(page)) %>
  </h2>
  <%= render :partial => "category_index",
      :collection => page.restaurant_feature_categories, :as => :category %>
  <div class="add_category_form">
    <% @restaurant_feature_category.restaurant_feature_page = page %>
    <%= form_for :restaurant_feature_category, :url => admin_restaurant_feature_categories_path do |f| %>
      <%= f.label :name, "Add a category in #{page.name}" %>
      <%= f.text_field :name  %>
      <%= f.hidden_field :restaurant_feature_page_id %>
      <%= f.submit "Add #{page.name} category" %>
    <% end %>
    <br />
  </div>
</div>