<% title "Restaurant Features" %>

<div id="add_page_form">
  <% form_for :restaurant_feature_page, :url => admin_restaurant_feature_pages_path do |f| %>
    <%= f.label :name, "Add a new page header" %>
    <%= f.text_field :name  %>
    <%= f.submit_tag "Add page" %>
  <% end %>
  <br />
</div>

<% @pages.each do |page| %>
  <div class="feature_page" id="<%= dom_id(page) %>">
    <h2>Page: <%= h page.name %></h2>
    <% page.categories.each do |category| %>
      <div class="feature_category" id="<%= dom_id(category) %>">
        <h3 class="feature_category_header">
          Category: <%= h category.name %>
        </h3>
        <% category.features.each do |feature| %>
          <div class="feature" id="<%= dom_id(feature) %>">
            <%= h feature.value %>
          </div>
        <% end %>
        <br />
      </div>
    <% end %>
    <div class="add_category_form">
      <% @restaurant_feature_category.page = page %>
      <% form_for :restaurant_feature_category, :url => admin_restaurant_feature_categories_path do |f| %>
        <%= f.label :name, "Add a category in #{page.name}" %>
        <%= f.text_field :name  %>
        <%= f.hidden_field :restaurant_feature_page_id %>
        <%= f.submit_tag "Add #{page.name} category" %>
      <% end %>
      <br />
    </div>
  </div>

<% end %>