<% div_for @media_request, :class => 'clearfix box extended' do %>

	<h3>Original Request</h3>
	<h4>From: <%= @media_request.sender.name %></h4>

	<% unless @media_request.try(:attachments).blank? %>
	<div class="attachments box">
		<h4>Attached files:</h4>
		<ul>
			<% for attachment in @media_request.attachments %>
			<li><%= attachment_link(attachment) %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<h4><%= @media_request.media_request_type.try(:name) %></h4>

	<p>
		<strong>Due by:</strong> <%= @media_request.due_date.try(:to_s, :long_ordinal) %><br/>
		<strong>Sent:</strong> <%= @media_request.created_at.try(:to_s, :sentence) %>
	</p>

	<%= formatted_fields @media_request %>

	<p class="messagelabel bottom"><strong>Message:</strong></p>
	<div class="message"><%= simple_format @media_request.message %></div>

<% end -%>