<% title "New Media Request" %>
<h3>Who will you be sending this to?</h3>
<p>Fine-tune your search to select people who should get this request.</p>

<% if @restaurants && !@restaurants.blank? && @media_request %>

	<% semantic_form_for @media_request do |f| %>
		<% f.inputs do %>
			<%= f.input :restaurant_ids, :collection => @restaurants, :as => :check_boxes,
			:wrapper_html => {:class => 'restaurant_list checkall'},
			:label_method => :name_and_location,
			:label => "At these Restaurants:" %>

			<%= f.input :subject_matter_ids, :collection => current_user.allowed_subject_matters, :as => :check_boxes,
			:wrapper_html => {:class => 'span-3 column checkall'},
			:label => "People who handle:", :hint => "Check all that apply" %>
			<li class="list_or column span-2">
				<span>OR</span>
			</li>
			<%= f.input :restaurant_role_ids, :collection => RestaurantRole.all, :as => :check_boxes,
			:wrapper_html => {:class => 'last span-6 column checkall'},
			:label => "People who are:", :hint => "Check all that apply" %>
		<% end %>

		<p class="clearfix"><%= button_tag "Next" %></p>
	<% end -%>

	<h3>Not quite who you're looking for? Try searching again:</h3>

<% elsif params[:search] %>
<h3>Sorry, we couldn't find anything that fit that criteria.</h3>
<p>Please try a different search.</p>
<% end -%>

<%= render :partial => 'search' %>
