<% title "New Media Request" %>
<% semantic_form_for @media_request, :html => {:multipart => true} do |f| %>
    <% f.inputs :name => "General Info" do %>
      <li>
        <%= label_tag 'name', "Your Name" %>
        <%= text_field_tag 'name', current_user.name, :class => 'text' %>
      </li>
      <li>
        <%= label_tag 'email', "Your Email" %>
        <%= text_field_tag 'email', current_user.email, :class => 'text'  %>
      </li>
      <%= f.input :publication, :label => "For whom are you writing this?", :input_html => {:value => current_user.publication} %>
      <li>
        <label>
          <%= check_box_tag 'private' %> While all requests go directly to the email inbox of restaurant personnel, (no other media can see your request), I would like to make this media request anonymous
        </label>
      </li>
    <% end %>

    <% f.inputs :name => 'Advanced Criteria', :id => 'employment_criteria' do %>
      <% semantic_fields_for @search do |s| %>
      <div id="criteria_accordion">
          <div class="accordion_box">
            <a href="#"><span>Restaurants</span></a>
            <div id="restaurant_fields">
                <%= s.input :restaurant_id_equals_any,
                            :as => "check_boxes",
                            :collection => Restaurant.all(:order => 'name ASC') %>
            </div>
          </div>
          <div class="accordion_box">
            <a href="#"><span>Cuisine</span></a>
            <div id="cuisine_fields">
                <%= s.input :restaurant_cuisine_id_equals_any,
                            :as => "check_boxes",
                            :collection => Cuisine.with_restaurants %>
            </div>
          </div>
          <div class="accordion_box">
            <a href="#"><span>Region</span></a>
            <div id="region_fields">
                <%= s.input :restaurant_james_beard_region_id_equals_any,
                            :as => "check_boxes",
                            :collection => JamesBeardRegion.with_restaurants.all %>
            </div>
          </div>
          <div class="accordion_box">
            <a href="#"><span>Metro Area</span></a>
            <div id="metro_fields">
                <%= s.input :restaurant_metropolitan_area_id_equals_any,
                            :as => "check_boxes",
                            :collection => MetropolitanArea.with_restaurants.all %>
            </div>
          </div>
        </div>
      <% end %>

      <div id="employment_list">
        <%= render :partial => 'shared/employment_list' %>
      </div>
    <% end %>

    <% f.inputs :name => 'Your Request' do %>

      <%= render 'subject_matters', :f => f %>

      <%= f.input :due_date, :label => "When do you need the response by?" %>
      <%= f.input :message, :input_html => {:rows => 5, :style => 'height:auto'} %>

      <% f.fields_for :attachments do |child_form| -%>
        <%= child_form.label :attachment, "Attachment(s)" %>
        <p class="attachfield"><%= child_form.file_field :attachment %></p>
      <% end -%>

    <% end %>

    <p><%= button_tag "Submit" %></p>
<% end %>
