<% title "New Media Request" %>
<% semantic_form_for(@media_request) do |f| %>
  <% f.inputs do %>
    <%= f.input :message %>
    <%= f.input :due_date %>
  <% end %>

  <%= render :partial => 'shared/employment_criteria', :locals => {:f => f} %>

  <div id="employment_list">
    <%= render :partial => 'shared/employment_list' %>
  </div>

  <p><%= button_tag "Submit" %></p>
<% end %>