<% semantic_form_for [:admin, @trend_question] do |f| %>
  <% f.inputs do %>
    <%= f.input :subject %>
    <%= f.input :body %>
    <%= f.input :scheduled_at %>
    <%# f.input :expired_at, :selected => 3.months.from_now %>
  <% end %>

  <% f.semantic_fields_for :employment_search do |criteria| %>
    <% criteria.semantic_fields_for :conditions do |conditions| %>
      <%= conditions.input :restaurant_id, :collection => Restaurant.all, :selected => @conditions[:restaurant_id] %>
    <% end %>
  <% end %>

  <p><%= button_tag "Submit" %></p>
<% end %>
