<% semantic_form_for [:admin, @trend_question] do |f| %>
  <% f.inputs do %>
    <%= f.input :subject %>
    <%= f.input :body %>
    <%= f.input :scheduled_at %>
    <%# f.input :expired_at, :selected => 3.months.from_now %>
  <% end %>

  <% f.inputs :for => @search, :name => 'Criteria' do |form| %>
    <%# form.input :employee_name_like %>
    <%= form.input :restaurant_id, :collection => Restaurant.all(:order => 'name ASC'), :selected => @search.restaurant_id %>
  <% end %>

  <div>
    <h3>Currently, this can be seen by:</h3>
    <ul id="employment_list">
    <% @search.all.each do |employment| %>
      <li><%= employment.employee_name %> (<%= employment.restaurant_name %>)</li>
    <% end %>
    </ul>
  </div>

  <p><%= button_tag "Submit" %></p>
<% end %>
