<% semantic_form_for [:admin, @trend_question] do |f| %>
  <% f.inputs do %>
    <%= f.input :subject %>
    <%= f.input :body %>
    <%= f.input :scheduled_at %>
    <%# f.input :expired_at, :selected => 3.months.from_now %>
  <% end %>

  <%= render :partial => 'employment_criteria', :locals => {:f => f} %>


  <div id="employment_list">
    <%= render :partial => 'employment_list' %>
  </div>

  <p><%= button_tag "Submit" %></p>
<% end %>
