<%= semantic_form_for [:admin, @trend_question] do |f| %>
  <div class="span-12">
    <%= f.inputs do %>
      <div class="form_basics">
        <%= f.input :subject %>
        <%= f.input :body %>
        <%= f.input :display_message, :hint => "For Soapbox" %>
        <%= f.input :slug, :hint => "For Soapbox links. Limited to 30 characters." %>
      </div>

      <div id="employment_list" class="clearfix">
        <%= render :partial => 'shared/employment_list' %>
      </div>

      <%= f.input :scheduled_at, :label => 'Post this question on:', :selected => (@trend_question.new_record? ? Time.now : @trend_question.scheduled_at) %>
      <%# f.input :expired_at, :selected => 3.months.from_now %>
    <% end %>
    <p><%= button_tag "Submit" %></p>
  </div>
  <div class="span-6 last">
    <%= render :partial => 'shared/employment_criteria', :locals => {:f => f} %>
  </div>
<% end %>
