<% title "Trend Questions" %>

<p><%= link_to (image_tag("plus.png")+"New Trend Question"), new_admin_trend_question_path, :class => 'positive button' %></p>
<%= table_for(@trend_questions) do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('Scheduled') %>
      <%= t.h('Subject') %>
      <%= t.h('Body') %>
      <%= t.h('Criteria') %>
      <th></th><th></th><th></th><th></th>
    <% end %>
  <% end %>
  <%= t.body do |trend_question| %>
    <%= t.r do %>
      <%= t.d(h(trend_question.scheduled_at.try(:strftime,"%m/%d/%y"))) %>
      <%= t.d(h(trend_question.subject)) %> 
      <%= t.d(h(trend_question.body)) %>
      <%= t.d(h(trend_question.employment_search.readable_conditions.join(", "))) %>
      <%= t.d(h(reply_count_link(trend_question)),:class=>'admin-actions') %>
  	  <%= t.d(h(link_to "Show",admin_trend_question_path(trend_question),:class=>'admin-actions')) %> 
      <%= t.d(h(link_to "Edit",edit_admin_trend_question_path(trend_question),:class=>'admin-actions')) %>
      <td class="actions destroy_link">
        <%= link_to "Destroy",admin_trend_question_path(trend_question), :method => :delete %>
      </td> 
    <% end %>
  <% end %>
<% end %>

