<% title "Trend Question" %>

<p>
    <strong>Subject:</strong>
    <%=h @trend_question.subject %>
</p>
<p>
    <strong>Body:</strong>
    <%= simple_format @trend_question.body %>
</p>
<p>
    <strong>Display Message:</strong>
    <%= @trend_question.display_message %>
</p>
<p>
    <strong>Scheduled At:</strong>
    <%=h @trend_question.scheduled_at.try(:to_s, :long_ordinal) %>
</p>
<% if @trend_question.employment_search %>
<p>
    <strong>Criteria:</strong>
    <ul>
        <% @trend_question.employment_search.readable_conditions.each do |condition| %>
        <li><%= condition %></li>
        <% end %>
    </ul>
</p>
<% end %>

<% if @trend_question.soapbox_entry %>
<div class="clearfix">
    <%= link_to "View on Soapbox", soapbox_soapbox_entry_path(@trend_question.soapbox_entry), :class => "button" %>
</div>
<% else %>
<div class="clearfix">
    <%= link_to "Add to Soapbox", new_admin_soapbox_entry_path(:trend_question_id => @trend_question.to_param), :class => "button" %>
</div>
<% end %>

<div id="have_replied" class="span-9 conversations_list">
  <h3>Replied (<%= @trend_question.discussions_with_replies.size %>)</h3>
  <h4>[s] authorized for soapbox</h4>

  <table>
      <%= render @trend_question.discussions_with_replies %>
  </table>
</div>

<div id="have_not_replied" class="span-9 last conversations_list">
  <h3>Have Not Replied (<%= @trend_question.discussions_without_replies.size %>)</h3>

  <table>
    <%= render @trend_question.discussions_without_replies %>
  </table>
</div>



<p class="clear">
  <%= link_to "Edit", edit_admin_trend_question_path(@trend_question) %> |
  <%=link_to "Delete", [:admin, @trend_question], 'data-method' => :delete,  :confirm => "Are you sure ?"%> |
  <%= link_to "View All", admin_trend_questions_path %>
</p>
