<% if @holiday_reminder.holiday && action_name == 'new' %>
  <h4>Current Recipients</h4>
  <p><%= @holiday_reminder.holiday.restaurants.map { |r| "#{r.name}"}.join(", ") %></p>
<% end %>

<%= f.inputs do %>
  <%= f.input :scheduled_at %>
  <%= f.input :message, :as => :text, :input_html => {:class => '', :rows => 8} %>
  <% if @holiday_reminder.holiday %>
    <%= f.hidden_field :holiday_id %>
  <% else %>
    <%= f.input :holiday %>
  <% end %>
<% end %>
