  <%= render :partial => "layouts/footer_links" %>

  <%= javascript_include_tag 'modernizr-2.0.6.min.js', 'jquery-form-min.js', 'jquery-colorbox-min.js', 'jquery-easing-min.js', 'jquery-cycle-min.js', 'jquery.equalheights', 'jquery.ui.tabs-customized', 'showy', 'jquery.masonry.js', 'filler.js','jquery.ui.autocomplete.js', 'jquery.ui.timepicker', 'jquery.charcount','jquery.tablesorter.min', :cache => true %>
  <%= javascript_include_tag "chosen.jquery.min.js" %>
  <%= javascript_include_tag "nested_form" %>
  <%= javascript_include_tag 'spoonfeed.js' %>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

  <script type="text/javascript">
  window.current_user_id = '<%= current_user ? current_user.id : "null" %>';
  </script>

  <% fb_connect_async_js do %>
    <%= yield :facebook_js %>
  <% end %>
  <%= yield(:javascript) %>

  <% if current_user.try(:media?) && (@user.present? || @restaurant.present? || @menu_item.present?) -%>
  <script type="text/javascript">
  params = { page_view: { url: window.location.toString(),
                        user_id: <%= current_user.id %>,
              title: "<%= @content_for_title %>",
              page_owner_id: <%= @restaurant.try(:id) || @user.try(:id) %>,
              page_owner_type: "<%= @restaurant.try(:class) || @user.try(:class) %>" } 
            };
              if("<%=@menu_item.try(:class)%>" == "MenuItem" || <%=@promotions.present?%>)
              {
                params.page_view.page_type = "<%=@menu_item.try(:class) || 'Promotion' %>"
                params.page_view.page_id   = "<%=@menu_item.try(:id)|| 0 %>"
              }
    $.post("/page_views", params);
  </script>


 <% elsif  current_user.try(:media?) && (@question.present? || @feature.present? ||  @answers.present? ||
  params[:controller] == "welcome" || @menu_items.present? )  %>

  <script type="text/javascript">

  params = { page_view: { url: window.location.toString(),
                        user_id: <%= current_user.id %>,
              title: "<%= @content_for_title %>",
              page_owner_id: <%= current_user.try(:id) %>,
              page_owner_type: "<%= current_user.try(:class) %>" } 
            };

            if( <%= @feature.present? %>)
            {
              params.page_view.page_type = "<%=  @feature.try(:class) %>"
              params.page_view.page_id   = "<%= @feature.try(:id)  %>"
              
            }  

            if( <%= @question.present? %>)
            {
              params.page_view.page_type = "<%=  @question.try(:class) %>"
              params.page_view.page_id   = "<%= @question.try(:id)  %>"
              
            }  

            if ( <%= params[:controller] == "spoonfeed/a_la_minute" && @answers.present? %>)
            {
              params.page_view.page_type = "<%=  'ALaMinuteAnswer' %>"
              params.page_view.page_id   = "<%= 0  %>"
             
            }  

            if ( <%= params[:controller] == "welcome" %>)
            {
              params.page_view.page_type = "<%= 'welcome' %>"
              params.page_view.page_id   = "<%= 0  %>"
             
            }  

            if( <%= @menu_items.present?  %>)
            {
              params.page_view.page_type = "<%= 'MenuItem' %>"
              params.page_view.page_id   = "<%= params[:id]  %>"
             
            }  

  $.post("/page_views", params);
   
   
  </script>
<% end -%>

<% if current_user.try(:media?) && !@keywordable_id.blank? %>
  <script type="text/javascript">
  params = { trace_keyword: {
                      user_id: <%= current_user.try(:id) %>,
                      keywordable_id: <%= @keywordable_id %>,
                      keywordable_type: '<%= @keywordable_type %>'
              } 
            };
              
    $.post("/trace_keywords", params);
  </script>
  <% elsif current_user.try(:media?) && !@keywordable_type.blank? && @keywordable_id.blank? %>
  <script type="text/javascript">
  params = { trace_keyword: {
                      user_id: <%= current_user.try(:id) %>,
                      keywordable_type: '<%= @keywordable_type %>'
              } 

            };
              
    $.post("/trace_keywords", params);
  </script>
<% end %>

</body>
</html>