  <%= render :partial => "layouts/sf_footer_links" %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script type="text/javascript">window.jQuery || document.write('<script src="/javascripts/jquery-1.6.2.min.js"></script>')</script>

  <%= javascript_include_tag 'spoonfeed.js' %>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

  <script type="text/javascript">
  window.current_user_id = '<%= current_user ? current_user.id : "null" %>';
  </script>

  <% fb_connect_async_js do %>
    <%= yield :facebook_js %>
  <% end %>

  <%= yield(:javascript) %>
</body>
</html>