<header id="user_header" class="clearfix">
    <div class="headerContainer clearfix">
        <div class="logoBox left">
            <%= link_to root_path do -%><%= image_tag "sf/sf-logo.png" %><% end %>
        </div>

        <div class="right">
            <%= form_tag search_path, :method => :get, :class => 'searchBox left' do %>
            <%= text_field_tag "query", "", :class => 'searchInput', :placeholder => "SEARCH" %>
            <div>
                <span class="searchArrow"></span>
                <%= submit_tag "Search", :class => 'searchSubmit', :name => nil %>
            </div>
            <% end %>
            <% if current_user.admin? -%>
            <div class="statusBox clearfix left">
                <div id="user_status" class="account">
                    <h5>&nbsp;</h5>
                    <p><%= link_to "Go to admin home page", admin_root_path %></p>
                </div>
            </div>
            <% else -%>
            <div class="statusBox clearfix left">
                <div id="user_status" class="account">
                    <h5>Personal Account Status</h5>
                    <% if current_user.premium_account? -%>
                    <p>Premium: <%= link_to "change", edit_user_profile_path(current_user, :anchor => "profile-account") %></p>
                    <% else -%>
                    <p>Basic: <%= link_to "upgrade", new_user_subscription_path(current_user) %></p>
                    <% end %>
                </div>
                <% if current_user.restaurants.present? %>
                <div id="restaurant_status" class="account">
                    <h5>Restaurant Account Status</h5>
                    <% if current_user.primary_employment.restaurant.premium_account? -%>
                    <p>Premium: <%= link_to "change", edit_restaurant_path(current_user.primary_employment.restaurant) %></p>
                    <% else -%>
                    <p>Basic: <%= link_to "upgrade", new_restaurant_subscription_path(current_user.primary_employment.restaurant) %></p>
                    <% end %>
                </div>
                <% end %>
            </div>
            <% end -%>
        </div>
        <div class="member clearfix right">
            <div class="left welcome">
                <h3>Welcome, <%= current_user.first_name %></h3>
                <p class="right"><%= link_to "Help + Questions", "http://spoonfeed.restaurantintelligenceagency.com/spoonfeed_welcome" %> / <%= link_to "logout", logout_path %></p>
                <p>
                    <%=link_to "Create a new restaurant",new_restaurant_path%>
                </p>
                <p>
                  <% if current_user.has_chef_role?  %>  
                    <%= link_to "Export press kit", new_user_export_press_kit_path(current_user) %>
                  <% end %>
                </p>
            </div>
            <div class="right invite">
                <%= image_tag current_user.avatar(:thumb), :size => "32x32" %>
                <%= link_to "Invite Friends!", recommend_invitations_path, :class => "ir" %>
            </div>
        </div>
    </div>
</header>
