<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title><%= h(yield(:title) || "") %> :: Spoonfeed :: Restaurant Intelligence Agency</title>

  <meta property="og:description" content="<%= h(yield(:fb_description) || "")  %>" />
  <meta name="author" content="Restaurant Intelligence Agency">
  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag 'colorbox', '/redesign/brandonbold/stylesheet', '/redesign/hoeflerbolditalic/stylesheet', '/redesign/_css/spoonfeed', :cache => true %>
  <%= stylesheet_link_tag '/redesign/_css/print', :media => 'print' %>
  <%= yield(:head) %>

  <%- if protect_against_forgery? -%>
  <script type='text/javascript'>
  //<![CDATA[
  window._auth_token_name = "<%= request_forgery_protection_token %>";
  window._auth_token = "<%= form_authenticity_token %>";
  //]]>
  </script>
  <%- end -%>

  <%= render :partial => 'layouts/ga' %>
  
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>
  <%= javascript_include_tag 'jquery-form-min.js', 'jquery-colorbox-min.js', 'jquery-easing-min.js', 'jquery-cycle-min.js', 'jquery.equalheights', 'jquery.ui.tabs-customized', 'showy', 'jquery.masonry.js', :cache => true %>
  <%= javascript_include_tag 'spoonfeed' %>

</head>

<!--[if lt IE 7 ]> <body id="<%= Rails.env %>" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body id="<%= Rails.env %>" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body id="<%= Rails.env %>" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body id="<%= Rails.env %>" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]>
	
<!--><body id="<%= Rails.env %>"> <!--<![endif]-->
