<nav id="navContainer">
    <ul>
        <li><%= link_to "Account", edit_mediafeed_media_user_path(current_user) %></li>
        <li><%= link_to "Messages", mediafeed_media_requests_path %></li>
        <li><%= link_to "Send Media Request", new_mediafeed_media_request_path %></li>
    </ul>
    <ul id="user_nav" class="media_nav">
        <li><%= active_link_to "Dashboard", root_path %></li>
        <li><%= active_link_to "Newsfeed", promotions_path %></li>
        <li><%= active_link_to "Social", social_path %></li>
        <li><%= active_link_to "On the Menu", menu_items_path %></li>
        <li><%= active_link_to "A la Minute", menu_items_path %></li>
        <li><%= active_link_to "Behind the Line", profile_questions_path %></li>
        <li><%= active_link_to "Personal Directory", directory_path %></li>
        <li><%= active_link_to "Restaurant Directory", restaurant_directory_path, :class => "last" %></li>
    </ul>
</nav>