<nav id="navContainer">
    <ul id="user_nav">
        <li><%= active_link_to "Dashboard", root_path, :id => "nav_dashboard" %></li>
        <li><%= active_link_to "Account", edit_mediafeed_media_user_path(current_user), :id => "nav_profile" %></li>
        <li><%= active_link_to "Messages", mediafeed_media_requests_path, :id => "nav_requests" %></li>
        <li><%= active_link_to "Restaurants", restaurant_directory_path, :id => "nav_restaurants" %></li>
        <li><%= active_link_to "Personal Profiles", directory_path, :id => "nav_directory" %></li>
    </ul>
</nav>