<nav id="primary_nav">
  <span><%= active_link_to "Explore", mediafeed_root_path, :id => "nav_explore" %></span>
  <span>
    <%= active_link_to "Media Requests", mediafeed_media_requests_path, :id => "nav_requests" %>
    <% if current_user.try(:ria_message_count) > 0 -%>
      <%= link_to current_user.try(:ria_message_count), mediafeed_media_requests_path, :class => 'count' %>
    <% end -%><%# FIXME - ria_message_count is probably not the right method here %>
  </span>
  <span><%= active_link_to "Account Profile", "#", :id => "nav_profile" %></span>
  <span><%= active_link_to "Contact", "mediafeed/contact", :id => "nav_contact" %></span>
</nav>