<nav id="topNav" class="clearfix">
  <div class="sites_container">
    <ul>
      <li><%= link_to "RIA", hq_root_path %></li>
      <li><%= link_to "Soapbox", soapbox_root_path %></li>
      <li>Spoonfeed</li>
      <li><%= link_to "Unplugged Blog", "http://riaunplugged.wordpress.com" %></li>
      <li><%= link_to "Contact", hq_page_path('contact') %></li>
      <li><%= link_to "Login", login_path unless current_user %></li>
    </ul>
  </div>
</nav>
