<nav id="alternate_nav">
  <%= active_link_to "Home", root_path, :id => 'nav_home' %>
  <%= active_link_to "About", mediafeed_page_path("about"), :id => 'nav_about' %>
  <%= active_link_to "Overview", mediafeed_page_path("overview"), :id => 'nav_overview' %>
  <%= active_link_to "Contact", mediafeed_page_path("contact"), :id => 'nav_contact' %>
  <%= active_link_to "Login", login_path, :id => 'nav_login' %>
</nav>