<nav id="primary_nav">
  <span><%= active_link_to "Dashboard", root_path, :id => "nav_dashboard" %></span>
  <span><%= active_link_to "My Profile", edit_user_profile_path(current_user), :id => "nav_myprofile" %></span>
  <span><%= active_link_to "My Restaurants", restaurants_path, :id => "nav_myrestaurants" %></span>
  <span>
    <%= active_link_to "Front Burner", '/front_burner', :id => "nav_frontburner" %>
    <%# if current_user.front_burner_unread_count > 0 -%>
      <%#= link_to current_user.front_burner_unread_count, '/front_burner', :class => 'count' %>
    <%# end -%>
  </span>
  <span>
    <%= active_link_to "Messages", messages_path, :id => "nav_messages" %>
    <% if current_user.message_inbox_count > 0 -%>
      <%= link_to current_user.message_inbox_count, messages_path, :class => 'count' %>
    <% end -%>
  </span>
  <span><%= active_link_to "Directory", '/directory', :id => "nav_directory" %></span>
</nav>