<nav id="primary_nav">
  <%= link_to "Dashboard", root_url, :id => "nav_dashboard" %>
  <%= link_to "My Profile", profile_path(current_user.username), :id => "nav_myprofile" %>
  <%= link_to "My Restaurants", my_restaurants_path, :id => "nav_myrestaurants" %>
  <%= link_to "Front Burner", '/front_burner', :id => "nav_frontburner" %>
  <%= link_to "Messages", messages_path, :id => "nav_messages" %>
  <%= link_to "Directory", '/directory', :id => "nav_directory" %>
  <%= link_to "Social Media", user_statuses_path(current_user), :id => "nav_socialmedia" %>
</nav>