<nav id="primary_mf_nav">
  <span><%= active_link_to "Explore", mediafeed_directory_path, :id => "nav_explore" %></span>
  <span>
    <%= active_link_to "Media Requests", mediafeed_media_requests_path, :id => "nav_requests" %>
    <% if false # disabling this because it needs styling help FIXME - current_user.try(:mediafeed_discussions_with_replies_count) > 0 -%>
      <%= link_to current_user.try(:mediafeed_discussions_with_replies_count), mediafeed_media_requests_path, :class => 'count' %>
    <% end -%>
  </span>
  <span><%= active_link_to "Account Profile", edit_mediafeed_media_user_path(current_user), :id => "nav_profile" %></span>
  <span><%= active_link_to "Contact", mediafeed_page_path("contact"), :id => "nav_contact" %></span>
</nav>