<nav id="alternate_nav">
  <%= link_to "Home", root_url, :id => 'nav_home' %>
  <%= link_to "About", public_page_path("about"), :id => 'nav_about' %>
  <%= link_to "Overview", public_page_path("overview"), :id => 'nav_overview' %>
  <%= link_to "Invitations", public_page_path("request-invitation"), :id => 'nav_invitations' %>
  <%= link_to "Contact", public_page_path("contact"), :id => 'nav_contact_alt' %>
  <%= link_to "Login", login_path, :id => 'nav_login' %>
</nav>