<% if current_user %>
<div id="sidebar_b">
    <% if current_user.media? -%>
    <div id="sidebar_content">
        <%= link_to 'Create a Media Request', new_mediafeed_media_request_path, :class => 'promo media_request' %>

        <aside class="promo" id="manuals">
            <%= render :partial => "layouts/help_questions" %>
		</aside><!--.promo-->
    </div>
    <% else -%>
    <div id="sidebar_content">
        <%= yield :sidebar %>

        <% if current_user.admin? %>
          <%= link_to "Go to Admin", admin_root_path, :class => "promo go_to_admin" %>
        <% end %>
		
		<%= link_to "<h2>Invite your friends</h2><p>Chefs, mixologists and sommeliers from around the country can join!</p>", recommend_invitations_path, :id => "invitation", :class => "promo" %>
		
        <aside class="promo" id="promotion_status">
            <%= render "shared/promotion_status" %>
        </aside><!--.promo-->

        <%= link_to "<h2>Check out Soapbox &rarr;</h2><p>Diners &amp; Media learn about you here. See how your profile stacks up.</p>", "http://soapbox.restaurantintelligenceagency.com", :id => "gotosoapbox", :class => "promo", :target => "_blank" %>
    
		<aside class="promo" id="manuals">
			<%= link_to "How-To Guide", public_page_path('spoonfeed_welcome'), :id => 'marketing_manual' %>
			<p>Everything you need to know about how to use Spoonfeed.</p>

            <%= render :partial => "layouts/help_questions" %>
		</aside><!--.promo-->
							
        <%#- if current_user && !current_user.media? %>
        <%# disabling the ria labs for now: render :partial => 'shared/ria_labs' %>
        <%# end -%>

        <% javascript_tag do %>
        function toggleMyProfileOnSoapbox(url){
            $.ajax({
                type:        "GET",
                url:         url,
                beforeSend:  function(){ $('#promotion_status').html('<img src="/images/ajax-loader.gif" />'); },
                error:       function(){ alert("Server connection error. Please try again later."); },
                complete:    function(response){ $('#promotion_status').html(response.responseText); }
            });
        }          
        <% end %>
	</div><!-- #sidebar_content-->
    <% end -%>
</div><!--#sidebar_b-->
<% end %>