<% if display_sidebar? -%>
	<div id="sidebar_b">
	  <% if current_user -%>
		  <div id="sidebar_content">
		  
  		  <%= yield :sidebar %>
			
			<% if current_user && current_user.admin? %>
          <%= link_to "Go to Admin", admin_root_path, :class => "promo go_to_admin" %>
      <% end %>
			
			<%= link_to "Share the love:<br />invite your friends to join", recommend_invitations_path, :id => "invitation", :class => "promo" %>
			
			<% if false #@btl_question %>
            <aside class="promo" id="btl_game">
              <%= link_to "new question", '#', :"data-auth" => form_authenticity_token.inspect, :"data-user-id" => current_user.id, :class => "new_question" %>
              <h1>Behind the Line</h1>
              <div id="btl_game_content">
                <%= render :partial => "shared/btl_game", :locals => { :question => @btl_question } %>
              </div>
            </aside><!--#btl_game-->
            <% end %>
            
        <%= link_to "Go to Soapbox &rarr;", "http://soapbox.restaurantintelligenceagency.com", :id => "gotosoapbox", :class => "promo", :target => "_blank" %>
        
  			<aside class="promo" id="manuals">

  				<%= link_to "Marketing Manual", public_page_path('introduction-marketing-workbook'), :id => 'marketing_manual' %>
  				<p>Built to answer your marketing questions.  It's in progress: tell us what you need, and we'll cover it.</p>

  				<%= link_to "Help / Questions?", public_page_path('help'), :id => 'help_questions' %>
  				<p>We're building this for you, so don't be shy—ask us questions and give us suggestions!</p>
          <ul class="staff_contacts">
            <li><a href="/users/357/direct_messages/new"><b>Tech Questions:</b> Contact Lauren</a></li>
             <li><a href="/users/183/direct_messages/new"><b>General Inquiries:</b> Contact GJ</a></li>
            <li><a href="/users/9/direct_messages/new"><b>Escalate to the Top:</b> Contact Ellen</a></li>            
          </ul>
  			</aside><!--.promo-->
								
  			<%- if current_user && !current_user.media? %>
          <%# disabling the ria labs for now: render :partial => 'shared/ria_labs' %>
        <% end -%>

        <% javascript_tag do %>
          function toggleMyProfileOnSoapbox(url){
            $.ajax({
               type: "GET",
               url:  url,
               beforeSend:  function(){ $('#promotion_status').html('<img src="/images/ajax-loader.gif" />'); },
               error:       function(){ alert("Error"); },
               complete:    function(response){ $('#promotion_status').html(response.responseText); }
            });
          }          
        <% end %>
        <%- if current_user %>
          <aside class="promo" id="promotion_status">
          <%= render "shared/promotion_status" %>
          </aside><!--.promo-->
        <% end -%>
  		</div><!-- #sidebar_content-->
  	<% else -%>
  	  &nbsp;
  	<% end -%>
	</div><!--#sidebar_b-->
<% end -%>
