<nav id="topNav" class="clearfix">
	<div class="sites_container">
		<ul>
			<li><%= link_to "RIA", hq_root_url(:subdomain => "hq") %></li>
			<li><%= link_to "Soapbox", soapbox_root_url(:subdomain => "soapbox") %></li>
			<li>Spoonfeed</li>
			<li><%= link_to "Blog", "http://ellenmalloy.com" %></li>
			<li><%= link_to "Contact", hq_page_url('contact', :subdomain => 'hq') %></li>
			<% if current_user -%>
			<li><%= link_to "Account", current_user.media? ? edit_mediafeed_media_user_url(current_user, :subdomain => "spoonfeed") : edit_user_profile_url(current_user, :anchor => "profile-account", :subdomain => "spoonfeed") %></li>
			<li><%= link_to "Logout", logout_url %></li>
			<% else -%>
			<li><%= link_to "Login", login_url(:subdomain => "spoonfeed") %></li>
            <li><%= link_to "Join us!", join_url(:subdomain => 'spoonfeed') %></li>
			<% end -%>
		</ul>
	</div>
</nav>
