<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= h(yield(:title) || "Untitled") %> - Spoonfeed - Restaurant Intelligence Agency</title>

	<%= stylesheet_link_tag 'blueprint/screen', 'custom' %>
	<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>

	<!--[if lt IE 7]>
	<%= stylesheet_link_tag 'blueprint/ie', 'ie6' %>
	<![endif]-->

	<%= yield(:head) %>

	<%- if protect_against_forgery? -%>
	<script type='text/javascript'>
	//<![CDATA[
	window._auth_token_name = "<%= request_forgery_protection_token %>";
	window._auth_token = "<%= form_authenticity_token %>";
	//]]>
	</script>
	<%- end -%>


</head>

<body>

	<div id="container" class="clearfix">

		<div id="header" class="span-18 last">

			<div id="brand" class="span-7">
				<a href="/"><img src="/images/spoonfeed_logo.png" alt="Spoonfeed" /></a>
			</div><!--#brand-->

			<div id="navigation" class="span-11 last">
			<%- if current_user && current_user.media? %>
				<%= render :partial => 'layouts/nav_media' %>
			<% elsif current_user %>
				<%= render :partial => 'layouts/nav_spoonfeed' %>
			<% else %>
				<%= render :partial => 'layouts/nav' %>
			<% end -%>
			</div><!--#navigation-->

		</div><!--header-->


		<div id="leftcolumn" class="span-12">
			<div id="flashes">
				<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<%- end -%>
			</div>

			<%- if show_title? -%>
			<h1><%=h yield(:title) %></h1>
			<%- end -%>

			<%= yield %>

		</div><!--#leftcolumn-->

	<div id="sidebar" class="span-6 last">
		<%= render :partial => 'shared/user_status' %>

		<% if !(sb = yield :sidebar).blank? %>
		<%= sb %>
		<% end -%>

		<%= render :partial => 'shared/restaurants' if current_user && !current_user.media? %>
	</div><!--#sidebar-->

	<div id="footer" class="clear">
	<% if current_user && current_user.admin? %>
		<p class="admin-link"><%= link_to "Go to Admin", admin_root_path %></p>
	<% end %>
		<ul>
			<li>Copyright &copy; 2009 Restaurant Intelligence Agency</li>
			<li><a href="#">About SpoonFeed</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div><!--#footer-->

</div><!--#container-->
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'jquery.autocomplete','site' %>

<% if RAILS_ENV == 'production' %>
<script type="text/javascript">
var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<script type="text/javascript">
UserVoice.Tab.show({
	/* required */
	key: 'spoonfeed',
	host: 'spoonfeed.uservoice.com',
	forum: '27993',
	/* optional */
	alignment: 'left',
	background_color:'#f00',
	text_color: 'white',
	hover_color: '#06C',
	lang: 'en'
})
</script>
<% end %>
</body>
</html>