<%= render 'layouts/head' %>
<%= render 'layouts/staging_bar' %>
<%= render 'layouts/nav_sites' %>

<% if current_user && !current_user.media? -%>
  <%= render 'layouts/header_sf_logged_in' %>
<% else -%>
  <%= render 'layouts/header_sf_logged_out' %>
<% end -%>

<section id="main" class="clearfix">

    <%= render 'layouts/nav_sf_logged_in' if current_user && !current_user.media? %>

    <div class="mainContainer">
        <%= render 'layouts/flashes' %>
        <%- if show_title? -%>
        <h1 class="pg_title"><%=h yield(:title) %></h1>
        <%- end -%>
        <%= yield %>
    </div>
</section>

<%= render 'layouts/footer' %>
