<%= render 'layouts/head' %>
<%= render 'layouts/staging_bar' %>
<%= render 'layouts/site_nav' %>

<% if current_user && current_user.media? -%>
  <%= render 'layouts/header_media_logged_in' %>
<% elsif current_user %>
  <%= render 'layouts/header_sf_logged_in' %>
<% else -%>
  <%= render 'layouts/header_sf_logged_out' %>
<% end -%>

<section id="main" class="clearfix">
    <% if current_user && current_user.media? -%>
      <%= render 'layouts/nav_media_logged_in' %>
    <% elsif current_user && current_user.has_chef_role? && !current_user.manager_restaurants.blank? %><!-- # for omniscient check !current_user.manager_restaurants.blank?-->
        <%= render 'layouts/nav_restaurant_logged_in' %>
    <% elsif current_user -%>
      <%= render 'layouts/nav_sf_logged_in' %>

    <% end -%>

    <div class="mainContainer">
        <%= render 'layouts/flashes' %>
        <%- if show_title? -%>
        <h1 class="pg_title"><%=h yield(:title) %></h1>
        <%- end -%>
        <%= yield %>
    </div>
</section>

<%= render 'layouts/footer' %>
