<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= h(yield(:title) || "Untitled") %> - <%= current_user && current_user.media? ? "MediaFeed" : "SpoonFeed" %> - Restaurant Intelligence Agency</title>

	<%= stylesheet_link_tag 'blueprint/screen', 'futurasctotdem-base64', 'custom' %>
	<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>

	<!--[if lt IE 7]><%= stylesheet_link_tag 'blueprint/ie', 'ie6' %><![endif]-->

	<%= yield(:head) %>

	<%- if protect_against_forgery? -%>
	<script type='text/javascript'>
	//<![CDATA[
	window._auth_token_name = "<%= request_forgery_protection_token %>";
	window._auth_token = "<%= form_authenticity_token %>";
	//]]>
	</script>
	<%- end -%>

	<%= render :partial => 'layouts/ga' %>

</head>

<body id="<%= RAILS_ENV %>">
	<% if RAILS_ENV == 'staging' %>
		<div id="staging_bar">
			<p>Note: You are currently on <strong>STAGING</strong>.
			You may want to visit the <a href="http://spoonfeed.restaurantintelligenceagency.com/" title="">live site &raquo;</a></p>
		</div>
	<% end %>

	<div id="container" class="clearfix">

		<div id="header" class="span-18 last">

			<div id="brand" class="span-7">
				<% if current_user && current_user.media? -%>
				  <%= link_to image_tag('mediafeed_logo.png', :alt => "Media Feed"), root_path %>
				<% else -%>
				  <%= image_tag 'logo_ria.png' %>
				  <%= link_to image_tag('logo_spoonfeed.png', :alt => "Spoon Feed"), root_path %>
				<% end -%>
			</div><!--#brand-->

			<div id="navigation" class="span-11 last">
			<%- if current_user && current_user.media? %>
				<%= render :partial => 'layouts/nav_media' %>
			<% elsif current_user %>
				<%= render :partial => 'layouts/nav_spoonfeed' %>
			<% else %>
				<%= render :partial => 'layouts/nav' %>
			<% end -%>
			</div><!--#navigation-->

		</div><!--header-->


		<div id="leftcolumn" class="span-12">
			<div id="flashes">
				<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<%- end -%>
			</div>

      <div class="clearfix">
  			<%- if show_title? -%>
  			  <h1 class="function-bold"><%=h yield(:title) %></h1>
  			<%- end -%>
  			<div class="page_actions">
  			  <%= yield(:page_actions) %>
  			</div>
      </div>
			<%= yield %>

		</div><!--#leftcolumn-->

	<div id="sidebar" class="span-6 last">
    <%= render :partial => 'shared/user_status' %>

    <%= yield :sidebar %>

    <%- if current_user && !current_user.media? %>
      <%= render :partial => 'statuses/sidebar_form' %>
      <%= render :partial => 'shared/restaurants' %>
      <%= render :partial => 'shared/activity_alerts' %>
      <%= render :partial => 'shared/ria_labs' %>
      <%= render :partial => "shared/media_request_promo" %>
    <% end -%>

	</div><!--#sidebar-->


	<div id="footer" class="clear">
	<% if current_user && current_user.admin? %>
		<p class="admin-link"><%= link_to "Go to Admin", admin_root_path %></p>
	<% end %>
		<ul>
			<li>Copyright &copy; 2010 Restaurant Intelligence Agency</li>
			<li><%= link_to 'About SpoonFeed', public_page_path('about') %></li>
			<li><%= link_to 'Contact', public_page_path('contact') %></li>
	<% if current_user %>
				<li><%= link_to 'Looking for Help?', public_page_path('help') %></li>
	<% end %>
		</ul>
	</div><!--#footer-->

</div><!--#container-->

<script type="text/javascript">
  window.current_user_id = '<%= current_user ? current_user.id : "null" %>';
</script>

<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'jquery.autocomplete','jquery.autofill','site' %>

<%= render :partial => 'layouts/uservoice' %>

</body>
</html>