<%= render 'layouts/head' %>
<%= render 'layouts/staging_bar' %>
<div id="container">
  <header id="site_header">
    <%= render 'layouts/logo' %>
    <div class="header_right">
      <%= render 'layouts/search' %>				
      <%= render 'layouts/userbox' %>
      <%= render 'layouts/top_promo' %>
    </div><!-- .header_right -->
  </header>
  <div id="main">
    <%= render 'layouts/nav_logic' %>
    <div id="content">
      <%= render 'layouts/flashes' %>
      <%- if show_title? -%><%- end -%>
      <%= yield %>
    </div><!--#content-->
    <%= render 'layouts/sidebar' %>
    <div class="clear"></div>
  </div><!-- #main -->
</div><!-- #container -->
<%= render 'layouts/footer' %>