<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= h(yield(:title)) %> | Restaurant Intelligence Agency</title>
  <meta name="description" content="Restaurant Intelligence Agency website">
  <meta name="author" content="Restaurant Intelligence Agency">

  <link rel="shortcut icon" href="/favicon-ria.ico">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag 'hq/reset.css', 'hq/style.css' %>

  <%= javascript_include_tag 'modernizr-2.0.6.min.js' %>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <header class="clearfix">
      <div class="container">
        <%= link_to hq_root_path do -%><img id="logo" src="/images/hq/logo.png" alt="RIA" /><% end %>
      </div>
      <nav id="topNav" class="clearfix">
        <div class="container">
          <ul>
            <li>RIA</li>
			<li><%= link_to "Soapbox", soapbox_root_url(:subdomain => "soapbox") %></li>
            <li><%= link_to "Spoonfeed", root_url(:subdomain => "spoonfeed") %></li>
            <li><%= link_to "Blog", "http://ellenmalloy.com" %></li>
            <li><%= link_to "FAQ", "http://spoonfeed.restaurantintelligenceagency.com/hq/ria_faqs" %></li> 
            <li><%= link_to "Contact", hq_page_url('contact', :subdomain => 'hq') %></li>
            <li><%= link_to "Login", login_url(:subdomain => "spoonfeed") %></li>
            <li><%= link_to "Join us!", join_url(:subdomain => 'spoonfeed') %></li>
          </ul>
        </div>
      </nav>

      <% if show_title? -%>
      <h1 class="pg_title"><%=h yield(:title) %></h1>
      <% else -%>
      <div class="clearfix container">
        <nav id="mainNav" class="right">
          <h2 class="ir">Connect Restaurants to Audiences that Matter.</h2>
          <div class="overhead"></div>
          <ul id="mainTabs">
            <li class="chefs"><%= link_to "chefs", root_path %></li>
            <li class="publicists"><%= link_to "publicists", root_path %></li>
            <li class="journalists"><%= link_to "journalists", root_path %></li>
            <li class="diners"><%= link_to "diners", soapbox_root_path %></li>
          </ul>
        </nav>
      </div>
      <% end -%>
    </header>

    <%= yield %>

    <%= render :partial => "layouts/footer_links" %>

    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js' %>
    <%= javascript_include_tag 'plugins.js', 'jquery.tools.min.js', 'jquery.easing.1.3.js', 'jquery.tweet.js', 'filler.js', 'jquery.simplemodal.js', 'ria.js' %>

  <script>
    window._gaq = [['_setAccount','UA-4174638-5'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>