<!doctype html>
<html lang="en" class="no-js">
<head>
	
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title><%= h(yield(:title) || "Media Feed") %> - Restaurant Intelligence Agency</title>
  <meta name="description" content="Restaurant Intelligence Agency Media Feed">
  <meta name="author" content="Restaurant Intelligence Agency">
  <link rel="shortcut icon" href="/favicon-mf.ico">
  <link rel="stylesheet" href="/mediafeed/_css/mediafeed.css?v=1">

</head>

<!--[if lt IE 7 ]><body class="ie6"> <![endif]-->
<!--[if IE 7 ]><body class="ie7"> <![endif]-->
<!--[if IE 8 ]><body class="ie8"> <![endif]-->
<!--[if IE 9 ]><body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
	
<body class="mediafeed"> <!--<![endif]-->
  <%= render 'layouts/staging_bar' %>
	<div id="container">    

  	<header id="site_header">
			<div class="branding">
				<h1 id="logo"><a href="/">Mediafeed</a></h1>
			</div><!--.branding-->
			
			<div id="header_right">
				<div id="tagline">
					<h2>Connect direct to chefs.</h2>
				</div><!--#tagline-->
				<div id="header_promos">
					<a id="request_an_invitation" class="header_promo" href="#">Request an <span>Invitation</span></a>
				</div><!--#header_promos-->
			</div><!--#header_right-->
			
		</header><!--#site_header-->
		
		<div id="main" class="hp">		
		
			<nav id="primary_nav">
				<a href="#" id="nav_home">Home</a>
				<a href="#" id="nav_about">About</a>
				<a href="#" id="nav_overview">Overview</a>
				<a href="#" id="nav_contact">Contact</a>
				<a href="#" id="nav_login">Login</a>
			</nav><!--#mf_nav"-->
			
			<!--<nav id="alternate_nav">
				<a href="#" id="nav_home">Home</a>
				<a href="#" id="nav_about">About</a>
				<a href="#" id="nav_overview">Overview</a>
				<a href="#" id="nav_contact">Contact</a>
				<a href="#" id="nav_login">Login</a>
			</nav>-->
			
			<div id="jumbotron">
				<div class="jumbo_content" style="background: url(/images/mediafeed/fish.jpg) no-repeat;">
					<h1><a href="#">Speak for Yourself</a></h1>
					<p>We've built a platform so you can rise up above the crowd and be heard&hellip; <a href="#">Learn&nbsp;more&nbsp;&#187;</a></p>
					<p class="photo_credit">Photo: Edward Blake</p>
				</div><!--.jumbo_content-->
			</div><!--#jumbotron-->
			<div id="jumbotron_controller">
				<nav id="controller">
					<a href="#" class="">1</a>
					<a href="#" class="">2</a>
					<a href="#" class="activeSlide">3</a>
				</nav>
			</div><!--#jumbotron_controller-->
			
			<%= render 'layouts/flashes' %>
			
			<div id="content" class="hp clear clearfix">
	      <section class="hp_promo">
					<h1>Lorem ipsum dolor sit amet</h1>
					<p>Mauris varius, eros id viverra aliquam, urna lorem tincidunt nisi, eu fringilla purus quam sed elit. Integer vehicula est dapibus lectus porta consectetur. Nulla facilisi. Aliquam erat volutpat. Quisque ultricies neque quis dolor vulputate porttitor... <a href="#">read&nbsp;more&nbsp;&#187;</a></p>
				</section>
				<section class="hp_promo">
					<h1>Curabitur viverra</h1>
					<p>Praesent tincidunt dolor turpis, quis porta purus. Morbi tempus dapibus ante ut cursus. Quisque eu nulla at elit molestie porta. Duis quis massa quis sem pellentesque... <a href="#">read&nbsp;more&nbsp;&#187;</a></p>
				</section>
				<section class="hp_promo last">
					<h1>Ut vulputate leo at lectus ultricies tempus feugiat</h1>
					<p>Peu rutrum massa leo ut dolor. Aliquam lacinia enim et diam lobortis ut convallis turpis tincidunt. Quisque venenatis elit et ligula mattis dictum. Liquam erat volutpat. In a diam urna... <a href="#">read&nbsp;more&nbsp;&#187;</a></p>
				</section>
	    </div><!-- /content -->
	    <div class="clear"></div>
	  </div><!-- /main -->
		
		
		</div><!--#main-->
		
		<div id="padding"></div>
	</div><!-- #container -->
	<div id="footer_container"> 
	  <div id="foot-wrap">
	    <footer>
	    	<div id="footer_branding">
	    		<a href="http://www.restaurantintelligenceagency.com/"><img src="/images/redesign/footer-ria-logo.png" alt="RIA: Restaurant Intelligency Agency" title="RIA: Restaurant Intelligency Agency" /></a>
	    	</div><!--#footer_branding-->
	
	    	<div id="footer_links">
	    		<p>&copy; <%= Time.now.strftime('%Y') %> <a href="http://www.restaurantintelligenceagency.com/">Restaurant Intelligency Agency</a>. All Rights Reserved.</p>
	    		<nav>
	    			<%= link_to 'Contact', public_page_path('contact') %>
	    			<%= link_to 'RIA HQ', 'http://www.restaurantintelligenceagency.com' %>
	    			<%= link_to 'Privacy', public_page_path('privacy') %>
	    			<%= link_to 'About', public_page_path('about') %>
	    			<%= link_to 'Products', public_page_path('products') %>
	    			<%= link_to 'Help', public_page_path('help') , :class => 'last' %>
	    		</nav>
	    		<ul>
	    			<li>Powered by <a href="http://www.lacolombe.com/">La Colombe Torrefaction</a> </li>
	    			<li>Built by <a href="http://www.neotericdesign.com/">Neoteric Design</a></li>
	    		</ul>	
	    	</div><!--#footer_links-->
	
	    	<div id="footer_social">
	    		<a class="fb" href="http://www.facebook.com/RestaurantIntelligenceAgency">Check us out<br/>on Facebook</a>
	    		<a class="twitter" href="http://twitter.com/TeamRIA">Follow on Twitter<br/>@TeamRIA</a>
	    	</div><!--#social_links-->
	    </footer>
	  </div>
	</div><!-- #footer_container-->
	
	
	<script type="text/javascript">
	window.current_user_id = '<%= current_user ? current_user.id : "null" %>';
	</script>
	
	<% fb_connect_async_js do %>
	<%= yield :facebook_js %>
	<% end %>
	
	<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jquery/1/jquery-ui.min.js' %>
	 <%= javascript_include_tag 'jquery-easing-min.js', 'jquery-cycle-min.js', 'jquery.equalheights', 'mediafeed' %>
	<%= yield(:javascript) %>
</body>
</html>