<!doctype html>
<html lang="en" class="no-js">
<head>
	
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title><%= h(yield(:title) || "Media Feed") %> - Restaurant Intelligence Agency</title>
  <meta name="description" content="Restaurant Intelligence Agency Media Feed">
  <meta name="author" content="Restaurant Intelligence Agency">
  <link rel="shortcut icon" href="/favicon-mf.ico">
  <%= stylesheet_link_tag "/mediafeed/_css/mediafeed.css", :media => "screen" %>
  <%= stylesheet_link_tag "/mediafeed/_css/print.css", :media => "print" %>
</head>

<!--[if lt IE 7 ]><body class="ie6"> <![endif]-->
<!--[if IE 7 ]><body class="ie7"> <![endif]-->
<!--[if IE 8 ]><body class="ie8"> <![endif]-->
<!--[if IE 9 ]><body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
	
<body class="mediafeed"> <!--<![endif]-->
  <%= render 'layouts/staging_bar' %>
	<div id="container">    

  	<header id="site_header">
			<div class="branding">
				<h1 id="logo"><a href="<%= mediafeed_root_path %>">Mediafeed</a></h1>
				 <img src="/images/mediafeed/logo-mf-print.jpg" id="printlogo">
			</div><!--.branding-->
			
			<div id="header_right">
				<div id="tagline">
					<h2>Connect direct to chefs.</h2>
				</div><!--#tagline-->
				<div id="header_promos">
				  <%= render 'layouts/userbox' %>
					<% unless current_user %>
					  <%= link_to "Register for a <span>Free Account</span>", new_mediafeed_media_user_path, :class => "header_promo", :id => "request_an_invitation" %>
				  <% end -%>
				</div><!--#header_promos-->
				
			</div><!--#header_right-->
			
		</header><!--#site_header-->
		
        <div id="main" class="<%= media_feed_css_class_if_home %>">

            <%= render 'layouts/mediafeed_nav_logic' %>
            <div id="content" class="<%= media_feed_css_class_if_home %>">
                <% unless @mediafeed_home_page -%><div class="inner_content"><% end -%>
                    <%= render 'layouts/flashes' unless @mediafeed_home_page %>
                    <%= yield %>
                    <%= render 'mediafeed/shared/mediafeed_sidebar' unless @mediafeed_home_page %>
                <% unless @mediafeed_home_page -%></div><!-- /inner_content --><% end -%>
            </div><!-- /content -->

            <%= yield :sidebar_b %>
            <div class="clear"></div>

        </div><!--#main-->

        <div id="padding"></div>
    </div><!-- #container -->

	<div id="footer_container"> 
	  <div id="foot-wrap">
	    <footer>
	    	<div id="footer_branding">
	    		<a href="http://www.restaurantintelligenceagency.com/"><img src="/images/redesign/footer-ria-logo.png" alt="RIA: Restaurant Intelligency Agency" title="RIA: Restaurant Intelligency Agency" /></a>
	    	</div><!--#footer_branding-->
	
	    	<div id="footer_links">
	    		<p>&copy; <%= Time.now.strftime('%Y') %> <a href="http://www.restaurantintelligenceagency.com/">Restaurant Intelligency Agency</a>. All Rights Reserved.</p>
	    		<nav>
	    			<%= link_to 'Contact', public_page_path('contact') %>
	    			<%= link_to 'RIA HQ', 'http://www.restaurantintelligenceagency.com' %>
	    			<%= link_to 'Privacy', public_page_path('privacy') %>
	    			<%= link_to 'About', public_page_path('about') %>
	    			<%= link_to 'Products', public_page_path('products') %>
	    			<%= link_to 'Help', public_page_path('help') , :class => 'last' %>
	    		</nav>
	    	</div><!--#footer_links-->
	
	    	<div id="footer_social">
	    		<a class="fb" href="http://www.facebook.com/RestaurantIntelligenceAgency">Check us out<br/>on Facebook</a>
	    		<a class="twitter" href="http://twitter.com/TeamRIA">Follow on Twitter<br/>@TeamRIA</a>
	    	</div><!--#social_links-->
	    </footer>
	  </div>
	</div><!-- #footer_container-->
	
	
	<script type="text/javascript">
	window.current_user_id = '<%= current_user ? current_user.id : "null" %>';
	</script>
	
	<% fb_connect_async_js do %>
	<%= yield :facebook_js %>
	<% end %>
	
	<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js' %>
	 <%= javascript_include_tag 'jquery-easing-min.js', 'jquery-cycle-min.js', 'jquery.equalheights', 'showy', 'mediafeed' %>
	<%= yield(:javascript) %>
</body>
</html>