<!doctype html>
<html lang="en" class="no-js">
<% if @no_key %>
  <% title = "Search The Site" %>
<% elsif !@key.blank? %>
  <% title = "Search for \"#{h(truncate(@key, :length => 35))}\"" %>
<% else %>
  <% title = "Empty search keyword" %>
<% end %>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title><%= h(title || "Untitled") %> - Soapbox - Restaurant Intelligence Agency</title>
  <meta name="description" content="All about Spoonfeed's Soapbox">
  <meta name="author" content="Restaruant Intelligence Agency">
  <link rel="shortcut icon" href="/favicon-sb.ico">
  <%= stylesheet_link_tag '/redesign/_css/spoonfeed' %>
  <link rel="stylesheet" href="/soapbox/_css/soapbox.css?v=1" media="screen">
  <link rel="stylesheet" href="/soapbox/_css/print.css?v=1" media="print">
  <link rel="stylesheet" href="/soapbox/_css/museoslab/stylesheet.css?v=1">
  <link rel="stylesheet" href="/soapbox/_css/knockout/stylesheet.css?v=1">

</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="container">
    <header id="header">
      <hgroup>
        <h1 id="logo"><a href="/soapbox">Soapbox</a></h1>
        <img src="/images/soapbox/logo-soapbox.png" id="printlogo">
        <h2 id="tagline">A digital magazine written by chefs</h2>
      </hgroup>
      <nav id="nav">
		<%= link_to 'Home', soapbox_root_path, :id => "nav-home", :class => active_page?('/soapbox') %>		
		<%= link_to 'A La Minute', '/soapbox/a_la_minute_questions', :id => "nav-alm", :class => active_page?('/soapbox/a_la_minute_questions') %>
		<%= link_to 'On the Menu', soapbox_menu_items_path, :id => "nav-otm", :class => active_page?('/soapbox/on_the_menu') %>
		<%= link_to 'Personal Profiles', '/soapbox/directory', :id => "nav-directory", :class => active_page?('/soapbox/directory') %>
		<%= link_to 'Restaurant Profiles', '/soapbox/directory/restaurants', :id => "nav-restaurant-directory", :class => active_page?('/soapbox/directory/restaurants') %>
		<%= link_to 'Join', join_path, :id => "nav-join", :class => "last" %>
      </nav>
    </header>

    <nav id="utilities">
      <a id="search-handle-inactive" title="Search interface" disabled="disabled">Search the site</a>
      <a id="ria-hq" title="RIA Home" href="http://www.restaurantintelligenceagency.com/"><abbr title="Restaurant Intelligence Agency">RIA</abbr> <abbr title="Headquarters">HQ</abbr></a>
                        <a id="log-in" title="Log In to Spoonfeed" href="http://spoonfeed.restaurantintelligenceagency.com/">Login</a>
    </nav><!--#utilities-->

    <div id="main">
        <section id="content" class="no-sidebar">
            <header id="search-title">
              <h1 id="search_flag">Search</h1>
              <%= form_tag soapbox_search_path, :method => :get, :id => 'question-search-form' do %>
                <%= text_field_tag "query", @key, :class => 'big_search' %>
                <%= submit_tag "Search", :class => 'button positive' , :name => nil %>
              <% end %>
            </header>
            <article id="page-content">
              <div id="inside" class="soapbox-search-results">
                <% if @no_results %>
                  <h2>No results found</h2>
                <% else %>
                  <%= yield %>
                <% end unless @no_key %>
              </div>
            </article><!-- /page-content -->
        </section><!-- /content -->
    </div><!-- /main -->
    <div id="sticky-footer-pad"></div>
  </div> <!-- end of #container -->
  <footer id="footer">
    <div id="footer-container">
      <h1 id="footer-logo">
        Soapbox: Soapbox is a product of RIA
      </h1>
      <div id="legal">
        <p>&copy; 2010 <a href="http://www.restaurantintelligenceagency.com/">Restaurant Intelligence Agency</a>. All Rights Reserved.</p>
        <nav id="footer-links">
          <a href="/soapbox/about">About</a>|
          <a href="http://www.restaurantintelligenceagency.com">RIA HQ</a>|
              <a href="http://soapbox.restaurantintelligenceagency.com/soapbox/products">Products</a>|
          <a href="/soapbox/privacy">Privacy</a>|
          <a href="/soapbox/help">Help</a>
          <a href="/soapbox/contact">Contact</a>
        </nav>
        <p>Powered by <a href="http://www.lacolombe.com/">La Colombe Torrefaction</a> <span class="bullet">&bull;</span> Built by <a href="http://neotericdesign.com">Neoteric Design</a></p>
      </div><!-- /legal -->
      <div class="social-media-links">
        <p id="twitter-link">Follow our staff <a href="http://twitter.com/EllenMalloy">@EllenMalloy</a> <a href="http://twitter.com/Mattsland">@Mattsland</a></p>
      </div>
      <div class="social-media-links last">
        <p id="facebook-link"><a href="http://www.facebook.com/RestaurantIntelligenceAgency">Check us out on Facebook</a></p>
      </div>
    </div><!-- /footer-container -->
  </footer>

  <script src="http://google.com/jsapi"></script>
  <script>
    google.load('jquery','1.4.2');
    google.load('jqueryui','1.8.5');
  </script>
  <script>!window.jQuery && document.write('<script src="/soapbox/_js/jquery-1.4.2.min.js"><\/script><script src="/soapbox/_js/jquery-ui-1.8.5.min.js"><\/script>')</script>
  <%= javascript_include_tag '/soapbox/_js/jquery-ui-1.8.5.tabs-customized.min.js', 'jquery.ui.accordion', 'http://cachedcommons.org/cache/jquery-cycle/2.8.6/javascripts/jquery-cycle.js', 'showy', '/soapbox/_js/jquery.equalheights.js', '/soapbox/_js/site' %>
  <!--[if lt IE 7 ]>
    <script src="/soapbox/_js/dd_belatedpng.js?v=1"></script>
  <![endif]-->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4174638-6']);
  _gaq.push(['_setDomainName', '.restaurantintelligenceagency.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
