<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%- title = h(yield(:title) || "Untitled") -%>
  <title><%= title -%> - Soapbox<%= @append || "" %> - Restaurant Intelligence Agency</title>
  <meta name="author" content="Restaurant Intelligence Agency">
  <meta property="og:site_name" content="Soapbox - Restaurant Intelligence Agency" />
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= h(yield(:fb_description) || "")  %>" />
  <%= yield(:facebook_meta) %>
  <meta property="fb:app_id" content="<%= Rails.env == 'staging' ? '138436116175329' : '147177445296317' %>"/>
  <link rel="shortcut icon" href="/favicon-sb.ico">
  <%= stylesheet_link_tag "/soapbox/_css/soapbox.css", "colorbox.css", :media => "screen" %>
  <%= stylesheet_link_tag "/soapbox/_css/print.css", :media => "print" %>
  <%= stylesheet_link_tag "/soapbox/_css/museoslab/stylesheet.css", "/soapbox/_css/knockout/stylesheet.css" %>
  <% if (params[:controller].split('/')[0]=="soapbox" && params[:action]=="restaurant_directory") || (params[:controller].split('/')[0]=="soapbox" && params[:action]=="directory")%>
    <%= stylesheet_link_tag "/soapbox/_css/restaurant_directory.css" %>
  <%end%>
  <%= yield(:head) %>
</head>
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="container">
    <header id="header">
      <hgroup>
        <h1 id="logo"><a href="/soapbox">Soapbox</a></h1>
        <img src="/images/soapbox/logo-soapbox.png" id="printlogo">
        <h2 id="tagline">A digital magazine written by chefs</h2>
      </hgroup>
	  <nav id="nav">
		<%= link_to 'Home', soapbox_root_path, :id => "nav-home", :class => active_page?('/soapbox') %>
		<%= link_to 'A La Minute', '/soapbox/a_la_minute_questions', :id => "nav-alm", :class => active_page?('/soapbox/a_la_minute_questions') %>
		<%= link_to 'On the Menu', soapbox_menu_items_path, :id => "nav-otm", :class => active_page?('/soapbox/on_the_menu') %>
		<%= link_to 'Personal Profiles', '/soapbox/directory', :id => "nav-directory", :class => active_page?('/soapbox/directory') %>
		<%= link_to 'Restaurant Profiles', '/soapbox/directory/restaurants', :id => "nav-restaurant-directory", :class => active_page?('/soapbox/directory/restaurants') %>
		<%= link_to 'Join', soapbox_join_url, :id => "nav-join", :class => "last" %>
	  </nav>
    </header>
  
    <nav id="utilities">
      <%= link_to 'Search the site', soapbox_search_path, :id => "search-handle", :title => "Search the site" %>
      <a id="ria-hq" title="RIA Home" href="<%= hq_root_url(:subdomain => "hq") %>"><abbr title="Restaurant Intelligence Agency">RIA</abbr> <abbr title="Headquarters">HQ</abbr></a>
      <%= link_to 'Spoonfeed Login', login_path, :id => 'sf-log-in' unless current_user %>
      <%= link_to 'Soapbox Login', find_subscriber_soapbox_newsletter_subscribers_path, :id => 'sb-log-in' unless current_subscriber %>

      <% if current_user || current_subscriber %>
        <% profile_uri = current_user ? edit_user_profile_url(current_user, :subdomain => 'spoonfeed') : edit_soapbox_newsletter_subscriber_path(current_subscriber) %>
        <%= link_to 'Edit Profile', profile_uri, :id => 'preferences' %>
      <% end %>

      <%= link_to 'Logout', logout_path, :id => 'log-out' if current_user || current_subscriber %>
    </nav><!--#utilities-->
  
    <div id="main">
        <%- if @home -%>
          <%= yield %>
        <%- else -%>
        <section id="content" class="<%= 'no-sidebar' if @no_sidebar %>">
            <%- if show_title? -%>
            <header id="page-title">
                <h1><%= h yield(:title) %></h1>
            </header>
            <%- end -%>
            <div id="inside">
                <article id="page-content">
                    <%= yield %>
                </article><!-- /page-content -->
            </div><!-- /inside -->
        </section><!-- /content -->
        <%= yield(:sidebar) %>
        <%- end -%>
    </div><!-- /main -->
    <div id="sticky-footer-pad"></div>
  </div> <!-- end of #container -->
   <footer id="footer">
      <%= render 'layouts/soapbox_footer' %>    
   </footer>
<% if (params[:controller].split('/')[0]=="soapbox" && params[:action]=="restaurant_directory") || (params[:controller].split('/')[0]=="soapbox" && params[:action]=="directory") %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js','/soapbox/_js/autocomplete-filter' %>
<% else %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js' %>
<% end %>
  <%= javascript_include_tag '/soapbox/_js/jquery-ui-1.8.5.tabs-customized.min.js', 'jquery.ui.accordion', 'http://cachedcommons.org/cache/jquery-cycle/2.8.6/javascripts/jquery-cycle.js', 'showy', '/soapbox/_js/jquery.equalheights.js', 'jquery-colorbox-min.js', 'jquery.masonry.js', 'filler.js','/soapbox/_js/site' %>
  <!--[if lt IE 7 ]>
    <script src="/soapbox/_js/dd_belatedpng.js?v=1"></script>
  <![endif]-->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4174638-6']);
  _gaq.push(['_setDomainName', '.restaurantintelligenceagency.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% if (!current_user.blank?  && current_user.media?) && (!@soapbox_keywordable_id.blank? && !@soapbox_keywordable_type.blank?)  %>
 <script type="text/javascript">
      params = { trace_keyword: {

                        keywordable_id: <%= @soapbox_keywordable_id  %>,
                        keywordable_type: '<%=   @soapbox_keywordable_type %>',
                        user_id: <%=  current_user.id %>
                } 
              };
                
      $.post("/trace_keywords", params);
  </script> 

<% elsif (!current_user.blank?  && current_user.media?) && (!@soapbox_restaurant_id.blank? && !@soapbox_keywordable_type.blank?)  %>
 
 <script type="text/javascript">
      params = { trace_keyword: {
                        user_id: <%= current_user.id %>,
                        keywordable_type: '<%= @soapbox_keywordable_type %>'
                } 
              };
                
      $.post("/trace_keywords", params);
  </script>  
<% end %>


<% if (current_user.blank?) && (!@soapbox_keywordable_id.blank? && !@soapbox_keywordable_type.blank? && !@restaurant.blank?) %>
  <script type="text/javascript">
      params = { trace_keyword: {
                        url: window.location.toString(),
                        title: "<%= @content_for_title %>",
                        keywordable_id: <%= @soapbox_keywordable_id  %>,
                        keywordable_type: '<%=   @soapbox_keywordable_type %>',
                        restaurant_id: <%=   @restaurant %>
                } 
              };
                
      $.post("/trace_keywords/soapbox_trace", params);
  </script> 

<% elsif (current_user.blank?) && (!@soapbox_restaurant_id.blank? && !@soapbox_keywordable_type.blank?) %>
  <script type="text/javascript">
      params = { trace_keyword: {
                        url: window.location.toString(),
                        title: "<%= @content_for_title %>",
                        restaurant_id: <%= @soapbox_restaurant_id %>,
                        keywordable_type: '<%= @soapbox_keywordable_type %>'
                } 
              };
                
      $.post("/trace_keywords/soapbox_trace", params);
  </script>    
<% end %>
</body>
</html>
