<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%- title = h(yield(:title) || "Untitled") -%>
  <title><%= title -%> - Soapbox<%= @append || "" %> - Restaurant Intelligence Agency</title>
  <meta name="author" content="Restaurant Intelligence Agency">
  <meta property="og:site_name" content="Soapbox - Restaurant Intelligence Agency" />
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= h(yield(:fb_description) || "")  %>" />
  <%= yield(:facebook_meta) %>
  <meta property="fb:app_id" content="<%= Rails.env == 'staging' ? '138436116175329' : '147177445296317' %>"/>
  <link rel="shortcut icon" href="/favicon-sb.ico">
  <%= stylesheet_link_tag "/soapbox/_css/museoslab/stylesheet.css", "colorbox.css", :media => "screen" %>
  <%= stylesheet_link_tag "/soapbox/_css/soapbox_home.css", "colorbox.css", :media => "screen" %>
  <%= stylesheet_link_tag "/soapbox/_css/print.css", :media => "print" %>
  <%= stylesheet_link_tag "/soapbox/_css/museoslab/stylesheet.css", "/soapbox/_css/knockout/stylesheet.css" %>
  <%= stylesheet_link_tag "/stylesheets/validationEngine.jquery.css","/stylesheets/template" %>  
  <%= javascript_include_tag "jquery-1.6.2.min","jquery.main.soapbox","jquery.prettynumber.js" %>
  <script>
    $(document).ready(function(){
        $.getJSON('https://graph.facebook.com/RestaurantIntelligenceAgency?callback=?',
            function(data) {
               var fb_count = data.likes.toString();
               $('#fb_follower').html(fb_count).prettynumber({delimiter : ','}).append(' Fans ');
          });

    })
  </script>
    <%= yield(:head) %>
      <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4174638-6']);
      _gaq.push(['_setDomainName', '.restaurantintelligenceagency.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <%= fb_connect_async_js %>
</head>
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
<body>
  <!-- wrapper -->
  <div id="wrapper">

    <header id="header">
      <div class="header-holder">
        <!-- logo -->
        <h1 class="logo"><a href="#">SoapBox</a></h1>
        <div class="add-nav-holder">
          <!-- add-nav -->
          <%= render 'layouts/site_nav_soapbox' %>
        </div>
        <%= form_tag soapbox_search_path ,:class=>"search-form", :method => "get" do %>
        <!-- <form class="search-form" action="#"> -->
          <fieldset>
            <input type="submit" value="search">
            <input type="text" name="query" placeholder="Search the site">
          </fieldset>
        <!--    </form> -->
        <% end %>

        <%= link_to 'Soapbox Login', find_subscriber_soapbox_newsletter_subscribers_path, :id => 'sb-log-in', :class => 'utility' unless current_subscriber %>
        <%= link_to 'Logout', logout_path, :id => 'log-out', :class => 'utility' if current_user || current_subscriber %>

        <% if current_user || current_subscriber %>
          <% profile_uri = current_user ? edit_user_profile_url(current_user, :subdomain => 'spoonfeed') : edit_soapbox_newsletter_subscriber_path(current_subscriber) %>
          <%#= link_to 'Edit Profile', profile_uri, :id => 'preferences', :class => 'utility' %>
        <% end %>
      </div>

      <div class="nav-holder">
        <span class="height"> </span>
        <span class="note">A digital magazine written by chefs</span>
        <!-- nav -->

        <nav id="nav">
            <ul>
             <li> <%= link_to content_tag(:span, 'Home'), soapbox_root_path, :id => "nav-home", :class => active_page?('/soapbox') %></li>

             <li> <%= link_to content_tag(:span,'A la <br>Minute'.html_safe), '/soapbox/a_la_minute_questions', :id => "nav-alm", :class => active_page?('/soapbox/a_la_minute_questions') %></li>

              <li><%= link_to content_tag(:span,'On the<br> Menu'.html_safe), soapbox_menu_items_path, :id => "nav-otm", :class => active_page?('/soapbox/on_the_menu') %></li>

              <li><%= link_to content_tag(:span,'Personal <br> Profiles'.html_safe), '/soapbox/directory', :id => "nav-directory", :class => active_page?('/soapbox/directory') %></li>

              <li><%= link_to content_tag(:span,'Restaurant <br> Profiles'.html_safe), soapbox_restaurant_directory_path, :id => "nav-directory", :class => active_page?('/soapbox/directory') %></li>

             <li> <%= link_to content_tag(:span,'Join'), soapbox_join_path, :id => "nav-join", :class => "last" %>
             </li>
            </ul>
          </nav>

      </div>
    </header>
    <!-- main -->
    <div id="main">
      <%= yield %>
    </div>  <!-- End main -->
    <footer id="footer">
      <%= render 'layouts/soapbox_footer' %>    
    </footer>
    
    
</body>
</html>