<% restaurant = message.recipient.try(:restaurant) if message.respond_to?(:recipient) %>
<% original_message = message && message = message.admin_message if message.respond_to?(:admin_message) %>
<% div_for message, :class => 'inbox_message clear clearfix' do %>

  <div class="span-1">
    <div class="icon">

    </div>
  </div>
  <div class="span-10">
    <div class="message-header clearfix">
      <h4 class="message-title">
        <%= message.respond_to?(:holiday) ?  message.holiday.name : message.class.title %>
        <%= "(#{restaurant.name})" if restaurant %>
      </h4>
      <p class="message-date"><%= message.scheduled_at.try(:strftime, "%B %d, %Y at %I:%M%p") %></p>
    </div>
    <div class="message-body">
      <%= message.message %>
    </div>
    <div class="message-actions">
      <%= link_to "Reply", admin_conversation_path(original_message) if original_message %>
      <% if restaurant %>
        <small class="behalf"> on behalf of <strong><%= restaurant.try(:name)%></strong></small>
      <% end %>
    </div>
    <a href="#" class="readit"><span>read</span></a>
  </div>
<% end %>

